#navbar-container .navbar-header {
    float: none;
}

.nav-integrated {
    position: relative;
    left: none;
    right: none;
    margin-left: 50px;
    margin-left: 50px;
}

.navbar {
    padding: 0px !important;
    margin-bottom: 0px;
    display: flex;
}

.container > .navbar-brand {
    width: 240px;
    float: left;
    height: auto;
    z-index: unset;
}

.navbar-logo {
    width: 300px;
    height: 50px
}

.navbar-toggler {
    z-index: 1;
}

.navbar-collapse {
    float: left;
}

.nav-main-container {
    width: 100%;
}

.nav-main-container .hamburger {
    padding-top: 15px;
}

.nav-integrated-container {
    width: 1140px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0px;
}

.nav-integrated-container .navbar-logo {
    width: 110px;
    height: 25px
}

.nav-integrated-container > .container > .navbar-brand {
    font-size: 1.25rem;
    display: flex;
}

.nav-integrated-container .hamburger {
    padding-top: 5px;
}

.g-py-10 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.g-pt-5--lg {
    padding-top: 0px !important;
}

.navbar-nav {
    list-style: none;
}

.nav-link {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-item a {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#js-header {
    border-bottom: 1px solid #ddd;
    text-align: left;
}

/* Arches left menu bar */
.anonymous-wrapper #content-container {
    padding-left: 0px !important;
}

.anonymous-wrapper .nav-integrated {
    margin-left: 0px;
}

@media screen and (min-width: 993px) {

    .nav-container .container {
        display: flex;
    }
}

@media screen and (max-width: 992px) {
    .nav-main-container {
        padding: 10px;
    }

    .navbar {
        margin-top: 0px;
        padding: 0px;
    }

    .nav-item {
        padding: 5px;
    }

    #content-container {
        padding-top: 0px !important;
    }
}

/* Main nav bar: Small screens */
@media screen and (max-width: 992px) {
    .nav-main-container .hamburger {
        padding-top: 25px;
    }
}

/* Integrated nav bar in Arches: Small screens */
@media (max-width: 992px) {
    .nav-integrated-container .navbar-header {
        float: none;
    }
    
    .nav-integrated-container .navbar-left,.navbar-right {
        float: none !important;
    }

    .nav-integrated-container .navbar-toggle {
        display: block;
        margin-right: 0px;
    }

    .nav-integrated-container .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .nav-integrated-container .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .nav-integrated-container .navbar-collapse.collapse {
        display: none!important;
    }

    .nav-integrated-container .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    
    .nav-integrated-container .navbar-nav>li {
        float: none;
    }

    .nav-integrated-container .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .nav-integrated-container .collapse.in{
        display:block !important;
    }
}