#sketchfab-container #fullscreen-button {
    z-index: 9999;
    position: absolute;
    float: left;
    bottom: 700px;
    left: 100px
}

#sketchfab-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#sketchfab-container > iframe {
    width: 800px;
    height: 600px;
}

#sketchfab-container.fullscreen {
    position: fixed;
    width: 200vw;
    height: 200vh;
    top: 0;
    left: 0;
    z-index: 9997;
}

#sketchfab-render-area.fullscreen {
    z-index: 9998;
    width: 200%;
    height: 200%;
    position: fixed;
    top: 0;
    left: 0;
}
