{% load static %}
{% load template_tags %}
{% load i18n %}
{% load compress %}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>{{app_title}}</title>
    {% include 'partials/meta.html' %}
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />

    {% include 'partials/css.html' %}
    
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    {% endcompress %}

    {% block css %}
    {% endblock %}
</head>

<body>
    <main>
        {% include 'partials/nav/nav-main.htm' %}
        
        {% block main_content %}
        {% endblock main_content %}

        {% include 'partials/footer.html' %}
        {% include 'partials/link_to_top.html' %}
        {% include 'partials/javascript.html' %}

        {% block js %}
        {% endblock %}
    </main>
</body>

</html>