
{% load staticfiles %}
{% load l10n %}
{% load i18n %}


    <script>
        require.config({
        waitSeconds: 0,
        urlArgs: '_dc={{ app_settings.IMAGE_VERSION }}',
        paths: {
            'models/report': '{{ STATIC_URL }}js/models/arches-3d-report',
            'arches-original-report': '{{ STATIC_URL }}js/models/report',
            'spidergl': '{{ STATIC_URL }}packages/three-d-hop/minimal/js/spidergl',
            'nexus': '{{ STATIC_URL }}packages/three-d-hop/minimal/js/nexus',
            'presenter': '{{ STATIC_URL }}packages/three-d-hop/minimal/js/presenter',
            'ply': '{{ STATIC_URL }}packages/three-d-hop/minimal/js/ply',
            'trackball_sphere': '{{ STATIC_URL }}packages/three-d-hop/minimal/js/trackball_sphere',
            'trackball_turntable': '{{ STATIC_URL }}packages/three-d-hop/minimal/js/trackball_turntable',
            'trackball_turntable_pan': '{{ STATIC_URL }}packages/three-d-hop/minimal/js/trackball_turntable_pan',
            'trackball_pantilt': '{{ STATIC_URL }}packages/three-d-hop/minimal/js/trackball_pantilt',
            'init': '{{ STATIC_URL }}packages/three-d-hop/minimal/js/init',
            'three-d-hop': '{{ STATIC_URL }}js/reports/three-d-hop',
            'spectrum': '{{ STATIC_URL }}js/reports/potree/libs/spectrum/spectrum',
            'perfect-scrollbar': '{{ STATIC_URL }}js/reports/potree/libs/perfect-scrollbar/js/perfect-scrollbar.jquery',
            'three-official': '{{ STATIC_URL }}js/reports/potree/libs/three.js/build/three.min',
            'binary-heap': '{{ STATIC_URL }}js/reports/potree/libs/other/BinaryHeap',
            'tween': '{{ STATIC_URL }}js/reports/potree/libs/tween/tween.min',
            'd3': '{{ STATIC_URL }}js/reports/potree/libs/d3/d3',
            'ol': '{{ STATIC_URL }}js/reports/potree/libs/openlayers3/ol',
            'i18next': '{{ STATIC_URL }}js/reports/potree/libs/i18next/i18next',
            'jstree': '{{ STATIC_URL }}js/reports/potree/libs/jstree/jstree',
            'potree-official': '{{ app_settings.STATIC_URL_LOCAL }}js/reports/potree/libs/potree/potree',
            'laslaz': '{{ STATIC_URL }}js/reports/potree/libs/plasio/js/laslaz',
            'potree-setup': '{{ app_settings.STATIC_URL_LOCAL }}js/reports/potree/potree-setup',
            'pannellum': '{{ STATIC_URL }}packages/pannellum/build/pannellum',
            'twentytwenty': '{{ STATIC_URL }}packages/twentytwenty/js/jquery.twentytwenty',
            'twentytwenty-move': '{{ STATIC_URL }}packages/twentytwenty/js/jquery.event.move',
            'imagesloaded': '{{ STATIC_URL }}packages/imagesloaded/imagesloaded.pkgd.min'
        },
        shim: {
            'spidergl': {
                exports: 'SpiderGL'
            },
            'presenter': {
                deps: ['spidergl'],
                exports: 'Presenter'
            },
            'nexus': {
                deps: ['presenter'],
                exports: 'Nexus'
            },
            'ply': {
                deps: ['nexus'],
            },
            'trackball_sphere': {
                deps: ['ply'],
                exports: 'PanTiltTrackball'
            },
            'trackball_sphere': {
                deps: ['ply'],
                exports: 'PanTiltTrackball'
            },
            'trackball_turntable': {
                deps: ['ply'],
                exports: 'TurnTableTrackball'
            },
            'trackball_turntable_pan': {
                deps: ['ply'],
                exports: 'TurntablePanTrackball'
            },
            'trackball_pantilt': {
                deps: ['ply'],
                exports: 'PanTiltTrackball'
            },
            'init': {
                deps: ['trackball_pantilt']
            },
            'three-d-hop': {
                deps: ['init']
            },
            'three-official': {
                exports: ['THREE']
            },
            'potree-official': {
                deps: ['three-official'],
                exports: 'Potree'
            },
            'twentytwenty': {
                deps: ['jquery']
            }
        }
    });

    define('arches_3d', [], function() {
        return {
            urls: {
                node_values: "{% url 'node_values' %}"
            }
        }
    })

</script>