{% extends "base-front.htm" %}


{% block main_content %}

    {% include 'partials/shared/header.html' with header_subtitle="Projects and Laboratories We Admire" %}

    <section class="g-py-30">
      <div class="container">
        <p>The Zamani Project is the one project that we aspire to emluate. It is perhaps the most important 3D
          cultural heritage
          project created to date.<br /><a href="https://www.zamaniproject.org/">https://www.zamaniproject.org/</a></p>

        <p>Rekrei, formerly known as Project Mosul, was co-founded by Chance Coughenour (now of Google), and our own
          project
          collaborator Matthew Vincent (now of Basecamp). This project reconstructs damaged and destroyed heritage
          assets from
          crowd-sourced photographs.<br /><a href="https://rekrei.org">https://rekrei.org</a></p>

        <p>CultLab3D is the research lab of the Competence Center for Cultural Heritage Digitization at the Fraunhofer
          Institute
          for Computer Graphics Research IGD- Germany. Led by Pedro Santos, this innovative group is creating amazing
          new
          technologies for the 3D documentation of museum collections.<br /><a href="http://www.cultlab3d.de/">http://www.cultlab3d.de/</a>
        </p>

        <p>The Visual Computing Lab of CNR-ISTI, led by Roberto Scopigno, focuses on scientific visualization,
          multiresolution
          representation / visualization, deformable models, 3D digitization, texturing and mesh parameterization. They
          created
          two of our favorite programs: Meshlab and 3Dhop.<br /><a href="http://vcg.isti.cnr.it/">http://vcg.isti.cnr.it/</a></p>

        <p>The 3DOM research unit of FBK Trento is at the cutting edge of 3D methods, technologies, and software
          development. The
          research group is devoted to the science of 3D and other geo-spatial technologies. Their publications are
          first rate.
          <br /><a href="http://3dom.fbk.eu/">http://3dom.fbk.eu/</a></p>

        <p>Morbase, the creation of Carlos Carpetudo and Sira Camacho, is what happens when creative young scholars and
          a forward
          thinking municipality, in this case the Municipality of Montemor-o-Novo, Portugal, team together to solve the
          expansion
          of cultural heritage activities in a small city. Something for everyone to aspire towards. Great 3D
          documentation and
          modeling.<br /><a href="https://montemorbase.com/">https://montemorbase.com/</a></p>

        <p>Stefano Campana’s laboratory at the University of Siena is integrating geophysical techniques, aerial remote
          sensing,
          and LiDAR to understand the characteristics of archaeological remains that have few surface indications.
          Excellent
          work.<br /><a href="http://www.lapetlab.it/">http://www.lapetlab.it/</a></p>

        <p>The Arc-Team in northern Italy, with projects all over the world, is another group that does incredible
          heritage
          documentation work.<br /><a href="http://www.arc-team.com/">http://www.arc-team.com/</a></p>

        <p>BARAKA ARQUEÓLOGOS is a team of Spanish archaeologists that conducts heritage research, documentation, and
          conservation
          project worldwide. They are also excellent drone pilots. You can follow the activities of our GDH
          collaborators Miguel
          Ángel Hervás, Diego Lucendo, and Tomás Torres González at <a href="http://www.barakaarqueologos.es/">http://www.barakaarqueologos.es/</a></p>

      </div>
    </section>

{% endblock main_content %}
