{% load i18n %}
<div>
    <div class="row widget-container">
        <div class="form-group">
            <div class="relative">
                <label class="col-xs-12 control-label widget-input-label"> {% trans "Card Name" %}</label>
            </div>

            <div class="col-xs-12">
                <select data-placeholder="{% trans "Select a card from which to choose nodes to power your identifier." %}" data-bind="chosen: {width: '100%', disable_search_threshold: 15}, value: nodegroup_id, options: cards, optionsText: 'name', optionsValue: 'nodegroup_id', valueAllowUnset: true"></select>
            </div>
        </div>
    </div>
    <div class="row widget-container">
          <div class="form-group">
              <div class="relative">
                  <label class="col-xs-12 control-label widget-input-label"> {% trans "Required Nodes" %}</label>
              </div>

              <div class="col-xs-12">
                  <select data-placeholder="{% trans 'Select a node' %}" multiple data-bind="chosen: {width: '100%'}, selectedOptions: required_nodes, options: nodeOptions, optionsText: 'name', optionsValue: 'nodeid'"></select>
              </div>
          </div>
    </div>
</div>
