{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
{% if debug %}
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':{{ livereload_port }}/livereload.js?snipver=1"></' + 'script>')</script>
{% endif %}

<head>
    <title>{% block title %}Arches v3.0{% endblock %}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

	{% block css %}
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'plugins/line-icons/line-icons.css' %}">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2-bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/arches.css' %}">
        <link rel="stylesheet" href="{% static 'css/plugins/smartadmin-production.css' %}" type="text/css" media="screen">
    {% endblock css%}

</head> 

<body class="scroll-y"> 

    <div class="wrapper">
    	{% block header %}
        <!--=== Header ===-->    
        <div class="header">

        	{% block topbar %}
            <!-- Topbar -->
            <div class="topbar">
                <div class="container">
                    
                    <!-- Topbar Message -->
                    <div class="arches-loginbar pull-left">
                        
                        <a href="http://www.archesproject.org">Arches</a>
                        Cultural Heritage Inventory

                    </div>

                    <!-- Topbar Navigation -->
                    <ul class="loginbar pull-right">
                        <li>
                            <i class="fa fa-globe"></i>
                            <a>Languages</a>
                            <ul class="lenguages">
                                <li class="active">
                                    <a href="javascript:void(0);">English <i class="fa fa-check"></i></a> 
                                </li>
                            </ul>
                        </li>
                        <li class="topbar-devider"></li>   
                        <li><a href="page_faq.html">Help</a></li>  
                        <li class="topbar-devider"></li>   
                        <li>
                            <a href="{% url 'auth' %}?next={{ request.get_full_path }}{% if user.is_anonymous %}">Login{% else %}&logout=true">Welcome {{ user.username }} - Logout{% endif %}</a>
                        </li>
                        
                    </ul>
                    <!-- End Topbar Navigation -->
                </div>
            </div>
            <!-- End Topbar -->
            {% endblock topbar %}
        
        	{% block navbar %}
            <!-- Navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="fa fa-bars"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'home' %}">
                            <img id="logo-header" class="arches-logo" src="{{ STATIC_URL }}img/arches_logo.png" alt="Logo">
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav">
                            
                            {% block navitems %}
                            <!-- Home -->
                            <li class="{% if active_page = 'Home' %}active{% endif %}">
                                <a href="{% url 'home' %}">
                                    Home
                                </a>
                            </li>
                            <!-- End Home -->

                            <!-- New Search-->
                            <li class="{% if active_page = 'Search' %}active{% endif %}">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    Search
                                </a>
                            </li>
                            <!-- End Search-->

                            <!-- Inventory-->
                            <li class="{% if active_page = 'Inventory' %}active{% endif %}">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    Inventory
                                </a>
                            </li>
                            <!-- End Inventory-->

                            <!-- Resource Editor-->
                            <li class="dropdown {% if active_page = 'ResourceManger' %}active{% endif %}">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    Resource Manager
                                </a>
                                <ul class="dropdown-menu">
                                    {% for type in resource_types %}
                                        <li><a href="{% url 'new_resource_manager' type.resourcetypeid type.default_page%}"><i class="{{type.icon_class}}"></i>{{type.name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <!-- End Resource Editor -->

                             <!-- RDM-->
                            <li class="{% if user.is_anonymous %}disabled{% endif %} {% if active_page = 'RDM' %}active{% endif %}">
                                <a href="{% if user.is_anonymous %}javascript:void(0);{% else %}{% url 'rdm' '' %}{% endif %}">
                                    RDM {{what}}
                                </a>
                            </li>
                            <!-- End RDM-->

                            {% endblock navitems %}
                            {% block navsearch %}
                            <!-- Search Block -->
                            <li>
                                <i class="search fa fa-search search-btn"></i>
                                <div class="search-open arches-search">

                                    <div class="input-group animated fadeInDown">
                                        <!-- Project Dropdown -->
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <div class="input-group" id="simple-search">
                                                    <span class="input-group-addon"><i class="fa fa-search text-muted"></i></span>
                                                    {% include "views/simple-search.htm" %}
                                                </div>
                                            </div>
                                        </div>  
                                        <!-- End Project Dropdown -->
                                    </div>
                                </div>    
                            </li>
                            <!-- End Search Block -->
                            {% endblock navsearch %}
                        </ul>
                    </div><!--/navbar-collapse-->
                </div>    
            </div>            
            <!-- End Navbar -->
            {% endblock navbar %}

        </div>
        <!--=== End Header ===-->   
        {% endblock header %} 

		{% block breadcrumbs %}
        <!--=== Breadcrumbs ===-->
<!--         <div class="breadcrumbs">
            <div class="container">

                <h1 class="pull-left arches-breadcrumb-title">Reference Data Manager (RDM)</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="">Reference Data Manager</a></li>
                </ul>
            </div>
        </div> -->
        <!--=== End Breadcrumbs ===-->
        {% endblock breadcrumbs %}

        {% block subheader %}
        {% endblock subheader %}

        <!--=== Content Part ===-->
        {% block content %}
        {% endblock content %}
        <!--=== End Content Part ===-->

        <!--=== Footer ===-->
        <div class="footer">

        	{% block footer %}
            <div class="container">
                <div class="row">
                    <div class="col-md-4 md-margin-bottom-40">
                        <!-- About -->
                        <div class="headline"><h2>About</h2></div>  
                        <p class="margin-bottom-25 md-margin-bottom-40">
                            Arches is built to create and manage rich inventories of culturally signficant resources.
                        </p>  

                        <!-- End About -->

                        <!-- Monthly Newsletter -->
                        <div class="headline"><h2>Monthly Newsletter</h2></div> 
                        <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
                        <form class="footer-subsribe">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Email Address">                            
                                <span class="input-group-btn">
                                    <button class="btn-u" type="button">Subscribe</button>
                                </span>
                            </div>                  
                        </form>                         
                        <!-- End Monthly Newsletter -->
                    </div><!--/col-md-4-->  
                    
                    <div class="col-md-4 md-margin-bottom-40">
                        <!-- Recent Blogs -->
                        <div class="posts">
                            <div class="headline"><h2>Recent Blog Entries</h2></div>
                            <dl class="dl-horizontal">
                                <dt><a href="javascript:void(0);"><img src="{{ STATIC_URL }}img/sliders/elastislide/6.jpg" alt="" /></a></dt>
                                <dd>
                                    <p><a href="javascript:void(0);">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                            <dt><a href="javascript:void(0);"><img src="{{ STATIC_URL }}img/sliders/elastislide/10.jpg" alt="" /></a></dt>
                                <dd>
                                    <p><a href="javascript:void(0);">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                            <dt><a href="javascript:void(0);"><img src="{{ STATIC_URL }}img/sliders/elastislide/11.jpg" alt="" /></a></dt>
                                <dd>
                                    <p><a href="javascript:void(0);">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                                </dd>
                            </dl>
                        </div>
                        <!-- End Recent Blogs -->                    
                    </div><!--/col-md-4-->

                    <div class="col-md-4">
                        <!-- Contact Us -->
                        <div class="headline"><h2>Contact Us</h2></div> 
                        <address class="md-margin-bottom-40">
                            25, Lorem Lis Street, Orange <br />
                            California, US <br />
                            Phone: 800 123 3456 <br />
                            Fax: 800 123 3456 <br />
                            Email: <a href="mailto:info@anybiz.com" class="">info@anybiz.com</a>
                        </address>
                        <!-- End Contact Us -->

                        <!-- Social Links -->
                        <div class="headline"><h2>Stay Connected</h2></div> 
                        <ul class="social-icons">
                            <li><a href="javascript:void(0);" data-original-title="Feed" class="social_rss"></a></li>
                            <li><a href="javascript:void(0);" data-original-title="Facebook" class="social_facebook"></a></li>
                            <li><a href="javascript:void(0);" data-original-title="Twitter" class="social_twitter"></a></li>
                            <li><a href="javascript:void(0);" data-original-title="Goole Plus" class="social_googleplus"></a></li>
                            <li><a href="javascript:void(0);" data-original-title="Pinterest" class="social_pintrest"></a></li>
                            <li><a href="javascript:void(0);" data-original-title="Linkedin" class="social_linkedin"></a></li>
                            <li><a href="javascript:void(0);" data-original-title="Vimeo" class="social_vimeo"></a></li>
                        </ul>
                        <!-- End Social Links -->
                    </div><!--/col-md-4-->
                </div>
            </div> 
            {% endblock footer %}

        </div>
        <!--=== End Footer ===-->

        <!--=== Copyright ===-->
        <div class="copyright">

        	{% block copyright %}
            <div class="container">
                <div class="row">
                    <div class="col-md-6">                     
                        <p>
                            Arches v3.0  |  HIP (Heritage Inventory Package) v1.0
                            <a href="http://www.archesproject.org">Arches Community</a>
                        </p>
                    </div>
                    <div class="col-md-6">  
                        <a href="{% url 'home' %}">
                            <img class="pull-right arches-logo" id="logo-footer" src="{{ STATIC_URL }}img/arches_logo.png" alt="">
                        </a>
                    </div>
                </div>
            </div> 
            {% endblock copyright %}

        </div>
        <!--=== End Copyright ===-->

    </div><!--/wrapper-->

	{% block javascript %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.min.js"></script>
    <script>
        require.config({
            baseUrl: '{{ STATIC_URL }}js',
            paths: {
                'plugins': '{{ STATIC_URL }}plugins',
                'async': 'http://cdnjs.cloudflare.com/ajax/libs/requirejs-async/0.1.1/async',
                'jquery': 'http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min',
                'select2': 'http://cdnjs.cloudflare.com/ajax/libs/select2/3.5.1/select2',
                'bootstrap': 'http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.0/js/bootstrap.min',
                'jquery-ui': 'http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min',
                'flexslider': 'http://cdnjs.cloudflare.com/ajax/libs/flexslider/2.2.2/jquery.flexslider-min',
                'openlayers': 'http://openlayers.org/en/v3.0.0/build/ol',
                'easing': 'http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min',
                'backbone': 'http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min',
                'underscore': 'http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min',
                'jquery-validate': 'http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min',
                'd3': 'http://cdnjs.cloudflare.com/ajax/libs/d3/3.0.8/d3.min',
                'dropzone': 'http://cdnjs.cloudflare.com/ajax/libs/dropzone/3.8.4/dropzone-amd-module.min',
                'summernote': 'http://cdnjs.cloudflare.com/ajax/libs/summernote/0.5.10/summernote.min'
            }
        });

        // application wide require calls
        require(["jquery"], function($) {
            var jQuery = $;

            // put values here that should be accessible application wide
            define('arches', [], function () {
                return {
                    urls: {
                        media: "{{ STATIC_URL }}",
                        concept_tree: "{% url 'concept_tree' %}",
                        concept: "{% url 'concept' 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa' %}",
                        concept_search: "{% url 'concept_search' %}",
                        concept_manage_parents: "{% url 'concept_manage_parents' 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa' %}",
                        confirm_delete: "{% url 'confirm_delete' 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa' %}"
                    }
                };
            });

            require(["plugins/scroll-to-top", "views/simple-search", "bootstrap", "jquery-ui"], function (scrollToTop, SimpleSearch) {
                var search = new SimpleSearch({ el: $('#simple-search')[0] });
                scrollToTop.init();

                // include all base_page instances here that page scripts may need access to
                // NOTE: this module should only ever be required from within main page scripts
                define('base_page', [], function () {
                    return {
                        search: search,
                        scrollToTop: scrollToTop
                    };
                });

                {% if main_script %}
                // main page script require
                require(["{{ main_script }}"]);
                {% endif %}
            });
        });
    </script>
	{% endblock javascript %}

</body>

</html> 