{% load staticfiles %} {% load i18n %} {% block loading_mask %} {% endblock loading_mask %} {% block body %}

    <!-- LOGIN FORM -->

    <div class="change-password-form panel panel-default">
        <div class="panel-heading">{% trans "Change your password" %}</div>
            <div class="panel-body">
                <form action="?next={{ next }}" method='POST' {% if auth_failed %} autocomplete="off" {% endif %}>
                    {% csrf_token %}
                    <div class="form-group">
                        <fieldset>
                            <legend>
                                Enter your old password, new password and confirm new password form fields to change your password
                            </legend>
                            <div class="form-group">
                                <label class="reqlabel control-label widget-input-label" for="old_password">Old Password (required)</label>
                                <div class="input-group">
                                    <input id="old_password" type="password" class="form-control input-lg" data-bind="textInput:credentials.old_password" name='old_password' aria-required="true">
                                    <div class="error-message" data-bind="text:invalidPassword"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="reqlabel control-label widget-input-label" for="new_password1">New Password (required)</label>
                                <div class="input-group">
                                    <input id="new_password1" type="password" class="form-control input-lg" data-bind="textInput:credentials.new_password" name='new_password1' aria-required="true">
                                    <div class="error-message-container" data-bind="foreach: validationErrors">
                                        <div data-bind="text: $data" class="error-message"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="reqlabel control-label widget-input-label" for="new_password2">Confirm New Password (required)</label>
                                <div class="input-group">
                                    <input id="new_password2" type="password" class="form-control input-lg" data-bind="textInput:credentials.new_password2" name='new_password2' aria-required="true">
                                    <div data-bind="text:mismatchedPasswords" class="error-message"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="change-password-buttons">
                                    <button class="btn btn-danger" data-bind="click: toggleChangePasswordForm">{% trans "Cancel" %}</button>
                                    <button class="btn btn-primary" data-bind="click: changePassword">{% trans "Change Password" %}</button>
                                </div>
                            </div>
                            <div class="password-rules mar-top">
                                {% trans 'Your password must:' %}
                                <ul class="list-unstyled">
                                    {% for message in validation_help %}
                                    <li class="password-rule"><i class="ion-checkmark-circled"></i><span>{{ message }}</span></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </fieldset>
                    
                </form>
            </div>
        </div>
    </div>
{% endblock body %}
