{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="{% static 'css/app.css' %}" rel="stylesheet">
</head>
<body>

<div class="jumbotron">
  <div class="container">
    <h1 class="display-3" style="background-color: bisque;">Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a
      jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
  </div>
</div>

</body>

<script src="{% static 'js/vendors.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>

</html>