{% load staticfiles %}
{% load i18n %}

<script>
    require.config({
        baseUrl: '{{ STATIC_URL }}js',
        paths: {
            'plugins': '{{ STATIC_URL }}plugins',
            'widget-templates': '{% url "widgets" ""%}'.replace(/\/$/, ""),
            'report-templates': '{% url "report-templates" ""%}'.replace(/\/$/, ""),
            'function-templates': '{% url "function-templates" ""%}'.replace(/\/$/, ""),
            'templates': '{% url "templates" ""%}'.replace(/\/$/, ""),
            'datatype-config-templates': '{% url "datatype_template" ""%}'.replace(/\/$/, ""),
            'nifty': '{{ STATIC_URL }}plugins/nifty',
            'async': '{{ STATIC_URL }}bower_components/requirejs-plugins/src/async',
            'text': '{{ STATIC_URL }}bower_components/requirejs-text/text',
            'jquery': '{{ STATIC_URL }}bower_components/jquery/dist/jquery.min',
            'js-cookie': '{{ STATIC_URL }}bower_components/js-cookie/src/js.cookie',
            'select2': '{{ STATIC_URL }}bower_components/select2v3/index',
            'bootstrap': '{{ STATIC_URL }}bower_components/bootstrap/dist/js/bootstrap.min',
            'jquery-ui': '{{ STATIC_URL }}bower_components/jqueryui/ui/jquery-ui',
            'flexslider': '{{ STATIC_URL }}bower_components/flexslider/2.2.2/jquery.flexslider-min',
            'easing': '{{ STATIC_URL }}bower_components/jquery-easing/jquery.easing.min',
            'backbone': '{{ STATIC_URL }}bower_components/backbone/backbone',
            'underscore': '{{ STATIC_URL }}bower_components/underscore/underscore-min',
            'jquery-validate': '{{ STATIC_URL }}bower_components/jquery-validate/jquery.validate',
            'd3': '{{ STATIC_URL }}bower_components/d3/d3.min',
            'dropzone': '{{ STATIC_URL }}bower_components/dropzone/downloads/dropzone-amd-module.min',
            'summernote': '{{ STATIC_URL }}bower_components/summernote/dist/summernote.min',
            'knockout': '{{ STATIC_URL }}bower_components/knockout/dist/knockout',
            'knockout-mapping': '{{ STATIC_URL }}bower_components/bower-knockout-mapping/dist/knockout.mapping.min',
            'moment': '{{ STATIC_URL }}bower_components/moment/min/moment.min',
            'bootstrap-datetimepicker': '{{ STATIC_URL }}bower_components/bootstrap3-datetimepicker/build/js/bootstrap-datetimepicker.min',
            'shp': '{{ STATIC_URL }}bower_components/shp/index',
            'blueimp-gallery': '{{ STATIC_URL }}bower_components/blueimp-gallery/js/blueimp-gallery.min',
            'blueimp-jquery': '{{ STATIC_URL }}bower_components/blueimp-gallery/js/jquery.blueimp-gallery.min',
            'blueimp-helper': '{{ STATIC_URL }}bower_components/blueimp-gallery/js/blueimp-helper.min',
            'datatables.net': '{{ STATIC_URL }}bower_components/datatables.net/js/jquery.dataTables.min',
            'datatables.net-bs': '{{ STATIC_URL }}bower_components/datatables.net-bs/js/dataTables.bootstrap.min',
            'datatables.net-responsive': '{{ STATIC_URL }}bower_components/datatables.net-responsive/js/dataTables.responsive.min',
            'datatables.net-responsive-bs': '{{ STATIC_URL }}bower_components/datatables.net-responsive-bs/js/responsive.bootstrap',
            'chosen': '{{ STATIC_URL }}bower_components/chosen/chosen.jquery.min',
            'mapbox-gl': '{{ STATIC_URL }}bower_components/mapbox-gl/mapbox-gl',
            'mapbox-gl-draw': '{{ STATIC_URL }}bower_components/mapbox-gl-plugins/plugins/src/mapbox-gl-draw/v0.14.0/mapbox-gl-draw',
            'jsts': '{{ STATIC_URL }}bower_components/jsts.min/index',
            'proj4': '{{ STATIC_URL }}bower_components/proj4/dist/proj4',
            'noUiSlider': '{{ STATIC_URL }}bower_components/nouislider/distribute/nouislider.min',
            'geojson-extent': '{{ STATIC_URL }}bower_components/geojson-extent/geojson-extent',
            'bootstrap-colorpicker': '{{ STATIC_URL }}bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min',
            'uuid': '{{ STATIC_URL }}bower_components/uuid.js/dist/uuid.core',
            'turf': '{{ STATIC_URL }}bower_components/turf/index',
            'geohash': '{{ STATIC_URL }}bower_components/geohash/latlon-geohash'
        },
        packages: [{
            name: "codemirror",
            location: '{{ STATIC_URL }}bower_components/codemirror',
            main: "lib/codemirror"
        }],
        shim: {
            'nifty': {
                deps: ['bootstrap', 'jquery', 'jquery-ui']
            },
            'chosen': {
                deps: ['jquery']
            },
            'bootstrap': {
                deps: ['jquery', 'jquery-ui']
            },
            'knockout-mapping': {
                deps: ['knockout']
            },
            'jquery-validate': {
                deps: ['jquery']
            },
            'jquery-ui': {
                deps: ['jquery']
            },
            'datatables': {
                deps: ['jquery']
            },
            'datatables.net': {
                deps: ['jquery']
            },
            'noUiSlider': {
                deps: ['jquery'],
                exports : '$'
            },
            'mapbox-gl-draw': {
                deps: ['mapbox-gl'],
                exports: 'mapboxgl.Draw'
            },
            'select2': {
                deps: ['jquery'],
            },
            'moment': {
                deps: ['jquery']
            },
            'uuid': {
                exports: 'UUID'
            },
            'geohash': {
                exports: 'Geohash'
            }
        }
    });

    require(['utils/set-csrf-token']);

    // put values here that should be accessible application wide
    define('arches', [], function () {
        return {
            urls: {
                home: "{% url 'home' %}",
                media: "{{ STATIC_URL }}",
                uploadedfiles: "{{ MEDIA_URL }}",
                concept_tree: "{% url 'concept_tree' '' %}",
                concept: "{% url 'concept' 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa' %}",
                concept_search: "{% url 'concept_search' %}",
                concept_value: "{% url 'concept_value' %}",
                concept_manage_parents: "{% url 'concept_manage_parents' 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa' %}",
                export_concept: "{% url 'export_concept' 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa' %}",
                export_concept_collections: "{% url 'export_concept_collections' %}",
                dropdown: "{% url 'dropdown' %}",
                get_pref_label: "{% url 'get_pref_label' %}",
                from_sparql_endpoint: "{% url 'from_sparql_endpoint' 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa' %}",
                search_sparql_endpoint: "{% url 'search_sparql_endpoint' %}",
                confirm_delete: "{% url 'confirm_delete' 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa' %}",
                edit_history: "{% url 'edit_history' 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa' %}",
                search_terms: "{% url 'search_terms' %}",
                search_results: "{% url 'search_results' %}",
                search_results_export: "{% url 'search_results_export' %}",
                map_layers: "{% url 'map_layers' '' %}",
                map_markers: "{% url 'map_markers' '' %}",
                reports: "{% url 'report' 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa' %}".replace('aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa', ''),
                buffer: "{% url 'buffer'%}",
                get_admin_areas: "{% url 'get_admin_areas'%}",
                config: "{% url 'config'%}",
                node: "{% url 'node' 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa' %}",
                graph: "{% url 'graph' 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa' %}".replace('aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa', ''),
                card: "{% url 'card' '' %}",
                form: "{% url 'form' '' %}",
                resource: "{% url 'resource' %}",
                resource_editor: "{% url 'resource_editor' 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa' %}".replace('aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa', ''),
                resource_report: "{% url 'resource_report' 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa' %}".replace('aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa', ''),
                resource_data: "{% url 'resource_data' 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa' 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa' %}".replace(/aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa/g, ''),
                related_resources: "{% url 'related_resources' 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa' %}".replace('aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa', ''),
                resource_descriptors: "{% url 'resource_descriptors' 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa' %}".replace('aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa', ''),
                tile: "{% url 'tile' %}",
                geocoder: "{% url 'geocoder' %}",
                report_editor: "{% url 'report_editor' '' %}",
                reorder_tiles: "{% url 'reorder_tiles' %}",
                apply_functions: "{% url 'apply_functions' 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa' %}".replace('aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa', ''),
                remove_functions: "{% url 'remove_functions' 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa' %}".replace('aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa', ''),
                tileserver: "{% url 'tileserver' %}",
                time_wheel_config: "{% url 'time_wheel_config' %}"
            },
            confirmNav: {
                title: "{% trans 'Edits pending...' %}",
                text: "{% trans 'You currently have edits pending, are you sure you would like to proceed (and discard any pending edits)?' %}"
            },
            confirmGraphDelete: {
                title: "{% trans 'Delete Branch/Resource Model?' %}",
                text: "{% trans 'Deleting this branch/resource model will remove it (and all associated data) entirely.  Are you sure you would like to proceed?' %}"
            },
            confirmResourceDelete: {
                title: "{% trans 'Delete Resource?' %}",
                text: "{% trans 'Deleting this resource will remove it (and all associated data) entirely.  Are you sure you would like to proceed?' %}"
            },
            confirmMaplayerDelete: {
                title: "{% trans 'Delete map layer?' %}",
                text: "{% trans 'Deleting this map layer will remove it entirely.  You cannot undo this action.  Are you sure you would like to proceed?' %}"
            },
            graphImportFailed: {
                title: "{% trans 'Graph import failed.'%}"
            },
            requestFailed: {
                title: "{% trans 'Request Failed...' %}",
                text: "{% trans 'Sorry! The request failed. Please try again.  Contact your system administrator if the problem persists.' %}"
            },
            mapboxApiKey: '{{ map_info.mapbox_api_key }}',
            hexBinSize: {{ map_info.hex_bin_size }},
            mapboxSprites: '{{ map_info.mapbox_sprites }}',
            mapboxGlyphs: '{{ map_info.mapbox_glyphs }}',
            hexBinBounds: {{ map_info.hex_bin_bounds }},
            hexBinBounds: {{ map_info.hex_bin_bounds }},
            mapDefaultX: {{ map_info.x }},
            mapDefaultY: {{ map_info.y }},
            mapDefaultZoom: {{ map_info.zoom }},
            mapDefaultMinZoom: {{ map_info.map_min_zoom }},
            mapDefaultMaxZoom: {{ map_info.map_max_zoom }},
            mapSources: {{% autoescape off %}{% for map_source in map_sources %}
                '{{ map_source.name }}': {{ map_source.source_json }},
            {% endfor %}{% for resource_map_source in resource_map_sources %}
                '{{ resource_map_source.name }}': {{ resource_map_source.source }},
            {% endfor %}{% endautoescape %}},
            mapLayers: [{% autoescape off %}{% for map_layer in map_layers %}{
                'maplayerid': '{{ map_layer.maplayerid }}',
                'name': '{{ map_layer.name }}',
                'layer_definitions': {{ map_layer.layer_json }},
                'isoverlay': {{ map_layer.isoverlay|lower }},
                'icon': '{{ map_layer.icon }}',
                'activated': {{ map_layer.activated|lower }},
                'addtomap': {{ map_layer.addtomap|lower }},
                'is_resource_layer': false
            },{% endfor %}{% for resource_map_layer in resource_map_layers %}{
                'maplayerid': '{{ resource_map_layer.nodeid }}',
                'name': '{{ resource_map_layer.name }}',
                'layer_definitions': {{ resource_map_layer.layer_definitions }},
                'isoverlay': true,
                'icon': '{{ resource_map_layer.icon }}',
                'activated': true,
                'addtomap': {{ resource_map_layer.addtomap|lower }},
                'is_resource_layer': true
            },{% endfor %}{% endautoescape %}],
            conceptCollections: [{% autoescape off %}{% for concept_collection in concept_collections %}{
                'label': '{{ concept_collection.label }}',
                'id': '{{ concept_collection.id }}',
            },{% endfor %}{% endautoescape %}],
            resources: [{% autoescape off %}{% for resource in resource_graphs %}{
              'maplayerid': '{{resource.graphid}}',
              'graphid': '{{resource.graphid}}',
              'name': '{{ resource.name }}',
              'color': '{{ resource.mapfeaturecolor }}',
              'pointsize': '{{ resource.mappointsize }}',
              'linewidth': '{{ resource.maplinewidth }}',
              'icon': '{{ resource.iconclass }}',
            },{% endfor %}{% endautoescape %}],
        };
    });

    define('resource-types', [], function () {
        var resourceTypes = {
            {% for type, type_data in resource_types %}
            "{{type}}": {
                id: "{{type_data.resourcetypeid}}",
                icon: "{{type_data.icon_class}}",
                name: "{{type_data.name}}",
                defaultDescription: "{{type_data.default_description}}",
                descriptionNode: "{{type_data.description_node}}",
                categories: [
                    {% for category in type_data.categories %}
                    "{{category}}"
                    {% endfor %}
                ],
                color: "{{type_data.marker_color}}",
                strokeColor: "{{type_data.stroke_color}}",
                fillColor: "{{type_data.fill_color}}"
            },
            {% endfor %}
        };

        return resourceTypes;
    });

    define('widgets', [{% for widget in widgets %}'{{ widget.component }}',{% endfor %}], function () {
        return {{% autoescape off %}{% for widget in widgets %}
            '{{ widget.pk }}': {
                'name': '{{ widget.name }}',
                'component': '{{ widget.component }}',
                'datatype': '{{ widget.datatype }}',
                'defaultconfig': '{{ widget.defaultconfig_json }}'
            },
        {% endfor %}{% endautoescape %}};
    });

    define('report-templates', [{% for template in report_templates %}'{{ template.component }}',{% endfor %}], function () {
        return {{% autoescape off %}{% for template in report_templates %}
            '{{ template.pk }}': {
                'componentname': '{{ template.componentname }}',
                'component': '{{ template.component }}',
                'defaultconfig': '{{ template.defaultconfig_json }}'
            },
        {% endfor %}{% endautoescape %}};
    });

    define('function-templates', [{% for template in function_templates %}'{{ template.component }}',{% endfor %}], function () {
         return;
    });

    define('component-templates', ['views/components/nodegroup-selector'], function () {
         return;
    });

    define('datatype-config-components',
        [{% for datatype in datatypes %}{% if datatype.configcomponent != None %}'{{ datatype.configcomponent }}',{% endif %}{% endfor %}],
        function () { return });

    define('geoms', function () {
        {% autoescape off %}return {{geoms}};{% endautoescape %}
    });
</script>
