{% extends "base.htm" %}
{% load staticfiles %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'plugins/jqtree/jqtree.css' %}">
{% endblock css %}

{% block content %}
    <!--=== Content Part ===-->
    <div class="block-description" style="background: #f4f4f4;">
        <div class="container content padding-top-20">      
            
            <!-- RDM Toolbar -->
            <div class="arches-toolbar rounded">
                <div class="row">

                    <!-- Buttons -->
                    <div class="col-md-5 col-lg-4">
                        <div class="">
                            <button type="button" class="btn-u btn-bordered btn-u btn-u-green active"> Manage Thesauri</button>
                            <button type="button" class="btn-u btn-bordered btn-u btn-u-green"> Manage Graphs</button>
                            <div class="margin-top-5 hidden-xs hidden-sm hidden-md hidden-lg"></div>
                            <button type="button" class="btn-u btn-bordered btn-u btn-u-green"> <i class="fa fa-gears"></i></button>                           
                        </div>
                    </div>
                    <!-- End Buttons -->

                    <!-- Spacer for small screens -->
                    <div class="margin-top-5 hidden-md hidden-lg"></div>

                    <!-- Concept Search Widget -->
                    <div class="col-md-7 col-lg-8">

                        <div class="input-group animated">
                            <input type="text" class="form-control" placeholder="Find a concept">
                            <span class="input-group-btn">
                                <button class="btn-u" style="background: #117DB0;" type="button">Go</button>
                            </span>
                        </div>
                       
                    </div>
                    <!-- End Concept Search Widget -->

                </div>
            </div>    
            <!-- End RDM Toolbar -->


            <!-- RDM Tree and CRUD Forms -->
            <div class="row">
                
                <!-- Begin RDM Tree -->
                <div class="col-md-5 col-lg-4">
                    <div class="left-inner arches-box-grey-border padding-10 hidden-xs hidden-sm" style="background: #ffffff;">
                        
                        <div class="headline">
                            <h4>RDM Thesauri</h4>
                            <span>
                                 <a href="#" class="pull-right"><strong>Add Thesaurus</strong></a>
                            </span>
                        </div>
                    
                        <!-- RDM Tree Container -->
                        <section id="widget-grid" class="" style="height: 600px; overflow-y: scroll; overflow-x:hidden;">
                            
                            <!-- Widget ID (each widget will need unique ID)-->
                            <div class="jarviswidget" id="wid-id-0">
                                <!-- widget options:
                                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                
                                data-widget-colorbutton="false"
                                data-widget-editbutton="false"
                                data-widget-togglebutton="false"
                                data-widget-deletebutton="false"
                                data-widget-fullscreenbutton="false"
                                data-widget-custombutton="false"
                                data-widget-collapsed="true"
                                data-widget-sortable="false"
                
                                -->

                                <!-- widget content div-->
                                <div style="border-width: 0px;">
                
                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->
                
                                    </div>
                                    <!-- end widget edit box -->
                
                                    <!-- widget body content -->
                                    <div class="widget-body">
                
                                        <div class="row">
                
                                            <div class="col-xs-12">
                
                                                <div class="concept_tree" id="jqtree">
                                                </div>
                
                                            </div>
                
                                        </div>
                
                                    </div>
                                    <!-- end widget body content -->
                
                                </div>
                                <!-- end widget content div -->
                
                            </div>
                            <!-- end Jarvis widget -->
                        
                        </section>
                        <!-- End RDM Tree Container -->

                    </div>
                </div>
                <!-- End RDM Tree -->

                <!-- Spacer for small screens -->
                <div class="margin-top-10 hidden-md hidden-lg"></div>

                <!-- Concept CRUD Form -->
                <div class="col-md-7 col-lg-8">            

                    <!-- Concept Summary -->
                    <div class="right-inner arches-box-grey-border padding-10" style="background: #ffffff;">
                                    
                        <div class="row margin-bottom-30" id="concept_report">
                            <div class="col-xs-12 hidden arches-RDM-loading" id="concept_report_loading">Loading...</div>
                        </div><!--/row-->
                        

                    </div>
                    <!-- End Descriptions and Lists -->
                    
                    <div class="clearfix margin-bottom-10"></div>

                    
                </div>
                <!-- End Content -->
            </div>          
        </div><!--/container-->     

    </div>
    <!--=== End Content Part ===-->

    <!-- Modal editing window for labels -->
    <form action="" class="modal fade" id="labelmodal" tabindex="-1" role="dialog" aria-labelledby="labelmodal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="labelmodaltitle">Manage Labels</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Label</h4>
                            <p><input class="form-control value-input" id="label_value" type="text" required/><input id="label_id" class="id-input" type="hidden"/></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <h4>Type</h4>
                                <p> 
                                    <select style="width:100%" class="select2 value-type-input" name="label_valuetype_dd" id="label_valuetype_dd" required>
                                        {% for label in valuetype_labels %}
                                          <option value="{{label.valuetype}}">{{label.valuetype}}</option>
                                        {% endfor %}
                                    </select>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4>Language</h4>
                            <p> 
                                <select style="width:100%" class="select2 language-input" name="label_language_dd" id="label_language_dd" required>
                                    {% for language in languages %}
                                      <option value="{{language.languageid}}" {% if language.isdefault %} selected="selected" {% endif %}>{{language.languageid}} ({{language.languagename}})</option>
                                    {% endfor %}
                                </select>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn-u btn-u-primary">Save changes</button>
                </div>
            </div>
        </div>
    </form>
    <!-- End Modal editing window for labels -->

    <!-- Modal editing window for notes -->
    <form action="" class="modal fade" id="notemodal" tabindex="-1" role="dialog" aria-labelledby="notemodal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="notemodaltitle">Manage notes</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Note</h4>
                            <p><textarea class="form-control value-input textarea textarea-resizable" rows="3" id="note_value" type="text" required></textarea><input id="note_id" class="id-input" type="hidden"/></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <h4>Type</h4>
                                <p> 
                                    <select style="width:100%" class="select2 value-type-input" name="note_valuetype_dd" id="note_valuetype_dd" required>
                                        {% for note in valuetype_notes %}
                                          <option value="{{note.valuetype}}">{{note.valuetype}}</option>
                                        {% endfor %}
                                    </select>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4>Language</h4>
                            <p> 
                                <select style="width:100%" class="select2 language-input" name="note_language_dd" id="note_language_dd" required>
                                    {% for language in languages %}
                                      <option value="{{language.languageid}}" {% if language.isdefault %} selected="selected" {% endif %}>{{language.languageid}} ({{language.languagename}})</option>
                                    {% endfor %}
                                </select>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn-u btn-u-primary">Save changes</button>
                </div>
            </div>
        </div>
    </form>
    <!-- End Modal editing window for notes -->

    <!-- Modal editing window for related_value -->
    <form action="" class="modal fade" id="related_valuemodal" tabindex="-1" role="dialog" aria-labelledby="related_valuemodal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="related_valuemodaltitle">Manage Related Values</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Value</h4>
                            <p><textarea class="form-control value-input textarea textarea-resizable" rows="3" id="related_value_value" type="text" required></textarea><input id="related_value_id" class="id-input" type="hidden"/></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <h4>Type</h4>
                                <p> 
                                    <select style="width:100%" class="select2 value-type-input" name="related_value_valuetype_dd" id="related_value_valuetype_dd" required>
                                        {% for related_value in valuetype_related_values %}
                                          <option value="{{related_value.valuetype}}">{{related_value.valuetype}}</option>
                                        {% endfor %}
                                    </select>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4>Language</h4>
                            <p> 
                                <select style="width:100%" class="select2 language-input" name="related_value_language_dd" id="related_value_language_dd" required>
                                    {% for language in languages %}
                                      <option value="{{language.languageid}}" {% if language.isdefault %} selected="selected" {% endif %}>{{language.languageid}} ({{language.languagename}})</option>
                                    {% endfor %}
                                </select>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn-u btn-u-primary">Save changes</button>
                </div>
            </div>
        </div>
    </form>
    <!-- End Modal editing window for related_value -->

    <div style="display:none;" id="concept-data">
        <input type="hidden" id="selected-conceptid" value="{{conceptid}}">
    </div>

{% endblock content %}