{% extends "base.htm" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

<!--=== Search Block ===-->
<div class="search-block" style="padding-bottom: 10px; padding-top: 30px;">
    
    <!-- Search Terms -->
    <div class="container">
        <div class="row">
            
            <!-- Search Widget -->
            <div class="col-xs-12 col-md-8">
                <div class="form-group">       
                    <input class="select2 resource_search_widget" name="" style="width:100%" placeholder="{% trans "Search for a resource..." %}" value="">
                </div>
            </div>
            <!-- End Search Widget -->

            <!-- Advanced Search Option -->
            <div class="col-sm-3 col-sm-offset-1">

                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Search Tools &nbsp;
                        <i class="fa fa-chevron-down"></i>
                        <span class="sr-only">Toggle Dropdown</span>                            
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a id="view-saved-searches">View Save Searches</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Export results to .SHP</a></li>
                        <li><a href="#">Export results to .CSV</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Advanced Search Option -->
        </div>
    </div>
    <!-- End Search Terms -->  

</div>    
<!--=== End Search Block ===-->


<!--=== Default Resource Summary ===-->
<div class="container margin-bottom-50">

   <!-- Results Header -->
    <div class="row" id="search-results-count">        

        <div class="col-xs-12">

            <!-- Results Counter/Filters -->
            <h2 class="text-muted margin-left-5" style="margin-bottom: 5px;">Search Results: <span style="font-size:18px;" data-bind="text: total() + ' {% trans "Results" %}'"></span> 
            </h2>                                     
            <!-- End Results Counter/Filters -->
        </div>

    </div>
    <!-- Results Header -->

    <div class="row" id="saved-searches">
        {% include 'views/saved-searches.htm' %}
    </div>

    <div class="row" id="search-results" style="display:none">
        {% include 'views/search-results.htm' %}
    </div>

</div>

{% endblock content %}