/*@import url(../../styles-nexus.css);*/

/*RECURSOS*/
#mainnav{background-color: #2986b8 !important;}
#mainnav-container{background-color: #2986b8 !important;}
.navbar-header:before{background-color: #2986b8 !important;}
