<div id="paginator" data-bind="with: paginator">
    <nav class="text-center" aria-label="Pagination">
        <ul class="pagination">
            <li>
                <a href="#"
                    data-bind="
                        css: { 'disabled': !has_previous() },
                        onEnterkeyClick,
                        click: $parent.newPage.bind($parent, previous_page_number()),
                        attr: {
                            'aria-label': $root.translations.previousPage,
                            'aria-disabled': !has_previous()
                        }
                    ">
                    «
                </a>
            </li>

            <!-- ko foreach: { data: pages, as: 'page' } -->
                <!-- ko if: page -->
                <li class="page" data-bind="css: { 'current active': (page == $parent.current_page()) }">
                    <a href="#"
                        data-bind="
                            text: page,
                            click: $parents[1].newPage.bind($parents[1], page),
                            attr: {
                                'data-page': page,
                                'aria-label': $root.translations.page + ' ' + page,
                                'aria-current': page == $parent.current_page() ? 'page' : null
                            }
                        ">
                    </a>
                </li>
                <!-- /ko -->

                <!-- ko ifnot: page -->
                <li class="disabled">
                    <span aria-hidden="true">...</span>
                </li>
                <!-- /ko -->
            <!-- /ko -->

            <li>
                <a href="#"
                    data-bind="
                        css: { 'disabled': !has_next() },
                        onEnterkeyClick,
                        click: $parent.newPage.bind($parent, next_page_number()),
                        attr: {
                            'aria-label': $root.translations.nextPage,
                            'aria-disabled': !has_next()
                        }
                    ">
                    »
                </a>
            </li>
        </ul>
    </nav>
</div>