{% load i18n %}

<div class="resource-selector-button">
    <div class="btn-group btn-group-xs">
        <button class="btn btn-primary btn-active-primary dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false" aria-controls="resource-type-filter-contents">
            <span data-bind="text: $root.translations.resourceType"></span>
            <i class="dropdown-caret fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <ul id="resource-type-filter-contents" class="dropdown-menu dropdown-menu-right">
            <li><a href="#" data-bind="onEnterkeyClick, click: selectModelType.bind($data, null)">
                <span data-bind="text: $root.translations.allResources"></span>
            </a></li>
            <!-- ko foreach: resourceModels -->
            <li><a href="#" data-bind="text: name.length > 55 ? name.substring(55, length) + '...' : name,
                onEnterkeyClick, click: $parent.selectModelType.bind($parent)"></a></li>
            <!-- /ko -->
        </ul>
    </div>
</div>