boto==2.46.1
decorator==4.0.10
Django==1.6.2
django-storages==1.4
elasticsearch==1.9.0
et-xmlfile==1.0.1
html5lib==0.9999999
isodate==0.5.4
jdcal==1.3
keepalive==0.5
olefile==0.44
openpyxl==2.4.2
Pillow==4.0.0
psycopg2==2.5.4
pycrypto==2.6.1
pyparsing==2.1.1
pyshp==2.0.1
pyyaml>=4.2b1
rdflib==4.2.1
Shapely==1.6
six==1.10.0
South==1.0.2
SPARQLWrapper==1.7.6
unicodecsv==0.14.1
urllib3>=1.23
validators==0.10.3
wsgiref==0.1.2
xlrd==0.9.0

# Leave the following line commented so that pip install will ignore this
# The installer uses the following line to download the proper version of ES
# https://download.elasticsearch.org/elasticsearch/elasticsearch/elasticsearch-1.4.1.zip