.git
.eggs
.github
.idea
.vscode
.editorconfig
.gitignore
.travis.yml

docbox
docs
docker-compose.yml
docker-compose-local.yml
Dockerfile*
arches/settings_local.py
arches/settings_local.pyc

elasticsearch-5.2.1
virtualenv
arches/app/media/packages
node_modules
