virtualenv/ENV*
env

tests/logs
tests/elasticsearch
tests/settings_local.py
tests/fixtures/testing_prj/testing_prj/media/packages/*

arches/Net_files
arches/logs/*.log
arches/logs/*.prof
arches/logs/authority_file_errors.txt
arches/elasticsearch
arches/uploadedfiles
arches/tileserver/cache
arches/app/media/js/docs
arches/app/media/packages
arches/app/media/bower_components
arches/install/elasticsearch-*.zip
arches/db/system_settings/Arches_System_Settings_Local.json

dataspace/CACHE
dataspace/dataspace/settings_local.py

build
djcp.sh
Net.html
jsdoc.json
coverage.xml
arches.egg*
arches.log
yarn-error.log
migrate_graphs.py
steps to release.txt

*.code-workspace
*.pyc

.eggs
.idea
.vscode
.coverage
.DS_Store
.atom-build.json
.atom-build.yml
docker-compose-local.yml

dist
node_modules
docs/_build

update commit
pip-wheel-metadata

ispc_dataspace_old
dataspace/dataspace/reports
dataspace/dataspace/settings.py