*.pyc
virtualenv/ENV*
tests/elasticsearch
tests/logs
Procfile
arches/db/install/install_db.sql
arches/db/install/truncate_db.sql
arches/install/elasticsearch-*.zip
build
arches.egg*
arches/elasticsearch
arches/uploadedfiles
arches/settings_local.py
arches/logs/authority_file_errors.txt
.coverage
arches.log
.atom-build.json
.atom-build.yml
arches/app/media/js/docs
Net.html
arches/Net_files
.idea
arches/app/media/bower_components
