version: '2'
services:

    arches:
      container_name: arches
      image: archesproject/arches:latest
      build:
        context: .
        dockerfile: ./Dockerfile
      command: run_arches
      volumes:
        - arches-log:/arches/arches/logs
        - arches-static:/static_root
        - arches-bowercomponents:/web_root/arches/arches/app/media/bower_components
      environment:
        - INSTALL_DEFAULT_GRAPHS=True
        - INSTALL_DEFAULT_CONCEPTS=True
        - PGPASSWORD=postgres
        - PGDBNAME=arches
        - PGHOST=db
        - PGPORT=5432
        - ESHOST=elasticsearch
        - ESPORT=9200
        - DJANGO_MODE=PROD
        - DJANGO_DEBUG=False
        - DJANGO_NORELOAD=False
        - DOMAIN_NAMES=localhost
        - TZ=EST
      ports:
        - '8000:8000'
      depends_on:
        - db
        - elasticsearch


    nginx:
      container_name: nginx
      image: cvast/cvast-nginx:1.2.0
      restart: unless-stopped
      ports:
        - '80:80'
        - '443:443'
      volumes:
        - arches-static:/www/static
      environment:
        - NGINX_PROXY_MODE=local
        - NGINX_PROTOCOL=http
        - LOCAL_PROXY_HOST=arches
        - LOCAL_PROXY_PORT=8000
        - DOMAIN_NAMES=localhost
        - PUBLIC_MODE=False
        - TZ=EST
      depends_on:
        - arches


    db:
      container_name: db
      image: mdillon/postgis:9.6
      volumes:
          - postgres-data:/var/lib/postgresql/data
          - postgres-log:/var/log/postgresql
      ports:
        - '5432:5432'
      environment:
        - POSTGRES_PASSWORD=postgres
        - TZ=EST


    elasticsearch:
      container_name: elasticsearch
      image: elasticsearch:5.2
      volumes:
        - elasticsearch-data:/usr/share/elasticsearch/data
      ports:
        - "9200:9200"
        - "9300:9300"
      environment:
        - TZ=EST


    letsencrypt:
      container_name: letsencrypt
      image: cvast/cvast-letsencrypt:1.1
      volumes:
        - ./web/wwwroot:/var/www
        - ./letsencrypt:/etc/letsencrypt
        - ./web/logs/letsencrypt:/var/log/letsencrypt
      command: get_certificate
      environment:
        - LETSENCRYPT_EMAIL=info@example.com
        - DOMAIN_NAMES=localhost
        - PRODUCTION_MODE=False
        - PERSISTENT_MODE=True
        - TZ=EST


volumes:
    arches-log:
    arches-static:
    arches-bowercomponents:
    postgres-data:
    postgres-log:
    elasticsearch-data:
    elasticsearch-config:
