recursive-include arches *
include README.md
exclude Dockerfile
exclude arches/logs/*.txt
exclude arches/settings_local.py
exclude .*
exclude *.yml
recursive-exclude .eggs *
recursive-exclude .github *
recursive-exclude .idea *
recursive-exclude docker *
recursive-exclude tests *
recursive-exclude docs *
recursive-exclude virtualenv *
recursive-exclude arches/elasticsearch *
recursive-exclude arches/uploadedfiles *
recursive-exclude arches/tileserver *
recursive-exclude arches/app/media/packages *
recursive-exclude arches/app/media/js/docs *
global-exclude *.log
global-exclude *.pyc
global-exclude *.zip
global-exclude *.DS_Store
global-exclude *.orig
