{% extends "base-manager.htm" %}
{% load staticfiles %}
{% load i18n %}

{% block main_content %}
    <div 
        style="height: calc(100vh - 50px)" 
        class="foo" 
    >
        <!-- ko if: !ko.unwrap($data.loading) -->
        <div 
            data-bind="component: {
                name: '{{ report_template_componentname }}',
                params: {
                    'foo': 'bar'
                }
            }"
        ></div>
        <!-- /ko -->
    </div>
{% endblock main_content %}

{% block pre_require_js %}

    <script>
        {% autoescape off %}
        require(['knockout', 'report-templates'], function(ko, FooViewModel) {

        });
        {% endautoescape %}
    </script>

    {{ block.super }}

{% endblock pre_require_js %}