{% load static %}

<!-- Testimonials -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading g-bg-cover g-bg-black-opacity-0_8--after">
  <div class="divimage dzsparallaxer--target w-100" style="height: 140%; background: url('{% static 'img/photos/collage.jpg' %}');"></div>

  <div class="container g-z-index-1 g-py-150">
    <!-- Testimonials -->
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="text-center g-z-index-1 text-uppercase">
          <blockquote class="g-color-white g-font-size-33 g-line-height-2 g-mb-20">All our data publically accessible<br/>
            <span class="g-color-primary g-font-weight-700">No exceptions</span>
          </blockquote>
        </div>
      </div>
    </div>
    <!-- End Testimonials -->
  </div>
</section>
<!-- End Testimonials -->