{% load static %}
<!-- Counter -->
<section class="dzsparallaxer auto-init height-is-based-on-content" id="numbers">
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100" style="height: 160%; background: url({% static 'img/background/pattern3.png' %})"></div>

  <!-- End Parallax Image -->

  <div class="container g-pt-100 g-pb-50">
    <!-- Heading -->
    <div class="row justify-content-center text-center g-mb-50">
      <div class="col-lg-9">
        <h2 class="h3 g-color-white g-font-weight-600 text-uppercase mb-2">Global Digital Heritage in Numbers</h2>
        <div class="d-inline-block g-width-50 g-height-1 g-bg-primary mb-2"></div>
        <p class="lead g-color-white-opacity-0_8 mb-0">Here is a snapshot of the data available so far.</p>
      </div>
    </div>
    <!-- End Heading -->

    <!-- Counters -->
    <div class="row text-center text-uppercase">
      <div class="col-lg-3 col-sm-6 g-mb-50">
        <div class="g-bg-black-opacity-0_3 g-px-20 g-py-30">
          <div class="js-counter g-color-white g-font-weight-600 g-font-size-35 mb-2">6</div>
          <h4 class="h6 g-color-white-opacity-0_8 text-uppercase">Number of Countries</h4>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 g-mb-50">
        <div class="g-bg-black-opacity-0_3 g-px-20 g-py-30">
          <div class="js-counter g-color-white g-font-weight-600 g-font-size-35 mb-2">67</div>
          <h4 class="h6 g-color-white-opacity-0_8 text-uppercase">Sites and Museums</h4>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 g-mb-50">
        <div class="g-bg-black-opacity-0_3 g-px-20 g-py-30">
          <div class="js-counter g-color-white g-font-weight-600 g-font-size-35 mb-2">837</div>
          <h4 class="h6 g-color-white-opacity-0_8 text-uppercase">360 Photographs</h4>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 g-mb-50">
        <div class="g-bg-black-opacity-0_3 g-px-20 g-py-30">
          <div class="js-counter g-color-white g-font-weight-600 g-font-size-35 mb-2">235</div>
          <h4 class="h6 g-color-white-opacity-0_8 text-uppercase">Artifacts and Features</h4>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 g-mb-50">
        <div class="g-bg-black-opacity-0_3 g-px-20 g-py-30">
          <div class="js-counter g-color-white g-font-weight-600 g-font-size-35 mb-2">7303</div>
          <h4 class="h6 g-color-white-opacity-0_8 text-uppercase">FARO Focus Scans</h4>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 g-mb-50">
        <div class="g-bg-black-opacity-0_3 g-px-20 g-py-30">
          <div class="js-counter g-color-white g-font-weight-600 g-font-size-35 mb-2">46500</div>
          <h4 class="h6 g-color-white-opacity-0_8 text-uppercase">Photographs</h4>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 g-mb-50">
        <div class="g-bg-black-opacity-0_3 g-px-20 g-py-30">
          <div class="js-counter g-color-white g-font-weight-600 g-font-size-35 mb-2">16500</div>
          <h4 class="h6 g-color-white-opacity-0_8 text-uppercase">Gigabytes of Data</h4>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 g-mb-50">
        <div class="g-bg-black-opacity-0_3 g-px-20 g-py-30">
          <div class="js-counter g-color-white g-font-weight-600 g-font-size-35 mb-2">479</div>
          <h4 class="h6 g-color-white-opacity-0_8 text-uppercase">3D Models</h4>
        </div>
      </div>

    </div>
    <!-- End Counters -->
  </div>
</section>
<!-- End Counter -->