{% load i18n %}
{% load staticfiles %}

<section class="container g-pt-100 g-pb-70">
  <div class="row align-items-top" id="gallery_header">
    <div class="col-md-4 g-mb-30">
      <div class="g-mb-10">
        <h2 class="h1 g-color-black g-font-weight-700 text-uppercase">{% trans "We're Social" %}</h2>
      </div>

<p class="lead"><a href="https://www.facebook.com/globaldigitalheritage/" class="btn btn-lg" style='background-color:#3b5998; color: white;' target="_blank"><i
      class="fab fa-facebook"></i>&nbsp; Visit us on Facebook</a>
</p>
      <p class="lead">{% trans "Facebook is the best place to get recent news and follow when we're working on projects in the field, or processing data back in the lab." %}</p>
      
    </div>
    <div class="col-md-4 g-mb-30">
      <div class="g-mb-10">
        <h2 class="h1 g-color-black g-font-weight-700 text-uppercase">{% trans "Recent Videos" %}</h2>
      </div>
<p class="lead">
  <a href="https://www.youtube.com/channel/UCwxvv0crLxT0NSfbGD4hSOQ" class="btn btn-lg" style='background-color:#FF0000; color: white;' target="_blank"><i
class="fab fa-youtube"></i>&nbsp; Visit us on YouTube</a>
</p>
      <p class="lead">{% trans "You will find a selection of our best videos on digital documentation, flights through 3D models, and drone activities on our YouTube channel." %}</p>
      
    </div>
    <div class="col-md-4 g-mb-30">
      <div class="g-mb-10">
        <h2 class="h1 g-color-black g-font-weight-700 text-uppercase">{% trans "Recent Models" %}</h2>
      </div>
<p class="lead">
  <a href="https://sketchfab.com/globaldigitalheritage" class="btn btn-lg" style='background-color:#1CAAD9; color: white;' target="_blank"><i
class="socicon-sketchfab"></i>&nbsp; Visit us on Sketchfab</a>
</p>
      <p class="lead">{% trans "Here is a selection of our most recently published 3D models. Please visit our Sketchfab page to see more of our work." %}</p>
      
    </div>

  </div>
  <div class="row align-items-center" id="gallery">
  </div>
  </div>
</section>