<div data-bind="click: function(){console.log(this.card())}" >Click to console card</div>
<div data-bind="click: function(){console.log(card().tiles())}" >Click to console Card tiles</div>
<div data-bind="" class="workflows-ref-number-container">
    <!-- ko if: card() -->
    <div class="workflows-ref-number-form">
        <h3>Add Reference Number</h3>
        <div data-bind="component: {
            name: cardComponentLookup[card().model.component_id()].componentname,
            params: {
                card: card(),
                tile: selectedTile(),
                provisionalTileViewModel: provisionalTileViewModel,
                reviewer: reviewer,
                loading: loading,
                form: $data
            }
        }"></div>
    </div>
    <div class=workflows-ref-number-list>
        <!-- ko foreach: {data: tileArr, as: 'tile'} -->
        <div class="workflows-ref-number-card">
            <div class="card-info">
                <div class="workflow-step-icon complete"><span><i class="fa fa-hashtag"></i></span></div>
                <div class="card-info-details">
                    <!-- <h4>Agency:</h4> -->
                    <h4 data-bind="text: tile.data['2c8dff14-567b-11e9-b920-dca90488358a']()"></h4>
                    <!-- <h5>Identifier:</h5> -->
                    <p data-bind="text: tile.data['67677266-567b-11e9-a2bb-dca90488358a']()" ></p>
                </div>
            </div>
            <div>
                <div data-bind="click: function(){$parent.remove(tile)}"><span><i class="fa fa-times-circle"></i></span><span>Remove</span></div>
                <div data-bind="click: function(){$parent.edit(tile);}"><span><i class="fa fa-pencil"></i></span><span>Edit</span></div>
            </div>
        </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->
</div>
