{% load i18n %}
<div
    style="height: 100%; padding: 10px 24px;"
>
    <div style="display:none" data-bind="text: console.log($data, $parent)"></div>


    <!-- ko foreach: { data: pageLayout(), as: 'layoutSection'} -->
    <div
        style="padding: 10px 0;"
    >
        <div>
            <h4
                style="font-weight: unset;"
                data-bind="text: layoutSection[0]"
            ></h4>
        </div>
        <!-- ko foreach: { data: layoutSection[1], as: 'componentFOOName'} -->
            <!-- ko if: !$parents[1].loading() -->
            <!-- ko with: $parents[1].componentFOOLookup[componentFOOName] -->
                <div style="display:none" data-bind="text: console.log('0000', $data, $parent, $parents[1])"></div>
                <div data-bind='{
                    component: {
                        name: componentName,
                        params: {
                            ...componentParameters,
                            pageVm: $root,
                            form: $data,
                        },
                    },
                }'></div>
            <!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->
    </div>
    <!-- /ko -->
</div>
