{% load i18n %}
<div>
    <!-- ko foreach: { data: pageLayout.sections(), as: 'layoutSection'} -->
    <div>
        <div 
            data-bind="text: layoutSection.sectionTitle"
        ></div>
        <!-- ko foreach: { data: layoutSection.componentConfigs(), as: 'componentConfig'} -->
            <div data-bind='{
                component: {
                    name: componentConfig.componentName(),
                    params: { 
                        value: componentConfig.value,
                        graphids: componentConfig.graphIds(),
                        renderContext: "workflow"
                    }
                },
            }'></div>
        <!-- /ko -->
    </div>
    <!-- /ko -->
</div>
