{% load i18n %}

<!-- ko let: { self: $data } -->
    <!-- ko if: !loading() -->
    <div 
        style="
            height: inherit;
            display: flex;
        "
    >
        <div
            style="
                display: flex;
                flex-direction: column;
                flex: 1 1 auto;
                overflow-y: scroll;
                padding-bottom: unset;
                max-width: 50%;
            "
        >
            <div style="display:none" data-bind="text: console.log($data, $parent)"></div>

            <div data-bind="component: {
                name: cardComponentLookup[card().model.component_id()].componentname,
                params: {

                    form: $data,
                    pageVm: $root
                }
            }"></div>

            <button
                class="btn btn-success"
                style="
                    position: relative;
                    top: -84px;
                    right: -58px;
                    width: 80px;
                "
                data-bind="click: function(){ addTileData($data, $parent); }"
            >
                <i 
                    class="ion-android-cloud-done"
                    style="margin-right: 3px;"
                ></i>
                <span>{% trans 'Save' %}</span>
            </button>
        </div>

    </div>
    <!-- /ko -->
<!-- /ko -->
