<!-- ko foreach: { data: pageLayout.sections(), as: 'layoutSection'} -->
    <div style="padding:10px 0px;">
        <div 
            data-bind="text: layoutSection.sectionTitle()"
            style="padding-bottom: 5px;"
        ></div>
        <!-- ko foreach: { data: layoutSection.componentConfigs(), as: 'componentConfig'} -->
            <div data-bind='{
                component: {
                    name: componentConfig.componentName(),
                    params: { 
                        value: componentConfig.value,
                        graphids: componentConfig.graphIds(),
                    }
                },
            }'></div>
        <!-- /ko -->
    </div>
<!-- /ko -->
<!-- ko if: complete() -->
<div style="display: flex;">
    <button style="display:flex; align-items: center; margin: 5px;"  data-bind="click: finish">
        <span class="fa-stack">
            <i class="fa fa-cloud fa-stack-2x"></i>
            <i class="fa fa-check fa-inverse fa-stack-1x"></i>
        </span>
        <span style="padding: 0px 5px;">
            Finish
        </span>
    </button>
    <button style="display:flex; align-items: center; margin: 5px;" data-bind="click: quit">
        <span>
            <i class="fa fa-times-circle fa-2x"></i>
        </span>
        <span style="padding: 0px 5px;">
            Quit
        </span>
    </button>
</div>
<!-- /ko -->
