Django==1.6.2
Pillow==4.0.0
PyYAML==3.11
SPARQLWrapper==1.7.6
Shapely==1.5.17
South==1.0.2
arches==3.1.2
arches-hip==1.0.4
boto==2.46.1
decorator==4.0.10
django-storages-redux==1.3.2
elasticsearch==1.9.0
et-xmlfile==1.0.1
html5lib==0.9999999
isodate==0.5.4
jdcal==1.3
keepalive==0.5
olefile==0.44
openpyxl==2.4.2
psycopg2==2.5.4
pycrypto==2.6.1
pyparsing==2.1.1
pyshp==1.2.3
rdflib==4.2.1
six==1.10.0
unicodecsv==0.14.1
urllib3==1.15.1
validators==0.10.3
wsgiref==0.1.2
xlrd==0.9.0
