/*@import url(../../styles-nexus.css);*/

/*RECURSOS*/
#mainnav{background-color: rgb(45,60,75) !important;}
#mainnav-container{background-color: rgb(45,60,75) !important;}
.navbar-header:before{background-color: rgb(45,60,75) !important;}