{% load i18n %}
<!-- ko if: $data.search -->
<div class="col-sm-2">
    <select class="resources" tabindex="-1" style="display: none;">
        <option>Like</option>
        <option>Equals</option>
        <option>Not</option>
    </select>
    <div class="chosen-container chosen-container-single resources chosen-container-single-nosearch" style="width: 100%;">
        <a class="chosen-single" tabindex="-1">
            <span>Like</span>
            <div>
                <b></b>
            </div>
        </a>
        <div class="chosen-drop">
            <div class="chosen-search"><input type="text" autocomplete="off" readonly="" tabindex="4"></div>
            <ul class="chosen-results"></ul>
        </div>
    </div>
</div>

<div class="col-sm-10">
    <input type="text" placeholder="Name" class="form-control input-lg" style="height: 36px;" value="Dalgity Street">
</div>
<!-- /ko -->
