{% load static %}
{% load i18n %}
<div id="menu-panel" class="ep-menu" style="display: none;" data-bind="visible:menuActive()">
    <div class="panel ep-menu-panel relative">

        <!-- Menu List -->
        <nav class="panel-body">
           <ul class="list-group ep-menu-list" role="menu">
                <!-- Select Graph -->
                <li class="resource-selector" role="menuitem" data-bind="click: function() { menuActive(true); }, clickBubble: false">
                    <select data-placeholder="{% trans "Select a graph..." %}" class="design" style="width:100px;" data-bind="value: graphid, options: allGraphs, optionsText: 'name', optionsValue: 'graphid', chosen: {'width': '100%'}"></select>
                </li>

                <!-- Manage Graph -->
                <li id="graph-manager" role="menuitem" class="edit-menu-item {% if main_script == "views/graph/graph-manager" %} selected{% endif %}" aria-describedby="graph-manager-desc">
                    <a href="{% url 'graph_designer' graphid %}" data-bind="click:function () { navigate('{% url 'graph_designer' graphid %}') }" aria-labelledby="graph-manager-label">
                        <div class="media-body">
                            <div class="menu-item-title"><i class="fa fa-sitemap"></i><span id="graph-manager-label"> {% trans "Graphs/Semantics" %}</span></div>
                            <span id="graph-manager-desc" class="text-muted menu-item-subtitle">{% trans "Define graph" %}</span>
                        </div>
                    </a>
                </li>

                <!-- Designer Index -->
                <li class="edit-menu-item" role="menuitem" aria-describedby="return-designer-index-desc">
                    <a href="{% url 'graph' '' %}" data-bind="click:function () { navigate('{% url 'graph' '' %}') }" aria-labelledby="return-designer-index-label">
                        <div class="media-body">
                            <div class="menu-item-title"><i class="fa fa-tag"></i><span id="return-designer-index-label"> {% trans "Return to Arches Designer" %}</span></div>
                            <span id="return-designer-index-desc" class="text-muted menu-item-subtitle">{% trans "Create Arches Resource Models and Branches" %} </span>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="panel-footer ep-menu-footer hidden">

            {% trans "footer" %}
        </div>
    </div>
</div>
