{% load static %}
{% load template_tags %}
{% load i18n %}

<div id="menu-panel" class="ep-menu" style="display: none;" data-bind="visible:menuActive()">
    <div class="panel ep-menu-panel relative">

        <!-- Menu List -->
        <nav class="panel-body" aria-label="{% trans 'Manage Graph' %}">
            <ul class="list-group ep-menu-list" role="menu">
                <!-- New Model -->
                <li class="edit-menu-item" role="menuitem" aria-describedby="new-model-desc">
                    <a href="{% url 'graph' '' %}" data-bind="click: newResource" aria-labelledby="new-model-label">
                        <div class="media-body">
                            <div class="menu-item-title"><i class="fa fa-sitemap"></i><span id="new-model-label"> {% trans "New Model" %}</span></div>
                            <span id="new-model-desc" class="text-muted menu-item-subtitle">{% trans "Create new Resource Model" %} </span>
                        </div>
                    </a>
                </li>
                <!-- New Branch -->
                <li class="edit-menu-item" role="menuitem" aria-describedby="new-branch-desc">
                    <a href="{% url 'graph' '' %}" data-bind="click: newBranch" aria-labelledby="new-branch-label">
                        <div class="media-body">
                            <div class="menu-item-title"><i class="fa ion-merge"></i><span id="new-branch-label"> {% trans "New Branch" %}</span></div>
                            <span id="new-branch-desc" class="text-muted menu-item-subtitle">{% trans "Create new Branch" %} </span>
                        </div>
                    </a>
                </li>
                <!-- Import Model -->
                <li class="edit-menu-item file-upload upload" role="menuitem" aria-describedby="import-model-desc">
                    <form id="data" aria-hidden="true">
                        <input type="file" class="upload" id="fileupload" data-bind="event: {change: importGraph}" accept=".json" tabindex="-1"/>
                    </form>
                    <a href="{% url 'graph' '' %}" data-bind="click: importButtonClick" aria-labelledby="import-model-label">
                        <div class="media-body">
                            <div class="menu-item-title"><i class="fa fa-upload"></i><span id="import-model-label"> {% trans "Import Model" %}</span></div>
                            <span id="import-model-desc" class="text-muted menu-item-subtitle">{% trans "Import Model by uploading a json file" %} </span>
                        </div>
                    </a>
                </li>
                <!-- Clone Model -->
                <li class="edit-menu-item" role="menuitem" aria-describedby="clone-model-desc">
                    <a href="{% url 'graph' '' %}" data-bind="click: cloneGraph" aria-labelledby="clone-model-label">
                        <div class="media-body">
                            <div class="menu-item-title"><i class="fa fa-clone"></i> <span id="clone-model-label" data-bind="text: graph.isresource() ? {% quoted_trans "Clone Model" %} : {% quoted_trans "Clone Branch" %} "></span></div>
                            <span id="clone-model-desc" class="text-muted menu-item-subtitle" data-bind="text: graph.isresource() ? {% quoted_trans "Clone the existing Resource Model" %} : {% quoted_trans "Clone the existing Branch" %} "></span>
                        </div>
                    </a>
                </li>
                <!-- Export Model -->
                <li class="edit-menu-item" role="menuitem" aria-describedby="export-model-desc">
                    <a href="{% url 'graph' '' %}" data-bind="click: exportGraph" aria-labelledby="export-model-label">
                        <div class="media-body">
                            <div class="menu-item-title"><i class="fa fa-download"></i> <span id="export-model-label" data-bind="text: graph.isresource() ? {% quoted_trans "Export Model" %} : {% quoted_trans "Export Branch" %} "></span></div>
                            <span id="export-model-desc" class="text-muted menu-item-subtitle" data-bind="text: graph.isresource() ? {% quoted_trans "Export the existing Resource Model" %} : {% quoted_trans "Export the existing Branch" %} "></span>
                        </div>
                    </a>
                </li>
                <!-- Function Manager -->
                <li class="edit-menu-item" data-bind="visible: graph.isresource" role="menuitem" aria-describedby="function-manager-desc">
                    <a href="{% url 'function_manager' graphid %}" data-bind="click:function () { navigate('{% url 'function_manager' graphid %}'); }" aria-labelledby="function-manager-label">
                        <div class="media-body">
                            <div class="menu-item-title"><i class="fa fa-code"></i><span id="function-manager-label"> {% trans "Functions" %}</span></div>
                            <span id="function-manager-desc" class="text-muted menu-item-subtitle">{% trans "Configure functions attached to this Resource Model" %}</span>
                        </div>
                    </a>
                </li>
                <!-- Export Mapping -->
                <li class="edit-menu-item" data-bind="visible: graph.isresource" role="menuitem" aria-describedby="export-mapping-desc">
                    <a href="#" data-bind="click: exportMappingFile" aria-labelledby="export-mapping-label">
                        <div class="media-body">
                            <div class="menu-item-title"><i class="fa fa-download"></i><span id="export-mapping-label"> {% trans "Export Mapping File" %}</span></div>
                            <span id="export-mapping-desc" class="text-muted menu-item-subtitle">{% trans "Use a mapping file with import/export of business data" %}</span>
                        </div>
                    </a>
                </li>
                <!-- Delete Instances -->
                <li class="edit-menu-item" data-bind="visible: graph.isresource" role="menuitem" aria-describedby="delete-instances-desc">
                    <a href="{% url 'graph' '' %}" data-bind="click: deleteInstances" aria-labelledby="delete-instances-label">
                        <div class="media-body">
                            <div class="menu-item-title"><i class="fa fa-trash"></i><span id="delete-instances-label"> {% trans "Delete Associated Instances" %}</span></div>
                            <span id="delete-instances-desc" class="text-muted menu-item-subtitle">{% trans "Delete All Associated Instances with this Model" %}</span>
                        </div>
                    </a>
                </li>
                <!-- Delete Model -->
                <li class="edit-menu-item" role="menuitem" aria-describedby="delete-model-desc">
                    <a href="{% url 'graph' '' %}" data-bind="click: deleteGraph" aria-labelledby="delete-model-label">
                        <div class="media-body">
                            <div class="menu-item-title"><i class="fa fa-trash"></i> <span id="delete-model-label" data-bind="text: graph.isresource() ? {% quoted_trans "Delete Model" %} : {% quoted_trans "Delete Branch" %} "></span></div>
                            <span id="delete-model-desc" class="text-muted menu-item-subtitle" data-bind="text: graph.isresource() ? {% quoted_trans "Delete the existing Resource Model" %} : {% quoted_trans "Delete the existing Branch" %} "></span>
                        </div>
                    </a>
                </li>

                <!-- Return to Designer index -->
                <li class="edit-menu-item" role="menuitem" aria-describedby="return-designer-index-desc">
                    <a href="{% url 'graph' '' %}" data-bind="click:function () { navigate('{% url 'graph' '' %}') }" aria-labelledby="return-designer-index-label">
                        <div class="media-body">
                            <div class="menu-item-title"><i class="fa fa-tag"></i><span id="return-designer-index-label"> {% trans "Return to Arches Designer" %}</span></div>
                            <span id="return-designer-index-desc" class="text-muted menu-item-subtitle">{% trans "Create Arches Resource Models and Branches" %} </span>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="panel-footer ep-menu-footer hidden">

            {% trans "footer" %}
        </div>
    </div>
</div>
