<!-- Page Header -->
{% load staticfiles %}
{% load i18n %}
<div class="ep-toolbar">

    <!-- Tools Menu -->
    {% if nav.resource_manage_menu%}
    <a id="menu-control" href="" class="ep-tools ep-tool-title" data-bind="click:function() { menuActive(!menuActive()); }, clickBubble: false">
        <div class="">{% trans "Manage" %}
            <i class="ion-more"></i>
        </div>
    </a>
    {% include 'navbar/resource-manage-menu.htm' %}
    {% endif %}

    <!-- Tools Menu -->
    {% if nav.graph_manage_menu%}
    <a id="menu-control" href="" class="ep-tools ep-tool-title" data-bind="click:function() { menuActive(!menuActive()); }, clickBubble: false">
        <div class="">{% trans "Manage" %}
            <i class="ion-more"></i>
        </div>
    </a>
    {% include 'navbar/graph-manage-menu.htm' %}
    {% endif %}

    <!-- Page Title -->
    <div class="ep-tools-title">
        <h1 class="page-header text-overflow ep-graph-title">
            <i class="fa {{graph.iconclass|default:nav.page_icon}} text-center icon-wrap bg-gray ep-graph-title-icon"></i>
            <span>{{ nav.page_title }}</span>
        </h1>
    </div>

    {% if nav.edit_history %}
    <!-- Recently Added -->
    <ul class="nav navbar-top-links pull-left">
        <li class="mega-dropdown open">
            <a href="#" class="mega-dropdown-toggle navbar-button" data-bind="click:function() { recentsActive(!recentsActive()); }, clickBubble: false">
                <i class="ti-ticket icon-lg" data-placement="bottom" data-toggle="tooltip" data-original-title="Recent edits"></i>
            </a>
            <div class="dropdown-menu mega-dropdown-menu dropdown-shim" data-bind="visible:recentsActive()">
                
                <!-- Resource Records Table, this should probably be split out into a separate .htm-->
                <div class="pad-all">
                    Table of recently added resource instances will go here.
                </div>

            </div>
        </li>
    </ul>
    {% endif %}

    <!-- Search Bar -->
    {% if nav.search %}
    <a href="{% url 'search_home' %}" class="ep-tools ep-tools-right" data-bind="click:function () { navigate('{% url 'search_home' %}') }">
        <div class="" data-placement="bottom" data-toggle="tooltip" data-original-title="Search">
          <i class="ion-search"></i>
        </div>
    </a>
    {% endif %}

    <!-- Help Bar -->
    <a href="javascript:void(0)" class="ep-help-toggle ep-tools ep-tools-right">
        <div class="" data-placement="bottom" data-toggle="tooltip" data-original-title="Help">
          <i class="ion-help"></i>
        </div>
    </a>
</div>

<!-- Help Panel -->
<div id="ep-help-panel" class="ep-help" style="display:none">
    <div class="ep-help-header" style="padding-right:0px">
        <div class="ep-help-title">
            <span>{{ nav.help_title }}</span>
        </div>
        <a href="javascript:void(0);" class="ep-help-toggle ep-help-close ep-tools ep-tools-right" style="border:none;">
            <div class="" data-placement="bottom" data-toggle="tooltip" data-original-title="Close Help">
              <i class="fa fa-times-circle fa-lg"></i>
            </div>
        </a>
    </div>

    <!-- help content loaded from contextually referenced template -->
    <div class="ep-help-body" style="float:left">
        {% if nav.help_template %}
            {% include nav.help_template %}
        {% endif %}
        <h5>for more documentation, visit <a href="https://arches4.readthedocs.io/en/latest/">arches4.readthedocs.io <i class="fa fa-external-link-square" aria-hidden="true"></i></a></h5>
    </div>
</div>