{% load static %}
{% load i18n %}

<!-- Menu -->
<div id="menu-panel" class="ep-menu" style="display: none;" data-bind="visible:menuActive()">
    <div class="panel ep-menu-panel relative">

        <!-- Menu List -->
        <nav class="panel-body" aria-label="{% trans 'Manage Resource' %}">
            <ul class="list-group ep-menu-list editor-tools" role="menu">

                <!-- Menu Item -->
                <!-- TODO: Reenable once #8352 is resolved -->
                <!-- <li id="settings-manager" class="edit-menu-item" role="menuitem" data-bind="css: {'disabled': !resourceId()}" aria-describedby="settings-manager-desc">
                    <a href="" target="" aria-labelledby="settings-manager-label" 
                        data-bind="click: copyResource, attr: {'aria-disabled': (!resourceId()).toString()}"
                    >
                        <div class="media-body">
                            <div id="settings-manager-label" class="menu-item-title"><i class="fa fa-copy"></i> {% trans "Copy Resource" %} </div>
                            <span id="settings-manager-desc" class="text-muted menu-item-subtitle">{% trans "Make a copy and start editing" %}</span>
                        </div>
                    </a>
                </li> -->

                <!-- Menu Item -->
                {% if user_can_delete_resource %}
                <li id="card-manager" class="edit-menu-item" role="menuitem" data-bind="css: {'disabled': !resourceId()}" aria-describedby="card-manager-desc">
                    <a href="" target="" aria-labelledby="card-manager-label" 
                        data-bind="click: deleteResource, attr: {'aria-disabled': (!resourceId()).toString()}"
                    >
                        <div class="media-body">
                            <div id="card-manager-label" class="menu-item-title"><i class="fa fa-trash"></i> {% trans "Delete Resource" %} </div>
                            <span id="card-manager-desc" class="text-muted menu-item-subtitle">{% trans "Permanently delete this resource" %}</span>
                        </div>
                    </a>
                </li>
                {% endif %}

                <!-- Menu Item -->
                <li id="history-manager" class="edit-menu-item" role="menuitem" data-bind="css: {'disabled': !resourceId()}" aria-describedby="history-manager-desc">
                    <a id="edit-history-btn" href="#" aria-labelledby="history-manager-label" 
                        data-bind="click: viewEditHistory, attr: {'aria-disabled': (!resourceId()).toString()}"
                    >
                        <div class="media-body">
                            <div id="history-manager-label" class="menu-item-title"><i class="fa fa-step-backward"></i> {% trans "Review Edit History" %}</div>
                            <span id="history-manager-desc" class="text-muted menu-item-subtitle">{% trans "View changes to this resource record" %}</span>
                        </div>
                    </a>
                </li>

                <!-- Menu Item -->
                <li id="report-manager" class="edit-menu-item" role="menuitem" data-bind="css: {'disabled': !resourceId()}" aria-describedby="report-manager-desc">
                    <a href="#" aria-labelledby="report-manager-label" 
                        data-bind="click: function() { viewReport(false) }, attr: {'aria-disabled': (!resourceId()).toString()}"
                    >
                        <div class="media-body">
                            <div id="report-manager-label" class="menu-item-title"><i class="fa fa-book"></i> {% trans "Jump to Report" %}</div>
                            <span id="report-manager-desc" class="text-muted menu-item-subtitle">{% trans "View the full resource report" %}</span>
                        </div>
                    </a>
                </li>

                <li id="report-manager" class="edit-menu-item" role="menuitem" data-bind="css: {'disabled': !resourceId()}" aria-describedby="report-manager-desc">
                    <a href="#" aria-labelledby="report-manager-label" 
                        data-bind="click: function() { viewReport(true) }, attr: {'aria-disabled': (!resourceId()).toString()}"
                    >
                        <div class="media-body">
                            <div id="report-manager-label" class="menu-item-title"><i class="fa fa-print"></i> {% trans "Print Report" %}</div>
                            <span id="report-manager-desc" class="text-muted menu-item-subtitle">{% trans "Print the full resource report" %}</span>
                        </div>
                    </a>
                </li>

            </ul>
        </nav>

    </div>
</div>
