{% load template_tags %}
{% load i18n %}

<ul class="list-group" data-bind="attr: {'aria-label': $root.translations.mainMenu}">

    <!-- Home. -->
    <li>
        <a href="{% url 'home' %}" aria-labelledby="index-link-label" data-bind="click:function () { navigate('{% url 'home' %}') }">
            <i class="ti-home"></i>
            <span class="menu-title">
                <strong id="index-link-label">{% trans "Home" %}</strong>
            </span>
        </a>
    </li>

    <!-- Tools -->
    <div id="tools-header-label" class="list-header">{% trans "Tools" %}</div>

    <ul aria-labelledby="tools-header-label">
        <!-- System Settings list item -->
        {% if request.user|has_group:"System Administrator" %}
        <li {% if "views/resource" in main_script and is_system_settings is True %} class="active-sub" {% endif %} data-bind="click: navigate.bind(this, '{% url 'config' %}')">
            <a href="{% url 'config' %}" aria-labelledby="system-settings-link-label">
                <i class="ti-alarm-clock"></i>
                <span class="menu-title">
                    <strong id="system-settings-link-label">{% trans "Manage System Settings" %}</strong>
                </span>
            </a>
            <ul class="collapse" data-bind="css:{'in': navExpanded()}" aria-labelledby="system-settings-link-label">
                <li class="link-submenu-item">
                    <a class="link-submenu" href="{% url 'config' %}"
                        data-bind="click: navigate.bind(this, '{% url 'config' %}')">{% trans "System Settings" %}</a>
                </li>
                <li class="link-submenu-item">
                    <a class="link-submenu" href="{% url 'graph' system_settings_graphid %}"
                        data-bind="click: navigate.bind(this, '{% url 'graph_designer' system_settings_graphid %}'), clickBubble: false">{% trans "System Settings Graph" %}</a>
                </li>
            </ul>
        </li>
        {% endif %}

        <!-- Search -->
        <li {% if "views/search" in main_script %} class="active-sub" {% endif %}>
            <a href="{% url 'search_home' %}" aria-labelledby="search-link-label"
                data-bind="click:function () { navigate('{% url 'search_home' %}') }">
                <i class="fa fa-search"></i>
                <span class="menu-title">
                    <strong id="search-link-label">{% trans "Search" %}</strong>
                </span>
            </a>
        </li>

        <!-- New Resource -->
        {% if user_can_edit %}
        <li
            {% if "views/resource" in main_script and is_system_settings is None %}
                class="active-sub"
            {% endif %}
        >
            <a href="{% url 'resource' %}" aria-labelledby="new-resource-link-label">
                <i class="fa fa-building-o"></i>
                <span class="menu-title">
                    <strong id="new-resource-link-label">{% trans "Add New Resource" %}</strong>
                </span>
            </a>
            <ul class="collapse" data-bind="css:{'in': navExpanded()}" aria-labelledby="new-resource-link-label">
                <!-- ko foreach: createableResources -->
                <li class="link-submenu-item">
                    <a
                        class="link-submenu"
                        data-bind="
                            css: { 'arches-menu-item-disabled': disable_instance_creation },
                            attr: {
                                href: disable_instance_creation ? '#' : ('{% url 'add_resource' 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa' %}'.replace('aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa', graphid))
                            }"
                    >
                        <i
                            class="fa arches-menu-icon"
                            data-bind="css: iconclass || 'fa fa-question'"
                        ></i>
                        <span data-bind="text:name"></span>
                    </a>
                </li>
                <!-- /ko -->
            </ul>
        </li>
        {% endif %}

        <!-- Graph Designer -->
        {% if request.user|has_group:"Graph Editor" %}
        <li {% if "views/graph" in main_script %} class="active-sub" {% endif %}
            data-bind="click: navigate.bind(this, '{% url 'graph' '' %}')">
            <a href="#" aria-labelledby="designer-link-label">
                <i class="fa fa-bookmark"></i>
                <span class="menu-title">
                    <strong id="designer-link-label">{% trans "Arches Designer" %}</strong>
                </span>
            </a>
            <ul class="collapse" data-bind="css:{'in': navExpanded()}" aria-labelledby="designer-link-label">
                <li class="link-submenu-item">
                    <a class="link-submenu" href="{% url 'graph' '' %}"
                        data-bind="click: navigate.bind(this, '{% url 'graph' '' %}')">{% trans "Resource Models" %}</a>
                </li>
                <li class="link-submenu-item">
                    <a class="link-submenu" href="{% url 'graph' '' %}#branches"
                        data-bind="click: navigate.bind(this, '{% url 'graph' '' %}#branches')">{% trans "Branches" %}</a>
                </li>
            </ul>
        </li>
        {% endif %}

        <!-- Map Layer Manager -->
        {% if request.user|has_group:"Application Administrator" %}
        <li {% if "views/map-layer-manager" in main_script %} class="active-sub" {% endif %} data-bind="click: navigate.bind(this, '{% url 'map_layer_manager' %}')">
            <a href="{% url 'map_layer_manager' %}" aria-labelledby="map-layer-manager-link-label">
                <i class="fa fa-server"></i>
                <span class="menu-title">
                    <strong id="map-layer-manager-link-label">{% trans "Map Layer Manager" %}</strong>
                </span>
            </a>
            <ul class="collapse"  data-bind="css:{'in': navExpanded()}" aria-labelledby="map-layer-manager-link-label">
                <li class="link-submenu-item">
                    <a class="link-submenu" href="{% url 'map_layer_manager' %}"
                        data-bind="click: navigate.bind(this, '{% url 'map_layer_manager' %}')">{% trans "Resource Layers" %}</a>
                </li>
                <li class="link-submenu-item">
                    <a class="link-submenu"
                        href="{% url 'map_layer_manager' %}#basemaps"
                        data-bind="click: navigate.bind(this, '{% url 'map_layer_manager' %}#basemaps')">{% trans "Basemaps" %}</a>
                </li>
                <li class="link-submenu-item">
                    <a class="link-submenu"
                        href="{% url 'map_layer_manager' %}#overlays"
                        data-bind="click: navigate.bind(this, '{% url 'map_layer_manager' %}#overlays')">{% trans "Overlays" %}</a>
                </li>
            </ul>
        </li>
        {% endif %}


        <!-- Recently Added -->
        {% if user_can_edit %}
        <li {% if 'edit-history' in main_script %} class="active-sub" {% endif %}>
            <a href="{% url 'edit_history' %}" aria-labelledby="recent-edits-link-label"
                data-bind="click: navigate.bind(this, '{% url 'edit_history' %}') ">
                <i class="ti-ticket"></i>
                <span class="menu-title">
                    <strong id="recent-edits-link-label">{% trans "Recent Edits" %}</strong>
                </span>
            </a>
        </li>
        {% endif %}

        <!-- Profile Manager -->
        {% if user.is_authenticated and request.user.username != 'anonymous' %}
        <li {% if "user-profile-manager" in main_script %} class="active-sub" {% endif %}>
            <a href="{% url 'user_profile_manager' %}" aria-labelledby="profile-link-label"
                data-bind="click: navigate.bind(this, '{% url 'user_profile_manager' %}') ">
                <i class="fa fa-user"></i>
                <span class="menu-title">
                    <strong id="profile-link-label">{% trans "Profile Manager" %}</strong>
                </span>
            </a>
        </li>
        {% endif %}
    </ul>

    {% if plugins|length > 0 %}
    <hr class="list-divider-dark"></hr>

    <!-- Modules -->
    <div id="modules-header-label" class="list-header">{% trans "Modules" %}</div>

    <ul aria-labelledby="modules-header-label">

        {% for p in plugins %}
            {% if p.config is not None %}
                {% if p.config.show %}
                <!-- ko let: {uid: Math.random().toString()} -->
                <li {% if main_script == "views/plugin" and plugin.pluginid == p.pluginid %} class="active-sub" {% endif %}>
                    {% if p.slug is not None %}
                    <a href="{% url 'plugins' p.slug %}" data-bind="click: navigate.bind(this, '{% url 'plugins' p.slug %}'), attr: {'aria-labelledby': uid}">
                    {% else %}
                    <a href="{% url 'plugins' p.pluginid %}" data-bind="click: navigate.bind(this, '{% url 'plugins' p.pluginid %}'), attr: {'aria-labelledby': uid}">
                    {% endif %}
                        <i class="{{p.icon}}"></i>
                        <span class="menu-title">
                            <strong data-bind="attr: {id: uid}">{{p.name}}</strong>
                        </span>
                    </a>
                </li>
                <!-- /ko -->
                {% endif %}
            {% else %}
            <!-- ko let: {uid: Math.random().toString()} -->
            <li {% if main_script == "views/plugin" and plugin.pluginid == p.pluginid %} class="active-sub" {% endif %}>
                {% if p.slug is not None %}
                <a href="{% url 'plugins' p.slug %}" data-bind="click: navigate.bind(this, '{% url 'plugins' p.slug %}'), attr: {'aria-labelledby': uid}">
                {% else %}
                <a href="{% url 'plugins' p.pluginid %}" data-bind="click: navigate.bind(this, '{% url 'plugins' p.pluginid %}'), attr: {'aria-labelledby': uid}">
                {% endif %}
                    <i class="{{p.icon}}"></i>
                    <span class="menu-title">
                        <strong data-bind="attr: {id: uid}">{{p.name}}</strong>
                    </span>
                </a>
            </li>
            <!-- /ko -->
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

</ul>
