{% load i18n %} {% load staticfiles %}

<!--MEASURE-->
 <div id="measure-box" class="output-box">Measured length<hr/><span id="measure-output" class="output-text" onmousedown="event.stopPropagation()">0.0</span></div>
<!--MEASURE-->

<!--POINT PICKING-->
 <div id="pickpoint-box" class="output-box">XYZ picked point<hr/><span id="pickpoint-output" class="output-text" onmousedown="event.stopPropagation()">[ 0 , 0 , 0 ]</span></div>
<!--POINT PICKING-->

<!-- 3D HOP Sections panel -->
<div id="sections-box" class="output-box">
    <table class="output-table" onmousedown="event.stopPropagation()">
        <tr>
            <td>Plane</td>
            <td>Position</td>
            <td>Flip</td>
        </tr>
        <tr>            
            <td><hr/></td>
            <td><hr/></td>
            <td><hr/></td>
        </tr>        
        <tr>
            <td><img id="xplane_on" title="…" src="{{ STATIC_URL }}packages/three-d-hop/minimal/skins/icons/sectionX_on.png"
                    onclick="sectionxSwitch()" style="position:absolute; visibility:hidden; border:1px inset;" />
                <img id="xplane" title="…" src="{{ STATIC_URL }}packages/three-d-hop/minimal/skins/icons/sectionX.png"
                    onclick="sectionxSwitch()" /><br/></td>
            <td><input id="xplaneSlider" class="output-input" type="range" title="…" /></td>
            <td><input id="xplaneFlip" class="output-input" type="checkbox" title="…" /></td>
        </tr>
        <tr>
            <td><img id="yplane_on" title="…" src="{{ STATIC_URL }}packages/three-d-hop/minimal/skins/icons/sectionY_on.png"
                    onclick="sectionySwitch()" style="position:absolute; visibility:hidden; border:1px inset;" />
                <img id="yplane" title="…" src="{{ STATIC_URL }}packages/three-d-hop/minimal/skins/icons/sectionY.png"
                    onclick="sectionySwitch()" /><br/></td>
            <td><input id="yplaneSlider" class="output-input" type="range" title="…" /></td>
            <td><input id="yplaneFlip" class="output-input" type="checkbox" title="…" /></td>
        </tr>
        <tr>
            <td><img id="zplane_on" title="…" src="{{ STATIC_URL }}packages/three-d-hop/minimal/skins/icons/sectionZ_on.png"
                    onclick="sectionzSwitch()" style="position:absolute; visibility:hidden; border:1px inset;" />
                <img id="zplane" title="…" src="{{ STATIC_URL }}packages/three-d-hop/minimal/skins/icons/sectionZ.png"
                    onclick="sectionzSwitch()" /><br/></td>
            <td><input id="zplaneSlider" class="output-input" type="range" title="…" /></td>
            <td><input id="zplaneFlip" class="output-input" type="checkbox" title="…" /></td>
        </tr>
    </table>
    <table class="output-table" onmousedown="event.stopPropagation()" style="text-align:right;">
        <tr>
            <td>Show planes<input id="showPlane" class="output-input" type="checkbox" title="…" /></td>
            <td>Show edges<input id="showBorder" class="output-input" type="checkbox" title="…" /></td>
        </tr>
    </table>
</div>
<!-- END 3D HOP Sections panel -->