{% load i18n %} {% load staticfiles %}

<!-- 3D HOP window and side buttons -->
<div id="tdhop_render_area" class="report-render-area">
  <div id="3dhop" class="tdhop" onMouseDown="if (event.preventDefault) event.preventDefault()">
      
        <div id="tdhlg"></div>
        <div id="toolbar">

            <!--HOME-->
            <img id="home"          title="Home"                   src="{{ STATIC_URL }}packages/three-d-hop/minimal/skins/dark/home.png"/><br/>
            <!--HOME-->

            <!--ZOOM-->
              <img id="zoomin"      title="Zoom In"                src="{{ STATIC_URL }}packages/three-d-hop/minimal/skins/dark/zoomin.png"/><br/>
              <img id="zoomout"     title="Zoom Out"               src="{{ STATIC_URL }}packages/three-d-hop/minimal/skins/dark/zoomout.png"/><br/>
            <!--ZOOM-->

            <!--LIGHTING-->
              <img id="lighting_off" title="Enable Lighting"       src="{{ STATIC_URL }}packages/three-d-hop/minimal/skins/dark/lighting_off.png" style="position:absolute;"/>
              <img id="lighting"     title="Disable Lighting"      src="{{ STATIC_URL }}packages/three-d-hop/minimal/skins/dark/lighting.png" style="visibility:hidden;"/><br/>
            <!--LIGHTING-->

            <!--LIGHT-->
              <img id="light_on"    title="Disable Light Control"  src="{{ STATIC_URL }}packages/three-d-hop/minimal/skins/dark/lightcontrol_on.png" style="position:absolute; visibility:hidden;"/>
              <img id="light"       title="Enable Light Control"   src="{{ STATIC_URL }}packages/three-d-hop/minimal/skins/dark/lightcontrol.png"/><br/>
            <!--LIGHT-->

            <!--MEASURE-->
              <img id="measure_on"  title="Disable Measure Tool"   src="{{ STATIC_URL }}packages/three-d-hop/minimal/skins/dark/measure_on.png" style="position:absolute; visibility:hidden;"/>
              <img id="measure"     title="Enable Measure Tool"    src="{{ STATIC_URL }}packages/three-d-hop/minimal/skins/dark/measure.png"/><br/>
            <!--MEASURE-->

            <!--POINT PICKING-->
              <img id="pick_on"     title="Disable PickPoint Mode" src="{{ STATIC_URL }}packages/three-d-hop/minimal/skins/dark/pick_on.png" style="position:absolute; visibility:hidden;"/>
              <img id="pick"        title="Enable PickPoint Mode"  src="{{ STATIC_URL }}packages/three-d-hop/minimal/skins/dark/pick.png"/><br/>
            <!--POINT PICKING-->

            <!--SECTIONS-->
              <img id="sections_on" title="Disable Plane Sections" src="{{ STATIC_URL }}packages/three-d-hop/minimal/skins/dark/sections_on.png" style="position:absolute; visibility:hidden;"/>
              <img id="sections"    title="Enable Plane Sections"  src="{{ STATIC_URL }}packages/three-d-hop/minimal/skins/dark/sections.png"/><br/>
            <!--SECTIONS-->

            <!--COLOR-->
              <img id="color_on"    title="Disable Solid Color"    src="{{ STATIC_URL }}packages/three-d-hop/minimal/skins/dark/color_on.png" style="position:absolute; visibility:hidden;"/>
              <img id="color"       title="Enable Solid Color"     src="{{ STATIC_URL }}packages/three-d-hop/minimal/skins/dark/color.png"/><br/>
            <!--COLOR-->

            <!--CAMERA-->
              <img id="perspective"  title="Perspective Camera"    src="{{ STATIC_URL }}packages/three-d-hop/minimal/skins/dark/perspective.png" style="position:absolute; visibility:hidden;"/>
              <img id="orthographic" title="Orthographic Camera"   src="{{ STATIC_URL }}packages/three-d-hop/minimal/skins/dark/orthographic.png"/><br/>
            <!--CAMERA-->

            <!--FULLSCREEN-->
              <img id="full_on"     title="Exit Full Screen"       src="{{ STATIC_URL }}packages/three-d-hop/minimal/skins/dark/full_on.png" style="position:absolute; display: none;"/>
              <img id="full"        title="Full Screen"            src="{{ STATIC_URL }}packages/three-d-hop/minimal/skins/dark/full.png"/>
            <!--FULLSCREEN-->

        </div>

        {% include 'views/components/three-d-hop/three-d-hop-panels.htm' %}

        <canvas id="draw-canvas" style="background-color: black;" />
  </div>
</div>

<!-- End 3D HOP window and side buttons -->