{% load template_tags %}
{% load i18n %}

<!-- ko if: !configForm  && state === 'form' -->
{% block form %}
{% endblock form %}
<!-- /ko -->

<!-- ko if: !configForm  && state === 'report' -->
<!-- ko if: !ko.unwrap(hideEmptyNodes) || ko.unwrap(hideEmptyNodes) === true && displayValue() -->
{% block report %}
<dt data-bind="text: label, class: nodeCssClasses"></dt>
<dd data-bind="text: displayValue() || $root.translations.none, class: nodeCssClasses"></dd>
{% endblock report %}
<!-- /ko -->
<!-- /ko -->

<!-- ko if: !configForm  && state === 'display_value' -->
{% block display_value %}
<span data-bind="text: displayValue() || $root.translations.none,
    class: nodeCssClasses"></span>
{% endblock display_value %}
<!-- /ko -->

<!-- ko if: configForm -->
{% block config_form %}
{% endblock config_form %}
<!-- /ko -->
