{% extends "views/components/widgets/base.htm" %} {% load i18n %} {% block form %}
<div class="row widget-wrapper">
    <div class="form-group">
        <label class="control-label widget-input-label" for="" data-bind="text:label"></label>

        <div class="col-xs-12">

            <div class="bord-top pad-ver">
                <span class="btn btn-success" data-bind="click: function(){viewChart(!viewChart())}">
                    <!--ko if: viewChart-->
                    <span>{% trans "Edit Dataset" %}</span>
                    <!--/ko-->
                    <!--ko ifnot: viewChart-->
                    <span>{% trans "View Chart" %}</span>
                    <!--/ko-->
                </span>
            </div>
            <div>
                <!--TEST-->
                <!--CONTENT CONTAINER-->
                <div style="margin-bottom: 20px; background: #ebeef0;">

                    <!-- Form Container -->
                    <div id="slide" class="slide" style="">

                        <!-- Section -->
                        <div class="pad-all" style="">

                            <!--ko ifnot: viewChart -->
                            <!-- Upload Dataset -->
                            <div class="dropzone" data-bind="dropzone: dropzoneOptions">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Manage Dataset</h3>
                                    </div>
                                    <div class="pad-all" style="">
                                        <div class="bord-top pad-ver">
                                            <span class="btn btn-success fileinput-button dz-clickable" data-bind="css: uniqueidClass">
                                        <i class="fa fa-plus"></i>
                                        <span>{% trans "Add files" %}...</span>
                                            </span>

                                            <div class="btn-group pull-right">
                                                <button id="dz-remove-btn" class="btn btn-danger cancel" type="reset" data-bind="click: reset">
                                            <i class="ion ion-close"></i>
                                        </button>
                                            </div>
                                        </div>

                                        <div class="dz-previews" data-bind="css: uniqueidClass">
                                            <!-- ko foreach: filesJSON -->
                                            <div class="media pad-top bord-top">
                                                <div class="media-body">
                                                    <div class="media-block">
                                                        <div class="media-left">
                                                            <!-- ko if: ko.unwrap(type).indexOf('image') >= 0 -->
                                                            <img class="dz-img" width="50" height="50" data-bind="attr: {src: ko.unwrap(url) ? url : content }">
                                                            <!-- /ko -->
                                                        </div>
                                                        <div class="media-body">
                                                            <p class="text-main text-bold mar-no text-overflow" data-bind="text: name"></p>
                                                            <!-- ko if: $data.error -->
                                                            <span class="dz-error text-danger text-sm" data-bind="text: error"></span>
                                                            <!-- /ko -->
                                                            <p class="text-sm" data-bind="html: $parent.formatSize($data)"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="media-right" data-bind="click: $parent.removeFile">
                                                    <button class="btn btn-xs btn-danger dz-cancel"><i class="ion ion-close"></i></button>
                                                </div>
                                            </div>
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                    <!-- <div class="panel-body" style="padding-top: 0px; padding-bottom: 10px;">

                                    <div class="wizard-buttons pull-right" style="padding-top: 10px;">
                                        <button id="" class="btn btn-shim btn-danger btn-labeled btn-lg fa fa-times mar-rgt" style=""> Discard dataset
                                        </button><button id="" class="btn btn-shim btn-primary btn-labeled btn-lg fa fa-check" style=""> Save dataset</button>
                                    </div>

                                </div> -->
                                </div>
                            </div>
                            <!--/ko-->
                            <!--ko if: viewChart -->
                            <!-- Dataset -->
                            <div id="data-preview" class="" style="">
                                <div id="card-container" class="panel card-panel" style="border: 1px solid #ddd; border-bottom-width: 0px; margin-top: 10px;">
                                    <div class="panel-heading">
                                        <div class="" style="">
                                            <h3 id="cc-title" class="panel-title card-main-title">Bruker AXS Handheld Inc. S1PXRF Spectrum</h3>
                                        </div>
                                    </div>

                                    <!-- Alert Panel -->
                                    <div id="basemap-delete-alert" class="panel wizard-data-card-alert" style=""></div>

                                    <!-- Data Entry -->
                                    <div id="add-basemap-wizard" class="panel-body card-body fade in" style="padding-top: 0px;">
                                        <div id="cards" class="tab-base card-content-container outline" style="margin-bottom: 10px; margin-top: -2px;">

                                            <!--Nav Tabs-->
                                            <ul class="nav nav-tabs card-nav-container" style="">
                                                <li id="summary-group" class="active">
                                                    <a id="files-tab" data-toggle="tab" href="#files-card" class="card-tab-title">{% trans "Analytical Files" %}</a>
                                                </li>
                                                <li id="image-group" class="">
                                                    <a id="metadata-tab" data-toggle="tab" href="#metadata-card" class="card-tab-title">{% trans "Dataset Summary" %}</a>
                                                </li>
                                            </ul>

                                            <div id="db-arches-app-alert" class="panel data-card-alert" style=""></div>

                                            <!--Tabs Content-->
                                            <div class="tab-content card-content-tab" style="margin-left: 0px;">

                                                <!-- Files Card -->
                                                <div id="files-card" class="tab-pane fade active in">
                                                    <div class="panel-body card-panel-body" style="">
                                                        <div id="" class="card-content" style="padding-top: 0px; margin-bottom: 0px; padding-bottom: 0px;">

                                                            <!-- Card Level Alert -->
                                                            <div id="summary-card-alert" class="panel install-card-alert" style="margin-bottom: 0px;"></div>

                                                            <!-- File Chart -->
                                                            <div style="">
                                                                <div class="csv-chart" data-bind="nvd3Line: {data: chartData}"></div>
                                                                <!-- <div id="morris-chart-network" class="morris-full-content" style=""></div> -->
                                                                <!--Chart information-->
                                                                <div class="panel-body">
                                                                    <div class="row">
                                                                        <div class="col-lg-6">
                                                                            <div class="row">
                                                                                <div class="col-xs-6">

                                                                                    <!-- Upload stat -->
                                                                                    <div class="pad-ver media">
                                                                                        <div class="media-left">
                                                                                            <span class="icon-wrap icon-wrap-xs">
                                                                                                <i class="fa fa-cloud-upload fa-2x"></i>
                                                                                            </span>
                                                                                        </div>

                                                                                        <div class="media-body">
                                                                                            <p class="h3 text-thin media-heading" data-bind="text: selectedFile.upload_time"></p>
                                                                                            <small class="text-uppercase">Upload date</small>
                                                                                        </div>
                                                                                    </div>

                                                                                    <!--Progress bar-->
                                                                                    <div class="progress progress-xs progress-dark-base mar-no">
                                                                                        <div class="progress-bar progress-bar-light" style="width: 30%"></div>
                                                                                    </div>

                                                                                </div>
                                                                                <div class="col-xs-6">

                                                                                    <!-- Label -->
                                                                                    <div class="pad-ver media">
                                                                                        <div class="media-right">
                                                                                            <span class="icon-wrap icon-wrap-xs">
                                                                                                <i class="fa fa-tag fa-2x"></i>
                                                                                            </span>
                                                                                        </div>

                                                                                        <div class="media-body">
                                                                                            <p class="h3 text-thin media-heading">Area 06</p>
                                                                                            <small class="text-uppercase">Sample Id</small>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-lg-6">
                                                                            <!-- Label -->
                                                                            <div class="pad-top media">
                                                                                <div class="media-right">
                                                                                    <span class="icon-wrap icon-wrap-xs">
                                                                                        <i class="fa fa-file fa-2x"></i>
                                                                                    </span>
                                                                                </div>
                                                                                <div class="media-body">
                                                                                    <p class="h3 text-thin media-heading">Description</p>
                                                                                    <small class="text-uppercase">File data</small>
                                                                                </div>
                                                                            </div>
                                                                            <!--Additional text-->
                                                                            <div class="mar-btm mar-lft">
                                                                                <small class="pad-btm"><em>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</em></small>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <hr class="mar-lft" style="margin-right: 25px; margin-top: 0px;">
                                                            <!-- File List -->
                                                            <!-- ko foreach: { data: [$data], as: 'self' } -->
                                                            <div class="" style="">
                                                                <div class="panel-body">

                                                                    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="rr-tab-field">{% trans "Name" %}</th>
                                                                                <th class="rr-tab-field">{% trans "Size" %}</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody data-bind="dataTablesForEach: {data: uploadedFiles, dataTableOptions: {
                                                                                              jQueryUI: true,
                                                                                              scrollY: 350,
                                                                                              paging: true,
                                                                                              dom: 'rtip',
                                                                                              columns:[
                                                                                                  {width: '100px'},
                                                                                                  {width: '100px'}
                                                                                              ]
                                                                                          }
                                                                                      }">
                                                                            <tr class="rr-table-row" data-bind="click: function (e) {
                                                                                self.getFileData(e)
                                                                            }">
                                                                                <td>
                                                                                    <i data-bind="css: {'ion-checkmark-circled': accepted}"></i>
                                                                                    <span data-bind="text: name"></span>
                                                                                </td>
                                                                                <td>
                                                                                    <span data-bind="text: size"></span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                </div>
                                                            </div>
                                                            <!-- /ko -->
                                                        </div>
                                                    </div>


                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <!--/ko-->
                        </div>
                    </div>
                    <!-- End Form Container-->
                </div>
                <!--END CONTENT CONTAINER-->
                <!--/TEST-->
            </div>
        </div>
    </div>
</div>

<template id="file-widget-dz-preview"><span></span></template> {% endblock form %} {% block config_form %}
<div class="control-label">
    {% trans "Accepted Files" %}
</div>
<div class="col-xs-12 pad-no crud-widget-container">
    <input type="" placeholder="{% trans " Accepted Files " %}" id="" class="form-control input-md widget-input" data-bind="value: acceptedFiles, valueUpdate: 'keyup'">
</div>

<div class="control-label">
    {% trans "Max File Size (mb)" %}
</div>
<div class="col-xs-12 pad-no crud-widget-container">
    <input type="number" placeholder="{% trans " Max File Size (mb) " %}" id="" class="form-control input-md widget-input" data-bind="value: maxFilesize">
</div>
{% endblock config_form %} {% block report %}
<dt data-bind="text: label"></dt>

<!-- ko if: uploadedFiles().length === 0 -->
<dd>{% trans "None" %}</dd>
<!-- /ko -->

<!-- ko foreach: reportFiles() -->
<dd>
    <a class="" data-bind="attr: {href: url}">
        <i class="ion ion-forward"></i>
        <span data-bind="text: name"></span>
    </a>
</dd>
<!-- /ko -->

<!-- ko if: reportImages().length > 0 -->
<dd>
    <div id="report-image-grid" class="report-image-grid">
        <!-- ko foreach: reportImages() -->
        <div class="rp-image-grid-item">
            <a id="" class="" target="_blank" data-bind="attr: {href: url}">
                <img class="img-responsive" data-bind="attr: {src: url, alt: name}">
            </a>
        </div>
        <!-- /ko -->
    </div>
</dd>
<!-- /ko -->
{% endblock report %} {% block display_value %}
<span data-bind="text: displayValue() + ' {% trans " files uploaded " %}'"></span> {% endblock display_value %}
