{% extends "views/components/widgets/base.htm" %}
{% load i18n %}

{% block form %}
<div class="row widget-wrapper">
        <label class="control-label widget-input-label" for="" data-bind="text:label"></label>
        <div class="form-group">
          <div class="style-tools-collapser" data-bind=" click: function() {
              showEDTFFormats(!showEDTFFormats());
          }">
              <span data-bind="text: showEDTFFormats() ? '{% trans "Hide Common EDTF Formats" %}' : '{% trans "Show Common EDTF Formats" %}'"></span>
              <i class="fa" data-bind="{
                  css: {
                      'fa-caret-down' : !showEDTFFormats(),
                      'fa-caret-up' : showEDTFFormats(),
                  }
              }"></i>
          </div>
          <div class="form-horizontal" data-bind="if: showEDTFFormats">
              <div class="style-tools-panel">
                  <div class="form-group">
                  </div>
              </div>
          </div>
        <!-- ko if: node -->
        <i data-bind="css: {'ion-asterisk widget-label-required': node.isrequired}"></i>
        <!-- /ko -->
        <div class="col-xs-12">
            <input type="text" data-bind="textInput: value, attr: {placeholder: placeholder, disabled: disabled}" class="form-control input-lg widget-input">
        </div>
    </div>
</div>
{% endblock form %}

{% block config_form %}
<div class="control-label">
    {% trans "Placeholder" %}
</div>
<div class="col-xs-12 pad-no crud-widget-container">
    <input type="" placeholder="{% trans "Placeholder" %}" id="" class="form-control input-md widget-input" data-bind="textInput: placeholder">
</div>

<div class="control-label">
    {% trans "Default Value" %}
</div>
<div class="col-xs-12 pad-no crud-widget-container">
    <input type="" placeholder="{% trans "Default Value" %}" id="" class="form-control input-md widget-input" data-bind="textInput: defaultValue">
</div>
{% endblock config_form %}
