{% extends "views/components/widgets/base.htm" %}
{% load template_tags %}
{% load i18n %}

{% block form %}
<div class="row widget-wrapper">
    <div class="form-group">
        <label class="control-label widget-input-label" for="" data-bind="text:label"></label>
        <!-- ko if: node -->
        <i data-bind="css: {'ion-asterisk widget-label-required': node.isrequired}"></i>
        <!-- /ko -->
        <div class="col-xs-12 dropzone" data-bind="dropzone: dropzoneOptions">
            <div class="file-select-window" data-bind="visible: filesJSON().length === 0">
                <div class="bord-top pad-ver file-select">
                    <div style="padding: 5px">
                        <h2>
                            <span data-bind="text: $root.translations.uploadDocuments"></span>
                        </h2>
                        <h4>
                            <span data-bind="text: $root.translations.dragAndDropFilesOnPanel"></span>
                        </h4>
                    </div>
                    <button type="button" class="btn btn-lg btn-file-select fileinput-button dz-clickable" data-bind="css: uniqueidClass, disable: disabled">
                        <i class="fa fa-file"></i>
                        <span data-bind="text: $root.translations.selectFiles"></span>
                    </button>
                    <br>
                    <div style="padding: 10px">
                        <span data-bind="text: $root.translations.addingDocumentsOptional"></span>
                        <br>
                        <span data-bind="text: $root.translations.maxFileSizeWarning"></span>
                        <span data-bind="text: maxFilesize() + 'MB.'"></span>
                    </div>

                    <!-- <div class="btn-group pull-right">
                        <button id="dz-remove-btn" class="btn btn-danger cancel" type="reset" data-bind="click: reset">
                            <i class="ion ion-close"></i>
                        </button>
                    </div> -->
                </div>
                <div class="file-upload-footer">
                    <span>
                        <span data-bind="text: $root.translations.allowedDocumentFormats"></span>
                        <span data-bind="text: (acceptedFiles() || $root.translations.any) + '. '"></span>
                    </span>
                </div>
            </div>
            <div data-bind="visible: filesJSON().length > 0">
                <!-- note that data-bind=visible must be in place (instead of ko if:) as DZ instantiates only once;
                    elements with its class name must exist at time of init -->
                <h4>
                    <span data-bind="text: $root.translations.uploadedFiles"></span>
                </h4>
                <div class="file-upload-options">
                    <!--ko if: filesJSON().length > 1-->
                    <input 
                        data-bind="
                            attr: {placeholder: $root.translations.findAFile + '...'},
                            textInput: filter
                        " 
                        type="text" 
                        class="file-upload-filter"
                    >
                    <!-- /ko -->

                    <!-- Clear Search -->
                    <span class="file-upload-clear-filter" data-bind="visible: filter().length > 0, click: function() { filter(''); }"><i class="fa fa-times-circle"></i></span>

                    <!-- ko if: filter() -->
                    <span data-bind="text: filteredList().length+' out of '+filesJSON().length+' files match filter'"></span>
                    <!-- /ko -->
                    <!-- ko if: (!filter() || filter() == "") -->
                    <span data-bind="text: filesJSON().length + $root.translations.filesUploaded"></span>
                    <!-- /ko -->
                    <button type="button" class="btn btn-file-upload-reset" data-bind="click: reset">
                        <span data-bind="text: $root.translations.deleteAllFiles"></span>
                    </button>
                    <button type="button" class="btn btn-file-upload-reset dropzone fileinput-button dz-clickable" data-bind="css: uniqueidClass">
                        <span data-bind="text: $root.translations.addMoreFiles"></span>
                    </button>
                </div>
            </div>
            <div class="dz-previews" data-bind="css: uniqueidClass">
            <!-- ko if: !filter() -->
                <!-- ko foreach: pagedList(filesJSON()) -->
                <div class="file-upload-card">
                    <div class="media-body">
                        <div class="media-block">
                            <div class="media-left">
                                <span><i class="fa fa-file fa-lg"></i></span>
                            </div>
                            <div class="media-body file-upload-card-detail">
                                <div class="media-left">
                                    <span class="text-main mar-no text-overflow" data-bind="text: name"></span>
                                    <!-- ko if: $data.error -->
                                    <span class="dz-error text-danger text-sm" data-bind="text: $root.translations.error"></span>
                                    <!-- /ko -->
                                    <span class="text-sm">
                                        <a data-bind="attr: {href: ko.unwrap(url) ? $parent.getFileUrl(url) : content, download: name}, click: function(){return ko.unwrap(url) ? true : false}, clickBubble: false">
                                            <span data-bind="text: ko.unwrap(url) ? $root.translations.download : $root.translations.unsaved"></span>
                                        </a>
                                    </span>
                                </div>
                                <div class="file-upload-card-detail-right">
                                    <div class="media-right" data-bind="click: $parent.removeFile">
                                        <button class="btn btn-xs btn-danger btn-file-cancel"><i class="ion ion-close"></i></button>
                                    </div>
                                    <div class="file-size-label">
                                        <span class="text-sm" data-bind="html: $parent.formatSize($data)"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: filter() -->
                <!-- ko foreach: pagedList(filteredList()) -->
                <div class="file-upload-card">
                    <div class="media-body">
                        <div class="media-block">
                            <div class="media-left">
                                <span><i class="fa fa-file fa-lg"></i></span>
                            </div>
                            <div class="media-body file-upload-card-detail">
                                <div class="media-left">
                                    <span class="text-main mar-no text-overflow" data-bind="text: name"></span>
                                    <!-- ko if: $data.error -->
                                    <span class="dz-error text-danger text-sm" data-bind="text: $root.translations.error"></span>
                                    <!-- /ko -->
                                    <span class="text-sm">
                                        <a data-bind="attr: {href: ko.unwrap(url) ? $parent.getFileUrl(url) : content, download: name}, click: function(){return ko.unwrap(url) ? true : false}, clickBubble: false">
                                            <span data-bind="text: ko.unwrap(url) ? $root.translations.download : $root.translations.unsaved"></span>
                                        </a>
                                    </span>
                                </div>
                                <div class="file-upload-card-detail-right">
                                    <div class="media-right" data-bind="click: $parent.removeFile">
                                        <button class="btn btn-xs btn-danger btn-file-cancel"><i class="ion ion-close"></i></button>
                                    </div>
                                    <div class="">
                                        <span class="text-sm" data-bind="html: $parent.formatSize($data)"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            <!-- /ko -->
            </div>
            <div data-bind="style: {visibility: pageCtReached()}">
                <select type="button" class="btn btn-file-upload-limit" data-bind="value: pageCt">
                    <option value="5" data-bind="text: $root.translations.showFirstFiveFiles"></option>
                    <option value="10" data-bind="text: $root.translations.showFirstTenFiles"></option>
                    <option value="25" data-bind="text: $root.translations.showFirstTwentyFiveFiles"></option>
                    <option value="100" data-bind="text: $root.translations.showAllFiles"></option>
                </select>
            </div>
        </div>
    </div>
</div>

<template id="file-widget-dz-preview"><span></span></template>
{% endblock form %}

{% block config_form %}
<div class="control-label">
    <span data-bind="text: $root.translations.acceptedFileTypes"></span>
</div>
<div class="col-xs-12 pad-no crud-widget-container">
    <input 
        type="" 
        id="" 
        class="form-control input-md widget-input" 
        data-bind="
            attr: {placeholder: $root.translations.exampleFileTypes},
            value: acceptedFiles, 
            valueUpdate: 'keyup'
        "
    >
</div>

<div class="control-label">
    <span data-bind="text: $root.translations.maxFileSize"></span>
</div>
<div class="col-xs-12 pad-no crud-widget-container">
    <input 
        type="number" 
        id="" 
        class="form-control input-md widget-input" 
        data-bind="
            attr: {placeholder: $root.translations.maxFileSize},
            value: maxFilesize
        "
    >
</div>

{% endblock config_form %}

{% block report %}
<dt data-bind="text: label"></dt>

<!-- ko if: uploadedFiles().length === 0 -->
<dd>
    <span data-bind="text: $root.translations.none"></span>
</dd>
<!-- /ko -->

<!-- ko foreach: reportFiles() -->
<dd>
    <a data-bind="attr: {href: $parent.getFileUrl(url)}" target="_blank">
        <i class="ion ion-forward"></i>
        <span data-bind="text: name"></span>
    </a>
</dd>
<!-- /ko -->

<!-- ko if: reportImages().length > 0 -->
<dd>
    <div id="report-image-grid" class="report-image-grid">
        <!-- ko foreach: reportImages() -->
        <div class="rp-image-grid-item">
            <a id="" class="" target="_blank" data-bind="attr: {href: $parent.getFileUrl(url)}">
                <img class="img-responsive" data-bind="attr: {src: $parent.getFileUrl(url), alt: name}">
            </a>
        </div>
        <!-- /ko -->
    </div>
</dd>
<!-- /ko -->
{% endblock report %}

{% block display_value %}
<span data-bind="text: Number.isInteger(displayValue()) ? displayValue() + $root.translations.filesUploaded : displayValue()"></span>
{% endblock display_value %}
