{% extends "views/components/widgets/base.htm" %} {% load i18n %} {% block form %}
{% load template_tags %}
<!-- ko foreach: { data: [$data], as: 'self' } -->
<div class="row widget-wrapper" data-bind="css: {'report-header': context==='report-header'}">
    <label class="control-label widget-input-label" for="" data-bind="text:label"></label>
    <!-- ko if: node -->
    <i data-bind="css: {'ion-asterisk widget-label-required': node.isrequired}"></i>
    <!-- /ko -->

    <!-- ko if: mapImage() -->
    <div class="relative print-map" data-bind="css: getContextCss()">
        <img data-bind="attr: {src: mapImage() }">
    </div>
    <!-- /ko -->
    <div data-bind="css:{'map-disabled': disabled}"></div>
    <div class="relative" data-bind="mapboxgl: {
        mapOptions: {
            style: mapStyle,
            zoom: zoom,
            minZoom: minZoom,
            maxZoom: maxZoom,
            centerX: centerX,
            centerY: centerY,
            pitch: pitch,
            bearing: bearing
        },
        afterRender: function(map){
            setupMap(map);
        }
    }, css: getContextCss()">

        <!--ko if: drawFeaturesOnMap() || geojsonInput() === true || xyInput.active() === true ||  drawMode() === 'draw_point' || drawMode() === 'draw_polygon' || drawMode() === 'draw_line_string' -->
        <!--ko ifnot: _.contains(['search-filter', 'report-header'], context) -->
        <div class="geometry-editing-notifications" data-bind= "css: {'notifications-minimized': minimizeNotifications}">
            <div class="alert-wrap in animated jellyIn">
                <div class="alert alert-warning relative" role="alert">
                    <a data-bind="click: function(){minimizeNotifications(!minimizeNotifications())}"><span class="arrow ion-arrow-left-b" data-bind="css: {'ion-arrow-right-b': minimizeNotifications}"></span></a>
                    <div class="media">
                        <!-- ko if: geojsonInput() === false && xyInput.active() === false -->
                            <!-- ko if: drawMode() === undefined || drawMode() === 'simple_select' -->
                            <strong>{% trans "Edit Mode" %}</strong><span data-bind="visible: !minimizeNotifications()"> {% trans "Click a feature to drag or delete. Click lines or polygons twice to edit vertices" %}</span>
                            <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko if: drawMode() === 'draw_point'-->
                        <strong>{% trans "Create Mode" %}</strong><span data-bind="visible: !minimizeNotifications()"> {% trans "You are creating points. Click the Point tool to exit." %}</span>
                        <!-- /ko -->
                        <!-- ko if: drawMode() === 'draw_polygon'-->
                        <strong>{% trans "Create Mode" %}</strong><span data-bind="visible: !minimizeNotifications()"> {% trans "You are creating polygons. Click the Polygon tool to exit." %}</span>
                        <!-- /ko -->
                        <!-- ko if: drawMode() === 'draw_line_string'-->
                        <strong>{% trans "Create Mode" %}</strong><span data-bind="visible: !minimizeNotifications()"> {% trans "You are creating lines. Click the Line tool to exit." %}</span>
                        <!-- /ko -->
                        <!-- ko if: drawMode() === 'direct_select'-->
                        <strong>{% trans "Edit Mode" %}</strong><span data-bind="visible: !minimizeNotifications()"> {% trans "You are editing " %}<span data-bind="text: selectedFeatureType"></span>{% trans " vertices. Click outside the feature to exit." %}</span>
                        <!-- /ko -->
                        <!-- ko if: geojsonInput -->
                        <strong>{% trans "Geojson Mode "%}</strong><span data-bind="visible: !minimizeNotifications()"> {% trans "Enter a GeoJSON geometry to add a feature" %}</span>
                        <!-- /ko -->
                        <!-- ko ifnot: geoJsonStringValid -->
                        <i>{% trans " GeoJSON is invalid" %}</i>
                        <!-- /ko -->
                        <!-- ko if: xyInput.active -->
                        <strong>{% trans "X/Y Mode " %}</strong><span data-bind="visible: !minimizeNotifications()"> {% trans "Enter coordinates or select a point to load values" %}</span>
                        <!-- /ko -->
                        <!-- ko if: xyInput.boundsWarning -->
                        <i>{% trans " Note: Coordinates are outside of project bounds" %}</i>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->
        <!-- /ko -->

        <div class="overlay-selection-container" data-bind="css : {'selector-closed': overlaySelectorClosed}">
          <div class="relative" data-bind="with: overlayLibraryList">
           <!-- Title -->
           <div class="overlay-title">
               {% trans "Map Overlay Library" %}
               <span class="pull-right"><i class="overlay-close ion-close-round" data-bind="click: self.toggleOverlaySelector.bind(self)"></i></span>
           </div>
           <!-- Filter -->
           <div class="overlay-filter-container">
               <div class="list-filter fdg-node-filter">
                   <input type="text" class="form-control overlay-filter" style="" placeholder="{% trans "Find an Overlay" %}" data-bind="value: $data.filter, valueUpdate: 'afterkeydown'">
                   <span class="clear-node-search" data-bind="click: $data.clearSearch"><i class="fa fa-times-circle"></i></span>
               </div>
           </div>

           <div class="overlay-list-container">
                <div id="overlay-grid" class="grid" style="position: relative;" data-bind="foreach: {data: items}">
                     <div class="overlay-card" style="" data-bind="click: self.exchangeOverlay, css: {'selected': checkedOutOfLibrary}, visible: $data.filtered() == false">
                         <div class="overlay-card-item">
                             <div class="overlay-card-vis-toggle">
                                 <i class="ion-checkmark-circled"></i>
                             </div>
                             <div class="overlay-card-main" style="">
                                 <a id="" class="" style="" href="#"><span data-bind="text: name"></span>
                                 </a>
                             </div>
                         </div>
                     </div>
                </div>
           </div>

         </div>
        </div>

        <!-- Map/Geometry Tools Panel -->
        <div class="geometry-tools-container">
            <div class="leaflet-control-container">
                <div class="leaflet-top leaflet-left">
                    <div class="leaflet-control-zoom leaflet-bar leaflet-control">
                        <a class="leaflet-control-zoom-in" href="#" title="{% trans "Zoom in" %}" role="button" aria-label='{% trans "Zoom in" %}' data-bind="click: function(){map.zoomIn()}, css:{'leaflet-disabled': atMaxZoom}">+</a>
                        <a class="leaflet-control-zoom-out" href="#" title="{% trans "Zoom out" %}" role="button" aria-label='{% trans "Zoom out" %}' data-bind="click: function(){map.zoomOut()}, css:{'leaflet-disabled': atMinZoom}">-</a>
                    </div>
                    <div class="leaflet-draw leaflet-control">

                        <div class="leaflet-draw-section">
                            <div class="leaflet-draw-toolbar leaflet-bar leaflet-draw-toolbar-top">
                                <a class="" style="background-position: -342px -2px;" href="#" title="{% trans 'Toggle to Full Screen' %}" data-bind="click: function(){
                                    expanded(!expanded());}, css:{'active': expanded }"><span class="sr-only">{% trans 'Full Screen' %}</span><i class="fa fa-arrows-alt"></i></a>
                                <!-- ko ifnot: context === 'search-filter' -->
                                <a class="" style="background-position: -342px -2px;" href="#" title="{% trans 'Return to features' %}" data-bind="click: function(){zoomToDrawLayer()}, css:{'leaflet-disabled': !drawFeaturesOnMap()}"><span class="sr-only">{% trans "Return to features" %}</span><i class="fa fa-home"></i></a>
                                <!--/ko-->
                                <a class="" style="background-position: -342px -2px;" href="#" title="{% trans 'Toggle Map Tilt and Rotate' %}" data-bind="click: function(){pitchAndZoomEnabled(!pitchAndZoomEnabled())}, css: {'active': pitchAndZoomEnabled()}"><span class="sr-only">{% trans "Map View" %}</span><i class="fa fa-map-o"></i></a>
                            </div>
                            <ul class="leaflet-draw-actions"></ul>
                        </div>


                        <!--ko ifnot: featureEditingDisabled -->
                        <!--ko ifnot: disabled -->
                        <div class="leaflet-draw-section">
                            <div class="leaflet-draw-toolbar leaflet-bar">
                                <!--ko ifnot: _.contains(['survey-bounds'], context) -->
                                <a class="" style="background-position: -342px -2px;" href="#" title='{% trans "Add Easting/Northing" %}' data-bind="click: function(){xyInput.active(!xyInput.active())}, css: {'active': xyInput.active}"><i class="fa fa-thumb-tack"></i></a>
                                <div class="map-tool-container map-tool-item xy" data-bind="fadeVisible: xyInput.active, delay:100, fade: 200, css: {'buffer': context === 'search-filter'}">
                                    <div class="form-control">
                                    <div class="tool-header">{% trans 'Create a point' %}</div>
                                    <a class="clear-geojson-button" disabled data-bind="click: function(){xyInput.clearCoordinates()}, css:{'enabled': xyInput.x() || xyInput.y() }"><span>{% trans 'reset' %}</span></a>
                                        <label for="input-easting">{% trans "Easting" %}</label>
                                        <input id="input-easting" type="number" data-bind="textInput: xyInput.x, attr: {placeholder: 'Easting'}" class="form-control input-lg widget-input" style="margin-bottom: 5px">
                                        <label class="mar-top" for="input-northing">{% trans "Northing" %}</label>
                                        <input id="input-northing" type="number" data-bind="textInput: xyInput.y, attr: {placeholder: 'Northing'}" class="form-control input-lg widget-input" style="margin-bottom: 5px">
                                        <div class="mar-top">
                                            <select class="form-control" class="design" style="width:100px;" disabled data-bind="options: xyInput.availableSrids, optionsText: 'text', optionsValue: 'id', value: xyInput.srid, enable: xyInput.validCoords"></select>
                                        </div>
                                        <button class="btn btn-primary btn-sm btn-block mar-top" disabled data-bind="click: function(){xyInput.addLocation()}, enable: xyInput.validCoords">{% trans "Add Location" %}</button>
                                    </div>
                                </div>
                                <!--/ko-->
                                <!-- ko foreach: geometryTypes -->
                                <a class="" href="#" data-bind="click: function(){self.selectEditingTool(self, self.geometryTypeDetails[$data.id].name)}, attr: {'class': self.geometryTypeDetails[$data.id].class, 'title': self.geometryTypeDetails[$data.id].title}, css: {'active': self.geometryTypeDetails[$data.id].active}">
                                        <span class="sr-only" data-bind="text: self.geometryTypeDetails[$data.id].title"></span>
                                </a>
                                <!-- /ko -->

                                <!--ko if: context !== 'search-filter' -->
                                <a class="" style="background-position: -342px -2px;" href="#" title='{% trans "Add GeoJSON" %}' data-bind="click: function(){geojsonInput(!geojsonInput())}, css: {'active': geojsonInput}"><span class="sr-only">{% trans "Add GeoJSON" %}</span><i class="ion-code-working"></i></a>
                                <div class="map-tool-container map-tool-item geojson" data-bind="fadeVisible: geojsonInput, delay:100, fade: 200">
                                    <textarea id="" placeholder="{% trans " Enter GeoJSON " %}" class="form-control input-md widget-input map-json-tool-input" data-bind="textInput: geojsonString, valueUpdate: 'keyup'"></textarea>
                                    <a class="clear-geojson-button" disabled data-bind="click: function(){geojsonString(''); geoJsonStringValid(true)}, css:{'enabled': geojsonString || geojsonString() !== ''}"><span>{% trans 'clear' %}</span></a>
                                </div>
                                <!-- /ko -->

                                <!--ko if: context === 'search-filter' -->
                                <a class="" style="background-position: -342px -2px;" href="#" title='{% trans "Search Map Extent" %}' data-bind="click: toggleExtentSearch, css:{'active': extentSearch}"><span class="sr-only">{% trans "Search Map Extent" %}</span><i class="fa fa-search"></i></a>
                                <div class="map-tool-container form-control map-query-tool-input buffer" data-bind="visible: _.contains(drawModes, drawMode()) || xyInput.active()">
                                    <div class="form-group form-inline">
                                      <label for="buffer-input">{% trans "Buffer" %}</label>
                                      <input type="number" min=0.0 id="buffer-input" placeholder="{% trans " buffer " %}" class="buffer" data-bind="textInput: buffer">
                                      <select class="form-control"  data-bind="options: bufferUnits, optionsText:'name', optionsValue:'val', value: bufferUnit"></select>
                                    </div>
                                </div>
                                <!-- /ko -->

                            </div>
                            <ul class="leaflet-draw-actions"></ul>
                        </div>

                        <!-- ko ifnot: context === 'search-filter' -->
                        <div class="leaflet-draw-section">
                            <div class="leaflet-draw-toolbar leaflet-bar">
                                <a class="leaflet-draw-edit-edit" data-bind="click: function(){selectEditingTool(undefined, 'end')}, css: {'leaflet-disabled': drawMode() === undefined}" href="#" title='{% trans "No drawings to edit." %}'><span class="sr-only">{% trans "Edit drawings." %}"</span></a>
                                <a class="leaflet-draw-edit-remove" data-bind="click: function(){selectEditingTool(undefined, 'delete')}, css: {'leaflet-disabled': drawMode() === undefined}" href="#" title='{% trans "No drawings to delete." %}'><span class="sr-only">{% trans "Delete drawings." %}</span></a>
                            </div>
                            <ul class="leaflet-draw-actions"></ul>
                        </div>
                        <!--/ko-->
                        <!--/ko-->
                        <!--/ko-->
                    </div>
                </div>
            </div>
        </div>


        <div class="geocode-container" data-bind="css : {
            'geocode-container-shim': mapControls.mapControlsExpanded,
            'hide-geocoder': geocoderVisible
        }">
        <!-- ko component: {
            name: geocodeProviderDetails.component,
            params: {
                placeholder: geocodePlaceholder,
                map: map,
                anchorLayerId: anchorLayerId,
                api_key: geocodeProviderDetails.api_key,
                geocodeProvider: geocodeProvider
            }
        } -->
        <!-- /ko -->
        </div>

        <!-- ko if: popupData() !== null -->
        <div class="hover-feature-info">
            <!-- ko if: popupData().graph_name -->
                <!-- ko if: popupData().loading() -->
                <div class="hover-feature-body hover-feature-loading">
                    <i class="fa fa-spin fa-spinner"></i>
                    {% trans "Loading..." %}
                </div>
                <!--/ko-->

                <!-- ko if: !popupData().loading() -->
                <div class="hover-feature-title-bar">
                    <div class="hover-feature-title">
                        <span class="" data-bind="text: popupData().displayname"></span>
                        <i class="ion-ios-close pull-right add-tooltip hover-panel-dismiss"
                            style="cursor: pointer;"
                            data-placement="left"
                            data-toggle="tooltip"
                            data-original-title="add overlay"
                            data-bind="visible: popupData() === clickData(), click: function () { clickData(null); }"
                        ></i>
                    </div>
                </div>
                <div class="hover-feature-body">
                    <div class="hover-feature" data-bind="html: popupData().map_popup"></div>
                    <div class="hover-feature-metadata">
                        {% trans "Resource ID:" %}
                        <span data-bind="text: popupData().resourceinstanceid"></span>
                    </div>
                    <div class="hover-feature-metadata">
                        {% trans "Resource Model:" %}
                        <span data-bind="text: popupData().graph_name"></span>
                    </div>
                </div>
                <div class="hover-feature-footer">
                    <a data-bind="click: function () { window.open(reportURL + ko.unwrap(popupData().resourceinstanceid)); }" href="javascript:void(0)"><i class="ion-document-text"></i> {% trans "Report" %}</a>
                    {% if request.user|can_edit_resource_instance %}
                    <a data-bind="click: function () { window.open(editURL + ko.unwrap(popupData().resourceinstanceid)); }" href="javascript:void(0)"><i class="ion-ios-refresh-empty"></i> {% trans "Edit" %}</a>
                    {% endif %}
                    <a data-bind="click: zoomToPopupData" href="javascript:void(0)"><i class="fa fa-map-marker"></i> {% trans "Map" %}</a>
                    <!--ko if: $root.editingInstanceId -->
                        <!--ko if: results.isResourceRelatable(ko.unwrap(popupData().graphid)) && $root.editingInstanceId !== ko.unwrap(popupData().resourceinstanceid) -->
                        <a class="pull-right" href="" data-bind="click: function () { results.toggleRelationshipCandidacy(ko.unwrap(popupData().resourceinstanceid))({resourceinstanceid: ko.unwrap(popupData().resourceinstanceid)}); }"><i class="fa fa-code-fork"></i> {% trans "Relate Resource" %}</a>
                        <!--/ko-->
                        <!--ko if: !results.isResourceRelatable(ko.unwrap(popupData().graphid)) || $root.editingInstanceId === ko.unwrap(popupData().resourceinstanceid) -->
                        <a class="unrelatable-search-result pull-right" href=""><i class="fa fa-code-fork"></i> {% trans "Cannot Be Related" %} </a>
                        <!--/ko-->
                    <!--/ko-->
                </div>
                <!--/ko-->
            <!--/ko-->

            <!-- ko if: popupData().doc_count -->
            <div class="hover-panel-small">
                <div class="hover-feature-title-bar">
                    <div class="hover-feature-title">{% trans "Search Results" %}</div>
                </div>
                <div class="hover-feature-body">
                    <span>{% trans "This cell contains" %}</span><span class="text-semibold" data-bind="text: ' ' + popupData().doc_count"></span><span> {% trans "result(s)" %}</span>
                </div>
            </div>
            <!--/ko-->

            <!--ko if: popupData().feature_info_content-->
            <div class="hover-feature-metadata">
                <i class="ion-ios-close pull-right add-tooltip hover-panel-dismiss"
                style="cursor: pointer;"
                data-placement="left"
                data-toggle="tooltip"
                data-original-title="add overlay"
                data-bind="visible: popupData() === clickData(), click: function () { clickData(null); }"
                ></i>
                <div class="hover-feature-body" data-bind="html: popupData().feature_info_content"></div>
            </div>
            <!--/ko-->

            <!-- ko if: popupData().geojson && context != 'search-filter' -->
            <div class="hover-panel-small">
                <div class="hover-feature-title-bar">
                    <div class="hover-feature-title">{% trans "Add drawing?" %}</div>
                </div>
                <!-- ko if: self.drawingAdded() === null -->
                <div class="hover-feature-body">
                    {% trans "Double-click to add geometry to drawings." %}
                </div>
                <!--/ko-->
                <!-- ko if: self.drawingAdded() === false -->
                <div class="hover-feature-body">
                    {% trans "Adding drawing..." %}
                </div>
                <!--/ko-->
                <!-- ko if: self.drawingAdded() === true -->
                <div class="hover-feature-body">
                    {% trans "Drawing added!" %}
                </div>
                <!--/ko-->
            </div>
            <!--/ko-->

        </div>
        <!--/ko-->

        <div id="map-widget-container" class="relative">

            <div class="text-center map-widget-container" data-bind="css : {'map-widget-container-expanded' : mapControls.mapControlsExpanded, 'hide-maptools': mapControls.mapControlsHidden}">
                <a id="map-tools" href="" class="" style="display: inline;" data-bind="click: mapControls.toggleMapTools"><i class="ion-ios-gear add-tooltip" data-bind="tooltip: { title: '{% trans "Map Controls" %}', placement: 'bottom' }"></i></a>
            </div>

            <div id="map-widget-toolbar" class="map-widget-toolbar relative" data-bind="fadeVisible: mapControls.mapControlsExpanded, delay:200, fade:400">
              <ul class="map-widget-toolbar-list" style="">
                <li class="map-widget-toolbar-item text-center basemaps-map-tools" data-bind="click: function(){mapControls.toggleMapControlPanels('basemaps')}, css : {'active': !mapControls.mapControlPanels.basemaps()}">
                    <a id="" href="" class="map-widget-icon">{% trans "Basemaps" %}</a>
                </li>
                <li id="btn-overlays" class="map-widget-toolbar-item text-center overlays-map-tools" data-bind="click: function(){mapControls.toggleMapControlPanels('overlays')}, css : { 'active': !mapControls.mapControlPanels.overlays()}">
                    <a id="overlays" href="" class="map-widget-icon">{% trans "Overlays" %}</a>
                </li>

                <!-- TODO Uncomment this block once legend available -->
                <!-- <li class="map-widget-toolbar-item text-center legend-map-tools" data-bind="click: function(){mapControls.toggleMapControlPanels('legend')}, css : {'active': !mapControls.mapControlPanels.legend()}">
                    <a id="l" href="" class="map-widget-icon"><i class="ion-ios-list add-tooltip" data-bind="tooltip: { title: '{% trans "Legend" %}', placement: 'bottom' }"></i></a>
                </li> -->

                <li class="map-widget-toolbar-item text-center close-map-tools" data-bind="click: function(){mapControls.toggleMapControlPanels('basemaps')}, css : {'map-widget-tool-expanded' : mapControls.mapControlsExpanded}">
                    <a id="close-map-tools" href="#" class="map-widget-icon" data-bind="click: mapControls.toggleMapTools">{% trans "Hide" %}</a>
                </li>
              </ul>
            </div>

            <div id="map-widget-basemaps" class="panel map-widget-panel" data-bind="fadeVisible: mapControls.mapControlsExpanded, delay:200, fade:400, css : {'map-panel-inactive': mapControls.mapControlPanels.basemaps}">

                <!-- ko foreach: basemaps -->
                <div class="map-widget-overlay-item relative" data-bind="click: self.selectBasemap, css:{'selected': name === self.basemap()}">
                    <div class="map-overlay-vis-toogle text-center">
                        <i class="ion-checkmark-circled" data-bind="css:{'basemap-unselected': name !== self.basemap()}"></i>
                    </div>
                    <div class="map-overlay-name">
                        <a id="" class="" href=""><span data-bind="text: name, css: {'basemap-unselected': name !== self.basemap()}"><span></a>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>

        <div id="overlays-panel" class="panel map-widget-panel" data-bind="css: {'map-panel-inactive': mapControls.mapControlPanels.overlays}">
            <div class="map-widget-panel-title">
                <button class="btn btn-primary btn-block" data-bind="click: toggleOverlaySelector">{% trans "Add Overlay" %}</button>
            </div>
          <!--ko let: { self: $data }-->
            <div data-bind="sortable: overlays">
                <div class="map-widget-overlay-item relative" data-bind="css:{'show-tools': showingTools, 'overlay-invisible':invisible}">
                    <div class="map-overlay-vis-toogle text-center" data-bind="css:{'overlay-invisible':invisible}, click: toggleOverlayVisibility">
                        <i data-bind="css: icon"></i>
                    </div>
                    <div class="map-overlay-name" data-bind="click: toggleOverlayVisibility">
                        <a class="" href=""><span data-bind="text:name"><span></a>
                    </div>
                    <div class="map-overlay-item-tools">
                        <a href="#" class="overlay-toggle" data-bind="click: toggleOverlayTools, css:{'overlay-invisible':invisible}">
                            <!-- ko if: showingTools() === false  -->
                            <i class="ion-arrow-left-b overlay-toggle-icon" data-bind="showingTools()"></i>
                            <!-- /ko -->
                            <!-- ko if: showingTools() !== false  -->
                            <i class="ion-arrow-down-b overlay-toggle-icon"></i>
                            <!-- /ko -->
                        </a>
                    </div>
                    <div class="map-overlay-item-tools-panel" data-bind="fadeVisible: showingTools, delay:300, fade: 200">

                        <div class="overlay-slider">
                            <div data-bind="noUiSlider: {
                                start: opacity,
                                range: {
                                  'min': 0,
                                  'max': 100
                                },
                                connect: 'lower'
                            }"></div>
                        </div>

                        <div class="overlay-tool-group">
                            <!-- Hide the info tool button until we wire it up
                            <i class="ion-information-circled pull-right overlay-tool-icon add-tooltip" data-placement="left" data-toggle="tooltip" data-original-title="visible: 7-20"></i>
                            -->
                            <a href="#" data-bind="click: function () { self.mapControls.moveOverlay($data, 'up') }">
                                <i class="fa fa-arrow-circle-o-up overlay-tool-icon add-tooltip" data-placement="bottom" data-toggle="tooltip" data-original-title="move overlay up"></i>
                            </a>
                            <a href="#" data-bind="click: function () { self.mapControls.moveOverlay($data, 'down') }">
                                <i class="fa fa-arrow-circle-o-down overlay-tool-icon add-tooltip" data-placement="bottom" data-toggle="tooltip" data-original-title="move overlay down"></i>
                            </a>
                            <!-- ko if: self.resourceLayer && self.resourceLayer !== $data -->
                            <a href="#" data-bind="click: self.exchangeOverlay">
                                <i class="fa fa-close overlay-tool-icon add-tooltip" data-placement="bottom" data-toggle="tooltip" data-original-title="move overlay down"></i>
                            </a>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </div>

        <div id="legend-panel" class="panel map-widget-panel" data-bind="css: {'map-panel-inactive': mapControls.mapControlPanels.legend}">
            <div class="map-widget-panel-title">
                <h4 class="">{% trans "Legend" %}</h4>
            </div>
            <div data-bind="sortable: overlays">
                <div class="map-widget-overlay-item relative">
                    <div class="map-overlay-vis-toogle text-center">
                        <i data-bind="css: icon, style: {color: color}"></i>
                    </div>
                    <div class="map-overlay-name">
                        <a class="" href=""><span data-bind="text:name"><span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="overlay-container" style="display: none;">
        <h3 class="panel-title card-main-title">{% trans  "Overlays" %}<i class="pull-right icon-xl ion ion-ios-close-empty"></i></h3>
        <div id="report-image-grid" class="report-image-grid">
        </div>
    </div>
</div>
<!-- /ko -->
{% endblock form %}

{% block report %}
<dt data-bind="text: label"></dt>
<dd data-bind="foreach: summaryDetails">
  <div style='margin-bottom:2px' data-bind="text: JSON.stringify($data.geometry)"></div>
</dd>
{% endblock report %}

{% block config_form %}
<div class="control-label map-config-header">{% trans "Map Properties" %}</div>

<div class="panel-group accordion" id="accordion">

    <!--ko if: context === 'report-header' -->
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-parent="#accordion" data-toggle="collapse" href="#map-config-controls" aria-expanded="false" class="collapsed">{% trans "Map Controls" %}</a>
            </h4>
        </div>
        <div class="panel-collapse collapse" id="map-config-controls" aria-expanded="false" style="height: 0px;">
            <div class="panel-body accordion-body">
                  <div class="control-label">
                      {% trans "Map Tools" %}
                  </div>
                  <div class="col-xs-12 pad-no crud-widget-container">

                      <div class="toggle-container">
                          <span class="switch switch-small" data-bind="css: {'on': mapControlsHidden}, click: mapControls.toggleMapControlsVisibility"><small></small></span>
                          <p class="arches-toggle-sm">{% trans "Hide basemap, overlay controls" %}</p>
                      </div>
                  </div>
                </div>
            </div>
    </div>
    <!-- /ko -->

    <div class="panel">
        <div class="panel-heading map-widget-config-accoridan-item">
            <h4 class="panel-title">
                <a data-parent="#accordion" data-toggle="collapse" href="#map-config-position" class="collapsed" aria-expanded="false" data-bind="click: function(){positionConfigOpen(!positionConfigOpen())}">{% trans "Position" %}
                    <i class="fa" data-bind="css: {'fa-caret-down': positionConfigOpen(), 'fa-caret-right': !positionConfigOpen()}"></i>
                </a>
            </h4>

        </div>
        <div class="panel-collapse collapse" id="map-config-position" aria-expanded="false" style="height: 0px;">
            <div class="panel-body accordion-body">
                <div class="control-label">
                    {% trans "Map Center Longitude" %}
                </div>
                <div class="col-xs-12 pad-no crud-widget-container">
                    <input type="number" id="" placeholder="{% trans " Longitude (x coordinate) " %}" class="form-control input-md widget-input" data-bind="value: centerX, valueUpdate: 'keyup'">
                </div>
                <div class="control-label">
                    {% trans "Map Center Latitude" %}
                </div>
                <div class="col-xs-12 pad-no crud-widget-container">
                    <input type="number" id="" placeholder="{% trans " Latitude (y coordinate) " %}" class="form-control input-md widget-input" data-bind="value: centerY, valueUpdate: 'keyup'">
                </div>
                <div class="control-label">
                    {% trans "Pitch" %}
                </div>
                <div class="col-xs-12 pad-no crud-widget-container">
                    <input type="number" id="" placeholder="{% trans " Pitch (Degrees) " %}" class="form-control input-md widget-input" data-bind="value: pitch, valueUpdate: 'keyup'">
                </div>
                <div class="control-label">
                    {% trans "Bearing" %}
                </div>
                <div class="col-xs-12 pad-no crud-widget-container">
                    <input type="number" id="" placeholder="{% trans " Bearing (Degrees) " %}" class="form-control input-md widget-input" data-bind="value: bearing, valueUpdate: 'keyup'">
                </div>
            </div>
        </div>
    </div>
    <div class="panel">

        <div class="panel-heading map-widget-config-accoridan-item">
            <h4 class="panel-title">
                <a data-parent="#accordion" data-toggle="collapse" href="#map-config-zoom" class="collapsed" aria-expanded="false" data-bind="click: function(){zoomConfigOpen(!zoomConfigOpen())}">{% trans "Zoom" %}
                    <i class="fa" data-bind="css: {'fa-caret-down': zoomConfigOpen(), 'fa-caret-right': !zoomConfigOpen()}"></i>
                </a>
            </h4>
        </div>

        <div class="panel-collapse collapse" id="map-config-zoom" aria-expanded="false" style="height: 0px;">
            <div class="panel-body accordion-body">
                <div class="control-label">
                    {% trans "Default Zoom" %}
                </div>
                <div class="col-xs-12 pad-no crud-widget-container">
                    <input type="number" min=1 max=20 id="" placeholder="{% trans " Zoom Level " %}" class="form-control input-md widget-input" data-bind="value: zoom, valueUpdate: 'keyup'">
                </div>
                <div class="control-label">
                    {% trans "Min Zoom" %}
                </div>
                <div class="col-xs-12 pad-no crud-widget-container">
                    <input type="number" min=1 max=20 id="" placeholder="{% trans " Zoom Level " %}" class="form-control input-md widget-input" data-bind="value: minZoom, valueUpdate: 'keyup'">
                </div>
                <div class="control-label">
                    {% trans "Max Zoom" %}
                </div>
                <div class="col-xs-12 pad-no crud-widget-container">
                    <input type="number" min=1 max=20 id="" placeholder="{% trans " Zoom Level " %}" class="form-control input-md widget-input" data-bind="value: maxZoom, valueUpdate: 'keyup'">
                </div>
            </div>
        </div>
    </div>
    <div class="panel">

        <div class="panel-heading map-widget-config-accoridan-item">
            <h4 class="panel-title">
                <a data-parent="#accordion" data-toggle="collapse" href="#map-config-geocoder" aria-expanded="false" class="collapsed" data-bind="click: function(){geocoderConfigOpen(!geocoderConfigOpen())}">{% trans "Geocoder" %}
                    <i class="fa" data-bind="css: {'fa-caret-down': geocoderConfigOpen(), 'fa-caret-right': !geocoderConfigOpen()}"></i>
                </a>
            </h4>
        </div>

        <div class="panel-collapse collapse" id="map-config-geocoder" aria-expanded="false" style="height: 0px;">
            <div class="panel-body accordion-body">
                <div class="control-label">
                    {% trans "Default Geocoder" %}
                </div>
                <div class="col-xs-12 pad-no crud-widget-container">
                    <select type="" id="" placeholder="{% trans " Geocoder " %}" data-bind="options: geocodingProviders, optionsText:'name', optionsValue:'geocoderid', value: geocodeProvider, chosen: {width: '100%'}"></select>
                </div>
                <div class="control-label">
                    {% trans "Geocoder Placehoder" %}
                </div>
                <div class="col-xs-12 pad-no crud-widget-container">
                    <input type="text" placeholder="{% trans " Geocoder Placehoder " %}" class="form-control input-md widget-input" data-bind="value: geocodePlaceholder, valueUpdate: 'keyup'">
                </div>
                <div class="control-label">
                    {% trans "Geocoder Availability" %}
                </div>
                <div class="col-xs-12 pad-no crud-widget-container">
                    <div class="toggle-container">
                        <span class="switch switch-small" data-bind="css: {'on': geocoderVisible}, click: function () { geocoderVisible(!geocoderVisible()) }"><small></small></span>
                        <p class="arches-toggle-sm">{% trans "Toggle on to show a geocoder on the map" %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading map-widget-config-accoridan-item">
            <h4 class="panel-title">
                <a data-parent="#accordion" data-toggle="collapse" href="#map-config-resource-style" aria-expanded="false" class="collapsed" data-bind="click: function(){resourcePropertiesConfigOpen(!resourcePropertiesConfigOpen())}">{% trans "Resource Properties" %}
                <i class="fa" data-bind="css: {'fa-caret-down': resourcePropertiesConfigOpen(), 'fa-caret-right': !resourcePropertiesConfigOpen()}"></i>
                </a>
            </h4>
        </div>

        <div class="panel-collapse collapse" id="map-config-resource-style" aria-expanded="false" style="height: 0px;">
            <div class="panel-body accordion-body">
                <div class="control-label">{% trans "Color" %}</div>

                <div class="col-xs-12 pad-no crud-widget-container">
                  <div class="colorpicker-component input-group">
                    <input placeholder="{% trans " Map Feature Color " %}" class="form-control input-lg widget-input" data-bind="colorPicker: {color: featureColor, format:'rgba'}">
                    <span class="input-group-addon"><i class="ion-stop resource-color-swatch" data-bind="style: {color: featureColor}"></i></span>
                  </div>
                </div>

                <div class="control-label">{% trans "Point Size" %}</div>
                <div class="col-xs-12 pad-no crud-widget-container">
                    <input type="number" min="1" placeholder="{% trans " Map Feature Color " %}" class="form-control input-lg widget-input" data-bind="value: featurePointSize, valueUpdate: 'keyup'">
                </div>

                <div class="control-label">{% trans "Line Width" %}</div>
                <div class="col-xs-12 pad-no crud-widget-container">
                    <input type="number" min="1" placeholder="{% trans " Map Feature Color " %}" class="form-control input-lg widget-input" data-bind="value: featureLineWidth, valueUpdate: 'keyup'">
                </div>

                <div class="control-label">{% trans "Available Geometry Types" %}</div>
                <div class="col-xs-12 pad-no crud-widget-container">
                    <input id="select2Input2" data-bind="
                      select2v4Data: geometryTypes,
                      select2v4: geomTypeSelectSetup" style="width: 100%">
                    </input>
                </div>
            </div>
        </div>

    </div>

    <div class="panel">

        <div class="panel-heading map-widget-config-accoridan-item">
            <h4 class="panel-title">
                <a data-parent="#accordion" data-toggle="collapse" href="#map-config-default-value" aria-expanded="false" class="collapsed" data-bind="click: function(){defaultValueConfigOpen(!defaultValueConfigOpen())}">{% trans "Default Value" %}
                    <i class="fa" data-bind="css: {'fa-caret-down': defaultValueConfigOpen(), 'fa-caret-right': !defaultValueConfigOpen()}"></i>
                </a>
            </h4>
        </div>

        <div class="panel-collapse collapse" id="map-config-default-value" aria-expanded="false" style="height: 0px;">
            <div class="panel-body accordion-body">
                <div class="control-label">
                    {% trans "Select Location" %}
                </div>
                <div class="col-xs-12 pad-no crud-widget-container" style="height: 200px;">
                    <select type="" id="" placeholder="{% trans " Default Value " %}" data-bind="options: defaultValueOptions, optionsText:'name', optionsValue:'defaultOptionid', value: defaultValueType, chosen: {width: '100%', allow_single_deselect: true, disable_search: true}"></select>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock config_form %}

{% block display_value %}
<span data-bind="text: displayValue()"></span> {% trans "feature(s)" %}
{% endblock display_value %}
