{% extends "views/components/widgets/base.htm" %}
{% load i18n %}

{% block form %}
<div class="row widget-wrapper">
    <div class="form-group">
        <label class="control-label widget-input-label" for="" data-bind="text:label"></label>
        <!-- ko if: node -->
        <i data-bind="css: {'ion-asterisk widget-label-required': node.isrequired}"></i>
        <!-- /ko -->
        <div class="col-xs-12">
            <input type="text" data-bind="textInput: currentText, attr: {placeholder: placeholder, maxlength: maxLength, disabled: disable, dir: currentDirection}" class="form-control input-lg widget-input">
            <select id="lang_dd" style="max-width: 600px;" name="language" data-bind="value: currentLanguage, chosen: {
                'max-width':'600px'}">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% for CODE, NAME in LANGUAGES %}
                <option value="{{ CODE|lower }}" {% if CODE|lower == LANGUAGE_CODE|lower %}selected="selected" {% endif %}>
                    {{ NAME }} ({{ CODE }})
                </option>
                {% endfor %}
            </select>            
            <select id="lang_dir" style="max-width: 600px;" name="language" data-bind="value: currentDirection, chosen: {
                'max-width':'600px'}">
                <option value="ltr">
                    Left-to-Right
                </option>
                <option value="rtl">
                    Right-to-Left
                </option>
            </select>
        </div>
    </div>
</div>
{% endblock form %}

{% block config_form %}
<div class="control-label">
    {% trans "Placeholder" %}
</div>
<div class="col-xs-12 pad-no crud-widget-container">
    <input type="" placeholder="{% trans "Placeholder" %}" id="" class="form-control input-md widget-input" data-bind="textInput: placeholder">
</div>
<div class="control-label">
    {% trans "Max Length" %}
</div>
<div class="col-xs-12 pad-no crud-widget-container">
    <input type="" placeholder="{% trans "Max Length" %}" id="" class="form-control input-md widget-input" data-bind="textInput: maxLength">
</div>

<div class="control-label">
    {% trans "Default Value" %}
</div>
<div class="col-xs-12 pad-no crud-widget-container">
    <input type="" placeholder="{% trans "Default Value" %}" id="" class="form-control input-md widget-input" data-bind="textInput: defaultValue">
</div>
<div class="node-config-item">
    <div class="control-label">
        {% trans "Disabled" %}
    </div>
    <div class="pad-no">
        <div data-bind="component: { name: 'views/components/simple-switch', params: {value: uneditable, config:{label: '{% trans "Disable Editing" %}', subtitle: '{% trans "Prevent users from editing value" %}'}}}"></div>
    </div>
</div>
{% endblock config_form %}

<!-- ko if: !configForm  && state === 'display_value' -->
{% block display_value %}<span data-bind="text: console.log(displayValue())"></span>
<span data-bind="text: displayValue && displayValue()[currentLanguage()] && displayValue()[currentLanguage()]['value'] ? displayValue()[currentLanguage()]['value'] : '' || '{% trans "None" %}'"></span>
{% endblock display_value %}
<!-- /ko -->

<!-- ko if: !configForm  && state === 'report' -->
<!-- ko if: !ko.unwrap(hideEmptyNodes) || ko.unwrap(hideEmptyNodes) === true && displayValue() -->
{% block report %}
<dt data-bind="text: label"></dt>
<dd data-bind="text: displayValue()[currentLanguage()] && displayValue()[currentLanguage()]['value'] ? displayValue()[currentLanguage()]['value'] : '{% trans "None" %}'"></dd>
{% endblock report %}
<!-- /ko -->
<!-- /ko -->