{% extends "views/components/widgets/base.htm" %}
{% load template_tags %}
{% load i18n %}

{% block form %}
<div class="row widget-wrapper">
    <div class="form-group" style="position: relative;">
        <div style="max-width: 600px; position: relative">
            <div class="widget-inline-tools-collapser" data-bind=" click: function() {
                showi18nOptions(!showi18nOptions());
            }">
                <label class="control-label widget-input-label" for="" data-bind="text:label"></label>
                <span>
                    <i class="fa" data-bind="{
                        css: {
                            'fa-caret-down' : !showi18nOptions(),
                            'fa-caret-up' : showi18nOptions(),
                        }
                    }"></i>
                    <span data-bind="text: $root.translations.languages"></span>
                </span>
            </div>
            <div class="form-horizontal" data-bind="if: showi18nOptions">
                <div class="i18n-style-tools-panel">
                    <div style="display: flex; flex-direction: column; max-width:600px">
                        <label class="widget-input-label" for="lang_dd">
                            <span data-bind="text: $root.translations.language"></span>
                        </label>
                        <select id="lang_dd" style="flex:1" name="language" data-bind="options: languages, optionsText: function(item){return item.name + ' (' + item.code + ')'}, value: currentLanguage, chosen: {width:'100%'}">
                        </select>
                        <label class="widget-input-label" for="lang_dir">
                            <span data-bind="text: $root.translations.direction"></span>
                        </label>
                        <select 
                            id="lang_dir" 
                            style="flex:1" 
                            name="language" 
                            data-bind="
                                value: currentDirection, 
                                chosen: {'width':'100%'},
                                optionsText: 'text',
                                optionsValue: 'value',
                                options: [
                                    { text: $root.translations.leftToRight, value: 'ltr' },
                                    { text: $root.translations.rightToLeft, value: 'rtl' },
                                ],
                            "
                        ></select>
                    </div>
                </div>
            </div>
            <!-- ko if: node -->
            <i data-bind="css: {'ion-asterisk widget-label-required': node.isrequired}"></i>
            <!-- /ko -->
            <div class="col-xs-12" style="display:flex;flex-wrap: wrap;flex-direction: column;">
                <input type="text" style="flex:1" data-bind="textInput: currentText, attr: {placeholder: placeholder, maxlength: maxLength, disabled: disable, dir: currentDirection}" class="form-control input-lg widget-input">
            </div>
        </div>
    </div>
</div>
{% endblock form %}

{% block config_form %}
<div class="control-label">
    <span data-bind="text: $root.translations.placeholder"></span>
</div>
<div class="col-xs-12 pad-no crud-widget-container">
    <input 
        type="" 
        id="" 
        class="form-control input-md widget-input" 
        data-bind="
            attr: {placeholder: $root.translations.placeholder},
            textInput: placeholder
        "
    >
</div>
<div class="control-label">
    <span data-bind="text: $root.translations.maxLength"></span>
</div>
<div class="col-xs-12 pad-no crud-widget-container">
    <input 
        type="" 
        id="" 
        class="form-control input-md widget-input" 
        data-bind="
            attr: {placeholder: $root.translations.maxLength},
            textInput: maxLength
        "
    >
</div>
<div class="form-group" style="position: relative;">
    <div style="max-width: 600px; position: relative">
    <div class="widget-inline-tools-collapser" data-bind=" click: function() {
        showi18nOptions(!showi18nOptions());
    }">
        <label class="control-label widget-input-label" for="" data-bind="text: $root.translations.defaultValue"></label>
        <span>
            <i class="fa" data-bind="{
                css: {
                    'fa-caret-down' : !showi18nOptions(),
                    'fa-caret-up' : showi18nOptions(),
                }
            }"></i>
            <span data-bind="text: $root.translations.languages"></span>
        </span>
    </div>
    <div class="form-horizontal" data-bind="if: showi18nOptions">
        <div class="i18n-style-tools-panel">
            <div style="display: flex; flex-direction: column; max-width:600px">
                <label class="widget-input-label" for="lang_dd">
                    <span data-bind="text: $root.translations.language"></span>
                </label>
                <select id="lang_dd" style="flex:1" name="language" data-bind="options: languages, optionsText: function(item){return item.name + ' (' + item.code + ')'}, value: currentDefaultLanguage, chosen: {width:'100%'}">
                </select>
                <label class="widget-input-label" for="lang_dir">
                    <span data-bind="text: $root.translations.direction"></span>
                </label>
                <select 
                    id="lang_dir" 
                    style="flex:1" 
                    name="language" 
                    data-bind="
                        value: currentDefaultDirection, 
                        chosen: {'width':'100%'},
                        optionsText: 'text',
                        optionsValue: 'value',
                        options: [
                            { text: $root.translations.leftToRight, value: 'ltr' },
                            { text: $root.translations.rightToLeft, value: 'rtl' },
                        ],
                    "
                ></select>
            </div>
        </div>
    </div>
    <div class="col-xs-12" style="display:flex;flex-wrap: wrap;flex-direction: column;">
        <input type="text" style="flex:1" data-bind="textInput: currentDefaultText, attr: {placeholder: placeholder, maxlength: maxLength, disabled: disable, dir: currentDefaultDirection}" class="form-control input-lg widget-input">
    </div>
    </div>
</div>
<div class="node-config-item">
    <div class="control-label">
        <span data-bind="text: $root.translations.disabled"></span>
    </div>
    <div class="pad-no">
        <div 
            data-bind="
                component: { 
                    name: 'views/components/simple-switch', 
                    params: {
                        value: uneditable, 
                        config:{label: $root.translations.disableEditing, subtitle: $root.translations.preventUsersFromEditingValue}
                    }
                }
            "
        ></div>
    </div>
</div>
{% endblock config_form %}

<!-- ko if: !configForm  && state === 'display_value' -->
{% block display_value %}
<span data-bind="text: displayValue && displayValue() && currentLanguage() && displayValue()[currentLanguage().code] && displayValue()[currentLanguage().code]['value'] ? displayValue()[currentLanguage().code]['value'] : '' || $root.translations.none"></span>
{% endblock display_value %}
<!-- /ko -->

<!-- ko if: !configForm  && state === 'report' -->
<!-- ko if: !ko.unwrap(hideEmptyNodes) || ko.unwrap(hideEmptyNodes) === true && displayValue() -->
{% block report %}
<dt data-bind="text: label"></dt>
<dd data-bind="text: displayValue() && currentLanguage() && displayValue()[currentLanguage().code] && displayValue()[currentLanguage().code]['value'] ? displayValue()[currentLanguage().code]['value'] : $root.translations.none"></dd>
{% endblock report %}
<!-- /ko -->
<!-- /ko -->