{% extends "base-manager.htm" %}
{% load i18n %}
{% load staticfiles %}

{% block title %} {{ block.super }} {% trans "Search" %} {% endblock title %}


{% block main_content %}
    {% include 'views/search/search-base-manager.htm' %}
{% endblock main_content %}

{% block tabs %}{% endblock tabs %}

{% block pre_require_js %}
{{block.super}}
    <script>
        define('search-data', [], function() {
            return {{% autoescape off %}
                searchable_nodes: {{ searchable_nodes }},
                resource_cards: {{ resource_cards }},
                datatypes: {{ datatypes_json }},
                saved_searches: {{ saved_searches }}
            {% endautoescape %}};
        });
    </script>
{% endblock pre_require_js %}
