{% extends "base-manager.htm" %}
{% load i18n %}
{% load template_tags %}
{% load static %}

{% block title %} {{ block.super }} {% trans "Search" %} {% endblock title %}

{% block main_content %}
<div>
    <!-- ko foreach: {data: sharedStateObject.filtersList, as: 'filter'} -->
        <!-- ko if: filter.type === 'core' && !!filter.enabled -->
        <div data-bind="component: {
            name: filter.componentname,
            params: $parent.sharedStateObject
        }"></div>
        <!-- /ko -->
        <!-- ko if: filter.type === 'backend' && !!filter.enabled -->
        <div style="display:none;" data-bind="component: {
            name: filter.componentname,
            params: $parent.sharedStateObject
        }"></div>
        <!-- /ko -->
    <!-- /ko -->
</div>
{% endblock main_content %}

{% block pre_require_js %}
{{block.super}}
{% endblock pre_require_js %}
