                            <!-- Overall Condition CRUD Form -->
{% extends "views/forms/base.htm" %}
{% load i18n %}

{% block form_content %}
<div id="xref-section">
    <div class="row">
        <div class="col-xs-12">
            <div class="padding-left-10">
                
                <dl>
                    <!-- Title -->
                    <dt>
                        <h5 id="arches-names-form" class="section-headline">{% trans 'URLs' %}</h5>
                    </dt>

                    <!-- Form -->
                    <dd class="arches-RDM-labels">

                        <div class="row">

                            <div class="col-xs-12 padding-left-0">

                                <!-- Screens greater than xs -->
                                <form class="form-inline hidden-xs" role="form">
                                    <div class="form-group  hidden-xs" style="width: 100%; margin-left:12px">
                                        

                                        <!-- Value -->
                                    <input class="form-control arches-form-input hidden-xs" id="resource-name" style="width: 50%;" placeholder='{% trans "URL" %}' data-bind='value: getEditedNode("URL.E51", "value")'> &nbsp;    
                                        <!-- System Type -->  
                                    <div class="form-group datetimepicker" style="width:25%;">
                                        <div class="input-group">
                                            <input type="text" name="mydate" id="date" placeholder='{% trans "Access date" %}' class="form-control datepicker" data-date-format="YYYY-MM-DD" data-bind="{value: getEditedNode('URL_ACCESS_DATE.E50', 'value')} ">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                
                                        </div>
                                    </div>                             
                                        <!-- Add Button -->
                                    {% include 'views/components/add-item-button.htm' %} 
                                        <!-- End Add Button -->
                                        
                                    </div>
                                </form>
                                <!-- End Screens greater than xs -->

                                <!-- XS Screens -->
                                <form class="form-inline hidden-sm hidden-md hidden-lg" role="form">
                                    <div class="form-group" style="width: 100%;">
                                    <input class="form-control arches-form-input" id="resource-name" style="width: 100%;" placeholder="value" data-bind='value: getEditedNode("URL.E51", "value")'>    
                                    <!-- Spacer (for xs screens) -->
                                    <div class="margin-top-5"></div>
                                        <div class="form-group datetimepicker" style = "width: 100%;" >
                                            <div class="input-group">
                                                <input name="mydate" id="date" placeholder='{% trans "Access date" %}' class="form-control datepicker" data-date-format="YYYY-MM-DD" data-bind="{value: getEditedNode('URL_ACCESS_DATE.E50', 'value')} ">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                
                                            </div>
                                        </div>              
                                    <!-- Spacer (for xs screens) -->
                                    <div class="margin-top-5"></div>
                                    
                                    {% include 'views/components/add-item-button.htm' %} 
                                        
                                    </div>
                                </form>
                                <!-- End XS Screens -->

                            </div>
                        </div>
                    </dd>
                    <!-- End Form -->
                </dl>

            </div>
        </div>
    </div>
    <!-- End Overall Designation CRUD Form Container -->

    <!-- Designation Records -->
    <div class="row">
        <div class="col-xs-12">

            <!-- Address -->
            <div class="arches-crud-child-section">

               <dl>
                    <dd class="arches-CRUD-child-title">
                        {% trans "This resource has the following URLs:" %}
                    </dd>

                    <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                        <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue">{% trans "No URLs defined" %}</div>   

                        <div data-bind='foreach: getBranchLists()'>
                            <div class="arches-crud-record">
                                <a href="javascript:void(0)" class="arches-CRUD-child" title="{% trans "Delete this URL"%}"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind="click: $parent.editItem.bind($parent)" title="{% trans "Edit this URL" %}">

                                    <span data-bind='text: nodes.get("URL.E51", "value")' style="padding-right:2px;"></span><span class="text-muted arches-crud-type-identifier">({% trans "URL" %})</span>
                                    <span data-bind='text: nodes.get("URL_ACCESS_DATE.E50", "value")'></span><span class="text-muted arches-crud-type-identifier">({% trans "Date of access" %})</span>
                                </a>
                            </div>
                        </div>
                    </dd>

                </dl>

            </div>
        </div>
    </div>
</div>
<!-- END CRUDs -->
{% endblock form_content %}