{% extends "views/forms/base.htm" %}
{% load i18n %}

{% block form_content %}
<!-- Resource Type CRUD Form -->
<hr class="divider arches-RDM-divider">

<div id="site_ID-section">
    <!-- Name CRUD Form -->
    <div class="row">
        <div class="col-xs-12">
            <div class="padding-left-10">
                
                <dl>
                    <!-- Title -->
                    <dt>
                        <h5 id="arches-names-form" class="section-headline">{% trans "Resource ID" %}</h5>
                    </dt>
                    
                    <!-- Form -->
                    <dd>
                        <div class="row">
                            
                            <div class="col-xs-12 hidden-xs">
                                
                                <input class="form-control arches-form-input" id="resource-name" style="width: 18%;" placeholder='{% trans "Resource ID" %}' data-bind='value: getEditedNode("SITE_ID.E42", "value")'>
                                    
                                    
                                    {% include 'views/components/add-item-button.htm' %}
                                    
                                    </div>
                            
                            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                                
                                <input class="form-control arches-form-input" id="resource-name" style="width: 33%;" placeholder='{% trans "Resource ID" %}' data-bind='value: getEditedNode("SITE_ID.E42", "value")'>
                                    <div class="margin-top-5"></div>
                                    >
                                    
                                    <!-- Spacer (for xs screens) -->
                                    <div class="margin-top-5"></div>
                                    
                                    {% include 'views/components/add-item-button.htm' %}
                                    
                                    </div>
                            
                            
                        </div>
                    </dd>
                    <!-- End Form -->
                    
  
                </dl>
                
            </div>
        </div>
    </div>
    <!-- End Name CRUD Form Container -->
    
    <!-- Name Records -->
    <div class="row">
        <div class="col-xs-12">
            
            <!--  -->
            <div class="arches-crud-child-section">
                <dl>
                    <dd class="arches-CRUD-child-title">
                        {% trans "This resource has the following ID code:" %}
                    </dd>
                    
                    <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                        <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue">{% trans "No ID Defined" %}</div>
                        
                        <div data-bind='foreach: getBranchLists()'>
                            <div class="arches-crud-record">
                                <a href="javascript:void(0)" class="arches-CRUD-child" title="{% trans "Delete this name" %}"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind="click: $parent.editItem.bind($parent)" title="{% trans "Edit this name" %}"><span data-bind='text: nodes.get("SITE_ID.E42", "value")' style="padding-right:2px;"></span><span class="text-muted arches-crud-type-identifier"></span>
                                </a>
                            </div>
                        </div>
                    </dd>
                    
                </dl>
            </div>
        </div>
    </div>
    <!-- End Name Records -->

</div>

<div id="names-section">
    <!-- Name CRUD Form -->
    <div class="row">
        <div class="col-xs-12">
            <div class="padding-left-10">
                
                <dl>
                    <!-- Title -->
                    <dt>
                        <h5 id="arches-names-form" class="section-headline">{% trans "Resource Name(s)" %}</h5>
                    </dt>

                    <!-- Form -->
                    <dd>
                        <div class="row">

                            <div class="col-xs-12 hidden-xs">
                                        
                                <input class="form-control arches-form-input" id="resource-name" style="width: 33%;" placeholder='{% trans "Name" %}' data-bind='value: getEditedNode("NAME.E41", "value")'>
                                <input style="width:18%; padding-top: 2px;" class="select2 arches-select2-crud-form name-type hidden-xs" id="resource-name-type" data-bind="select2: {value: getEditedNode('NAME_TYPE.E55', 'value'), placeholder: '{% trans "Type" %}', dataKey: 'NAME_TYPE.E55'}"></input>

                                {% include 'views/components/add-item-button.htm' %}

                            </div>

                            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">

                                <input class="form-control arches-form-input" id="resource-name" style="width: 100%;" placeholder='{% trans "Name" %}' data-bind='value: getEditedNode("NAME.E41", "value")'>
                                <div class="margin-top-5"></div>
                                
                                <input style="width:100%; height: 36px; padding-top: 2px;" class="select2 arches-select2-crud-form name-type" id="resource-name-type" data-bind="select2: {value: getEditedNode('NAME_TYPE.E55', 'value'), placeholder: '{% trans "Type" %}', dataKey: 'NAME_TYPE.E55'}"></input>

                                <!-- Spacer (for xs screens) -->
                                <div class="margin-top-5"></div>

                                {% include 'views/components/add-item-button.htm' %}

                            </div>


                        </div>
                    </dd>
                    <!-- End Form -->

                    <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "The name value must be populated. A resource can only have one primary name." %}</div>
                </dl>

            </div>
        </div>
    </div>
    <!-- End Name CRUD Form Container -->

    <!-- Name Records -->
    <div class="row">
        <div class="col-xs-12">

            <!--  -->
            <div class="arches-crud-child-section">
                <dl>
                    <dd class="arches-CRUD-child-title">
                        {% trans "This resource has these names:" %}
                    </dd>

                    <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                        <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue">{% trans "No Names Defined" %}</div>   

                        <div data-bind='foreach: getBranchLists()'>
                            <div class="arches-crud-record">
                                <a href="javascript:void(0)" class="arches-CRUD-child" title="{% trans "Delete this name" %}"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind="click: $parent.editItem.bind($parent)" title="{% trans "Edit this name" %}"><span data-bind='text: nodes.get("NAME.E41", "value")' style="padding-right:2px;"></span><span class="text-muted arches-crud-type-identifier">(<span data-bind='text: nodes.get("NAME_TYPE.E55", "label")'></span>)</span>
                                </a>
                            </div>
                        </div>
                    </dd>

                </dl>
            </div>
        </div>
    </div>
    <!-- End Name Records -->
</div>

<div id="subjects-section">
    <div class="row">
        <div class="col-xs-12">
            <div class="padding-left-10">
                
                <dl>
                    <!-- Title -->
                    <dt>
                        <h5 id="arches-measurement-form" class="section-headline">{% trans "Site Function" %}</h5>
                    </dt>
                    <!-- Form -->
                    <dd>
                        <div class="row">

                            <div class="col-xs-12">

                                <!-- Measurement Type -->   
                                <input style="width:33%; display:inline-block;" class="select2 arches-select2-crud-form name-type hidden-xs" id="resource-measurement-type" type="text" data-placeholder= "{% trans 'Type' %}" data-bind="select2: {value: getEditedNode('SITE_FUNCTION_TYPE.E55', 'value'),   allowClear: true, dataKey: 'SITE_FUNCTION_TYPE.E55'}"></input>&nbsp;

                                <!-- Measurement Unit -->     
                                <input style="width:18%; display:inline-block;" class="select2 arches-select2-crud-form name-type hidden-xs" id="resource-measurement-unit" data-bind="select2: {value: getEditedNode('SITE_FUNCTION_CERTAINTY_TYPE.E55', 'value'), placeholder: '{% trans "Certainty" %}', dataKey: 'SITE_FUNCTION_CERTAINTY_TYPE.E55'}"></input>&nbsp;
                            
                                {% include 'views/components/add-item-button.htm' %}

                            </div>
                        </div>
                    </dd>
                    <!-- End Form -->

                    <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "Certainty required." %}</div>
                </dl>

            </div>
        </div>
    </div>
    <!-- Name Records -->
    <div class="row">
        <div class="col-xs-12">

            <!-- Address -->
            <div class="arches-crud-child-section">
                <dl>
                    <dd class="arches-CRUD-child-title">
                        {% trans "This resource has these functions:" %}
                    </dd>

                    <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                        <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue">{% trans "No Function Defined" %}</div>
                        
                        <div data-bind='foreach: getBranchLists()'>
                            <div class="arches-crud-record">
                            
                                <a href="javascript:void(0)" class="arches-CRUD-child" title="{% trans "Delete this measurement" %}"><i data-bind='click: $parent.deleteItem.bind($parent)' class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind='click: $parent.editItem.bind($parent)' title="Edit this measurement"><span data-bind="{text: nodes.get('SITE_FUNCTION_TYPE.E55', 'label')}" style="padding-right:2px"></span><span class="text-muted arches-crud-type-identifier">(<span data-bind="{text: nodes.get('SITE_FUNCTION_CERTAINTY_TYPE.E55', 'label')}"></span>)</span>
                                </a>
                            </div>
                        </div>

                </dd>

                </dl>
            </div>
        </div>
    </div>
</div>




<div id="sitemorph-section">
    <!-- Modifications CRUD Form -->
    <div class="row">
        <div class="col-xs-12">
            <div class="padding-left-10">
                
                <dl>
                    <!-- Title -->
                    <dt>
                        <h5 id="arches-subjects-form" class="section-headline">{% trans "Overall Site Morphology" %}</h5>
                    </dt>
                    
                    <!-- Form -->
                    <dd>
                        <div class="row">
                            <div class="col-xs-12">
                                <input style="width:33%; height: 36px; padding-top: 2px;" class="select2 arches-select2-crud-form resource-type hidden-xs" id="culturalp-dropdown" placeholder="{% trans 'Morphology' %}" data-bind="select2: {value: getEditedNode('SITE_MORPHOLOGY_TYPE.E55', 'value'), dataKey: 'SITE_MORPHOLOGY_TYPE.E55'}"></input>
                                
                                <input style="width:33%; height: 36px; padding-top: 2px;" class="select2 arches-select2-crud-form resource-type  hidden-sm hidden-md hidden-lg" id="culperiod-dropdown" placeholder= "{% trans 'Morphology' %}" data-bind="select2: {value: getEditedNode('SITE_MORPHOLOGY_TYPE.E55', 'value'), dataKey: 'SITE_MORPHOLOGY_TYPE.E55'}"></input>
                                
                                <!-- Spacer (for xs screens) -->
                                <div class="margin-top-5 hidden-sm hidden-md hidden-lg"></div>
                                
                                {% include 'views/components/add-item-button.htm' %}
                            </div>
                        </div>
                    </dd>
                    <!-- End Form -->
                    <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "The keyword must be populated." %}</div>
                </dl>
                
            </div>
        </div>
    </div>
    <!-- End Subjet CRUD -->
    
    <!-- Subject Records -->
    <div class="row">
        <div class="col-xs-12">
            
            <!--  -->
            <div class="arches-crud-child-section">
                <dl>
                    <dd class="arches-CRUD-child-title">
                        
                        {% trans " " %}
                    </dd>
                    <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                        <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue">{% trans "No Certainty Defined" %}</div>
                        
                        <div data-bind='foreach: getBranchLists()'>
                            <div class="arches-crud-record">
                                <a href="javascript:void(0)" class="arches-CRUD-child" title="{% trans "Delete this keyword" %}"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind="click: $parent.editItem.bind($parent)" title="{% trans "Edit this keyword" %}"><span data-bind='{text: nodes.get("SITE_MORPHOLOGY_TYPE.E55", "label")}' style="padding-right:2px;"></span>
                                </a>
                            </div>
                        </div>
                    </dd>
                    
                </dl>
                
            </div>
        </div>
    </div>
    
</div>

<div id="siteshape-section">
    <!-- Modifications CRUD Form -->
    <div class="row">
        <div class="col-xs-12">
            <div class="padding-left-10">
                
                <dl>
                    <!-- Title -->
                    <dt>
                        <h5 id="arches-subjects-form" class="section-headline">{% trans "Overall Site Shape" %}</h5>
                    </dt>
                    
                    <!-- Form -->
                    <dd>
                        <div class="row">
                            <div class="col-xs-12">
                                <input style="width:33%; height: 36px; padding-top: 2px;" class="select2 arches-select2-crud-form resource-type hidden-xs" id="culturalp-dropdown" placeholder="{% trans 'Shape' %}" data-bind="select2: {value: getEditedNode('SITE_OVERALL_SHAPE_TYPE.E55', 'value'), dataKey: 'SITE_OVERALL_SHAPE_TYPE.E55'}"></input>
                                
                                <input style="width:33%; height: 36px; padding-top: 2px;" class="select2 arches-select2-crud-form resource-type  hidden-sm hidden-md hidden-lg" id="culperiod-dropdown" placeholder= "{% trans 'Shape' %}" data-bind="select2: {value: getEditedNode('SITE_OVERALL_SHAPE_TYPE.E55', 'value'), dataKey: 'SITE_OVERALL_SHAPE_TYPE.E55'}"></input>
                                
                                <!-- Spacer (for xs screens) -->
                                <div class="margin-top-5 hidden-sm hidden-md hidden-lg"></div>
                                
                                {% include 'views/components/add-item-button.htm' %}
                            </div>
                        </div>
                    </dd>
                    <!-- End Form -->
                    <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "The keyword must be populated." %}</div>
                </dl>
                
            </div>
        </div>
    </div>
    <!-- End Subjet CRUD -->
    
    <!-- Subject Records -->
    <div class="row">
        <div class="col-xs-12">
            
            <!--  -->
            <div class="arches-crud-child-section">
                <dl>
                    <dd class="arches-CRUD-child-title">
                        
                        {% trans " " %}
                    </dd>
                    <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                        <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue">{% trans "No Certainty Defined" %}</div>
                        
                        <div data-bind='foreach: getBranchLists()'>
                            <div class="arches-crud-record">
                                <a href="javascript:void(0)" class="arches-CRUD-child" title="{% trans "Delete this keyword" %}"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind="click: $parent.editItem.bind($parent)" title="{% trans "Edit this keyword" %}"><span data-bind='{text: nodes.get("SITE_OVERALL_SHAPE_TYPE.E55", "label")}' style="padding-right:2px;"></span>
                                </a>
                            </div>
                        </div>
                    </dd>
                    
                </dl>
                
            </div>
        </div>
    </div>
    
</div>


<div id="overall-certainty-section">
    <!-- Modifications CRUD Form -->
    <div class="row">
        <div class="col-xs-12">
            <div class="padding-left-10">
                
                <dl>
                    <!-- Title -->
                    <dt>
                        <h5 id="arches-subjects-form" class="section-headline">{% trans "Overall Site Certainty" %}</h5>
                    </dt>
                    
                    <!-- Form -->
                    <dd>
                        <div class="row">
                            <div class="col-xs-12">
                                <input style="width:33%; height: 36px; padding-top: 2px;" class="select2 arches-select2-crud-form resource-type hidden-xs" id="overall-dropdown" placeholder="{% trans 'Certainty' %}" data-bind="select2: {value: getEditedNode('SITE_OVERALL_ARCHAEOLOGICAL_CERTAINTY_TYPE.E55', 'value'), dataKey: 'SITE_OVERALL_ARCHAEOLOGICAL_CERTAINTY_TYPE.E55'}"></input>
                            
                                <input style="width:33%; height: 36px; padding-top: 2px;" class="select2 arches-select2-crud-form resource-type  hidden-sm hidden-md hidden-lg" id="overall-dropdown" placeholder= "{% trans 'Certainty' %}" data-bind="select2: {value: getEditedNode('SITE_OVERALL_ARCHAEOLOGICAL_CERTAINTY_TYPE.E55', 'value'), dataKey: 'SITE_OVERALL_ARCHAEOLOGICAL_CERTAINTY_TYPE.E55'}"></input>
                                
                                <!-- Spacer (for xs screens) -->
                                <div class="margin-top-5 hidden-sm hidden-md hidden-lg"></div>
                                
                                {% include 'views/components/add-item-button.htm' %}
                            </div>
                        </div>
                    </dd>
                    <!-- End Form -->
                    <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "The keyword must be populated." %}</div>
                </dl>
                
            </div>
        </div>
    </div>
    <!-- End Subjet CRUD -->
    
    <!-- Subject Records -->
    <div class="row">
        <div class="col-xs-12">
            
            <!--  -->
            <div class="arches-crud-child-section">
                <dl>
                    <dd class="arches-CRUD-child-title">
                        {% trans "Degree of certainty that this is a cultural heritage resource:" %}
                    </dd>
                    <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                        <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue">{% trans "No Certainty Defined" %}</div>
                        
                        <div data-bind='foreach: getBranchLists()'>
                            <div class="arches-crud-record">
                                <a href="javascript:void(0)" class="arches-CRUD-child" title="{% trans "Delete this keyword" %}"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind="click: $parent.editItem.bind($parent)" title="{% trans "Edit this keyword" %}"><span data-bind='{text: nodes.get("SITE_OVERALL_ARCHAEOLOGICAL_CERTAINTY_TYPE.E55", "label")}' style="padding-right:2px;"></span>
                                </a>
                            </div>
                        </div>
                    </dd>
                    
                </dl>
                
            </div>
        </div>
    </div>
    
</div>

<div id="culturalperiod-section">
    <div class="row">
        <div class="col-xs-12">
            <div class="padding-left-10">
                
                <dl>
                    <!-- Title -->
                    <dt>
                        <h5 id="arches-measurement-form" class="section-headline">{% trans "Cultural Period" %}</h5>
                    </dt>
                    <!-- Form -->
                    <dd>
                        <div class="row">
                            
                            <div class="col-xs-12">
                                
                                <!-- Measurement Type -->
                                <input style="width:50%; display:inline-block;" class="select2 arches-select2-crud-form name-type hidden-xs" id="resource-measurement-type" data-bind="select2: {value: getEditedNode('CULTURAL_PERIOD.E55', 'value'),  placeholder: '{% trans "Period" %}', dataKey: 'CULTURAL_PERIOD.E55'}"></input>&nbsp;
                                
                                <!-- Measurement Unit -->
                                <input style="width:14%; display:inline-block;" class="select2 arches-select2-crud-form name-type hidden-xs" id="resource-measurement-unit" data-bind="select2: {value: getEditedNode('CULTURAL_PERIOD_CERTAINTY_TYPE.E55', 'value'), placeholder: '{% trans "Certainty" %}', dataKey: 'CULTURAL_PERIOD_CERTAINTY_TYPE.E55'}"></input>&nbsp;
                                
                                {% include 'views/components/add-item-button.htm' %}
                                
                            </div>
                        </div>
                    </dd>
                    <!-- End Form -->
                    
                    <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "Certainty required." %}</div>
                </dl>
                
            </div>
        </div>
    </div>
    <!-- Name Records -->
    <div class="row">
        <div class="col-xs-12">
            
            <!-- Address -->
            <div class="arches-crud-child-section">
                <dl>
                    <dd class="arches-CRUD-child-title">
                        {% trans "This resource has these cultural periods assigned:" %}
                    </dd>
                    
                    <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                        <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue">{% trans "No Cultural Period Defined" %}</div>
                        
                        <div data-bind='foreach: getBranchLists()'>
                            <div class="arches-crud-record">
                                <a href="javascript:void(0)" class="arches-CRUD-child" title="{% trans "Delete this measurement" %}"><i data-bind='click: $parent.deleteItem.bind($parent)' class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind='click: $parent.editItem.bind($parent)' title="Edit this measurement"><span data-bind="{text: nodes.get('CULTURAL_PERIOD.E55', 'label')}" style="padding-right:2px"></span><span class="text-muted arches-crud-type-identifier">(<span data-bind="{text: nodes.get('CULTURAL_PERIOD_CERTAINTY_TYPE.E55', 'label')}"></span>)</span>
                                </a>
                            </div>
                        </div>
                    </dd>
                    
                </dl>
            </div>
        </div>
    </div>
</div>

<div id="phase-section">
    <div class="row">
        <div class="col-xs-12">
            <div class="padding-left-10">
                
                <dl>
                    <!-- Title -->
                    <dt>
                        <h5 id="arches-measurement-form" class="section-headline">{% trans "Time-Span Phase(s) " %}</h5>
                    </dt>
                    <!-- Form -->
                    <dd class="arches-RDM-labels">
                        <div class="row">
                            
                            <div class="col-xs-12">
                                
                                <!-- Measurement Type -->
                                <input style="width:16%; display:inline-block;" class="select2 arches-select2-crud-form name-type hidden-xs" id="resource-measurement-type" data-bind="select2: {value: getEditedNode('FROM_DATE.E55', 'value'),  placeholder: '{% trans "From date" %}', dataKey: 'FROM_DATE.E55'}"></input>&nbsp;
                                
                                <!-- Measurement Unit -->
                                <input style="width:16%; display:inline-block;" class="select2 arches-select2-crud-form name-type hidden-xs" id="resource-measurement-unit" data-bind="select2: {value: getEditedNode('TO_DATE.E55', 'value'), placeholder: '{% trans "To date" %}', dataKey: 'TO_DATE.E55'}"></input>&nbsp;
                                
                                {% include 'views/components/add-item-button.htm' %}
                            
                            </div>
                     </dd>
                    <!-- End Form -->
                    <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "From and To dates required." %}</div>
                    
                </dl>
                
            </div>
        </div>
    </div>
    <!-- Name Records -->
    <div class="row">
        <div class="col-xs-12">
            
            <!-- Address -->
            <div class="arches-crud-child-section">
                <dl>
                    <dd class="arches-CRUD-child-title">
                        {% trans "Time Span Phase(s):" %}
                    </dd>
                    
                    <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                        <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue">{% trans "No Phases Defined" %}</div>
                        
                        <div data-bind='foreach: getBranchLists()'>
                            <div class="arches-crud-record">
                                <a href="javascript:void(0)" class="arches-CRUD-child" title="{% trans "Delete this measurement" %}"><i data-bind='click: $parent.deleteItem.bind($parent)' class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind='click: $parent.editItem.bind($parent)' title="Edit this measurement">
                                   <span data-bind="{text: nodes.get('FROM_DATE.E55', 'label')}" style="padding-right:2px"></span><span class="text-muted arches-crud-type-identifier"> ({% trans "from date" %})</span>
                                    <span data-bind="{text: nodes.get('TO_DATE.E55', 'label')}" style="padding-right:2px"></span><span class="text-muted arches-crud-type-identifier"> ({% trans "to date" %})</span>
                                </a>
                            </div>
                        </div>
                    </dd>
                    
                </dl>
            </div>
        </div>
    </div>
</div>

<hr class="devider arches-RDM-divider">

<div id="assessment-section">
    <!-- Name CRUD Form -->
    <div class="row">
        <div class="col-xs-12">
            <div class="padding-left-10">
                
                <dl>
                    <!-- Title -->
                    <dt>
                        <h5 id="arches-names-form" class="section-headline">{% trans "Resource Assessor Name, Assessment Type and Date" %}</h5>
                    </dt>
                    
                    <!-- Form -->
                    <dd>
                        <div class="row">
                            
                            <div class="col-xs-12 hidden-xs">
                                
                              <input style="width:20%; padding-top: 2px;" class="select2 arches-select2-crud-form name-type hidden-xs" id="resource-name-type" data-bind="select2: {value: getEditedNode('ASSESSOR_NAME_TYPE.E55', 'value'), placeholder: '{% trans "Assessor name" %}', dataKey: 'ASSESSOR_NAME_TYPE.E55'}">&nbsp;
                             <input style="width:20%; padding-top: 2px;" class="select2 arches-select2-crud-form name-type hidden-xs" id="resource-name-type" data-bind="select2: {value: getEditedNode('ASSESSMENT_TYPE.E55', 'value'), placeholder: '{% trans "Assessment Type" %}', dataKey: 'ASSESSMENT_TYPE.E55'}">&nbsp;
        
                            
                            <div class="form-group datetimepicker" style="width:25%;">
                                <div class="input-group">
                                    <input type="text" name="mydate" id="date" placeholder='{% trans "Date (yyyy-mm-dd)" %}' class="form-control datepicker" data-date-format="YYYY-MM-DD" data-bind="{value: getEditedNode('DATE_RESOURCE_ASSESSED.E49', 'value')} ">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            
                        {% include 'views/components/add-item-button.htm' %}
                            
                            
     
                        </div>
                    </dd>
                    <!-- End Form -->
                    
                    <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "The name type and date fields must all be populated." %}</div>
                </dl>
                
            </div>
        </div>
    </div>
    <!-- Name Records -->
    <div class="row">
        <div class="col-xs-12">

            <!--  -->
            <div class="arches-crud-child-section">
                <dl>
                    <dd class="arches-CRUD-child-title">
                        {% trans "This resource has been assessed by :" %}
                    </dd>

                    <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                        <div data-bind="visible: getBranchLists().length == 0" class="txt-color-blue">{% trans "No Assessment Details Provided" %}</div>

                        <div data-bind='foreach: getBranchLists()'>
                            <div class="arches-crud-record">
                                <a href="javascript:void(0)" class="arches-CRUD-child" title="{% trans "Delete this name" %}"><i data-bind="click: $parent.deleteItem.bind($parent)" class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind="click: $parent.editItem.bind($parent)" title="{% trans "Edit this name" %}"><span data-bind="text: nodes.get('ASSESSOR_NAME_TYPE.E55', 'label')" style="padding-right:2px;"></span><span class="text-muted arches-crud-type-identifier" style="padding-right:2px">({% trans "Assessor" %})</span><span data-bind="text: nodes.get('ASSESSMENT_TYPE.E55', 'label')" style="padding-right:2px"></span><span class="text-muted arches-crud-type-identifier" style="padding-right:2px">({% trans "Type" %})</span><span data-bind="{text: nodes.get('DATE_RESOURCE_ASSESSED.E49', 'value')}" style="padding-right:2px"></span><span class="text-muted arches-crud-type-identifier">({% trans "Date of Assessment" %})</span>

                                </a>
                            </div>
                        </div>
                    </dd>

                </dl>
            </div>
        </div>
    </div>
    <!-- End Name Records -->

</div>

 {% include 'views/forms/sections/SaveEditsFooter.htm' %}

{% endblock form_content %}