body {
    overflow-x: hidden;
    @include break-at(small-desktop) {
        overflow-x: auto;
    }
}

#container {
    height: 100vh;
    @include break-at(small-desktop-max) {
        height: auto;
    }
}

.ep-help,
.ep-notifs {
    width: 100%;
    @include break-at(small-desktop) {
        width: 40vw;
    }
}

.form-control,
.dropdown-menu,
.btn,
.chosen-container,
.jstree-container-ul,
.popover {
    font-size: 1.3rem;
}
