{% extends 'base-front.htm' %}

{% block main_content %}

    {% include 'partials/index/slider.html' %}
    {% include 'partials/index/about.html' %}
    {% include 'partials/index/sketchfab_gallery.html' %}
    {% include 'partials/index/background_slider_1.html' %}
    {% include 'partials/index/services.html' %}
    {% include 'partials/index/gdh_in_numbers.html' %}
    {% include 'partials/index/about_team_equipment.html' %}
    {% include 'partials/index/sponsors.html' %}
    
{% endblock main_content %}