{% load staticfiles %}
{% load i18n %}
{% load template_tags %}
<div id="related-resources-drag-panel" style="height: calc(100vh - 102px);" class="search-container related-resources-container">


    <!-- Target -->
    <!--ko if: openEditor() === false -->
    <div id="rr-manager-content-id" class="rr-drag-panel-target">

        <div id="rr-splash" class="rr-splash">

            <!-- Image -->
            <div class="img-lg img-circle rr-splash-img-container">
                <!-- <img class="rr-splash-img" src="{% static "/img/Workflow.png" %}" alt="Resource Editor"> -->
                <i class="fa fa-lock"></i>
            </div>

            <!-- Splash Title -->
            <div class="rr-splash-title">{% trans "Resource Instance Permissions" %}</div>


            <button class="btn btn-shim btn-rr btn-labeled btn-lg fa fa-link" data-bind="click: function(){makeInstancePrivate()}">{% trans 'Restrict Access to this Instance' %}</button>

            <!-- Splash Instructions -->
            <div class="rr-splash-description">{% trans "Make this instance accessible only to the creator of this instance, or select which user accounts and groups have access" %}</div>

            <!-- Help Hyperlink -->
        </div>
    </div>
    <!--/ko-->
    <!--ko if: openEditor() -->
        <div class="permission-grid">
            <div class="permission-header">
                <h4>{% trans 'Set Permissions for this instance' %}</h4>
                <h5>{% trans 'By default everyone has access to this record. You can limit access to specific people or groups by selecting to whom you will grant access' %}</h5>
            </div>
            <div class="permission-control">
                <div style="display:inline-flex; justify-content: space-between;">
                <button type="button" class="btn btn-md btn-success"><i class="fa fa-check-circle"></i> {% trans 'Add New Person/Group' %}</button>
                <div style="width: 200px; padding-left: 12px">
                    <input style="display:inline-block;"
                        data-bind="select2Query: {
                        select2Config: {
                            clickBubble: true,
                            disabled: false,
                            data: identities,
                            value: selectedIdentities,
                            allowClear: false,
                            multiple: true,
                            placeholder: {% trans "'Users or Groups'" %}}}">
                    </div>
                </div>
            </div>
            <div class="permission-list" data-bind="text: JSON.stringify(instancePermissions(), null, 4)"></div>
            <div class="permission-footer"></div>
        </div>

    
    <!--/ko-->
</div>
