<!DOCTYPE html>
<html lang="en">

<head>
    <style>
    </style>
</head>

<body style="width: 400px;">

    <p>{% blocktrans %}{{saluation}} {{user.first_name}}{% endblocktrans %},</p>

    <p>{% blocktrans %}You are receiving this email because you requested a password reset for your user account at {{
        app_title }}.{% endblocktrans %}</p>

    <p>{% blocktrans %}Please go to the following page and choose a new password:{% endblocktrans %}

    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{% blocktrans
            %}Reset Password{% endblocktrans %}</a></p>
    </p>


</body>

</html>