{% load static %}
{% load template_tags %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <style>
    </style>
</head>

<body style="width: 400px;">

    <p>{% blocktrans %}{{saluation}} {{user.first_name}}{% endblocktrans %},</p>

    <p>{% blocktrans %}You are receiving this email because you requested a password reset for your user account at {{site_name }}.{% endblocktrans %}</p>

    <p>{% blocktrans %}Please go to the following page and choose a new password:{% endblocktrans %}</p>

    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{% blocktrans%}Reset Password{% endblocktrans %}</a></p>
    
    <p>{% blocktrans %}Your username, in case you've forgotten:"{% endblocktrans %} {{ user.get_username }}</p>

    <p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>


</body>

</html>