{% extends "registration/base.html" %}{% load i18n %}
{% load template_tags %}
{% block content %}
{% if validlink %}
	<main>
		<h1 class="login-panel-header arches-signin">{% trans "Reset Password" %}</h1>
		<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

		<form method="post" class="password-reset-form">
			{% csrf_token %}
			<div class="form-group">
				<label class="reqlabel control-label widget-input-label" for="id_new_password1"><span class="fa fa-asterisk reqfield"></span> New Password</label>
				<div class="input-group">
					<div class="input-group-addon"><i class="text-lg ion-log-in"></i></div>
					{{ form.new_password1.errors }}
					{{ form.new_password1 }}
				</div>
			</div>
			<div class="form-group">
				<label class="reqlabel control-label widget-input-label" for="id_new_password2"><span class="fa fa-asterisk reqfield"></span> Confirm New Password</label>
				<div class="input-group">
					<div class="input-group-addon"><i class="text-lg ion-log-in"></i></div>
					{{ form.new_password2.errors }}
					{{ form.new_password2 }}
				</div>
			</div>
			<div class="arches-signin-btn">
				<a class="btn btn-link" href="{% url 'home' %}" style="color:#C93011;">{% trans "Exit" %}</a>
				<button class="btn btn-success text-uppercase" type="submit">{% trans "Set new password" %}</button>
			</div>
			<div>
				<span class="fa fa-asterisk reqfield reqtxt"></span> indicates a required field
			</div>
		</form>
	</main>
{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}
{% endblock %}
