{% load i18n %}
<!-- Card Container CRUD -->
<div id="ep-card-container-crud">

    <div id="card-container-configuration">
        {% include 'views/graph/card-configuration/component-forms/card-container-configuration.htm' %}
    </div>

    <div class="panel ep-card-crud-panel relative" style="display: none;">
    
        <!-- Title Block -->
        <div class="library-title-block">
            <div class="">
                <h4 class="title-block-title" style=""> Card Manager </h4>
            </div>

            <!-- Panel Tools -->
            <div class="library-tools">
                <i id="card-crud-settings" class="ion-settings add-tooltip library-tools-icon active" data-placement="bottom" data-toggle="tooltip" data-original-title="Settings"></i>
                <i id="card-crud-advanced" class="ion-ios-gear add-tooltip library-tools-icon" data-placement="bottom" data-toggle="tooltip" data-original-title="Advanced Settings"></i>
                <i id="card-crud-validation" class="ion-wand add-tooltip library-tools-icon" data-placement="bottom" data-toggle="tooltip" data-original-title="Validations"></i>
                <i id="card-crud-permissions" class="ion-ios-people add-tooltip library-tools-icon" data-placement="bottom" data-toggle="tooltip" data-original-title="Permissions"></i>
                <i id="card-crud-help" class="ion-ios-help add-tooltip library-tools-icon" data-placement="bottom" data-toggle="tooltip" data-original-title="Help Text"></i>
            </div>
        </div>

        <!-- Card Container Base Settings Form -->
        <div id="ep-card-crud-settings" class="library-crud-container card-crud" style="display:none">
            
            <!-- Card Container Settings -->
            <div id="" class="" style="padding-bottom: 5px;">

                <!-- Card Container Name -->
                <div class="node-widget-label" style="">
                    <div class="control-label">
                        Card Tab Title
                    </div>
                    <div class="col-sm-12 pad-no crud-widget-container">
                        <input type="" placeholder="Card name" id="" class="form-control input-md widget-input" value="Addresses">
                    </div>

                    <!-- Card Instructions -->
                    <div class="node-widget-label" style="">
                        <div class="control-label">
                            Instructions
                        </div>
                        <div class="col-sm-12" style="padding: 0px 15px 15px 0px;">
                            <textarea placeholder="Enter the resource address" rows="4" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>    
        </div>

        <!-- Card CRUD Validation/Functions Form -->
        <div id="ep-card-crud-validation" class="library-crud-container card-crud" style="display: none;">
            <div id="" class="">

                <!-- Card Container Settings -->
                <div id="" class="" style="padding-bottom: 5px;">

                    <!-- Card Container Name -->
                    <div class="node-widget-label" style="">
                        <div class="control-label">
                            Validation Functions
                        </div>
                        <div class="col-xs-12 pad-no crud-widget-container">
                            <select id="" class="resources" style="" multiple data-placeholder="Choose a Function..." tabindex="4">
                                <option value="r1">Name is required</option>
                                <option value="r2">Address is required</option>
                                <option value="r3">Spatial Coordindates are required</option>
                            </select>    
                        </div>
                    </div>
                </div>

                <div id="" class="" style="padding-bottom: 5px;">
                    <div class="node-widget-label" style="">
                        <div class="control-label">
                            Processing Functions
                        </div>
                        <div class="col-xs-12 pad-no crud-widget-container">
                            <select id="" class="resources" style="" multiple data-placeholder="Choose a Function..." tabindex="4">
                                <option value="r1">Find Admin Area</option>
                                <option value="r2">Geocode Address</option>
                            </select>    
                        </div>
                    </div>   
                </div>
            </div>
        </div>

        <!-- Card CRUD Permissions Form -->
        <div id="ep-card-crud-permissions" class="library-crud-container card-crud" style="display: none;">
            <div id="" class="">

                <!-- Card Container Settings -->
                <div id="" class="" style="padding-bottom: 5px; margin-top: -14px; margin-left: -7px;">

                    <!-- Group/User Grid -->
                    <div id="user-grid" class="grid" style="">

                        <!-- Card -->                                   
                        <div id="all" class="library-card permissions all library-card-wide">
                            <div class="library-icon" style="">
                                <span class="icon-wrap icon-wrap-sm icon-circle bg-purple"><i class="fa fa-group"></i></span>
                            </div>
                            <div class="library-card-main" style="">
                                <a id="" class="" style="" href="#">
                                    All accounts
                                </a>
                            </div>
                            <div class="library-card-subtitle none" style="">
                                Permission: ---
                            </div>
                        </div>
                    
                        <!-- Card -->                                   
                        <div class="library-card permissions library-card-wide" style="">
                            <div class="library-icon" style="">
                                <span class="icon-wrap icon-wrap-sm icon-circle bg-purple"><i class="fa fa-group"></i></span>
                            </div>
                            <div class="library-card-main" style="">
                                <a id="" class="" style="" href="#">
                                    Guest
                                </a>
                            </div>
                            <div class="library-card-subtitle text-muted full" style="">
                                N - No Access
                            </div>
                        </div>

                        <!-- Card -->                                   
                        <div class="library-card permissions library-card-wide">
                            <div class="library-icon" style="">
                                <span class="icon-wrap icon-wrap-sm icon-circle bg-purple"><i class="fa fa-group"></i></span>
                            </div>
                            <div class="library-card-main" style="">
                                <a id="" class="" style="" href="#">
                                    Crowd Source
                                </a>
                            </div>
                            <div class="library-card-subtitle full" style="">
                                RW - Read/Write
                            </div>
                        </div>

                        <!-- Card -->                                   
                        <div class="library-card permissions library-card-wide">
                            <div class="library-icon" style="">
                                <span class="icon-wrap icon-wrap-sm icon-circle bg-purple"><i class="fa fa-group"></i></span>
                            </div>
                            <div class="library-card-main" style="">
                                <a id="" class="" style="" href="#">
                                    Editor
                                </a>
                            </div>
                            <div class="library-card-subtitle full" style="">
                                F -Full Access
                            </div>
                        </div>

                        <!-- Card -->                                   
                        <div class="library-card permissions library-card-wide">
                            <div class="library-icon" style="">
                                <span class="icon-wrap icon-wrap-sm icon-circle bg-purple"><i class="fa fa-group"></i></span>
                            </div>
                            <div class="library-card-main" style="">
                                <a id="" class="" style="" href="#">
                                    RDM Admin
                                </a>
                            </div>
                            <div class="library-card-subtitle read" style="">
                                R -Read Only
                            </div>
                        </div>

                        <!-- Card -->                                   
                        <div class="library-card permissions library-card-wide">
                            <div class="library-icon" style="">
                                <span class="icon-wrap icon-wrap-sm icon-circle bg-mint"><i class="fa fa-user"></i></span>
                            </div>
                            <div class="library-card-main" style="">
                                <a id="" class="" style="" href="#">
                                    rgaston@realsuperuser.com
                                </a>
                            </div>
                            <div class="library-card-subtitle full" style="">
                                F - Full Access
                            </div>
                        </div>

                        <!-- Card -->                                   
                        <div class="library-card permissions library-card-wide">
                            <div class="library-icon" style="">
                                <span class="icon-wrap icon-wrap-sm icon-circle bg-mint"><i class="fa fa-user"></i></span>
                            </div>
                            <div class="library-card-main" style="">
                                <a id="" class="" style="" href="#">
                                    adalgity@gci.edu
                                </a>
                            </div>
                            <div class="library-card-subtitle delete" style="">
                                D - Delete
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- Card CRUD ADVANCED SETTINGS Form -->
        <div id="ep-card-crud-advanced" class="library-crud-container card-crud" style="display: none;">

            <!-- Enable help -->
            <div class="toggle-container">
                <input id="card-cardinality" class="arches-switch" type="checkbox" data-switchery="true" style="display: none;">
                <p class="arches-toggle-sm">
                    Allow multiple values
                </p>
                <span class="arches-toggle-subtitle">
                    Let users enter multiple values for this data entry card
                </span>
            </div>

            <!-- Multiple values tools -->
            <div class="cardinality-form" style="display: none;">

                <div class="form-divider" style="margin-top: 0px; margin-bottom: 10px;"></div>

                <!-- Cardinlity Tools: add button -->
                <div class="node-widget-label" style="">
                    <div class="control-label">
                        Save Button Text
                    </div>
                    <div class="col-sm-12 pad-no crud-widget-container">
                        <input type="" placeholder="Card name" id="" class="form-control input-md widget-input" value="Add">
                    </div>
                </div>

                <!-- Cardinlity Tools: Tile Header -->
                <div class="node-widget-label" style="">
                    <div class="control-label">
                        Tile Name
                    </div>
                    <div class="col-sm-12 pad-no crud-widget-container">
                        <input type="" placeholder="Tile name" id="" class="form-control input-md widget-input" value="[Address], [Address Type]">
                    </div>
                </div>
            </div>
        </div>

        <!-- Card CRUD HELP Form -->
        <div id="ep-card-crud-help" class="library-crud-container card-crud" style="display: none;">

            <!-- Enable help -->
            <div class="toggle-container">
                <input id="enable-card-help" class="arches-switch" type="checkbox" data-switchery="true" style="display: none;">
                <p class="arches-toggle-sm">
                    Enable Card-level help
                </p>
                <span class="arches-toggle-subtitle">
                    Provide specific user guidance for this card
                </span>
            </div>
        </div>
    </div>

    <!-- Tertiary Panel For Card Help Text-->
    <div id="help-text-crud" class="tertiary-panel" style="display: none;">
        <div class="tertiary-panel-content">
            <div class="">
                <h4 class="title-block-title" style=""> Card-Level Help </h4>
            </div>

            <!-- Help CRUD -->
            <div class="pad-all">
                <div class="node-widget-label" style="">
                    <div class="control-label">
                        Help Panel Title
                    </div>
                    <div class="col-sm-12 pad-no crud-widget-container">
                        <input type="" placeholder="Card name" id="" class="form-control input-md widget-input" value="Title">
                    </div>
                </div>

                <!--Summernote-->
                <div class="node-widget-label" style="">
                    <div class="control-label">
                        Help Content
                    </div>
                    <div id="help-editor"></div>
                </div>

                <!-- Preview help -->
                <div class="toggle-container">
                    <input id="preview-card-help" class="arches-switch" type="checkbox" data-switchery="true" style="display: none;">
                    <p class="arches-toggle-sm">
                        Preview Help Panel
                    </p>
                    <span class="arches-toggle-subtitle">
                        Display help panel, confirm content
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Tertiary Panel For Permissions -->
    <div id="permissions-crud" class="tertiary-panel" style="display: none;">
        <div class="tertiary-panel-content">
            <div class="">
                <h4 class="title-block-title" style=""> Card Permissions </h4>
                <div class="relative">
                    <a id="permissions-close" href="" class="library-close-btn fa fa-times fa-lg" style=""></a>
                </div>
                <div id="" class="" style="padding-top: 20px; position: relative;">
                    <p class="library-instructions" style=""> Set permissions for this data entry card.  Update the Groups/User accounts you selected with the following permissions:</p>
                </div>
            </div>
         
            <!-- Premission Selector -->
            <div class="col-sm-12 pad-no node-attribute-label" style="margin-top: 8px;">
                <select class="resources" data-placeholder="" id="permissions" tabindex="0">
                    <option>N - No Access</option>
                    <option>R - Read Only</option>
                    <option>RW -Read/Write</option>
                    <option>D - Delete</option>
                    <option>F - Full Access (read, write, delete)</option>
                </select>

                <div class="" style="margin: 5px 0px 10px 2px;">
                    <label class="form-checkbox form-normal form-primary active form-text"><input type="checkbox" checked=""> Apply permissions to all cards in this group</label>
                </div>

                <button id="apply-permissions" class="btn btn-primary btn btn-block btn-labeled fa fa-plus" style="margin-top: 10px; margin-bottom: 10px;"> Apply permissions</button>
            </div>

            <!-- Premission Key -->
            <div id="confirm-permissions" class="key" style="display: none;">
                
                <h4 class="node-title" style="font-size: 13px;"> Applying F- Full Access permissions: </h4>

                <!-- Alert -->
                <div id="permission-alert" class="panel install-card-alert" style="margin-bottom: 10px;"></div>


                <div id="" class="panel-body" style="padding: 0 10px 10px 10px;">
                    <dl>
                        <dd><i class="fa fa-check"></i> Guests Group updated</dd>
                        <dd><i class="fa fa-check"></i> Crowd Source Group updated</dd>
                        <dd><i class="fa fa-times"></i> rgaston@superuser.com <a id="" class="text-primary permission-alert" href="#">IGNORED</a></dd>
                        <dd><i class="fa fa-check"></i> adalgity@gci.edu updated</dd>
                    </dl>
                </div>
                <div class="" style="">
                    <dt>Permission updates completed!</dt>
                </div>
            </div>
        </div>
    </div>

      <!-- Widget CRUD -->
    <div id="ep-widget-crud" class="ep-card-crud" style="display: none;">
        <div class="panel ep-card-crud-panel relative">
            
            <!-- Title Block -->
            <div class="library-title-block">
                <div class="">
                    <h4 class="title-block-title" style=""> Widget Manager </h4>
                </div>

                <!-- Panel Tools -->
                <div class="library-tools">
                    <i id="widget-settings-btn" class="ion-settings add-tooltip library-tools-icon active" data-placement="bottom" data-toggle="tooltip" data-original-title="Settings"></i>
                    <i id="widget-advanced-btn" class="ion-ios-gear add-tooltip library-tools-icon" data-placement="bottom" data-toggle="tooltip" data-original-title="Advanced Settings"></i>
                    <i id="widget-validation-btn" class="ion-wand add-tooltip library-tools-icon" data-placement="bottom" data-toggle="tooltip" data-original-title="Validations"></i>
                </div>
            </div>

            <!-- Card Container Base Settings Form -->
            <div id="widget-settings" class="library-crud-container" style="">
                
                <!-- Card Container Settings -->
                <div id="" class="" style="padding-bottom: 5px;">

                    <!-- Widget Label -->
                    <div class="node-widget-label">
                        <div class="control-label">
                            Widget Label
                        </div>
                        <div class="col-sm-12 pad-no crud-widget-container">
                            <input type="" placeholder="Widget Label" id="" class="form-control input-md widget-input" value="Address">
                        </div>
                    </div>

                    <!-- Widget Label -->
                    <div class="node-widget-label">
                        <div class="control-label">
                            Placeholder
                        </div>
                        <div class="col-sm-12 pad-no crud-widget-container">
                            <input type="" placeholder="Address" id="" class="form-control input-md widget-input" value="Enter an address">
                        </div>
                    </div>

                    <!-- Domain Selection -->
                    <div class="node-widget-label">
                        <div class="control-label">
                            Controlled Vocabulary (domain only)
                        </div>
                        <div class="col-sm-12 pad-no crud-widget-container">
                            <select class="resources" data-placeholder="" id="permissions" tabindex="0">
                                <option>Top Concept Name 1</option>
                                <option>Top Concept Name 2</option>
                                <option>Top Concept Name 3</option>
                                <option>Top Concept Name 4</option>
                                <option>Top Concept Name 5</option>
                            </select>
                        </div>
                    </div>
                </div>    
            </div>

            <!-- Widget ADVANCED Settings Form -->
            <div id="widget-advanced-settings" class="library-crud-container" style="display: none;">
                <div id="" class="">

                    <!-- Widget Advanced Settings -->
                    <div id="" class="" style="padding-bottom: 5px;">

                        <!-- Widget Templates -->
                        <div class="node-widget-label" style="">
                            <div class="control-label">
                                Template
                            </div>
                            <div class="col-sm-12 pad-no crud-widget-container">
                                <select id="" class="functions" style="" data-placeholder="Choose a Function..." tabindex="4">
                                    <option>Arches String Default</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>