{% load i18n %}

<!-- it's assumed that ko.$data is a card array context -->

<div id="{{card.id}}" class="tab-pane fade in {% if forloop.first %}active{% endif %}"> 
    <div class="panel-body card-panel-body" style="">
        
        <!-- Card Level Alert -->
        <div id="db-connection-alert" class="panel install-card-alert" style=""></div>

        <!-- Card Instruction -->
        <p id="" class="content-instructions">{{ card.description }}</p>

        
        <!-- Actual Card HTML goes here -->
        <div data-bind="with: $data['{{card.id}}'].{% if card.cardinality != 'n' %}tiles{% endif %}{% if card.cardinality == 'n' %}blanktile{% endif %}">
            <div data-bind="with: $data[0].data">
                {% for widget in card.widgets %}
                    {% include widget.path %}
                {% endfor %}
            </div>

            <div class="install-buttons">
                {% if card.cardinality != 'n' %}
                <button id="" class="btn btn-shim btn-danger btn-labeled btn-lg fa fa-times" data-bind="click: $root.form.cancelEdit.bind($parent, $data[0])">{% trans "Cancel" %}</button>
                <button id="" class="btn btn-shim btn-mint btn-labeled btn-lg fa fa-refresh" data-bind="click: $root.form.updateTile.bind($parent, $data[0])">{% trans "Save" %}</button>
                {% endif %}
                {% if card.cardinality == 'n' %}
                <button id="" class="btn btn-shim btn-mint btn-labeled btn-lg fa fa-refresh" data-bind="click: $root.form.saveTile.bind($parent, $data[0])">{% trans "Save" %}</button>
                {% endif %}
            </div>

        </div>

        {% if card.cardinality == 'n' %}

        <div class="list-group" style="margin: 30px -25px 30px -20px; display:none;" data-bind="visible: true, foreach: $data['{{card.id}}'].tiles">
            
            <!-- Record -->
            <div data-bind="with: $data.data">
                <div id="record-1" class="tile-record list-group-item" style="cursor: pointer; background: rgb(250, 250, 250);" data-bind="click: $root.form.expandTile">
                    <h5 class="list-group-item-heading text-thin">Key of first node in card:<span class="text-semibold"> Value of first node in card</span></h5>
                    
                    <div id="record-1-form" class="effect" style="margin-top: 15px; padding: 60px 10px 20px; display: block; background: rgb(255, 255, 255); display:none">
                        <a id="record-1-close" href="#" class="record-close" style="display: block;" data-bind="click: $root.form.collapseTile">
                            <span class="icon-wrap icon-circle bg-gray-dark"><i class="fa fa-times"></i>
                            </span>
                        </a>
                        <a id="record-1-delete" href="#" class="record-delete" style="display: block;" data-bind="click: $root.form.deleteTile.bind($data, $root.form.tiles['{{card.id}}'])">
                            <span class="icon-wrap icon-circle bg-gray-dark"><i class="fa fa-trash"></i>
                            </span>
                        </a>
                        
                        <!-- Card Level Alert -->
                        <div id="db-connection-alert" class="panel install-card-alert" style=""></div>

                        <!-- Card Instruction -->
                        <p id="" class="content-instructions">{{ card.description }}</p>

                        <!-- Actual Card HTML goes here -->
                        {% for widget in card.widgets %}
                            {% include widget.path %}
                        {% endfor %}

                        <div class="install-buttons">
                            <button id="" class="btn btn-shim btn-danger btn-labeled btn-lg fa fa-times">{% trans "Cancel" %}</button>
                            <button id="" class="btn btn-shim btn-mint btn-labeled btn-lg fa fa-refresh" data-bind="click: $root.form.updateTile.bind($parent, $parent)">{% trans "Save" %}</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        {% endif %}



    </div>

</div>

<!-- Help/Thesaurus term Panel -->
<aside id="arches-server-help" data-page="./help/config_manager/arches_server_summary.html" class="card-help-panel" style="display: none;">
    <div class="relative">
        <a id="arches-server-help-close" href="" class="help-close fa fa-times fa-lg" style=""></a>
    </div>
    <div id="arches-server-help-content" class="" style="">
        <div id="" class="" style="">
            <div class="panel-heading">
                <h3 class="panel-title" style="padding: 0 10px 0 10px;"><span class="help-text-small"> Help</span> Database Connection</h3>
            </div>
            <div class="panel-body" style="padding: 10px 10px 15px 10px;">
                <p>Put Card-Specific help text here.  When panel is initiated from a controlled vocabulary, put thesaurus listing here instead.</p>
            </div>
        </div>
    </div>
</aside>
