{% load i18n %}

<!-- it's assumed that ko.$data is a tile array context -->

<div id="arches-server-help-cc" class="outline" style="">

    <!--Nav Tabs-->
    <ul class="nav nav-tabs card-nav-container" style="">
        {% for card in cardgroup.cards %}

        <li id="settings-menu-li" class="{% if forloop.first %}active{% endif %}">
            <a id="settings-menu" data-toggle="tab" href="#{{card.nodegroup_id}}" data-bind="attr: {href: '#abc' + '{{card.nodegroup_id}}' + $data.tileid()}" class="card-tab-title" aria-expanded="false">{{ card.title }}</a>
        </li>

        {% endfor %}
    </ul>

    <!--Tabs Content-->
    <div class="tab-content" style="">
        {% for card in cardgroup.cards %}


        <div class="" id="{{card.nodegroup_id}}" data-bind="attr: {id: 'abc{{card.nodegroup_id}}' + $data.tileid() }"  class="tab-pane fade in {% if forloop.first %}active{% endif %}">
            <div class="panel-body card-panel-body" style="">

                <!-- Card Level Alert -->
                <div class="panel install-card-alert" style=""></div>

                <!-- Card Instruction -->
                <div class="content-instructions">
                    <span>
                        {{ card.description }}
                    </span>
                    <span>
                        <a id="add-basemap-wizard-help-link" href="" class="pull-right card-help help editable-help" style=""> {% trans "Help" %} <i class="fa fa-question-circle"></i></a>
                    </span>
                </div>

                <!-- Actual Card HTML goes here -->

                {% if card.cardinality != 'n' %}
                    <div data-bind="with: ($data.tiles['{{card.nodegroup_id}}']().length > 0 ? $data.tiles['{{card.nodegroup_id}}']()[0] : $root.form.blanks['{{card.nodegroup_id}}'])" >
                {% endif %}

                {% if card.cardinality == 'n' or forceBlank %}
                    <div data-bind="with:$root.form.blanks['{{card.nodegroup_id}}']" >
                {% endif %}

                    <div data-bind="with: $data.data">
                        {% for widget in card.widgets %}
                            <{{widget.name}} params="config:{{widget}}, value: $data['{{widget.node_id}}']"></{{widget.name}}>
                        {% endfor %}
                    </div>

                    <div class="install-buttons">
                        {% if card.cardinality == '1' %}
                        <button class="btn btn-shim btn-danger btn-labeled btn-lg fa fa-times" data-bind="click: $root.form.cancelEdit.bind($root.form)">{% trans "Cancel" %}</button>
                        <button class="btn btn-shim btn-mint btn-labeled btn-lg fa fa-refresh" data-bind="click: $root.form.updateTile.bind($root.form)">{% trans "Save" %}</button>
                        {% endif %}
                        {% if card.cardinality == 'n'%}
                        <button class="btn btn-shim btn-mint btn-labeled btn-lg fa fa-refresh" data-bind="click: $root.form.saveTile.bind($root.form, $parent.tiles['{{card.nodegroup_id}}'], {% if forceblank %}'true'{% endif %}{% if not forceblank %}'false'{% endif %})">{% if forceblank %}{% trans "Add" %}{% endif %}{% if not forceblank %}{% trans "Save" %}{% endif %}</button>
                        {% endif %}
                    </div>
                </div>

                {% if card.cardinality == 'n' %}


                <div class="list-group" style="margin-top: 20px;" data-bind="visible: ($data.tiles['{{card.nodegroup_id}}']().length > 0), foreach: $data.tiles['{{card.nodegroup_id}}']">

                    <!-- ko if: nodegroup_id() == '{{card.nodegroup_id}}' -->

                    <div class="list-group-item" style="background: rgb(250, 250, 250);">
                        <h5 style="cursor: pointer; padding: 5px 0px 5px 0px; margin: 0px;" class="list-group-item-heading text-thin" data-bind="click: $root.form.toggleTile">{% trans "Key of first node in card:" %}<span class="text-semibold"> {% trans "Value of first node in card" %}</span></h5>

                        <div class="effect" style="display:none;" data-bind="attr: {id: 'abc' + $data.tileid()}">
                            <a id="record-1-delete" href="#" class="record-delete" style="display: block;" data-bind="click: $root.form.deleteTile.bind($root.form, $parent.tiles['{{card.nodegroup_id}}'])">
                                <span class="icon-wrap icon-circle bg-gray-dark"><i class="fa fa-trash"></i>
                                </span>
                            </a>

                            <!-- Card Level Alert -->
                            <div id="db-connection-alert" class="panel install-card-alert" style=""></div>

                            <!-- Card Instruction -->
                            <p class="content-instructions">{{ card.description }}</p>

                            <!-- ko with:$data.data -->
                            {% for widget in card.widgets %}
                                <{{widget.name}} params="config:{{widget}}, value: $data['{{widget.node_id}}']"></{{widget.name}}>
                            {% endfor %}
                            <!-- /ko -->

                            <div class="install-buttons">
                                <button class="btn btn-shim btn-danger btn-labeled btn-lg fa fa-times">{% trans "Cancel" %}</button>
                                <button class="btn btn-shim btn-mint btn-labeled btn-lg fa fa-refresh" data-bind="click: $root.form.updateTile.bind($root.form)">{% trans "Save" %}</button>
                            </div>

                        </div>
                    </div>

                    <!-- /ko -->

                </div>

                {% endif %}

            </div>

        </div>

        <!-- Help/Thesaurus term Panel -->
        <aside id="arches-server-help" data-page="./help/config_manager/arches_server_summary.html" class="card-help-panel" style="display: none;">
            <div class="relative">
                <a id="arches-server-help-close" href="" class="help-close fa fa-times fa-lg" style=""></a>
            </div>
            <div id="arches-server-help-content" class="" style="">
                <div class="" style="">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="padding: 0 10px 0 10px;"><span class="help-text-small">{% trans "Help" %}</span> {% trans "Database Connection" %}</h3>
                    </div>
                    <div class="panel-body" style="padding: 10px 10px 15px 10px;">
                        <p>{% trans "Put Card-Specific help text here.  When panel is initiated from a controlled vocabulary, put thesaurus listing here instead." %}</p>
                    </div>
                </div>
            </div>
        </aside>

        {% endfor %}

    </div>

</div>
