{% load i18n %} {% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'js/reports/potree/libs/potree/potree.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/reports/potree/libs/jquery-ui/jquery-ui.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/reports/potree/libs/perfect-scrollbar/css/perfect-scrollbar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/reports/potree/libs/openlayers3/ol.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/reports/potree/libs/spectrum/spectrum.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/reports/potree/libs/jstree/themes/mixed/style.css' %}">

<div class="potree_container" style="height: 685px; position: relative;">
    <div id="potree_render_area" class="report-render-area"></div>
    <div id="potree_sidebar_container"> </div>
</div>