
<!-- Project Settings -->
<div class="mpm-summary-panel">
    <p class="mpm-item-listing-header" style="margin-bottom: 0px;">
        Project Summary
    </p>
    <ul class="mpm-node-detail-metadata">
        <li class="">
            Number of edits: 0
        </li>
        <li class="">
            Contributors: 0
        </li>
        <li class="">
            Offline Basemap: Streets-Grey
        </li>
    </ul>
</div>

<!-- User Summary -->
<div class="mpm-summary-panel">
    <p class="mpm-item-listing-header" style="margin-bottom: 0px;">
        Groups/Users
    </p>
    <ul class="mpm-node-detail-metadata">
        <li class="">
            Groups (<span data-bind="text: selectedProject().approvedGroupNames().length"></span>)
            <ul class="mpm-node-detail-metadata" data-bind="foreach: selectedProject().approvedGroupNames">
                <li class="" data-bind="text: $data">

                </li>
            </ul>
        </li>
    </ul>
    <ul class="mpm-node-detail-metadata">
        <li class="">
            Users (<span data-bind="text: selectedProject().approvedUserNames().length"></span>)
            <ul class="mpm-node-detail-metadata">
                <li class="" data-bind="text: selectedProject().approvedUserNames().join(', ')">

                </li>
            </ul>
        </li>
    </ul>
</div>

<!-- Model/Card Summary -->
<div class="mpm-summary-panel">
    <p class="mpm-item-listing-header" style="margin-bottom: 0px;">
        Models and Data Entry Cards
    </p>
    <!--ko foreach: resourceList.items(), as resource -->
        <!--ko if: resource.approved() == true -->
        <ul class="mpm-node-detail-metadata">
            <li class="">
                Assets!! (3 data entry cards)
                <ul class="mpm-node-detail-metadata">
                    <li class="">
                        Name, Modification Event, Condition Assessment
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="mpm-node-detail-metadata">
            <li class="">
                Investigation Activities (3 data entry cards)
                <ul class="mpm-node-detail-metadata">
                    <li class="">
                        Name, Event Location, Activity Type
                    </li>
                </ul>
            </li>
        </ul>
        <!--/ko-->
    <!--/ko-->
</div>
