{% load i18n %}
{% load template_tags %}
<div id="related-resources-drag-panel" class="search-container related-resources-container">



    <!--ko if: showGraph() -->
    <div class="svg arches-related-resource-panel" data-bind="relatedResourcesGraph: {
        nodeList: graphNodeList,
        currentResource: newResource,
        subscriptions: currentResourceSubscriptions,
        nodeSelection: graphNodeSelection
    }">

        <!--ko if: graphNodeSelection().length == 2 -->
        <div class="hover-rr-node-info" data-bind="style: {position: 'fixed', top: (panelPosition().y - 100) + 'px', left: (panelPosition().x - 300) + 'px'}">
            <div>
                <div class="rr-fdg-name">
                    <div class='rr-number'>1. </div><div class="rr-fdg-details"><div data-bind="text: graphNodeSelection()[0].name"></div>
                    <span class="rr-fdg-model-name">
                        <i class="resource-graph-node-icon" data-bind="css: graphNodeSelection()[0].iconclass, style:{'background-color': graphNodeSelection()[0].color}"></i>
                        <div class="list-item-model-name" data-bind="text: graphNodeSelection()[0].graphname">
                    </span>
                    </div>
                </div>
                </div>
                <!--ko foreach: graphNodeSelection()[0].relationships -->
                <div class="rr-fdg-edge" data-bind="text: $data"></div>
                <!--/ko -->
                <div class="rr-fdg-name">
                    <div class='rr-number'>2. </div><div class="rr-fdg-details"><div data-bind="text: graphNodeSelection()[1].name"></div>
                    <span class="rr-fdg-model-name">
                        <i class="resource-graph-node-icon" data-bind="css: graphNodeSelection()[1].iconclass, style:{'background-color': graphNodeSelection()[1].color}"></i>
                        <div class="list-item-model-name" data-bind="text: graphNodeSelection()[1].graphname">
                    </span>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="rr-number fdg" data-bind="style: {position: 'fixed', top: (panelPosition().first.absY - 25) + 'px', left: (panelPosition().first.absX + 20) + 'px'}">1</div>
        <div class="rr-number fdg" data-bind="style: {position: 'fixed', top: (panelPosition().second.absY - 25) + 'px', left: (panelPosition().second.absX + 20) + 'px'}">2</div>
        <!--/ko-->

        <!-- Resource Node Search/Listing -->
        <div class="related-resources-nodes form-list">

            <div data-bind="with: fdgNodeListView">

                <div class="layer-list">

                    <div class="list-filter fdg-node-filter">
                        <input type="text" class="form-control" style="z-index=100" placeholder="{% trans " Find a resource " %}" data-bind="value: $data.filter, valueUpdate: 'afterkeydown'">
                        <span class="clear-node-search" data-bind="click: $data.clearSearch"><i class="fa fa-times-circle"></i></span>
                    </div>

                </div>

                <!-- Resource Nodes -->

                <!-- ko foreach: { data: [$data], as: 'self' } -->
                <div class="report-image-grid relative">
                    <div class="grid" style="margin-left: 0px; background: transparent;" data-bind="foreach: {data: items}">

                        <div class="library-card relative" data-bind="scrollTo: selected(), container: $parent.scrollContainerSelector, event: { click: self.selectNode, mouseover: self.hoverNode, mouseout: function(e){e.hovered(false)} }, visible: filtered() == false, css:{'selected': selected() == true, 'hovered': hovered() == true}">
                            <div class="crud-card-main" style="left: 5px;">
                                <div class="related-node-details">
                                <a class="list-item-name" data-bind="text: name"></a>
                                <div class="graph-name"><i class="resource-graph-node-icon" data-bind="css: iconclass, style:{'background-color': color}"></i><a class="list-item-model-name" data-bind="text: graphname"></a></div>
                                </div>
                            </div>

                            <div class="crud-card-subtitle" style="left: 5px;">
                                <span data-bind="text: loaded"></span> {% trans 'out of' %} <span data-bind="text: total"></span>{% trans 'relations loaded' %}<div class="load-relations" data-bind="click: function(){loadcount(loadcount() + 1)}, clickBubble: false, css: {'disabled' : total() === loaded()}">{% trans 'load more' %}</div>
                            </div>

                            <div class="node-list-details" data-bind="fadeVisible: selected, delay:100, fade: 250">
                                <div class="rr-fdg-description" data-bind="html: description"></div>
                                <div class="node-list-footer">
                                    <a data-bind="click: function () { window.open($parent.reportURL + ko.unwrap(entityid)); }" href="javascript:void(0)"><i class="ion-document-text"></i>{% trans 'Report' %}</a>
                                    {% if user|can_edit_resource_instance %}
                                    <a data-bind="click: function () { window.open($parent.editURL + ko.unwrap(entityid)); }" href="javascript:void(0)"><i class="ion-ios-refresh-empty"></i>{% trans 'Edit' %}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--/ko-->
            </div>

        </div>
    </div>
    <!--/ko-->

    <div>

        <!-- Target -->
        <div id="rr-manager-content-id" class="rr-drag-panel-target" data-bind="style: {'margin-bottom': containerBottomMargin }">

            <!--ko if: !displaySplash() || resourceRelationships().length > 0-->
            <div class="related-resources-header" data-bind="css: {'open-graph': showGraph() == true}, style: {height: resourceEditorContext === true ? '55px' : '40px'}">
                <div class="editor-elements">
                <!--ko if: resourceEditorContext -->
                <!--ko if: !showGraph() -->
                <div class="resource-search-container">
                    <!-- ko component: {
                    name: 'resource-instance-multiselect-widget',
                    params: {
                        placeholder: '{% trans "Search for resources" %}',
                        value: relationshipCandidateIds,
                        disable: disableSearchResults(),
                        disableMessage: '{% trans "Cannot be related" %}'
                    },
                } -->
                    <!-- /ko -->
                    <button class="btn btn-mint btn-labeled fa fa-plus" data-bind="click: function(){relateResources()}, text: '{% trans 'Add' %}', css: {'disabled': relationshipCandidateIds() === undefined || relationshipCandidateIds().length === 0}"></button>
                </div>
                <!--/ko-->
                <!--/ko-->

                <div class="related-resource-management">
                <!--ko if: resourceEditorContext -->
                <button class="btn btn-mint btn-labeled fa fa-code-fork related-resources-delete" data-bind="click: function(){deleteRelationships()}, visible: selected().length > 0">{% trans "Delete Selected" %}</button>
                <div class="related-resources-relationship">
                    <div class="mega-dropdown related-resources-crud-link" data-bind="visible: showGraph() == false">

                        <!--ko if: !showGraph() -->

                        <a href="#" class="mega-dropdown-toggle" data-bind="css: {'disabled':selected().length === 0}, click: function(){propertiesDialogOpen(!propertiesDialogOpen());}">
                            <i class="ion-wrench icon-lg"></i> {% trans "relation properties" %}
                        </a>

                        <div id="rr-properties-id" class="dropdown-menu mega-dropdown-menu dropdown-shim dropdown-crud" style="padding-left: 15px;" data-bind="css: {'display-related-resource-properties': propertiesDialogOpen()}">
                            <div class="clearfix">
                                <div class="settings-config-panel relative">

                                    <div class="related-resources-title-container">
                                        <h3 class="search-title">{% trans "Relationship details" %}</h3>
                                        <div class="relation-properties-buttons">
                                            <div class="relation-properties-button">
                                                <button class="btn btn-mint" data-bind="click: function(){saveRelationships()}, visible: selected().length > 0">{% trans "Save" %}</button>
                                            </div>
                                            <div class="relation-properties-button">
                                                <button type="button" class="btn btn-default" data-bind="click: function(){propertiesDialogOpen(false)}">{% trans "Close" %}</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Relationship participants -->

                                    <div class="resource-relation-description">
                                        <div class="target-resource">
                                            <i data-bind="css: graph.iconclass"></i><span class="relation-properties-model-name" data-bind="text: graph.name"></span><span class="resource-conjunction"> {% trans "relationship with" %}</span>
                                        </div>
                                        <div class="selected-resource-list relative" data-bind="foreach: {data: selected, as: 'item'}">
                                            <div class="selected-resource">
                                                <i data-bind='css: item.iconclass'></i><span data-bind='text: " " + item.resource.displayname'></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="settings-crud-panel">
                                        <div class="col-xs-12">
                                            <form class="widgets">
                                                <div class="row widget-container">
                                                    <div class="form-group">
                                                        <div class="row widget-wrapper">
                                                            <div class="form-group">
                                                                <label class="col-xs-12 control-label widget-input-label" for="">{% trans "Relationship" %} <i class="ion-ios-checkmark-outline"></i></label>
                                                                <div class="col-xs-12">
                                                                    <input style="width:30%; display:inline-block;" data-bind="select2: {
                                                                        select2Config: {
                                                                            clickBubble: true,
                                                                            data: relationshipTypes,
                                                                            value: relatedProperties.relationship_type,
                                                                            multiple: false,
                                                                            placeholder: relationshipTypePlaceholder
                                                                        }
                                                                    }">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <!--ko if: useSemanticRelationships === false -->
                                                <div class="row widget-container shim">
                                                    <div class="form-group">
                                                        <div class="relative" style="">
                                                            <label class="col-xs-6 control-label widget-input-label" for=""> {% trans "From Date" %} <i class="ion-ios-checkmark-outline"></i>
                                                            </label>
                                                            <label class="col-xs-6 control-label widget-input-label" for=""> {% trans "To Date" %} <i class="ion-ios-checkmark-outline"></i>
                                                            </label>
                                                        </div>

                                                        <div class="relative">
                                                            <div class="col-xs-6">
                                                                <input type="text" class="form-control input-lg widget-input" placeholder="date from" data-bind="datepicker: {format: 'YYYY-MM-DD'}, value: relatedProperties.datefrom">
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <input type="text" class="form-control input-lg widget-input" placeholder="date to" data-bind="datepicker: {format: 'YYYY-MM-DD'}, value: relatedProperties.dateto">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row widget-container">
                                                    <div class="form-group">
                                                        <div class="relative">
                                                            <label class="col-xs-12 control-label widget-input-label" for="">{% trans "Description" %} <i class="ion-ios-checkmark-outline"></i></label>
                                                        </div>

                                                        <div class="col-xs-12">
                                                            <input type="text" id="editor1" class="form-control input-lg widget-input" data-bind="textInput: relatedProperties.notes">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/ko-->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ko-->
                    </div>
                </div>
                <!-- /ko -->
                </div>
                </div>
                <div class="btn-group rr-display-toggle" data-bind="css: {'open-graph': showGraph() == true}">
                    <button class="btn btn-default btn-display-toggle add-tooltip" data-toggle="tooltip" data-placement="bottom" data-original-title="grid" data-bind="click: function () { showGraph(false); }, css: {'selected': !showGraph()}"><i class="ion-grid"></i></button>
                    <button class="btn btn-default btn-display-toggle add-tooltip" data-toggle="tooltip" data-placement="bottom" data-original-title="graph" data-bind="click: function () { if (currentResource()){showGraph(true)}; }, css: {'selected': showGraph()}"><i class="ion-asterisk"></i></button>
                </div>
            </div>

            <div class="rr-result-grid-container" data-bind="visible: !showGraph()">
                <div>
                    <!--ko if: resourceRelationships().length > 0 -->
                    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="rr-tab-field"><i class="center-header" data-bind="css: {'ion-checkmark-circled': selected}"></i></th>
                                <th class="rr-tab-field">{% trans "Resource ID" %}</th>
                                <th class="rr-tab-field">{% trans "Relationship" %}</th>
                                <!--ko if: useSemanticRelationships === false -->
                                <th class="rr-tab-field">{% trans "From" %}</th>
                                <th class="rr-tab-field">{% trans "To" %}</th>
                                <th class="rr-tab-field">{% trans "Notes" %}</th>
                                <!--/ko-->
                                <!--ko if: useSemanticRelationships === true -->
                                <th class="rr-tab-field">{% trans "Ontology Class" %}</th>
                                <!--/ko-->
                            </tr>
                        </thead>
                        <tbody data-bind='dataTablesForEach: {data: resourceRelationships, dataTableOptions: {
                                              jQueryUI: true,
                                              paging: false,
                                              dom: "rtip",
                                              bInfo : false,
                                              columns: columnConfig,
                                              fnInitComplete: function() {
                                                var self = this;
                                                setTimeout(function(){
                                                    self.fnAdjustColumnSizing(true);
                                                    self.fnSort(0);
                                                }, 1000);
                                                }
                                          }
                                      }'>
                            <tr class="rr-table-row" data-bind="click: updateSelection(), css: {'unselectable': unselectable}">
                                <td>
                                    <i data-bind="css: {'ion-checkmark-circled': selected}"></i>
                                    <span data-bind="text: resource.selected"></span>
                                </td>
                                <td>
                                    <span data-bind="text: resource.displayname"></span>
                                </td>
                                <td>
                                    <span data-bind="text: relationshiptype_label"></span>
                                </td>
                                <!--ko if: $parent.useSemanticRelationships === false -->
                                <td>
                                    <span data-bind='text: datestarted'></span>
                                </td>
                                <td>
                                    <span data-bind='text: dateended'></span>
                                </td>
                                <td>
                                    <span class="rr-text-notes" data-bind='text: notes'></span>
                                </td>
                                <!--/ko-->
                                <!--ko if: $parent.useSemanticRelationships === true -->
                                <td>
                                    <span class="rr-text-notes" data-bind='text: resource.root_ontology_class'></span>
                                </td>
                                <!--/ko-->
                            </tr>
                        </tbody>
                    </table>
                    <!-- Pagination -->
                    <!-- ko if: paginator -->
                    <div data-bind="with: paginator">
                        <div class="text-center">
                            <ul class="pagination">
                                <li><a data-bind="css: {'disabled': !has_previous()}, click: $parent.newPage.bind($parent, previous_page_number())" href="#">«</a></li>
                                <!-- ko foreach: { data: pages, as: 'page' } -->
                                    <!-- ko if: page -->
                                    <li class="page" data-bind="click: $parents[1].newPage.bind($parents[1]), css: {'current active': (page == $parent.current_page())}">
                                        <a href="#" data-bind="text: page, attr:{'data-page':page}"></a>
                                    </li>
                                    <!-- /ko -->
                                    <!-- ko ifnot: page -->
                                    <li class="disabled"><a href="#">...</a></li>
                                    <!-- /ko -->
                                <!-- /ko -->
                                <li><a data-bind="css: { 'disabled': !has_next()}, click: $parent.newPage.bind($parent, next_page_number())" href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- End Pagination -->
                    <!--/ko -->

                    <!--ko if: resourceRelationships().length === 0 -->
                    <div class="rr-panel-note">{% trans "No Resources Selected..." %}</div>
                    <!--/ko-->
                </div>

            </div>

            <!-- Message -->
            <!--/ko-->

            <!--ko if: resourceRelationships().length === 0 && resourceEditorContext && displaySplash() -->
            <div id="rr-splash" class="rr-splash" data-bind="visible: displaySplash()" style="display: none;">

                <!-- Image -->
                <div class="img-lg img-circle rr-splash-img-container">
                    <img class="rr-splash-img" src="../media/img/Workflow.png" alt="Resource Editor">
                </div>

                <!-- Splash Title -->
                <div class="rr-splash-title">{% trans "Related Resources Editor" %}</div>


                <button class="btn btn-shim btn-rr btn-labeled btn-lg fa fa-link" data-bind="click: function(){displaySplash(false)}">{% trans 'Add Related resources' %}</button>

                <!-- Splash Instructions -->
                <div class="rr-splash-description">{% trans "Arches allows you to define relationships between resources so you can better understand the context and interplay" %}</div>
                <div class="rr-splash-description">{% trans "between physical objects, events, activities, people and documents." %}</div>
                <div class="rr-splash-description">{% trans "Relating resources lets you build a network of relatinships for your data objects." %}</div>

               
                <!-- Help Hyperlink -->
                <div class="rr-splash-help-link" data-bind="click: function(){$parent.helpTemplate('report-manager-help'); $parent.helpOpen(true);}">{% trans "Show Me How" %}</div>
            </div>
            <!--/ko-->
        </div>
    </div>
</div>
