<div>
<!--ko if: $data.relatedresourceslist -->
<div data-bind="with: relatedresourceslist.relatedList">
    <div style="position: relative;" data-bind="foreach: {data: items, as: 'item'}">
        <div class="required-node-card" style="" data-bind="visible: item.filtered() == false, click: function(){item.selected(!item.selected())}">
            <div class="required-node-card-item">
                <div class="required-node-card-vis-toggle">
                    <i data-bind="css: {'ion-checkmark-circled': item.selected}"></i>
                </div>
                <div class="required-node-card-main" style="">
                    <a class="" style="" href="#">
                      <span data-bind="text: item.resource.primaryname"></span>
                      <span data-bind='text: item.datestarted'></span>
                      <span data-bind='text: item.dateended'></span>
                      <span data-bind='text: item.notes'></span>
                   </a>
                </div>
            </div>
        </div>
    </div>
</div>
 <!--/ko -->

 <!--ko ifnot: $data.relatedresourceslist -->
    <div>No Relationships</div>
 <!--/ko-->
</div>
