{% load i18n %}
{% load template_tags %}

<!-- ko ifnot: $data.search -->
<div class="node-config-item">
    <div class="col-xs-12 control-label widget-input-label">
        <span data-bind="text: $root.translations.controlledList"></span>
    </div>
    <!-- ko if: $data.controlledLists() -->
        <select 
            data-bind="
                options: $data.controlledLists, 
                optionsText: 'name', 
                optionsValue: 'id', 
                select2Query: {
                    select2Config:{
                        disable: false,
                        value: $data.controlledList,
                        allowClear: true,
                        placeholder: $root.translations.selectAControlledList, 
                }},
                attr: {'data-label': $root.translations.controlledList}
            "
        ></select>
        <div style="padding-top: 12px"
            data-bind="
                component: {
                    name: 'views/components/simple-switch',
                    params: {
                        value: $data.multiValue,
                        config:{
                            label: $root.translations.multipleValues,
                            subtitle: $root.translations.allowSelectionOfMultipleItems
                        }
                    }
                }
            "
        ></div>
    <!-- /ko -->
</div>
<!-- /ko -->

<!-- ko if: $data.search -->
<div class="col-md-4 col-lg-3">
    <select class="resources" data-bind="
        attr: {'data-label': node.label},
        select2Query: {
            select2Config:{
                data: [
                    { text: $root.translations.equals, id: 'eq' },
                    { text: $root.translations.not, id: '!eq' },
                    { text: $root.translations.hasNoValue, id: 'null' },
                    { text: $root.translations.hasAnyValue, id: 'not_null' },
                    { text: $root.translations.hasAnyListValue, id: 'in_list_any' },
                    { text: $root.translations.hasAllListValues, id: 'in_list_all' },
                    { text: $root.translations.hasNoListValues, id: 'in_list_not' }
                ],
                value: op
        }}">
    </select>
</div>

<div class="col-md-8 col-lg-9" data-bind="visible: op() !== 'null' && op() !== 'not_null'">
    <!-- ko if: !ko.unwrap(op).includes('in_list') -->
    <select style="display:inline-block;"
        data-bind="
            attr: {'data-label': node.label},
            select2Query: {
                select2Config: select2Config
            }
        ">
    </select>
    <!-- /ko -->
    <!-- ko if: ko.unwrap(op).includes('in_list') -->
    <select style="display:inline-block;"
        data-bind="
            attr: {'data-label': node.label},
            select2Query: {
                select2Config: select2ConfigMulti
            }
        ">
    </select>
    <!-- /ko -->
</div>
<!-- /ko -->