{% load i18n %}

<div style="height:0px">
  <div class="row widget-container">
    <div class="form-group">
      <div class="relative">
          <label class="col-xs-12 control-label widget-input-label"><span data-bind="$root.translations.cardName"></span></label>
      </div>
      <div class="col-xs-12">
        <select 
          multiple 
          data-bind="
            placeholder: $root.translations.selectANodegroup
            chosen: {width: '100%'}, 
            selectedOptions: triggeringNodegroups, 
            options: cards, 
            optionsText: 'name', 
            optionsValue: 'nodegroup_id'
          "></select>
      </div>
    </div>
  </div>
</div>
