/* Advanced search */

.advanced-search-container {
	@include break-at(desktop-max) {
		flex-direction: column-reverse;
	}
	.facets-search-container {
		@include break-at(desktop-max) {
			flex: 1;
			width: 100%;
		}
	}
	.facets-container {
		@include break-at(desktop-max) {
			flex: 1;
			width: 100%;
		}
		.search-facets {
			@include break-at(desktop-max) {
				height: auto;
				overflow-y: hidden;
			}
			.search-facet-item {
				&:focus {
					box-shadow: inset 0 0 0 3px #000;
					text-decoration: underline;
				}
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}