.term-search-filter .select2-container--default .select2-selection--multiple {
    .select2-selection__rendered {
        line-height: 24px;
    }

    .select2-selection__choice {
        line-height: 24px;
        padding: 0 8px;
        display: flex;
        justify-content: center;
        align-items: center;

        .filter-flag {
            background-color: #30ad24;
        }
        
        button.search-tag {
            border: none;
            background: transparent;
            color: white;
            vertical-align: top;
            height: 26px;
            padding: 0;
        
            .fa-minus {
                margin: 0px !important;
                padding-inline-end: 6px;
            }
        }

        &__remove {
            margin: 0px; 
            margin-inline-end: 6px;
        }


    }
}
