.time-search-container {
    padding: 20px;
    background: #fff;
}

.time-search-container .calendar {
    display: block;
    width: inherit;
    padding-left: 5px;
    max-width: 152px;
}

.time-search-container #calendar {
    display: flex;
    flex-wrap: wrap;
}

.time-search-container #calendar .calendar .search-label {
    margin-top: 10px;
}

.hide-datepicker-time-option .bootstrap-datetimepicker-widget table td span {
    display: none;
}

.calendar.picker {
    max-width: 175px;
    min-width: 175px;
    position: relative;
}

.calendar {
    display: table-cell;
    width: 180px;
    padding-left: 5px;
}

.calendar div .form-control[disabled] {
    background: #f7f7f7;
    border: 1px solid #ddd;
    color: #777;
}

.datepicker-inline {
    background: #fff;
    border-width: 0px;
}

.search-label {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 3px;
}

#calendar .chosen-container-single .chosen-single {
    height: 35px;
    padding-top: 8px;
}

#calendar .chosen-container-single .chosen-single div b:before {
    vertical-align: -70%;
}
