{% load i18n %}
<div class="row widget-wrapper" data-bind="if: !configForm">
    <div class="form-group">
        <label class="control-label widget-input-label" for="" data-bind="text:label"></label>
        <div class="col-xs-12">
            <div style="pad-hor">
                <div class="input-group date">
                    <input type="text" data-bind="datepicker: value, datepickerOptions: {format: 'YYYY-MM-DD'}" class="form-control"><span class="input-group-addon"><i class="fa fa-calendar fa-lg"></i></span>
                </div>
            </div>
            <!-- <input type="text" data-bind="datepicker: value, placeholder: placeholder" class="form-control input-lg widget-input"> -->
        </div>
    </div>
</div>

<div data-bind="if: configForm">
    <!-- <div class="control-label">
            {% trans "Minimum Date" %}
    </div>
    <div class="col-xs-12 pad-no crud-widget-container">
        <input type="" id="datetimepickermin" placeholder="{% trans "Minimum Date" %}" class="form-control input-md widget-input" data-bind="datepicker: value, datepickerOptions: {minDate: moment('9/20/2016'), autoclose: true, format: 'YYYY-MM-DD'}, value:minDate, valueUpdate: 'keyup'">
    </div>
    <div class="control-label">
            {% trans "Maximum Date" %}
    </div>
    <div class="col-xs-12 pad-no crud-widget-container">
        <input type="" id="datetimepickermax" placeholder="{% trans "Maximum Date" %}" class="form-control input-md widget-input" data-bind="datepicker: value, datepickerOptions: {minDate: moment('9/20/2016'), autoclose: true, format: 'YYYY-MM-DD'}, value:maxDate, valueUpdate: 'keyup'">
    </div> -->
    <div class="control-label">
            {% trans "View Mode" %}
    </div>
    <div class="col-xs-12 pad-no crud-widget-container">
        <input type="" id="" placeholder="{% trans "View Mode" %}" class="form-control input-md widget-input" data-bind="value:viewMode, valueUpdate: 'keyup'">
    </div>
</div>
