{% load i18n %}
<!-- ko if: !configForm  && state=== 'form' -->
<div class="row widget-wrapper">
    <div class="form-group">
        <label class="control-labx mesel widget-input-label" for="" data-bind="text:label"></label>
        <div class="col-xs-12">
            <div style="pad-hor">
                <div class="input-group date">
                    <input type="text" data-bind="datepicker: value, datepickerOptions: {format: dateFormat, viewMode: viewMode, maxDate: maxDate, minDate: minDate}" class="form-control"><span class="input-group-addon"><i class="fa fa-calendar fa-lg"></i></span>
                </div>
            </div>
            <!-- <input type="text" data-bind="datepicker: value, placeholder: placeholder" class="form-control input-lg widget-input"> -->
        </div>
    </div>
</div>
<!-- /ko -->

<!-- ko if: !configForm  && state=== 'report' -->
<dt data-bind="text: label"></dt>
<dd data-bind="text: value() || '{% trans "No Date Entered" %}'"></dd>
<!-- /ko -->

<!-- ko if: configForm -->

<!-- <div class="control-label">
        {% trans "Minimum Date" %}
</div>
<div class="col-xs-12 pad-no crud-widget-container">
    <input type="" id="datetimepickermin" placeholder="{% trans "Minimum Date" %}" class="form-control input-md widget-input" data-bind="datepicker: value, value: minDate, valueUpdate: 'keyup'">
</div>
<div class="control-label">
        {% trans "Maximum Date" %}
</div>
<div class="col-xs-12 pad-no crud-widget-container">
    <input type="" id="datetimepickermax" placeholder="{% trans "Maximum Date" %}" class="form-control input-md widget-input" data-bind="datepicker: value, value: maxDate, valueUpdate: 'keyup'">
</div> -->
<div class="control-label">
        {% trans "View Mode" %}
</div>
<div class="col-xs-12 pad-no crud-widget-container">
    <input type="" id="" placeholder="{% trans "View Mode" %}" class="form-control input-md widget-input" data-bind="value: viewMode, valueUpdate: 'keyup'">
</div>

<div class="control-label">
    {% trans "Date Format" %}
</div>
<div class="col-xs-12 pad-no crud-widget-container">
    <input type="" id="" placeholder="{% trans " Date Format " %}" class="form-control input-md widget-input" data-bind="value: dateFormat, valueUpdate: 'keyup'">
</div>
<!-- /ko -->
