{% load i18n %}
<!-- ko if: !configForm  && state === 'form' -->
<div class="row widget-wrapper">
    <div class="form-group">
        <label class="control-label widget-input-label" for="" data-bind="text:label"></label>
        <div class="col-xs-12">
          <div class="panel-body card-body fade in" style="padding-top: 0px;">
                                      <div id="" class="tab-base card-content-container outline" style="margin-bottom: 20px; margin-top: -2px;">

                                          <!--Nav Tabs-->
                                          <ul class="nav nav-tabs card-nav-container" style="">
                                              <li class="active">
                                                  <a data-toggle="tab" href="#ds-4" class="card-tab-title" aria-expanded="true"> Data Entry</a>
                                              </li>
                                              <li class="">
                                                  <a data-toggle="tab" href="#r-4" class="card-tab-title" aria-expanded="false"> Report</a>
                                              </li>
                                          </ul>

                                          <!--Tabs Content-->
                                          <div class="tab-content card-content-tab" style="margin-left: 0px;">

                                              <!-- Data Entry Widget -->
                                              <div id="ds-4" class="tab-pane fade active in">
                                                  <div class="panel-body card-panel-body" style="">
                                                      <div id="" class="card-content" style="">

                                                          <!-- Card Instruction -->
                                                          <p class="content-instructions">
                                                              Card level instructions

                                                              <!-- Help link -->
                                                              <span>
                                                                  <a id="card-help-link" href="" class="pull-right card-help help editable-help" style=""> Help <i class="fa fa-question-circle"></i></a>
                                                              </span>
                                                          </p>

                                                          <!-- Form -->
                                                          <div class="col-lg-12" style="padding-bottom: 10px;">
                                                              <form class="widgets" style="margin-bottom: 20px;">
                                                                  <div class="row widget-container">
                                                                      <div class="col-xs-12">
                                                                          <div class="form-group">
                                                                              <div class="relative">
                                                                                  <label class="col-xs-12 control-label widget-input-label" for=""> File Upload
                                                                              </label></div>

                                                                              <div class="col-xs-12">
                                                                                   <div class="bord-top pad-ver">
                                                                                      <!-- The fileinput-button span is used to style the file input field as button -->
                                                                                      <span class="btn btn-success fileinput-button dz-clickable">
                                                                                          <i class="fa fa-plus"></i>
                                                                                          <span>Add files...</span>
                                                                                      </span>

                                                                                      <div class="btn-group pull-right">
                                                                                          <button id="dz-upload-btn" class="btn btn-primary" type="submit" disabled="">
                                                                                              <i class="fa fa-upload-cloud"></i> Upload
                                                                                          </button>
                                                                                          <button id="dz-remove-btn" class="btn btn-danger cancel" type="reset" disabled="">
                                                                                              <i class="ion ion-close"></i>
                                                                                          </button>
                                                                                      </div>
                                                                                  </div>

                                                                                  <div id="dz-previews">

                                                                                  </div>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </form>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>

                                              <!-- Data Display (Reporting) Widget -->
                                              <div id="r-4" class="tab-pane fade">
                                                  <div class="panel-body card-panel-body" style="">
                                                      <div class="card-content" style="">

                                                          <div class="rp-report-section relative">
                                                              <!-- Section Title -->
                                                              <div class="rp-report-section-title">
                                                                  <h4 class="rp-section-title">Form Name</h4>
                                                              </div>

                                                              <!-- Card Wizard Tile -->
                                                              <div class="rp-card-section">
                                                                  <!-- Section Tile -->
                                                                  <h4 class="rp-tile-title"><span class="rp-tile-title-float">Card Name</span></h4>
                                                                  <div class="row rp-report-tile">
                                                                      <!-- Node/Node Type Template -->
                                                                      <dl class="dl-horizontal">
                                                                          <dt>Node Label (Images)</dt>
                                                                          <dd>
                                                                              <!-- Images -->
                                                                              <div id="report-image-grid" class="report-image-grid">
                                                                                  <div class="rp-image-grid-item">
                                                                                      <a id="" class="" href="#"> <img class="img-responsive" src="img/thumbs/img1.jpg" alt="Image"></a>
                                                                                  </div>
                                                                                  <div class="rp-image-grid-item">
                                                                                      <a id="" class="" href="#"> <img class="img-responsive" src="img/thumbs/img2.jpg" alt="Image"></a>
                                                                                  </div>
                                                                                  <div class="rp-image-grid-item">
                                                                                      <a id="" class="" href="#"> <img class="img-responsive" src="img/thumbs/img3.jpg" alt="Image"></a>
                                                                                  </div>
                                                                              </div>
                                                                          </dd>

                                                                          <dt>Node Label (Files)</dt>
                                                                          <dd><i class="ion ion-forward"></i><a class="" href=""> File Name 1</a></dd>
                                                                          <dd><i class="ion ion-forward"></i><a class="" href=""> File Name 2</a></dd>
                                                                          <dd><i class="ion ion-forward"></i><a class="" href=""> File Name 3</a></dd>
                                                                      </dl>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
        </div>
    </div>
</div>
<!-- /ko -->

<!-- ko if: !configForm  && state === 'report' -->
<dt data-bind="text: label"></dt>
<dd data-bind="text: value() || '{% trans "None" %}'"></dd>
<!-- /ko -->

<!-- ko if: configForm -->
<div class="control-label">
    {% trans "Placeholder" %}
</div>
<div class="col-xs-12 pad-no crud-widget-container">
    <input type="" placeholder="{% trans "Placeholder" %}" id="" class="form-control input-md widget-input" data-bind="value: placeholder, valueUpdate: 'keyup'">
</div>
<!-- /ko -->
