{% load i18n %}

<div class="row widget-wrapper" data-bind="if: !configForm">
        <label class="control-label widget-input-label" for="" data-bind="text:label"></label>
        <div id='map' class="map-crud-container relative">
          <!-- Geocode Panel -->
          <div id="geocode-container" class="geocode-container" data-bind="css : {'geocode-container-shim' : mapToolsExpanded}">
            <input type="text" data-bind="value: defaultgeocoder, attr: {placeholder: 'default geocoder'}" class="form-control input-lg widget-input">
          </div>
          <!-- Map Tools Panel -->
          <div id="map-widget-container relative" class="">
              <div class="text-center map-widget-container" data-bind="css : {'map-widget-container-expanded' : mapToolsExpanded}">
                  <a id="map-tools" href="" class="" style="display: inline;" data-bind="click: toggleMapTools"><i class="ion-ios-gear add-tooltip" data-bind="tooltip: { title: '{% trans "Map Controls" %}', placement: 'bottom' }"></i></a>
              </div>

              <div id="map-widget-toolbar" class="map-widget-toolbar relative" data-bind="fadeVisible: mapToolsExpanded">
                  <div class="map-widget-tool text-center" data-bind="click: function(){toggleMapControlPanels('basemaps')}, css : {'active': !mapControlPanels.basemaps()}">
                      <a id="" href="" class="map-widget-icon"><i class="ion-map add-tooltip" data-bind="tooltip: { title: '{% trans "Basemaps" %}', placement: 'bottom' }"></i></a>
                  </div>
                  <div id="btn-overlays" class="map-widget-tool text-center" data-bind="click: function(){toggleMapControlPanels('overlays')}, css : { 'active': !mapControlPanels.overlays()}">
                      <a id="overlays" href="" class="map-widget-icon"><i class="ion-navicon add-tooltip" data-bind="tooltip: { title: '{% trans "Overlays" %}', placement: 'bottom' }"></i></a>
                  </div>
                  <div class="map-widget-tool text-center" data-bind="click: function(){toggleMapControlPanels('maptools')}, css : {'active': !mapControlPanels.maptools()}">
                      <a id="" href="" class="map-widget-icon"><i class="ion-crop add-tooltip" data-bind="tooltip: { title: '{% trans "Map Tools" %}', placement: 'bottom' }"></i></a>
                  </div>
                  <div class="map-widget-tool text-center" data-bind="click: function(){toggleMapControlPanels('legend')}, css : {'active': !mapControlPanels.legend()}">
                      <a id="" href="" class="map-widget-icon" ><i class="ion-ios-list add-tooltip" data-bind="tooltip: { title: '{% trans "Legend" %}', placement: 'bottom' }"></i></a>
                  </div>
                  <div class="map-widget-tool text-center" data-bind="click: function(){toggleMapControlPanels('basemaps')}, css : {'map-widget-tool-expanded' : mapToolsExpanded}">
                      <a id="close-map-tools" href="#" class="map-widget-icon" data-bind="click: toggleMapTools"><i class="ion-ios-close add-tooltip" data-bind="tooltip: { title: '{% trans "Close" %}', placement: 'bottom' }"></i></a>
                  </div>
              </div>

              <!-- Basemaps -->
              <div id="map-widget-basemaps" class="panel map-widget-panel" data-bind="fadeVisible: mapToolsExpanded, css : {'map-panel-inactive': mapControlPanels.basemaps}">
                  <!-- Panel Title -->
                  <div class="map-widget-panel-title">
                      <h4 class=""> Basemaps </h4>
                  </div>

                  <!-- Overlay Item -->
                  <div class="map-widget-overlay-item relative">
                      <div class="map-overlay-vis-toogle text-center">
                          <i class="ion-checkmark-circled fade"></i>
                      </div>
                      <div class="map-overlay-name">
                          <a id="" class="" href="">Bing Streets</a>
                      </div>
                  </div>

                  <!-- Overlay Item -->
                  <div class="map-widget-overlay-item relative">
                      <div class="map-overlay-vis-toogle text-center">
                          <i class="ion-checkmark-circled"></i>
                      </div>
                      <div class="map-overlay-name">
                          <a id="" class="" href="">Google Streets (Gray)</a>
                      </div>
                  </div>
              </div>

              <!-- Overlays -->
              <div id="overlays-panel" class="panel map-widget-panel" data-bind="css: {'map-panel-inactive': mapControlPanels.overlays}">
                  <!-- Panel Title -->
                  <div class="map-widget-panel-title">
                      <h4 class=""> Overlays <i class="ion-ios-plus pull-right add-tooltip" data-placement="left" data-toggle="tooltip" data-original-title="add overlay"></i></h4>
                  </div>

                  <!-- Overlay Item -->
                   <div id="op-1" class="map-widget-overlay-item relative">
                      <div class="map-overlay-vis-toogle text-center">
                          <i class="ion-ios-baseball"></i>
                      </div>
                      <div class="map-overlay-name">
                          <a id="" class="" href="">An Overlay with a long name </a>
                      </div>
                      <div id="" class="map-overlay-item-tools">
                          <a id="op-1-button" href="#" class="overlay-toggle"><i id="op-1-icon" class="ion-arrow-left-b"></i></a>
                      </div>
                      <div id="op-1-tools" class="map-overlay-item-tools-panel" style="display: none;">
                          <div class="overlay-slider">
                              <div id="op-1-slider" class="demo-pips pips noUi-target noUi-ltr noUi-horizontal noUi-connect"><div class="noUi-base"><div class="noUi-origin noUi-background noUi-stacking" style="left: 100%;"><div class="noUi-handle noUi-handle-lower"></div></div></div></div>
                          </div>
                          <div class="overlay-tool-group">
                              <i class="ion-information-circled pull-right overlay-tool-icon add-tooltip" data-placement="left" data-toggle="tooltip" data-original-title="visible: 7-20"></i>
                              <i class="ion-ios-arrow-up pull-right overlay-tool-icon add-tooltip" data-placement="bottom" data-toggle="tooltip" data-original-title="move overlay up"></i>
                              <i class="ion-ios-arrow-down pull-right overlay-tool-icon add-tooltip" data-placement="bottom" data-toggle="tooltip" data-original-title="move overlay down"></i>
                          </div>
                      </div>
                  </div>
						 </div>

              <!-- Map Tools -->
              <div id="maptools-panel" class="panel map-widget-panel" data-bind="css: {'map-panel-inactive': mapControlPanels.maptools}">
								<!-- Panel Title -->
								<div class="map-widget-panel-title">
										<h4 class=""> Map Tools </h4>
								</div>
              </div>

              <!-- Legend -->
              <div id="legend-panel" class="panel map-widget-panel" data-bind="css: {'map-panel-inactive': mapControlPanels.legend}">
                  <!-- Panel Title -->
                  <div class="map-widget-panel-title">
                      <h4 class=""> Legend </h4>
                  </div>
              </div>
          </div>


          <!-- Overlay Selector -->
          <div class="overlay-container" style="display: none;">
              <h3 class="panel-title card-main-title"> Overlays <i class="pull-right icon-xl ion ion-ios-close-empty"></i></h3>

              <!-- Ocerlay Listing -->
              <div id="report-image-grid" class="report-image-grid">


              </div>

          </div>
        </div>
</div>


<div data-bind="if: configForm">
	<div class="control-label">
			{% trans "Zoom Level" %}
	</div>
  <div class="col-xs-12 pad-no crud-widget-container">
      <input type="" id="" placeholder="{% trans "Zoom Level" %}" class="form-control input-md widget-input" data-bind="value: zoom, valueUpdate: 'keyup'">
  </div>
  <div class="control-label">
      {% trans "Default Geocoder" %}
  </div>
  <div class="col-xs-12 pad-no crud-widget-container">
			<input type="" id="" placeholder="{% trans "Geocoder" %}" class="form-control input-md widget-input" data-bind="value: defaultgeocoder, valueUpdate: 'keyup'">
	</div>
  <div class="control-label">
      {% trans "Map Center Longitude X coordinate" %}
  </div>
	<div class="col-xs-12 pad-no crud-widget-container">
			<input type="" id="" placeholder="{% trans "Longitude (x coordinate)" %}" class="form-control input-md widget-input" data-bind="value: centerX, valueUpdate: 'keyup'">
	</div>
  <div class="control-label">
      {% trans "Map Center Latitude or Y coordinate" %}
  </div>
  <div class="col-xs-12 pad-no crud-widget-container">
      <input type="" id="" placeholder="{% trans "Longitude (x coordinate)" %}" class="form-control input-md widget-input" data-bind="value: centerY, valueUpdate: 'keyup'">
  </div>
</div>
