{% load i18n %}
<div class="row widget-wrapper" data-bind="if: !configForm">
    <div class="form-group">
        <label class="control-label widget-input-label" for="" data-bind="text:label"></label>
        <div class="col-xs-12">
            <!-- Select element with chosen binding does not support nesting at the moment. -->
            <!-- <select class="form-control input-lg widget-input design" data-bind="value: selection, options: options , optionsText: 'text', optionsValue: 'id', placeholder: placeholder, chosen: {width: '100%'}"></select> -->
            <input style="width:30%; display:inline-block;" data-bind="select2: {select2Config: {data: options, placeholder: '{% trans "Unit" %}'}}"></input>
        </div>
    </div>
</div>

<div data-bind="if: configForm">
  <div class="control-label">
      {% trans "Placeholder" %}
  </div>
  <div class="col-xs-12 pad-no crud-widget-container">
      <input type="" placeholder="{% trans "Placeholder" %}" id="" class="form-control input-md widget-input" data-bind="value: placeholder, valueUpdate: 'keyup'">
  </div>
</br/>
</br/>
</br/>
</div>
