{% load i18n %}
<!-- ko if: !configForm  && state=== 'form' -->
<div class="row widget-wrapper" data-bind="if: !configForm && state=== 'form'">
    <div class="form-group">
        <label class="control-label widget-input-label" for="" data-bind="text:label"></label>
        <div class="col-xs-12">
            <input class="select2 arches-select2-crud-form" data-bind="disable: disabled, select2: {value: value, select2Config: {data: options}, placeholder: placeholder}"></input>
        </div>
    </div>
</div>
<!-- /ko -->

<!-- ko if: !configForm  && state=== 'report' -->
<dt data-bind="text: label"></dt>
<dd data-bind="text: value() || '{% trans "None" %}'"></dd>
<!-- /ko -->

<!-- ko if: configForm -->

<!-- /ko -->
