{% extends "base.htm" %}
{% load i18n %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/plugins/bootstrap-slider.min.css' %}">    
{% endblock css%}
{% block content %}

<!--=== Search Block ===-->
<div class="search-block" >
    
    <!-- Search Terms -->
    <div class="container">
        <div class="row">
            
            <!-- Search Widget -->
            
            <div class="col-xs-12 col-md-8 col-lg-9">
                <div id="term-select-template" class="search-box-container hidden">
                    <button class="btn btn-default toggle-combine-prev pull-left toggle-combine-off" type="button">
                        <i class="fa toggle-inactive fa-circle-o"></i>
                        <i class="fa toggle-active fa-check-circle-o"></i>
                    </button>
                    <input class="select2 arches-select2 pull-left term-search" name="" placeholder="{% trans "Search for a resource..." %}" value="">
                    <button class="btn btn-success btn time-filter-button pull-left" style=""> 
                        <i class="fa fa-clock-o" style="padding-right:8px;"></i>{% trans "Time Filter" %}
                    </button>
                    <span class="dropdown pull-left term-and-or">
                        <button class="btn btn-default dropdown-toggle select-term-and-or" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="term-and-or-value">And</span>
                            <i class="fa fa-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdown-grouped">
                            <li><a href="#" class="search-term-and-or search-term-and" data-value='and'>And</a></li>
                            <li><a href="#" class="search-term-and-or search-term-or" data-value='or'>Or</a></li>
                        </ul>
                    </span>                    <span class="dropdown pull-left term-group">
                        <button class="btn btn-default dropdown-toggle select-term-groupping" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="term-group-value">{% trans "No group" %}</span>
                            <i class="fa fa-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdown-grouped">
                            <li><a href="#" class="search-grouped" data-value='No group'>{% trans "No group" %}</a></li>
                            {% for option in group_options %}
                                <li><a href="#" class="search-grouped" data-value='{{option.0}}'>{{option.1}}</a></li>
                            {% endfor %}
                        </ul>
                    </span>
                </div>
                <div class="form-group term-search-boxes">
                    {% if 'edit' in user.user_groups %}
                    <div class="global-and-or-container">
                        <span class="dropdown pull-left global-and-or">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span>Global </span><span class="and-or-value">And</span>
                                    <i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdown-and-or">
                                    <li><a href="#" class="search-and-or search-and">And</a></li>
                                    <li><a href="#" class="search-and-or search-or">Or</a></li>
                                </ul>
                        </span>
                    </div>
                    {% endif %}
                </div>
                {% if 'edit' in user.user_groups %}
                <div class="pull-left add-remove-search-box">
                    <button class="btn btn-primary add-search-box" type="button">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button class="btn btn-danger remove-search-box" type="button">
                        <i class="fa fa-remove"></i>
                    </button>
                </div>
                {% endif %}
            </div>
            
            <!-- End Search Widget -->


            <!-- Advanced Search Option -->
            <div class="col-xs-12 col-md-4 col-lg-3">
              <div class="btn-group pull-right">
                  <button type="button" class="btn btn-default advanced-search">
                      <i class="fa fa-sliders" aria-hidden="true"></i>
                  </button>

                  <button class="btn btn-default toggle-related-resources toggle-related-off" type="button">
                      <span class="term-group-value">
                          <i class="fa fa-sitemap" style="padding: 0"></i>
                      </span>
                  </button>

                {% if 'edit' in user.user_groups %}
                <button class="btn btn-success btn" id="map-filter-button" style=""> 
                    <i class="fa fa-minus invert-btn" style="margin-right: 7px;"></i>
                    <i class="fa fa-map-marker" style="padding: 0 4px;"></i>
                    <i class="fa fa-close close-btn" style="margin-right: 7px;"></i>
                </button>
                
                {% else %}
                <button class="btn btn-success btn" id="map-filter-button" style=""> 
                    <i class="fa fa-minus invert-btn" style="margin-right: 7px;"></i>
                    <i class="fa fa-map-marker" style="padding-right:8px;"></i>
                    <i class="fa fa-close close-btn" style="margin-right: 7px;"></i>
                </button>
                {% endif %}

                
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                        {% trans "Tools" %}
                        <i class="fa fa-chevron-down"></i>
                        <span class="sr-only">{% trans "Toggle Dropdown" %}</span>                            
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="javascript:void(0);" id="view-saved-searches">{% trans "View Popular Searches" %}</a></li>
                        <li class="divider"></li>
                        {% if 'edit' in user.user_groups %}
                        <li><a class="dataexport" id="shp" href="" target="_blank">{% trans "Export results to .SHP" %}</a></li>
                        <li><a class="dataexport" id="csv" href="" target="_blank">{% trans "Export results to .CSV" %} </a></li>
                        <li><a class="dataexport" id="kml" href="" target="_blank">{% trans "Export results to .KML" %} </a></li>
                        <li><a class="dataexport" id="json" href="" target="_blank">{% trans "Export results to .JSON" %} </a></li>
                       {% endif %}

                        <li class="divider"></li>
                        <li><a href="javascript:void(0);" id="clear-search">{% trans "Clear Search" %}</a></li>
                    </ul>

                </div>
            </div>
            <!-- End Advanced Search Option -->
        </div>
    </div>
    <!-- End Search Terms -->  

</div>    
<!--=== End Search Block ===-->


<!--=== Default Resource Summary ===-->
<div class="container margin-bottom-50">

    <div class="row" id="saved-searches" style="margin-left:0px; margin-right:0px;">
        <!-- Results Header -->
        <h2 style="margin-bottom:8px;">
            <div class="row">        
                <div class="col-xs-12">
                    <span class="text-muted" style="margin-bottom: 5px;">{% trans "Popular Searches:" %}</span>
                </div>

            </div>
        </h2>   
        <!-- Results Header -->

        {% include 'views/saved-searches.htm' %}
    </div>

    <div class="row" id="search-results" style="margin-left:0px; margin-right:0px;">
       <!-- Results Header -->
        <h2 style="margin-bottom:8px;">
            <div class="row" id="search-results-count" data-count="">        
                <div class="col-xs-12 col-lg-2" data-bind="if: total() >= 0">
                    <span class="" style="font-size:23px;" data-bind="text: total() + ' {% trans "Results" %}'"></span>                               
                </div>

            </div>
        </h2>   
        <!-- Results Header -->      
          
        <div class="s-results margin-bottom-50">
            <div class="row" id="map-filter-container" data-filtertext="{% trans "Map Filter Enabled" %}" style="margin-right: 20px;"> 
                {% include 'views/search/map-filter.htm' %}
            </div>
            <div class="row hidden" id="time-filter-container-template" data-filtertext="{% trans "Time Filter Enabled" %}"> 
                {% include 'views/search/time-filter.htm' %}
            </div>
            <div class="time-filters"></div>
            <div class="row" id="search-results-container"> 
                {% include 'views/search/search-results.htm' %}
            </div>
        </div>
    </div>

</div>

{% endblock content %}
