.resource-filter {
	.resource-selector-button {
		div {
			.btn {
				padding: 2px 10px;
			}
		}
	}
}

.qa-filter {
	.resource-selector-button {
		div {
			.btn {
				padding: 2px 10px;
			}
		}
	}
}

.ep-toolbar {
    .top-right-nav {
        .ep-tools-login {
            p {
				@include break-at(tablet-max) {
					display: none;
				}
			}
			i {
				display: inline-block;
				font-size: 1.7rem;
    			margin-top: 2px;
				@include break-at(small-desktop) {
					display: none;
				}
			}
			.h5 {
				font-size: 1.2rem;
			}
        }
    }
}

.btn-sm, .btn-icon.btn-sm {
    font-size: 1.1rem;
}

.btn-group-sm>.btn {
	font-size: 1.2rem;	
}
