.select2-container {
    font-size: 1.4rem;
    width: 100% !important;
    max-width: 600px !important;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    border: 1px solid #ddd;
    border-radius: 0px;
    min-height: 36px;
    
    .select2-selection__rendered {
        line-height: 34px;
    }

    .select2-selection__arrow {
        height: 34px;
    }

    .select2-selection__choice {
        background-color: #42a5f5;
    
        border: none;
        //background: transparent;
        color: white;
        vertical-align: top;
        height: 26px;
    
        & .fa-minus {
            margin: 0px 2px 0px 7px;
        }

        &__remove {
            color: #595959;
            background-color: #fff;
            border-radius: 3px;
            line-height: 8px;
            font-size: 15px;
            margin: 2px 4px;
            padding: 3px;
        }
    }

    .select2-selection__placeholder {
        color: #595959;
    }
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    line-height: 26px;
}

.select2-container--default .select2-search--inline .select2-search__field {
    line-height: 24px;
    padding: 0px 5px;
}

.select2-selection__clear {
    padding: 0 8px;
    font-size: 1.5em;

    &:hover {
        color: #2986b8
    }
}
.select2-dropdown.select2-zindex {
    z-index: 999999;
}

.select2-container--open .select2-selection--multiple:before { 
    border-top:0; 
    border-bottom: 5px solid #888; 
} 

.select2-selection--multiple:before {
    content: "";
    position: absolute;
    right: 7px;
    top: 42%;
    border-top: 5px solid #888;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}