
{% load i18n %}

<div>
  <!-- ko component: {
      name: 'map-widget',
      params: {
        resizeOnChange: resizeOnChange,
        type: 'search-filter',
        configForm: false,
        node: null,
        value: filter.feature_collection,
        results: results,
        state: 'form',
        config: {
            basemap: "streets",
            bearing: 0,
            centerX: -122.39977301055693,
            centerY: 37.79019437299843,
            featureColor: "rgba(55,32,196,0.85)",
            featureEditingDisabled: false,
            featureLineWidth: 2,
            featurePointSize: 6,
            geocodePlaceholder: "Locate a Place or Address",
            geocodeProvider: "MapzenGeocoder",
            geocoderVisible: true,
            geometryTypes: [{'id':'Point','text':'Point'},{'id':'Line','text':'Line'},{'id':'Polygon','text':'Polygon'}],
            mapControlsHidden: false,
            maxZoom: 20,
            minZoom: 0,
            overlayConfigs: [],
            overlayOpacity: 0,
            pitch: 0,
            zoom: 10.007195441591573
        }
    }
  } --><!-- /ko -->
</div>
