
{% load i18n %}

<div>
  <!-- ko component: {
      name: 'map-widget',
      params: {
        searchAggregations: aggregations,
        searchBuffer: searchBuffer,
        resizeOnChange: resizeOnChange,
        type: 'search-filter',
        configForm: false,
        node: null,
        value: filter.feature_collection,
        results: results,
        query: query,
        clearSearch: clearSearch,
        state: 'form',
        config: {
            basemap: defaultBasemap.name,
            bearing: 0,
            centerX: defaultCenter[0],
            centerY: defaultCenter[1],
            featureColor: "rgba(55,32,196,0.85)",
            featureEditingDisabled: false,
            featureLineWidth: 2,
            featurePointSize: 6,
            geocodePlaceholder: "Locate a Place or Address",
            geocodeProvider: geocoderDefault,
            geocoderVisible: true,
            geometryTypes: [{'id':'Point','text':'Point'},{'id':'Line','text':'Line'},{'id':'Polygon','text':'Polygon'}],
            mapControlsHidden: false,
            maxZoom: maxZoom,
            minZoom: minZoom,
            overlayConfigs: overlays,
            overlayOpacity: 0,
            pitch: 0,
            zoom: defaultZoom
        }
    }
  } --><!-- /ko -->
</div>
