{% load i18n %}
<div class="search-container time-search-container">

    <h3 class="search-title">{% trans "Time Filter" %}</h3>

    <!-- Calendar Search -->
    <div id="calendar" class="time-search-subcontainer">

        <!-- Date Type -->
        <div class="calendar">
            <h3 class="search-label">{% trans "Type" %}</h3>
            <select id="" class="resources" data-placeholder="Date type" tabindex="-1" data-bind="value: filter.dateNodeId, chosen:{ width: '100%' }">
                <option value="">{% trans "Search all dates" %}</option>
                {% for graph in graph_models %}
                    {% if graph.isresource and graph.isactive %}
                    <optgroup label="{{ graph.name }}">
                        {% for node in date_nodes %}
                            {% if graph.graphid == node.graph_id %}
                            <option value="{{ node.nodeid }}">{{ node.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </optgroup>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <!-- Date Selector -->
        <div class="calendar">
            <h3 class="search-label">{% trans "Within" %}</h3>
            <select id="" class="resources" placeholder="Select" tabindex="-1" data-bind="value: dateRangeType, chosen:{ width: '100%' }">
                <option value="custom">{% trans "Custom date range" %}</option>
                <option value="today">{% trans "Today" %}</option>
                <option value="last-7">{% trans "Last 7 days" %}</option>
                <option value="last-30">{% trans "Last 30 days" %}</option>
                <option value="this-week">{% trans "This week" %}</option>
                <option value="this-month">{% trans "This month" %}</option>
                <option value="this-quarter">{% trans "This quarter" %}</option>
                <option value="this-year">{% trans "This year" %}</option>
            </select>
        </div>

        <!-- From Date -->
        <div class="calendar">
            <h3 class="search-label">{% trans "From" %}</h3>
            <div id="search-from-c">
                <input class="form-control input-lg" data-bind="value: filter.fromDate, datepicker: {format: format}, disable: dateRangeType() !== 'custom'">
            </div>
        </div>

        <!-- To Date -->
        <div class="calendar">
            <h3 class="search-label">{% trans "To" %}</h3>
            <div id="search-from-b">
                <input class="form-control input-lg" data-bind="value: filter.toDate, datepicker: {format: format, minDate: !!filter.fromDate() ? filter.fromDate : null}, disable: dateRangeType() !== 'custom'">
            </div>
        </div>

        <div class="pull-right" style="margin:-32px 20px 0 0; cursor:pointer;" data-bind="if: filter.fromDate() || filter.toDate() || filter.dateNodeId() !== 'all'">
            <a href="#" data-bind="click: function () { clear(); }"><i class="fa fa-close"></i></a>
        </div>
    </div>


    <div class="time-wheel-wrap time-search-subcontainer relative" data-bind="timeWheel: { config: wheelConfig, onClick: selectPeriod, breadCrumb: breadCrumb}">
        <h3 class="search-title">{% trans "Time Wheel" %} <span class="text-xs text-muted text-thin">{% trans "(Click on a block to set a filter, double-click to zoom in, double-click center to zoom out)" %}</span></h3>
        <div class="sequence" data-bind="text: breadCrumb"></div>
        <div class="chart" class=""></div>
    </div>

</div>
