{% extends "views/list.htm" %}
{% load staticfiles %}
{% load i18n %}

{% block header %}
{% endblock %}

{% block filter %}
<!-- ko if: $data.filterFunction -->
<div class="permission-manager-filter" style="display:none" data-bind="visible: $data.filterFunction">
    <div class='filter-bar'>
    <input type="text" class="form-control" style="" placeholder="{% trans 'Find a card' %}" data-bind="value: $data.filter, valueUpdate: 'afterkeydown'">

    <!-- Clear Search -->
    <span class="clear-node-search" data-bind="click: $data.clearSearch"><i class="fa fa-times-circle"></i></span>

    <!-- ko if: $data.singleSelect == false -->
    <div class="pad-rgt pad-btm clear-selection">
        <a class="clear-selection-link" style="" data-bind="click: clearSelection">{% trans "Clear" %}</a>
    </div>
    <!-- /ko -->
    </div>
</div>
{% endblock %}


{% block list_wrapper %}

<!-- ko foreach: { data: [$data], as: 'self' } -->
<div class="permission-manager-item-list" style="display: none;" data-bind="visible: self">

    <!-- TOC Cards/Widgets -->
    <div class="card-tree-container">
        <div data-bind="foreach: { data: $data.outerCards, as: 'card' }">
            <li class="card-tree-list">
                <a href="#" class="cc-link" aria-expanded="true" style="position: relative;" data-bind="css: {'active': card.selected || card.active}, visible: card.filtered() == false, click: self.selectItem.bind(self)">
                    <span class="icon-wrap icon-wrap-sm icon-circle bg-card">
                        <i class="card-tree-list-icon" data-bind="css: card.type === 'card_container' ? 'ion-ios-briefcase-outline' : 'ion-ios-folder'"></i>
                    </span>

                    <span class="node-name" data-bind="text: card.name"></span>
                    <span class="node-subname" data-bind="text: card.type_label"></span>

                    <span class="node-permissions">
                        <!-- ko foreach: card.perms -->
                        <i class="node-permission-icon" data-bind="css: $data.icon"></i>
                        <!-- /ko -->
                    </span>

                    <!-- ko if: card.type === 'card' -->
                    <span class="expando">
                        <i id="cc-expand-1" class="expand-cc-child-nodes" data-bind="click: self.toggleNodes, css: {'ion-arrow-down-b': card.visible(), 'ion-arrow-left-b': !card.visible()}"></i>
                    </span>
                    <!-- /ko -->
                </a>

                <ul class="card-tree-list-item report-tree-list" aria-expanded="true" data-bind="visible: card.visible">
                    <div data-bind="template: {
                        name: 'card-tree',
                        foreach: card.children,
                        as: 'card'
                      }">
                    </div>
                </ul>
            </li>
        </div>
    </div>
</div>
<!-- /ko -->

<template id="card-tree">
    <li class="card-tree-list">
        <a href="#" class="cc-link" aria-expanded="true" style="position: relative;" data-bind="css: {'active': card.selected || card.active}, visible: card.filtered() == false, click: self.selectItem.bind(self)">
            <span class="icon-wrap icon-wrap-sm branch-icon icon-circle bg-report-card">
                <i class="card-tree-list-icon" data-bind="css: card.type === 'card' ? 'ion-ios-folder' : self.datatypes[card.datatype]"></i>
            </span>

            <span class="node-name" data-bind="text: card.name"></span>
            <span class="node-subname" data-bind="text: card.type_label"></span>

            <span class="node-permissions">
                <!-- ko foreach: $data.perms -->
                <i class="node-permission-icon" data-bind="css: $data.icon"></i>
                <!-- /ko -->
            </span>

            <!-- ko if: card.type === 'card' -->
            <span class="expando">
                <i class="expand-icon" id="cc-expand-1" class="expand-cc-child-nodes" data-bind="click: self.toggleNodes, css: {'ion-arrow-down-b': card.visible(), 'ion-arrow-left-b': !card.visible()}"></i>
            </span>
            <!-- /ko -->
        </a>

        <ul class="card-tree-list-item node-indent" aria-expanded="true" data-bind="visible: card.visible">
            <div data-bind="template: {
                name: 'card-tree',
                foreach: card.children,
                as: 'card'
            }"></div>
        </ul>
    </li>
</template>



{% endblock %}
