{% extends "views/list.htm" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Groups/Accounts" %}{% endblock %}

{% block search_placeholder %}{% trans "Find user or group" %}{% endblock %}

{% block list_wrapper %}
<div class="grid" class="grid-list">

    <!-- Card -->
    <!-- ko foreach: $data.items -->
    <div class="library-card permissions library-card-wide" data-bind="visible: $data.filtered() == false, click: $parent.selectItem.bind($parent), css:{ 'selected selected-card': $data.selected }">
    <div data-bind="attr:{'title': $data.groups}">
        <div class="account-card-main">
            <i data-bind="attr: {class: 'fa fa-' + $data.type}"></i>
            <a>
                <div data-bind="text: $data.name"></div>
                <!-- <div data-bind="text: $data.groups"></div> -->
            </a>
        </div>
        <div class="account-card-subtitle text-muted" data-bind="text: $data.type === 'group' ? 'Arches Group' : 'Arches User'"></div>
    </div>
</div>
<!-- /ko -->


</div>

{% endblock %}
