{% load i18n %}
<div id="card-preview" class="pad-all" style="">

    <div id="permissions-form" class="project-panel">
        <div class="permissions-form permission-manager header">
            <div class="">
                <h3 id="cc-title" class="panel-title card-main-title">{% trans "Permissions" %}</h3>
            </div>
        </div>

        <!-- Alert Panel -->
        <div id="basemap-delete-alert" class="panel wizard-data-card-alert" style=""></div>


        <!-- Data Entry -->
        <div id="card-preview-crud" class="fade in" style="padding-top: 0px;">
            <div id="cards" class="tab-base card-content-container" style="margin-bottom: 20px; margin-top: -2px;">
                <div class="" style="margin-left: 0px;">
                    <!-- Card -->
                    <div class="row">
                        <!-- Available Cards -->
                        <div class="col-xs-6">
                                <div class="permission-manager" data-bind="with:groupedNodeList">
                                    {% include 'views/graph/permission-manager/grouped-node-list.htm' %}
                                </div>
                        </div>

                        <!-- Available Cards -->
                        <div class="col-xs-6">
                            <div class="mpm-selector-header">
                                <div class="mpm-selector-header-txt">
                                    <strong>Set Permissions</strong>

                                    <!-- remove all switch -->
                                    <span class="mpm-select-switch-label">
                                        <a class="pad-lft" href="">Clear</a>
                                    </span>
                                </div>
                            </div>

                            <!-- Card List -->
                            <div class="mpm-card-list-items pad-top">

                                <ul class="mpm-node-detail-metadata">
                                    <li class="">
                                        Selected cards (<span>2</span>)
                                        <ul class="mpm-node-detail-metadata">
                                            <li class="">Location: Map, Condition Assessment</li>
                                        </ul>
                                    </li>

                                    <li class="pad-top">
                                        Permissions

                                        <ul class="" style="list-style: none; margin-left: -5px;">
                                            <li class="">
                                                <label class="form-checkbox form-normal form-primary form-text">
                                                    <input type="checkbox">
                                                    <i class="ion-close"></i> <span>No Access</span>
                                                </label>
                                            </li>

                                            <li class="">
                                                <label class="form-checkbox form-normal form-primary form-text">
                                                    <input type="checkbox">
                                                    <i class="ion-android-delete"></i> <span>Delete</span>
                                                </label>
                                            </li>

                                            <li class="">
                                                <label class="form-checkbox form-normal form-primary form-text">
                                                    <input type="checkbox">
                                                    <i class="ion-ios-book"></i> <span>Read</span>
                                                </label>
                                            </li>

                                            <li class="">
                                                <label class="form-checkbox form-normal form-primary form-text">
                                                    <input type="checkbox">
                                                    <i class="ion-edit"></i> <span>Create/Update</span>
                                                </label>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
