.input-group.date .input-group-addon {
    background: #fafafa;
}

.input-group-addon:first-child{
    border-inline-start: 1px solid #e1e5ea;
    border-inline-end: none;
}

.input-group.date .input-group-addon,
.date-icon{
    cursor: default;
}
