.edtf-style-tools-panel{
    overflow-y: scroll;
    max-width: 600px;
}

.edtf-style-tools-panel::-webkit-scrollbar, .i18n-style-tools-panel::-webkit-scrollbar  {
    -webkit-appearance: none;
    width: 9px;
    border-left: 1px solid #ddd;
}

.edtf-style-tools-panel::-webkit-scrollbar-thumb, .i18n-style-tools-panel::-webkit-scrollbar-thumb  {
    border-radius: 1px;
    background-color: rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.workbench-card-sidepanel .edtf-style-tools-panel, .workbench-card-sidepanel .i18n-style-tools-panel {
    width: 340px;
}
