.file-upload {
    position: relative;
    overflow: hidden;
}

.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.dz-previews {
    border: 1px solid #ddd;
    overflow-y: scroll;
    width: 100%;
}

.file-upload-filter {
    /* margin-right: 5px; */
    padding: 0.5em 1em;
    width: 250px;
}

.dz-previews .file-upload-card {
    border-bottom: 1px solid #D3E5F4;
    border-radius: 2px;
    padding: 7px 8px 10px 15px;
    background: #fff;
    color: #666;
    height: 100%;
}

.dz-previews .file-upload-card:nth-child(odd) {
    background: #F5FAFE;
}

.file-upload-options {
    padding-bottom: 0.75em;
    display: flex;
}

.file-upload-options-grow{
    flex-grow: 1;
}

.file-size-label {
    float: right;
    margin-top: 2px;
}

.btn-file-upload-reset {
    color: #489EED;
    font-size: 1.2rem;
}

.file-upload-card-detail-right {
    min-width: 85px;
    float: right;
    margin-top: 6px;
}

.file-upload-card-detail a:hover {
    cursor: pointer;
}

.btn-file-upload-limit {
    color: #489EED;
    font-size: 1.2rem;
    float: left;
}

.btn-file-cancel {
    background: #01113c;
    border-radius: 50%;
    border: none;
}

.file-upload-footer {
    background: #f1f1f1;
    color: rgb(89, 56, 255);
    display: flex;
    justify-content: left;
    align-items: center;
    border-top: 1px solid #ddd;
    padding-left: 10px;
    padding: 15px 15px;
}

.file-upload-footer .loader-selector {
    max-height: 25px;
}

.file-select h2,
.file-select-h2 {
    font-weight: 400;
}

.file-metadata {
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
}

.form-group .file-metadata input {
    max-width: unset;
}

.rp-report-tile dt.first, 
.rp-report-tile dd.first {
    margin-top: 40px !important;

    &:first-of-type {
        margin-top: 0px !important;
    }
}
