@import "number";

div.row.widget-wrapper {
    margin: 0;
    margin-right: 10px;
    padding: 10px 5px 25px 5px;
    position: relative;
}

.widget-input-label {
    font-size: 12px;
    margin-top: 2px;
    font-weight: 600;
    color: #666;
    display: inline-block;
}

.crud-widget-container {
    padding-bottom: 15px;
}

.form-control.input-lg.widget-input {
    height: 36px;
}
