{% extends "errors/error_base.htm" %}
{% load i18n %}
{% load static %}

{% block body %}
<div style="text-align: center">
	<!--===================================================-->
	<div class="cls-header">
	    <div class="cls-brand">
	        <a class="box-inline" href="/index.html">
	            <span class="brand-title"><h4>{% trans "Arches" %}</h4></span>
	        </a>
	    </div>
	</div>

	<!-- CONTENT -->
	<!--===================================================-->
	<div class="cls-content">
	    <h1 class="error-code text-mint">{% trans "Oops!" %}</h1>
	    <p class="h3 text-uppercase">{% trans "Page Not Found!" %}</p>
	    <div class="pad-btm">
				{% trans "Sorry, but the page you are looking for has not been found on our server." %}
	    </div>

	    <hr class="new-section-sm bord-no">
	    <div class="pad-top"><a class="btn-link" href="/index.html">{% trans "Back to Homepage" %}</a></div>
	</div>
</div>
{% endblock body %}