{% extends "views/report-templates/default.htm" %}
{% load i18n %}

{% block header %}
<div>
  <!-- ko component: {
      name: 'geometry-widget',
      params: {
          config: report.get('config'),
          node: null,
          value: null,
          type: 'report-header'
      }
  } --><!-- /ko -->
</div>
{% endblock header %}

{% block header_form %}
<!-- ko component: {
    name: 'geometry-widget',
    params: {
        config: report.get('config'),
        node: null,
        value: null,
        configForm: true,
        type: 'report-header'
    }
} --><!-- /ko -->
{% endblock header_form %}
