{% load i18n %}
<!-- ko if: form.ready -->
<!-- ko foreach: { data: form.cards, as: 'outerCard' } -->
<!-- ko let: {'isWizard': outerCard.isContainer() && outerCard.get('cardinality')() === 'n'} -->
<!-- Card Manager Panels and Forms -->
<div class="ep-card-crud-container" data-bind="visible: outerCard.get('visible')()">

    <div class="panel" style="padding-bottom: 10px; margin-bottom: 0px;">
        <div class="panel-heading">
            <div class="">
                <h3 id="cc-title" class="panel-title card-main-title" data-bind="text: outerCard.get('name')"></h3>
            </div>
        </div>

        <script type="text/html" id="card-template">
            <!-- Card Template -->
            <div class="tab-base outline" style="margin-bottom: 5px; margin-top: -2px;" data-bind="let: {'parentTile': $data}">

                <!--Nav Tabs-->
                <ul class="nav nav-tabs card-nav-container" style="margin-bottom: 1px; cursor: pointer; " data-bind="foreach: {
                    data: outerCard.isContainer() ? _.filter(outerCard.get('cards')(), function(card){return card.get('visible')()}) : [outerCard],
                    as: 'card'
                }, click: isWizard && !forceBlank ? form.toggleGroup : null;">
                    <li id="summary-group" data-bind="css: {
                        'active': 0 === $index()
                    }, click: form.selectTab.bind($parent)">
                        <a id="summary-tab" href="#" class="card-tab-title" data-bind="click: function(){window.setTimeout(function(){window.dispatchEvent(new Event('resize'))}, 100)}">
                            <span data-bind="text: card.get('name')"></span>
                        </a>
                    </li>
                    <!-- ko if: isWizard && !forceBlank && $index() === outerCard.get('cards')().length - 1-->
                    <li class="wizard-card-tools">
                        <i class="ion-ios-loop-strong add-tooltip library-tools-icon" data-placement="bottom" data-toggle="tooltip" data-original-title='{% trans "Show/Hide" %}'></i>
                    </li>
                    <!-- /ko -->
                </ul>

                <!--Tabs Content-->
                <div class="tab-content card-content-tab" style="margin-left: 0px;" data-bind="foreach: {
                    data: outerCard.isContainer() ? _.filter(outerCard.get('cards')(), function(card){return card.get('visible')()}) : [outerCard],
                    as: 'card'
                }, visible: !(isWizard && !forceBlank)">

                    <!-- ko let: {'cardinality': outerCard.isContainer() ? outerCard.get('cardinality')() + '-' + card.get('cardinality')() : card.get('cardinality')() + '-'} -->

                    <!-- ko if: isWizard && !forceBlank -->
                    <a href="#" class="library-tools-icon card-container-trash-icon" style="display: none;" data-bind="click: form.deleteTileGroup.bind(form, parentTile)">
                        <i class="ion-ios-trash add-tooltip record-delete" data-placement="bottom" data-toggle="tooltip" data-original-title='{% trans "Delete" %}'></i>
                    </a>
                    <!-- /ko -->

                    <!-- Card -->
                    <div class="tab-pane fade" data-bind="css: {
                        'active in': 0 === $index()
                    }">


                        <!-- ko if: card.get('cardinality')() === 'n' -->

                        <div id="card-save-tile-list" class="list-group" style="margin: 0px 15px 30px 5px; display: block;" data-bind="visible: (parentTile.tiles[card.get('nodegroup_id')]().length > 0)">

                            <div class="card-tab-title">
                                {% trans "Saved" %} <span data-bind="text: card.get('name')"/>
                            </div>

                            <div class="list-group" style="margin-top: 5px;" data-bind="sortable: {data: parentTile.tiles[card.get('nodegroup_id')], afterMove: form.reorderTiles.bind(form, parentTile.tiles[card.get('nodegroup_id')]), as: 'innerTile', connectClass: 'list-group', options: {'placeholder': 'ui-sortable-placeholder sortable-placeholder', forcePlaceholderSize: true}}">

                                <div class="list-group-item crud-record-item" style="" data-bind="css: {'selected-provisional-tile': innerTile === form.selectedProvisionalTile()}">
                                    <h5 style="cursor: pointer; padding: 6px 6px 6px 10px;" class="list-group-item-heading text-thin" data-bind="click: form.toggleTile">
                                        <i class="ion-ios-loop-strong add-tooltip library-tools-icon" data-placement="bottom" data-toggle="tooltip" data-original-title='{% trans "Show/Hide" %}'></i>
                                        <span style="position: relative; top: -2px;">
                                            <!-- ko if: card.get('widgets')().length > 0 -->
                                                <span class="text-semibold" data-bind="text: card.get('widgets')()[0].configJSON().label"></span>:
                                                <!-- ko component: {
                                                    name: form.widgetLookup[card.get('widgets')()[0].get("widget_id")()].name,
                                                    params: {
                                                        formData: innerTile.formData,
                                                        tile: innerTile,
                                                        form: form,
                                                        results: $root.searchResults,
                                                        config: card.get('widgets')()[0].configJSON,
                                                        label: card.get('widgets')()[0].get("label")(),
                                                        value: innerTile.data[card.get('widgets')()[0].get("node_id")()],
                                                        node: card.get('widgets')()[0].node,
                                                        disabled: false,
                                                        graph: form.graph,
                                                        type: "resource-editor",
                                                        state: "display_value"
                                                    }
                                                } --><!-- /ko -->

                                                <!-- ko if: form.user.reviewer == true -->
                                                    <!-- ko if: innerTile.provisionaledits() && innerTile.modified() == false -->
                                                    <i class="fa fa-exclamation-triangle add-tooltip provisional-tile icon" data-placement="bottom" data-toggle="tooltip" data-bind="css: {'authoritative': innerTile.hasAuthoritativeData()}"></i>
                                                    <span data-bind="text: innerTile.hasAuthoritativeData() ? '{% trans "has provisional edits" %}' : '{% trans "is provisional" %}'"></span>
                                                        <span class="provisional-tile qa-btn" data-bind="text: innerTile === form.selectedProvisionalTile() ? '{% trans "End QA" %}' : '{% trans "Start QA" %}', click: function(){form.loadSelectedProvisionalTile(innerTile, parentTile, cardinality)}, clickBubble: false"></span>
                                                    <!-- /ko -->
                                                <!-- /ko -->

                                                <!-- ko if: form.user.reviewer == false -->
                                                    <!-- ko if: innerTile.modified() || innerTile.userHasProvisionalEdits -->
                                                    <i class="fa fa-check-circle add-tooltip provisional-tile icon submitted" data-placement="bottom" data-toggle="tooltip"></i>
                                                    <span data-bind="text: '{% trans "Your changes have been submitted for review" %}'"></span>
                                                    <!-- /ko -->
                                                <!-- /ko -->
                                            <!-- /ko -->
                                        </span>
                                    </h5>

                                    <div class="effect" style="display:none; padding: 10px;">
                                        <a href="#" class="library-tools-icon" style="display: block;" data-bind="click: form.deleteTile.bind(form, parentTile, innerTile, forceBlank, cardinality)">
                                            <i class="ion-ios-trash add-tooltip record-delete" data-placement="bottom" data-toggle="tooltip" data-original-title='{% trans "Delete" %}'></i>
                                        </a>

                                        <!-- Card Instruction -->
                                        <div class="card-instructions">
                                            <span data-bind="text: card.get('instructions')"></span>

                                            <!-- Help link -->
                                            <!-- ko if: card.get('helpenabled') -->
                                            <span>
                                                <a class="pull-right card-help help editable-help" data-bind="click: function () { card.get('helpactive')(true) }" style="cursor:pointer;"> {% trans "Help" %} <i class="fa fa-question-circle"></i></a>
                                            </span>
                                            <!-- /ko -->
                                        </div>

                                        <!-- Form -->
                                        <div class="card-form-container">

                                            <form class="widgets" style="margin-bottom: 20px;" data-bind="foreach: {
                                                    data:card.get('widgets'), as: 'widget'
                                                }">
                                                <div class='' data-bind='component: {
                                                    name: form.widgetLookup[widget.get("widget_id")()].name,
                                                    params: {
                                                        formData: innerTile.formData,
                                                        tile: innerTile,
                                                        form: form,
                                                        results: $root.searchResults,
                                                        config: configJSON,
                                                        label: widget.get("label")(),
                                                        value: innerTile.data[widget.get("node_id")()],
                                                        node: widget.node,
                                                        expanded: innerTile.expanded,
                                                        disabled: widget.disabled,
                                                        graph: form.graph,
                                                        type: "resource-editor"
                                                    }
                                                }, css: {
                                                    "hidden": !innerTile.expanded() && form.expanded()
                                                }'></div>
                                            </form>

                                        </div>

                                        <!-- Save/Add Button -->
                                        <!-- ko if: innerTile.dirty() && !forceBlank -->
                                        <!--ko if: !card.get('disabled') -->
                                        <div class="install-buttons" data-bind="css: { 'expanded-buttons': innerTile.expanded() }">
                                            <!-- ko if: innerTile.hasAuthoritativeData() && form.user.reviewer == true -->
                                            <button class="btn btn-shim btn-danger btn-labeled btn-lg fa fa-times" data-bind="click: form.cancelEdit.bind(form, parentTile, innerTile)">{% trans "Cancel" %}</button>
                                            <!-- /ko -->
                                            <!-- ko if: innerTile.hasAuthoritativeData() == false && form.user.reviewer == false -->
                                            <button class="btn btn-shim btn-danger btn-labeled btn-lg fa fa-times" data-bind="click: form.cancelEdit.bind(form, parentTile, innerTile)">{% trans "Cancel" %}</button>
                                            <!-- /ko -->
                                            <button class="btn btn-shim btn-mint btn-labeled btn-lg fa fa-refresh" data-bind="click: form.saveTile.bind(form, parentTile, cardinality)">{% trans "Save" %}</button>
                                        </div>
                                        <!-- /ko -->
                                        <!-- /ko -->

                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- /ko -->




                        <div class="panel-body card-panel-body">
                            <div id="" class="card-content">

                                <div class="card-instructions">
                                    <span data-bind="text: card.get('instructions')"></span>

                                    <!-- Help link -->
                                    <!-- ko if: card.get('helpenabled') -->
                                    <span>
                                        <a class="pull-right card-help help editable-help" data-bind="click: function () { card.get('helpactive')(true) }" style="cursor:pointer;"> {% trans "Help" %} <i class="fa fa-question-circle"></i></a>
                                    </span>
                                    <!-- /ko -->
                                </div>

                                <!-- Form -->
                                <div data-bind="with: form.getFormEditingContext(outerCard, card, parentTile)">
                                    <div class="card-form-container" data-bind="let: {'tile': $data}">
                                    <div class="tacos" data-bind="css:{'selected-provisional-tile': tile === form.selectedProvisionalTile()}">
                                        <!-- ko if: form.user.reviewer == true -->
                                        <!-- ko if: tile.provisionaledits() -->
                                        <i class="fa fa-exclamation-triangle add-tooltip provisional-tile icon" data-placement="bottom" data-toggle="tooltip" data-bind="css: {'authoritative': tile.hasAuthoritativeData()}"></i>
                                        <span data-bind="text: tile.hasAuthoritativeData() ? '{% trans "has provisional edits" %}' : '{% trans "is provisional" %}'"></span>
                                            <span class="provisional-tile qa-btn" data-bind="text: tile === form.selectedProvisionalTile() ? '{% trans "End QA" %}' : '{% trans "Start QA" %}', click: function(){form.loadSelectedProvisionalTile(tile, parentTile, cardinality)}, clickBubble: false"></span>
                                        <!-- /ko -->
                                        <!-- /ko -->

                                        <!-- ko if: form.user.reviewer == false -->
                                        <!-- ko if: tile.modified() || tile.userHasProvisionalEdits -->
                                        <i class="fa fa-check-circle add-tooltip provisional-tile icon submitted" data-placement="bottom" data-toggle="tooltip"></i>
                                        <span data-bind="text: '{% trans "Your changes have been submitted for review" %}'"></span>
                                        <!-- /ko -->
                                        <!-- /ko -->

                                        <form class="widgets" style="margin-bottom: 20px;" data-bind="foreach: {
                                                data:card.get('widgets'), as: 'widget'
                                            }">

                                            <div class='' data-bind='component: {
                                                name: form.widgetLookup[widget.get("widget_id")()].name,
                                                params: {
                                                    formData: tile.formData,
                                                    tile: tile,
                                                    form: form,
                                                    results: $root.searchResults,
                                                    config: configJSON,
                                                    label: widget.get("label")(),
                                                    value: tile.data[widget.get("node_id")()],
                                                    node: widget.node,
                                                    expanded: tile.expanded,
                                                    disabled: widget.disabled,
                                                    graph: form.graph,
                                                    type: "resource-editor"
                                                }
                                            }, css: {
                                                "hidden": !tile.expanded() && form.expanded()
                                            }'>
                                        </div>
                                        </form>



                                        <!-- Save/Add Buttons -->
                                        <!-- ko if: tile.dirty -->
                                        <!--ko if: !card.get('disabled') -->
                                            <!-- ko if: forceBlank -->
                                            <div class="install-buttons" data-bind="visible: card.get('cardinality')() === 'n', css: { 'expanded-buttons': tile.expanded() }" style="display: none;">
                                                <button class="btn btn-shim btn-danger btn-labeled btn-lg fa fa-times" data-bind="click: form.cancelEdit.bind(form, parentTile)">{% trans "Cancel" %}</button>
                                                <button class="btn btn-shim btn-mint btn-labeled btn-lg fa fa-plus" data-bind="click: form.saveTile.bind(form, parentTile, cardinality)">{% trans 'Add' %}</button>
                                            </div>
                                            <!-- ko if: card.get('cardinality')() === '1' ? parentTile.dirty(true): null --><!-- /ko -->
                                            <!-- /ko -->

                                            <!-- ko if: !forceBlank -->
                                            <div class="install-buttons" data-bind="css: { 'expanded-buttons': tile.expanded() }">
                                                <button class="btn btn-shim btn-danger btn-labeled btn-lg fa fa-times" data-bind="click: form.cancelEdit.bind(form, parentTile)">{% trans "Cancel" %}</button>
                                                <button class="btn btn-shim btn-mint btn-labeled btn-lg fa fa-plus" data-bind="click: form.saveTile.bind(form, parentTile, cardinality)">{% trans "Save" %}</button>
                                            </div>
                                            <!-- /ko -->
                                        <!-- /ko -->
                                        <!-- /ko -->

                                        <!-- ko if: !tile.dirty() -->
                                        <!-- ko if: forceBlank -->
                                        <!-- ko if: card.get('cardinality')() === '1' ? parentTile.dirty(false): null -->
                                        <!-- /ko -->
                                        <!-- /ko -->
                                        <!-- /ko -->

                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <aside id="card-help-panel" class="card-help-panel" style="display: none;" data-bind="visible: card.get('helpactive')">
                            <div class="relative">
                                <a id="add-basemap-wizard-help-close" href="#" class="help-close fa fa-times fa-lg" style="" data-bind="click: function () { card.get('helpactive')(false) }"></a>
                            </div>
                            <div id="add-basemap-wizard-help-content">
                                <div>
                                    <div class="panel-heading">
                                        <h3 class="panel-title help-panel-title" style="">
                                            <span class="help-text-small">{% trans "Help" %}</span><span data-bind="html: card.get('helptitle')"></span>
                                        </h3>
                                    </div>
                                    <div class="panel-body" style="padding: 10px 10px 15px 10px;" data-bind="html: card.get('helptext')">
                                    </div>
                                </div>
                            </div>
                        </aside>

                    </div>

                    <!-- /ko -->

                </div>
            </div>
        </script>


        <!-- ko if: !isWizard -->

            <!-- ko let: {'forceBlank': false} -->
            <!-- ko with: outerCard.get('cardinality')() === '1' ? (form.tiles[outerCard.get('nodegroup_id')]().length > 0 ? form.tiles[outerCard.get('nodegroup_id')]()[0] : form.blanks[outerCard.get('nodegroup_id')]()[0] ) : form -->
            <!-- Data Entry -->
            <div class="panel-body card-body fade in" style="padding-top: 0px;" data-bind="template: { name: 'card-template'}"></div>
            <!-- /ko -->
            <!-- /ko -->

        <!-- /ko -->


        <!-- ko if: isWizard -->
        <div class="card-body panel-body ">

            <div style="padding-bottom: 10px; display: none;" data-bind="visible: outerCard.get('cardinality')() === 'n' && form.tiles[outerCard.get('nodegroup_id')]().length > 0">

                <!-- Title -->
                <div class="card-tab-title mar-top mar-btm">
                    {% trans "Saved" %} <span data-bind="text: outerCard.get('name')"/>
                </div>

                <!-- Wizard Tile -->
                <!-- ko let: {'forceBlank': false} -->
                <div class="tab-base wizard-tile-card" style="margin-bottom: 20px; margin-top: -2px;" data-bind="sortable: {data: form.tiles[outerCard.get('nodegroup_id')](), afterMove: form.reorderTiles.bind(form, form.tiles[outerCard.get('nodegroup_id')]()), as: 'tile', connectClass: 'wizard-tile-card', options: {'placeholder': 'ui-sortable-placeholder sortable-placeholder', forcePlaceholderSize: true}}">
                    <!-- Data Entry -->
                    <div class="fade in" style="padding-top: 0px;" data-bind="template: { name: 'card-template' }"></div>
                </div>
                <!-- /ko -->

            </div>

            <!-- ko let: {'forceBlank': true} -->
            <!-- ko with: form.blanks[outerCard.get('nodegroup_id')]()[0] -->

                <!-- Data Entry -->
                <div class="fade in" style="padding-top: 0px;" data-bind="template: { name: 'card-template'}"></div>


                <!-- Wizard Level Buttons -->
                <!-- ko if: $data.dirty -->
                <div class="ep-form-toolbar" style="background: transparent; border-bottom: none;">
                    <div class="ep-form-toolbar-tools mar-no flex">
                        <span>
                            <button class="btn btn-danger btn-lg btn-labeled fa fa-trash" data-bind="click: form.clearTile.bind(form, $data)">{% trans "Discard" %}</button>
                            <button class="btn btn-primary btn-lg btn-labeled fa fa-check" data-bind="click: form.saveTileGroup.bind(form)">{% trans "Save" %}</button>
                        </span>
                    </div>
                </div>
                <!-- /ko -->


            <!-- /ko -->
            <!-- /ko -->



        </div>

        <!-- /ko -->

    </div>
</div>
<!-- /ko -->
<!-- /ko -->
<!-- /ko -->
