{% extends "views/list.htm" %}
{% load staticfiles %}
{% load i18n %}

{% block header %}{% endblock header %}

{% block listitem %}

    <div class="library-icon" style="" data-bind="attr: {'data-arches-formid': $data.formid}">
        <span class="icon-wrap icon-wrap-sm icon-circle branch-icon bg-primary">
            <i class="" data-bind="css: $data.iconclass"></i>
        </span>
    </div>
    <div class="crud-card-main">
        <a class="listitem_name" data-bind="text: $data.title">
        </a>
    </div>
    <div class="crud-card-subtitle" data-bind="text: $data.subtitle">
    </div>

{% endblock %}
