/* =============================================== */
/* Arches v4 Installation CSS                      */
/* =============================================== */

/* Menu Classes                                    */
.list-group.bg-trans .list-group-item:not(.active):not(.disabled) {
	border-bottom: 1px solid #eee;
}

.list-group.bg-trans .list-group-item:not(.active):not(.disabled) {
	background-color: rgba(0,0,0,0.05);
}

.list-group.bg-trans a.list-group-item:hover:(.active) {
	background-color: #fff;
}

a.list-group-item:not(.active):hover {
	cursor: pointer;
}

.list-group-item.active:hover {
	background-color: #f9f9f9;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	color: #5f5f5f;
}

.list-group-item.active:active, .list-group-item.active:focus {
	background-color: #f9f9f9;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	color: #5f5f5f;
}

.list-group-item.active {
	background-color: #fff;
	border-width: 0px;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	color: #5f5f5f;
}


.summary-divider {
	margin-left: 50px;
	margin-right: 50px;
}

.panel hr {
    border-color: rgba(0,0,0,0.075);
}










