.mainnav-lg {
    /* width:220px; */
    grid-template-columns: 220px auto;
}

.arches-navbar-brand {
    display: flex;
    height: 50px;
    color: #2d3c4b;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: 0;
    text-decoration-style: none;
    border: solid 1px rgba(0, 0, 0, 0.4);
}

.brand-title {
    display: block;
    line-height: 48px;
    font-size: 20px;
    color: white;
}
.mainnav-sm .brand-title {
    display: none;
}

#mainnav {
    background-color: #2d3c4b;
    z-index: 15;
    font-size: 11px;
    font-weight: 600;
}

#mainnav-menu2 .arches {
    margin-left: -25px;
}

#mainnav-menu2 {
    padding-inline-start: 0px
}

#mainnav-menu2 ul,.mainnav-widget ul,.menu-popover ul{
    list-style:none;
    padding-left:0
}
#mainnav-menu2 a{
    display:block;
    color:#abb1b7;
    padding:12px 20px
}
#mainnav-menu2 a strong{
    font-weight:600
}
#mainnav-menu2>li{
    -webkit-transition:background-color .5s linear .5s;
    transition:background-color .5s linear .5s
}
#mainnav-menu2>li>a:hover,#mainnav-menu2>li>a:active{
    color:#fff
}
#mainnav-menu2>li>a.hover{
    color:#fff;
    background-color:#345;
    box-shadow:inset 4px 0 0 0 #2986b8
}
#mainnav-menu2>.active-link>a,#mainnav-menu2>.active-link>a:hover{
    color:#fff;
    padding-left:20px;
    font-weight:600;
    box-shadow:inset 4px 0 0 0 #2986b8
}
#mainnav-menu2>.active-sub{
    background-color: #394d61;
}
#mainnav-menu2>.active-sub>a,#mainnav-menu2>.active-sub>a:hover{
    color:#fff
}
#mainnav-menu2>.active{
    -webkit-transition:background-color .5s;
    transition:background-color .5s;
    background-color:#273441
}
#mainnav-menu2>.active .active{
    background-color:#232f3b
}
#mainnav-menu2 ul .list-header{
    padding:10px 20px 12px 55px
}
#mainnav-menu2 ul ul a{
    padding:10px 20px 12px 65px
}
#mainnav-menu2 i{
    padding:0 10px 0 0;
    font-size:1.15em
}
#mainnav-menu2 .hide-lg{
    display:none
}
#mainnav-menu2 ul a,
.menu-popover .sub-menu ul a{
    padding:10px 20px 12px 53px
}
#mainnav-menu2 ul a:hover,
.menu-popover .sub-menu ul a:hover{
    color:#fff;
    padding-left:55px
}
#mainnav-menu2 ul ul a:hover,
.menu-popover .sub-menu ul ul a:hover{
    color:#fff;
    padding-left:68px
}
#mainnav-menu2 ul .active-link a,
.menu-popover .sub-menu ul .active-link a{
    font-weight:600;
    color:#fff;
    box-shadow:inset 4px 0 0 0 #2986b8;
    -webkit-transition:background-color .2s,padding-left .3s,box-shadow .4s;
    transition:background-color .2s,padding-left .3s,box-shadow .4s
}

.list-header{
    font-weight:300;
    padding:10px 15px;
    position:relative;
}

#mainnav .list-header{
    text-transform:uppercase;
    font-weight:bold;
    color:#828b94;
    background-color: #00000030;
}

.mainnav-sm #mainnav-menu2 .list-header,
.mainnav-sm #mainnav-menu2 .list-divider,
.mainnav-sm #mainnav-menu2 .menu-title,
.mainnav-sm #mainnav-menu2 .arrow,
.mainnav-sm #mainnav-menu2 .menu-title>.label{
    padding-top:0;
    padding-bottom:0;
    margin:0;
    height:0;
    opacity:0;
}