.select2-container{
    width: 100% !important;
}

.select2-choice{
    border: 1px solid #E9E9E9 !important;
    border-radius: 2px !important;
    background-image: none !important;
    height: 36px !important;    
    padding: 4px 0 0 16px !important;
}

.select2-container-active .select2-choice{
    border: 1px solid #5897fb !important;
}

.select2-dropdown-open .select2-choice{
    background-color: #fff !important;
}

.select2-arrow{
    border: none !important;
    background: none !important;
    background-image: none !important;
    padding-top: 2px;
}
