.select2-container {
    width: 100% !important;
    max-width: 600px !important;
    border: 1px solid #ddd;
}

.select2-container--default .select2-selection--single {
    border: unset;
    border-radius: 0px;
}

.select2-dropdown{
    border-radius: 0px;
}

// .resource-instance-wrapper .select2-container {
//     max-width: 600px !important;
// }

// .new-provisional-edit-card-container .card form div div .widget-wrapper .form-group div .select2-container {
//     max-width: 600px !important;
// }

// .resource-instance-wrapper .select2-container {
//     max-width: 600px !important;
//     border: 1px solid #eee;
// }

// // .select2-container.select2-container-active.select2-dropdown-open {
// //     border: 1px solid steelblue;
// // }

// .select2-choice {
//     border: 1px solid #E9E9E9 !important;
//     border-radius: 2px !important;
//     background-image: none !important;
//     height: 36px !important;
//     padding: 4px 0 0 16px !important;
// }

// .select2-container .select2-choice {
//     display: flex;
//     height: 26px;
//     padding: 0 0 0 8px;
//     overflow: hidden;
//     position: relative;
//     // border: 1px solid #aaa;
//     border: none !important;
//     white-space: nowrap;
//     line-height: 26px;
//     color: #444;
//     text-decoration: none;
//     border-radius: 4px;
//     background-clip: padding-box;
//     -webkit-touch-callout: none;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     background-color: #fff;
//     background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
//     background-image: -webkit-linear-gradient(center bottom, #eee 0, #fff 50%);
//     background-image: -moz-linear-gradient(center bottom, #eee 0, #fff 50%);
//     // filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
//     background-image: linear-gradient(to top, #eee 0, #fff 50%);
// }

// a.select2-choice {
//     background: #42a5f5;
// }

// .select2-dropdown-open .select2-choice {
//     background-color: #fff !important;
// }

// .select2-arrow {
//     border: none !important;
//     background: none !important;
//     background-image: none !important;
//     padding-top: 2px;
// }

// .select2-container .select2-choice .select2-arrow b:before {
//     content: "";
// }

// .select2-container--default .select2-container--disabled .select2-choice {
//     background: #eee;
// }

// .select2-container--default .select2-selection--multiple .select2-choices {
//     border: 1px solid #e1e5ea;
//     background-image: none;
// }

// // .select2-container .select2-selection--multiple.select2-container-active .select2-choices {
// //     border: 1px solid #e1e5ea;
// //     box-shadow: none;
// // }

// .select2-dropdown {
//     border-radius: 0px;
//     color: inherit;
// }

// // .select2-dropdown--active {
// //     border: 1px solid steelblue;
// //     border-top: none;
// //     box-shadow: none;
// // }

// .select2-result.disabled {
//     background-color: #eee;
//     color: #999;
//     pointer-events: none;
// }

// .select2-results {
//     padding: 0px;
//     margin: 0px;
// }

// .select2-results li {
//     /*padding: 4px 6px;*/
//     padding: 0px;
//     line-height: 22px;
//     color: #595959;
// }

// .select2-results .select2-no-results,
// .select2-results .select2-searching,
// .select2-results .select2-results .select2-ajax-error {
//     background: #f4f4f4;
//     line-height: 30px;
//     padding-left: 5px;
//     padding-top: 2px;
//     padding-bottom: 2px;
// }

// .select2-results .select2-ajax-error {
//     color: #9e1515;
// }

// .select2-container .select2-selection--multiple .select2-choices .select2-search-choice {
//     padding: 3px 10px 5px 18px;
//     margin: 4px 0 0px 5px;
//     background: #42a5f5;
//     position: relative;
//     line-height: 13px;
//     color: #fff;
//     cursor: default;
//     border: 1px solid #3b8dd5;
//     border-radius: 2px;
//     -webkit-box-shadow: none;
//     -webkit-touch-callout: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     background-image: none;
//     -webkit-touch-callout: none;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;

//     .fa-minus {
//         margin: 0px 2px 0px 7px;
//     }
// }

// .select2-container .select2-selection--multiple .select2-choices li {
//     float: left;
//     list-style: none;
// }

// .select2-container .select2-selection--multiple .select2-search-choice-close {
//     left: 3px;
//     color: #fff;
// }

// a.select2-search-choice-close {
//     background-color: #fff;
//     border-radius: 3px;
// }

// .select2-search-choice div {
//     margin-top: 1px;
// }

// .select2-search,
// .dropdown-shim {
//     margin-top: 10px;
// }

// .select2-dropdown.select2-dropdown--above .select2-search input {
//     margin-bottom: 10px;
// }

// .select2-results {
//     margin-top: 10px;
// }

// .select2-container.select2-allowclear .select2-choice abbr {
//     margin-top: 0px;
//     padding: 6px 7px 6px 6px;
//     border: 1px solid #ccc;
// }

// .arches-select2 .select2-choices .select2-search-field {
//     height: 34px;
// }

// .select2-container .select2-selection--multiple .select2-choices {
//     min-height: 36px !important;
//     z-index: 10;
// }

// .select2-container .select2-selection--multiple .select2-choices .select2-search-field input {
//     margin: 3px 10px;
// }

// .arches-select2 .select2-choices .select2-search-field input {
//     margin-top: 3px;
// }

// .select2-container.select2-container .select2-selection--multiple.select2-container-disabled.select2-container-disabled .select2-search-choice {
//     color: #999;
// }

// // .resource_search_widget_dropdown ul .select2-disabled {
// //     background: #eee;
// //     height: 35px;
// // }

// // .resource_search_widget_dropdown ul .select2-disabled .group {
// //     padding: 0px;
// //     border-top: 1px solid #C1D4F3;
// //     width: 383px;
// // }

// // .resource_search_widget_dropdown ul .select2-disabled div span span button {
// //     width: 195px;
// //     height: 35px;
// // }

// // .resource_search_widget_dropdown ul .select2-disabled div span span button.active {
// //     background: #8EAFE3;
// // }

// // .resource_search_widget_dropdown ul .select2-disabled div span span button.term-search-btn:not(.active) {
// //     background: #BBD1EA;
// //     color: #658CC9;
// // }

// // .resource_search_widget_dropdown ul .select2-disabled div span span button:not(.active):hover {
// //     background: #B9D0F4;
// //     color: #4330A4;
// // }

// // .resource_search_widget_dropdown ul .select2-disabled div span span button:first-child {
// //     border-right: 1px solid steelblue;
// // }

// .resource_search_widget_dropdown .select2-results {
//     background: #fdfdfd;
//     z-index: 10;
//     margin-top: 0px;
//     border-top: 1px solid steelblue;
// }

// // .resource_search_widget_dropdown.select2-dropdown-active {
// //     border-color: steelblue;
// // }

// .resource_search_widget_dropdown ul li:not(.select2-no-results) {
//     color: #0A449F;
// }

// .resource_search_widget_dropdown ul .select2-highlighted {
//     background: #E5EFFD;
// }

// .facet-body div div .select2-container {
//     border: none;
// }

// #widget-crud-settings div.row.widget-wrapper div div .select2-container {
//     height: 32px;
// }

// .select2-search-choice .sm-icon-wrap {
//     padding: 0px;
//     padding-left: 5px;
//     padding-right: 2px;
// }

// ul.select2-choices {
//     padding-right: 30px !important;
// }

// ul.select2-choices:after {
//     content: "";
//     position: absolute;
//     right: 10px;
//     top: 50%;
//     transform: translateY(-50%);
//     border-top: 5px solid #333;
//     border-left: 5px solid transparent;
//     border-right: 5px solid transparent;
// }

// .select2-dropdown.split-controls-drop {
//     max-width: 238px;
//     border: 2px solid #ddd;
//     border-top: none;
// }

// .split-controls-drop .select2-result-label {
//     display: flex;
//     align-items: center;
// }

// .split-controls-drop .select2-result-label>div {
//     margin-right: 5px;
// }

// .split-controls-drop .select2-result-label .image img {
//     width: 50px;
// }

// .split-controls-drop .select2-result-label .title {
//     width: 100%;
//     text-overflow: ellipsis;
//     overflow: hidden;
// }

// // .select2-container.select2-container-active.select2-dropdown-open.split-controls-drop {
// //     border: 2px solid #ddd;
// //     border-radius: none;
// // }