/* =============================================== */
/* Arches v4 Installation CSS                      */
/* =============================================== */

@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin");
@import url("//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css");
@import url("//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.min.css");
@import url("nifty.min.css");
@import url("http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css");

/* Menu Classes                                    */
.list-group.bg-trans .list-group-item:not(.active):not(.disabled) {
    border-bottom: 1px solid #eee;
}

.list-group.bg-trans .list-group-item:not(.active):not(.disabled) {
    background-color: rgba(0,0,0,0.05);
}

.list-group.bg-trans a.list-group-item:hover:(.active) {
    background-color: #fff;
}

a.list-group-item:not(.active):hover {
    cursor: pointer;
}

.list-group-item.active:hover {
    background-color: #f9f9f9;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    color: #5f5f5f;
}

.list-group-item.active:active, .list-group-item.active:focus {
    background-color: #f9f9f9;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    color: #5f5f5f;
}

.list-group-item.active {
    background-color: #fff;
    border-width: 0px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    color: #5f5f5f;
}


.summary-divider {
    margin-left: 50px;
    margin-right: 50px;
}

.panel hr {
    border-color: rgba(0,0,0,0.075);
}

.switchery{
    background-color:#fff;
    border:1px solid #dfdfdf;
    border-radius:20px;
    cursor:pointer;
    display:inline-block;
    height:30px;
    position:relative;
    vertical-align:middle;
    width:50px;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    box-sizing:content-box;
    background-clip:content-box;
}

.switchery>small{
    background:#fff;
    border-radius:100%;
    box-shadow:0 1px 3px rgba(0,0,0,0.4);
    height:30px;
    position:absolute;
    top:0;
    width:30px;
}

.switchery-small{
    border-radius:20px;
    height:20px;
    width:33px;
}

.switchery-small>small{
    height:20px;
    width:20px;
}

.switchery-large{
    border-radius:40px;
    height:40px;
    width:66px;
}

.switchery-large>small{
    height:40px;
    width:40px;
}

/* Generic Card Classes
---------------------------------------------- */
.card-main-title {
	font-size: 16px;
	font-weight: 500;
}

.card-panel {
	border: 0px solid #ddd;
	margin-bottom: 20px;
}

.card-body {
	padding: 10px 20px 0 10px;
}

.card-content-container {
	border: 0px solid #eee;
	margin-left: 10px;
	margin-bottom: 0px;
	position: relative;
}

.outline {
	border: 1px solid #eee;
}

.card-nav-container {
	background: #f4f4f4;
	margin-left: 0px;
	margin-bottom: 5px;
}

.card-content-tab {
	padding: 5px 0 0 0;
	min-height: 350px;
	margin-top: 15px;
	margin-left: -15px;
	box-shadow: none;
}

.card-panel-body {
	padding-top: 0px;
	padding-bottom: 10px;
	margin-top: 10px;
}

.card-content {
	padding: 20px 0 20px 0;
	margin: -20px -35px 0 -20px;
	margin-bottom: 20px;
}

.card-tab-title {
	font-size: 14px;
}

.sub-title {
	font-weight: 600;
}

.data-card-alert {
	margin-bottom: 5px;
	margin-top: 5px;
}

.card-footer {
	padding: 20px 0 20px 25px;
	margin: 0 0 0 0;
	border-top: 1px solid #eef0f2;
}

.card-help {
	padding-right: 20px;
	font-size: 13px;
	margin-top: -3px;
}

.card-help-panel {
	width: 40%;
	max-width: 250px;
	min-width: 250px;
	padding-top: 0px;
	height: 100%;
	position: absolute;
	bottom: 0px;
	right: -20px;
	background: #37495b; /*#3acaa1;*/
	opacity: .9;
	z-index: 500;
	margin-top: 50px;
	overflow-y: scroll;
	color: #fff;
}

.card-checkbox {
	height: 1.25em;
	width: 1.25em;
}

input[type="checkbox"]{
  width: 30px; /*Desired width*/
  height: 30px; /*Desired height*/
}


.wizard-data-card-alert {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 1px;
	margin-bottom: 0px;
	box-shadow: none;
}

.content-instructions {
	font-size: 13px;
	color: #8d8d8d;
	margin-top: -50px;
	line-height: 1.25;
	margin-bottom: 20px;
}

.relative {
	position: relative;
}

.record-delete {
	position: absolute;
	right: 10px;
	font-size: 10px;
	top: 5px;
	right: 45px;
	height: 20px;
	width: 20px;
	margin-right: 10px;
}


.record-close {
	position: absolute;
	right: 10px;
	font-size: 10px;
	top: 5px;
	right: px;
	height: 20px;
	width: 20px;
	margin-right: 10px;
}

.wizard-buttons {
	padding: 5px 0 10px 10px;
}


/* Card Classes
---------------------------------------------- */
.summary-panel {
	background: #f9f9f9;
	margin-top: -30px;
}

#map-settings {
	margin: -40px -35px -10px -20px;
	margin-bottom: 10px;
	position: relative;
}

.help-close {
	color: #ddd;
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 600;
}

.help-close:hover {
	color: #fff;
}

.scroll-shim {
	height: 1px;
	color: #fff;
	font-size: 1px;
	margin-bottom: 25px;
}

/* Base Class Overrides
---------------------------------------------- */
.tab-base .nav-tabs>li:not(.active)>a:hover {
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
	border-bottom: 1px solid #fff;
	background: #eee;
}

.tab-base .tab-content {
	box-shadow: none;
	padding-bottom: 0px;

}

.panel .panel-heading, .panel>:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}


.ol-control button {
	height: 1.9em;
	width: 1.9em;
	font-size: 1.3em;
}

.chosen-container {
	margin-bottom: 0px;
	color: #8d8d8d;
	line-height: 1.3333333;
}

.chosen-container-multi .chosen-choices li.search-field {
    margin: 2px 3px 0 10px;
}

.chosen-container-single .chosen-single {
	height: 36px;
}

.form-text.form-checkbox:not(.btn), .form-text.form-radio:not(.btn) {
	padding-right: 20px;
	padding-top: 5px;
}

span.icon-wrap.icon-circle.bg-gray-dark:hover {
	background: #94A6BC;
	color: #123;
}

.bg-gray-dark, .bg-gray-dark a {
	color: #999;
}



@media (min-width: 992px) {
	#page-content {
    	padding: 15px 15px 25px 15px;
    }
}

@media (min-width: 400px) {
	.card-wz-grid {
    	padding-top: 0px;
    	margin-top: -10px;
    }
}




/* Widget Classes
---------------------------------------------- */
.widget-input-group {
	padding: 0 0 15px 0;
	margin-bottom: 15px;
}

.widget-input-label {
	font-size: 12px;
	margin-top: 2px;
	font-weight: 600;
}

.widget-input {
	border-radius: 2px;
}

.card-wz-grid {
	padding-top: 0px;
	margin-top: -10px;
}

.card-wz-add-record {
	display: block;
	opacity: 1.0;
	height: 200px;
	width: 200px;
	<!-- border: 1px solid #266fb0; -->
}

.btn-shim {
	margin-bottom: 3px;
}


/* Tile Classes
---------------------------------------------- */
.tile-grid-container {
	padding: 10px 20px 5px 15px;
}

.tile-panel {
	box-shadow: none;
	position: relative;
}

.tile {
	border-left: 2px solid #0594BC;
	border-right: 1px solid #ddd;
	border-top: 0px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #fbfbfb;
	color: #5f5f5f;
	width: 200px;
	height: 170px;
	padding: 5px 5px 7px 5px;
	position: relative;
	overflow-y: scroll;
}


.tile-heading {
	background: #46bbdc;
	height: 30px;
	color: #fff;
	border-left: 2px solid #0594BC;
}

.tile-menu {
	position: absolute;
	background: #3b8dd5;
	border: 1px solid #0859A1;
	border-radius: 2px;
	top: 5px;
	right: 5px;
	opacity: .95;
	font-size: 13px;
	padding-right: 5px;
	opacity: .7;
}

.tile-menu-btn {
	float: left;
	padding: 6px 0 6px 6px;
	margin-top: 0px;
	font-size: 15px;
	color: #fff;
	font-size: 15px;
}

.tile-body {
	padding: 25px 0 0 5px;
}

.tile-card-section {
	margin-bottom: 10px;
	color: #999;
	margin-left: 7px;
	margin-bottom: 10px;
	margin-top: 0px;
	padding-right: 3px;
}

.tile-card-title {
	margin: 2px 0 -5px 0;
	font-size: 13px;
}

.tile-spacer {
	margin-bottom: 0px;
	padding: 0 5px 0 20px;
}

.tile-sm {
	border: 1px solid #ddd;
    background: #fbfbfb;
    color: #5f5f5f;
    width: 150px;
    height: 150px;
    padding: 0px;
}

.og-grid-sm {
	padding-left: 0px;
}

.og-grid-sm li {
    display: inline-block;
    margin: 10px 5px 5px 5px;
    vertical-align: top;
    height: 150px;
    min-width: 150px;
}

.tile-grid-container-sm {
	padding: 10px 5px 5px 0;
}

.tile-basemap-title-sm {
	position: absolute;
    bottom: 0px;
    padding: 5px;
    background: #eee;
    width: 150px;
    height: 40px;
    opacity: .8;
    color: #123;
}

.tile-menu-sm {
	position: absolute;
	background: #3b8dd5;
	border: 1px solid #0859A1;
	border-radius: 2px;
	top: 5px;
	right: 5px;
	opacity: .95;
	font-size: 11px;
	padding-right: 5px;
	opacity: .7;
}

.tile-basemap {
	border: 1px solid #ddd;
    background: #fbfbfb;
    color: #5f5f5f;
    width: 200px;
    height: 200px;
    padding: 0px;
}

.tile-basemap-title {
	position: absolute;
    bottom: 0px;
    padding: 5px;
    background: #eee;
    width: 200px;
    height: 40px;
    opacity: .8;
    color: #123;
}

/*.tile-basemap:hover {
	cursor: pointer;
}*/

.tile-img-lg {
	height: 198px;
	width: 198px;
}

.truncate-tile {
  width: 197px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.help-text-small {
	font-size: 12px;
}

.tile-record {
	position: relative;
	background: #fafafa; /*#90EAD1;*/
	color: #123;
	margin-left: 0px;
	margin-right: -10px;
	/*border: 1px solid #3acaa1;*/
}

.tile-record:hover {
	color: #123;
}



/* Grid Classes  */
.grid {
  background: #DDD;
  max-width: 1200px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
  width: 100px;
  height: 100px;
  background: #0D8;
  border: 1px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);
  margin: 3px;
}

.grid-item--width2 { width: 200px; }
.grid-item--height2 { height: 200px; }

.select2-container{
    width: 100% !important;
}

.select2-choice{
    border: 1px solid #E9E9E9 !important;
    border-radius: 2px !important;
    background-image: none !important;
    height: 36px !important;
    padding: 4px 0 0 16px !important;
}

.select2-container-active .select2-choice{
    border: 1px solid #5897fb !important;
}

.select2-dropdown-open .select2-choice{
    background-color: #fff !important;
}

.select2-arrow{
    border: none !important;
    background: none !important;
    background-image: none !important;
    padding-top: 2px;
}

.switch{
    background-color:#fff;
    border:1px solid #dfdfdf;
    border-radius:20px;
    cursor:pointer;
    display:inline-block;
    height:30px;
    position:relative;
    vertical-align:middle;
    width:50px;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    box-sizing:content-box;
    background-clip:content-box;
}

.switch>small{
    background:#fff;
    border-radius:100%;
    box-shadow:0 1px 3px rgba(0,0,0,0.4);
    height:30px;
    position:absolute;
    top:0;
    width:30px;
}

.switch-small{
    border-radius:20px;
    height:20px;
    width:33px;
}

.switch-small>small{
    height:20px;
    width:20px;
}

.switch-large{
    border-radius:40px;
    height:40px;
    width:66px;
}

.switch-large>small{
    height:40px;
    width:40px;
}

.switch {
    transition-duration: 0.1s;
}

.switch > small {
    transition-duration: 0.1s;
    left: 0px;
}

.switch.on {
    border-color: rgb(100, 189, 99);
    background-color: rgb(100, 189, 99);
}

.switch.on > small {
    left: 13px;
}
