@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin);
@import url(//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css);
@import url(//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.min.css);
@import url(nifty.min.css);
@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(//cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css);
@import url(//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css);
@import url(//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2-bootstrap.min.css);
.list-group.bg-trans .list-group-item:not(.active):not(.disabled) {
    border-bottom: 1px solid #eee;
    background-color: rgba(0, 0, 0, 0.05);
}
.list-group.bg-trans a.list-group-item:hover:(.active) {
    background-color: #fff;
}
a.list-group-item:not(.active):hover {
    cursor: pointer;
}
.list-group-item.active {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    color: #5f5f5f;
    border-width: 0;
}
.summary-divider {
    margin-left: 50px;
    margin-right: 50px;
}
.panel hr {
    border-color: rgba(0, 0, 0, 0.075);
}
.switchery {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    position: relative;
    vertical-align: middle;
    width: 50px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: content-box;
    background-clip: content-box;
}
.card-main-title {
    font-size: 19px;
    font-weight: 500;
}
.card-panel {
    border: 0 solid #ddd;
    margin-bottom: 0;
    padding: 0 20px 1px;
}
.card-body {
    border: 1px solid #ddd;
    border-top-width: 0;
    background-color: #FFF;
    padding: 10px 20px 20px;
}
.card-content-container {
    margin-left: 10px;
    border: 0 solid #eee;
    margin-bottom: 0;
    position: relative;
}
.outline {
    border: 1px solid #eee;
}
.card-nav-container {
    background: #f4f4f4;
    margin-left: 0;
    margin-bottom: 0;
}
.card-content-tab {
    min-height: 350px;
    margin-top: 15px;
    margin-left: -15px;
    box-shadow: none;
    padding: 5px 0 0;
}
.card-panel-body {
    padding-top: 0;
    padding-bottom: 10px;
    margin-top: 0;
    background-color: #FFF;
}
.card-content {
    margin: -20px -35px 20px -20px;
    padding: 20px 0;
}
.card-tab-title {
    font-size: 14px;
}
.sub-title {
    font-weight: 600;
}
.data-card-alert {
    margin-bottom: 5px;
    margin-top: 5px;
}
.card-footer {
    border-top: 1px solid #eef0f2;
    margin: 0;
    padding: 20px 0 20px 25px;
}
.card-help {
    padding-right: 20px;
    font-size: 13px;
    margin-top: -3px;
}
.card-help-panel {
    width: 40%;
    max-width: 250px;
    min-width: 250px;
    padding-top: 0;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: -20px;
    background: #37495b;
    opacity: .9;
    z-index: 500;
    margin-top: 50px;
    overflow-y: scroll;
    color: #fff;
}
.card-checkbox {
    height: 1.25em;
    width: 1.25em;
}
input[type="checkbox"] {
    width: 30px;
    height: 30px;
}
.wizard-data-card-alert {
    box-shadow: none;
    margin: 1px 0 0;
}
.content-instructions {
    font-size: 13px;
    color: #8d8d8d;
    margin-top: 0;
    line-height: 1.25;
    margin-bottom: 20px;
}
.record-delete {
    position: absolute;
    right: 10px;
    font-size: 10px;
    top: 5px;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.record-close {
    position: absolute;
    font-size: 10px;
    top: 5px;
    right: px;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.wizard-buttons {
    direction: rtl;
    padding: 20px 0 0;
}
.summary-panel {
    background: #f9f9f9;
    margin-top: -30px;
}
#map-settings {
    position: relative;
    margin: -40px -35px 10px -20px;
}
.help-close {
    color: #ddd;
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 600;
}
.scroll-shim {
    height: 1px;
    color: #fff;
    font-size: 1px;
    margin-bottom: 25px;
}
.tab-base .nav-tabs>li:not(.active)>a:hover {
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #fff;
    background: #eee;
}
.tab-base .tab-content {
    box-shadow: none;
    padding-bottom: 0;
    margin: 0;
}
.panel .panel-heading, .panel>:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.ol-control button {
    height: 1.9em;
    width: 1.9em;
    font-size: 1.3em;
}
.chosen-container {
    margin-bottom: 0;
    color: #8d8d8d;
    line-height: 1.3333333;
}
.chosen-container-multi .chosen-choices li.search-field {
    margin: 2px 3px 0 10px;
}
.chosen-container-single .chosen-single {
    background: #314151;
    border: 1px solid #314151;
    color: #fff;
    height: 32px;
}
.form-text.form-checkbox:not(.btn), .form-text.form-radio:not(.btn) {
    padding-right: 20px;
    padding-top: 5px;
}
span.icon-wrap.icon-circle.bg-gray-dark:hover {
    background: #94A6BC;
    color: #123;
}
.bg-gray-dark, .bg-gray-dark a {
    color: #999;
}
.widget-input-group {
    margin-bottom: 15px;
    padding: 0 0 15px;
}
.widget-input-label {
    font-size: 12px;
    margin-top: 2px;
    font-weight: 600;
}
.widget-input {
    border-radius: 2px;
}
.card-wz-grid {
    padding-top: 0;
    margin-top: -10px;
}
.card-wz-add-record {
    display: block;
    opacity: 1.0;
    height: 200px;
    width: 200px;
    --border: 1px solid #266fb0;
}
.btn-shim {
    margin-bottom: 3px;
}
.tile-grid-container {
    padding: 10px 20px 5px 15px;
}
.tile-panel {
    box-shadow: none;
    position: relative;
}
.tile {
    border-left: 2px solid #0594BC;
    border-right: 1px solid #ddd;
    border-top: 0 solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fbfbfb;
    color: #5f5f5f;
    width: 200px;
    height: 170px;
    position: relative;
    overflow-y: scroll;
    padding: 5px 5px 7px;
}
.tile-heading {
    background: #46bbdc;
    height: 30px;
    color: #fff;
    border-left: 2px solid #0594BC;
}
.tile-menu {
    position: absolute;
    background: #3b8dd5;
    border: 1px solid #0859A1;
    border-radius: 2px;
    top: 5px;
    right: 5px;
    font-size: 13px;
    padding-right: 5px;
    opacity: .7;
}
.tile-menu-btn {
    float: left;
    margin-top: 0;
    color: #fff;
    font-size: 15px;
    padding: 6px 0 6px 6px;
}
.tile-body {
    padding: 25px 0 0 5px;
}
.tile-card-section {
    color: #999;
    margin-left: 7px;
    margin-bottom: 10px;
    margin-top: 0;
    padding-right: 3px;
}
.tile-card-title {
    font-size: 13px;
    margin: 2px 0 -5px;
}
.tile-spacer {
    margin-bottom: 0;
    padding: 0 5px 0 20px;
}
.tile-sm {
    border: 1px solid #ddd;
    background: #fbfbfb;
    color: #5f5f5f;
    width: 150px;
    height: 150px;
    padding: 0;
}
.og-grid-sm {
    padding-left: 0;
}
.og-grid-sm li {
    display: inline-block;
    vertical-align: top;
    height: 150px;
    min-width: 150px;
    margin: 10px 5px 5px;
}
.tile-grid-container-sm {
    padding: 10px 5px 5px 0;
}
.tile-basemap-title-sm {
    position: absolute;
    bottom: 0;
    background: #eee;
    width: 150px;
    height: 40px;
    opacity: .8;
    color: #123;
    padding: 5px;
}
.tile-menu-sm {
    position: absolute;
    background: #3b8dd5;
    border: 1px solid #0859A1;
    border-radius: 2px;
    top: 5px;
    right: 5px;
    font-size: 11px;
    padding-right: 5px;
    opacity: .7;
}
.tile-basemap {
    border: 1px solid #ddd;
    background: #fbfbfb;
    color: #5f5f5f;
    width: 200px;
    height: 200px;
    padding: 0;
}
.tile-basemap-title {
    position: absolute;
    bottom: 0;
    background: #eee;
    width: 200px;
    height: 40px;
    opacity: .8;
    color: #123;
    padding: 5px;
}
.tile-img-lg {
    height: 198px;
    width: 198px;
}
.truncate-tile {
    width: 197px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.help-text-small {
    font-size: 12px;
}
.tile-record {
    position: relative;
    background: #fafafa;
    color: #123;
    margin-left: 0;
    margin-right: -10px;
}
.grid-container {
    margin-left: 5px;
    overflow: scroll;
}
.grid {
    background: #DDD;
    max-width: 1200px;
}
.grid:after {
    content: '';
    display: block;
    clear: both;
}
.grid-item {
    float: left;
    width: 100px;
    height: 100px;
    background: #0D8;
    border: 1px solid #333;
    border-color: hsla(0, 0%, 0%, 0.7);
    margin: 3px;
}
.grid-item--width2 {
    width: 200px;
}
.grid-item--height2 {
    height: 200px;
}
.select2-container {
    width: 100%!important;
}
.select2-choice {
    border: 1px solid #E9E9E9!important;
    border-radius: 2px!important;
    background-image: none!important;
    height: 36px!important;
    padding: 4px 0 0 16px !important;
}
.select2-container-active .select2-choice {
    border: 1px solid #5897fb!important;
}
.select2-dropdown-open .select2-choice {
    background-color: #fff!important;
}
.select2-arrow {
    border: none!important;
    background: none!important;
    background-image: none!important;
    padding-top: 2px;
}
.switch {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    position: relative;
    vertical-align: middle;
    width: 50px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: content-box;
    background-clip: content-box;
    transition-duration: .1s;
}
.switch > small {
    transition-duration: .1s;
    left: 0;
}
.switch.on {
    background-color: #64bd63;
    border-color: #64bd63;
}
.switch.on > small {
    left: 13px;
}
.chosen-container .chosen-results {
    background: #314151;
    color: #fff;
    margin-right: 0;
}
.chosen-container-single .chosen-drop {
    background: #314151;
    font-size: 11px;
}
.chosen-container a, .chosen-container a:hover {
    color: #fff;
    cursor: pointer;
}
.chosen-container-active.chosen-with-drop .chosen-single {
    background-image: none;
}
.library {
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: .95;
    z-index: 200;
    padding: 0 20px 20px 10px;
}
.library-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 400;
    opacity: .95;
    padding: 0 0 20px;
}
.library-wide {
    width: 400px;
}
.library-medium {
    width: 300px;
}
.library-narrow {
    width: 220px;
}
.library-dark {
    background: #37495b;
    border-left: 1px solid #1E3143;
    color: #ddd;
}
.library-bright {
    background: #fff;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.library-instructions {
    font-size: 11px;
    margin-left: 5px;
    margin-top: -15px;
}
.clear-search {
    position: absolute;
    right: 15px;
    top: 97px;
    color: #123;
    font-size: 19px;
}
.clear-search:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.95);
}
.key {
    margin-top: 98px;
}
.library-close-btn {
    position: absolute;
    right: 15px;
    top: -20px;
    color: #ddd;
}
.alert {
    padding: 15px;
}
.library-card {
    float: left;
    width: 220px;
    height: 58px;
    position: relative;
    color: #eee;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin: 0 0 0 -5px;
    padding: 5px;
}
.library-card:first-of-type {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
}
.selected-card {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: .9;
    color: #fff;
}
.library-card:hover {
    background-color: rgba(0, 0, 0, 0.10);
    cursor: pointer;
}
.library-icon {
    width: 30px;
    position: absolute;
    left: 10px;
    top: 10px;
}
.library-card-main {
    width: 155px;
    position: absolute;
    left: 52px;
    top: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}
.library-card-main a {
    color: #ddd;
}
.library-card-subtitle {
    width: 155px;
    position: absolute;
    left: 50px;
    top: 25px;
    color: #8ba2b9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    padding: 2px 2px 3px;
}
.permission-level-icon {
    height: 20px;
    margin-top: -5px;
}
.library-search {
    background: #314151;
    border: 1px solid #314151;
    color: #fff;
    height: 32px;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
}
.key-container {
    position: relative;
    padding-bottom: 15px;
}
.key-icon {
    width: 50px;
}
.key-class {
    position: absolute;
    top: 0;
    left: 50px;
}
.nav-library {
    margin-left: -1px;
    margin-top: 0;
    background: #314151;
    border-left: 1px solid #123;
}
.nav-library-tab {
    color: #eee;
    background: #314151;
    border-width: 0;
}
.nav-library-tab-link {
    height: 59px;
    padding-top: 20px;
    background: transparent;
}
#library .nav-tabs li:not(active) a {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    background-color: #314151;
    color: rgba(255, 255, 255, 0.5);
    padding: 20px 0;
}
#library .nav-tabs .active a {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid transparent;
    background-color: #37495b;
    color: inherit!important;
}
.branch-preview {
    height: 550px;
    width: 280px;
    background: #f1f1f1;
    border: 1px solid #123;
    color: #123;
}
.branch-metadata {
    padding-top: 8px;
}
.branch-icon {
    border: 1px solid rgba(0, 0, 0, 0.25);
}
.branch-icon:hover {
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: #5fa2dd;
}
.clear-selection {
    background: #314151;
    width: 100%;
    height: 21px;
    padding-top: 4px;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 10px;
}
.clear-selection-link {
    font-size: 9px;
    float: right;
    color: #ddd;
    cursor: pointer;
}
.node circle {
    fill: #fff;
    stroke: #4682B4;
    stroke-width: 1.5px;
}
.node {
    font: 10px sans-serif;
}
.node .node-selected {
    fill: #FF0;
}
.node .node-editing {
    fill: #4682B4;
}
.node .node-filtered {
    opacity: .3;
}
.node-text {
    font-size: 10px;
    text-overflow: ellipsis;
}
.link {
    fill: none;
    stroke: #ddd;
    stroke-width: 1.5px;
}
.node .node-over {
    stroke: navy;
    cursor: pointer;
}
#nodeCrud {
    position: absolute;
    width: 250px;
    right: 220px;
    top: 0;
    bottom: 0;
    background-color: #37495b;
    color: #fff;
    z-index: 200;
    -webkit-border-radius: 12px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    padding: 10px;
}
#nodeCrud p {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}
.morphsearch {
    width: 200px;
    min-height: 30px;
    background: #f1f1f1;
    position: absolute;
    z-index: 500;
    top: 45px;
    right: 50px;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transition-property: min-height, width, top, right;
    transition-property: min-height, width, top, right;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.morphsearch.open {
    width: 100%;
    min-height: 100%;
    top: 0;
    right: 0;
}
.morphsearch-form {
    width: 100%;
    height: 30px;
    position: relative;
    -webkit-transition-property: width, height, 0;
    transition-property: width, height, transform;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    margin: 0 auto;
}
.morphsearch.open .morphsearch-form {
    width: 80%;
    height: 160px;
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0);
}
.morphsearch-input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-size: 1.2em;
    font-weight: 600;
    color: #123;
    -webkit-transition: font-size .5s cubic-bezier(0.7, 0, 0.3, 1);
    transition: font-size .5s cubic-bezier(0.7, 0, 0.3, 1);
    padding: 0 10% 0 10px;
}
.morphsearch.hideInput .morphsearch-input {
    color: transparent;
    -webkit-transition: color .3s;
    transition: color .3s;
}
.morphsearch.open .morphsearch-input {
    font-size: 7em;
    color: #123;
    font-weight: 400;
}
.gn-search:focus::-webkit-input-placeholder {
    color: transparent;
}
input[type="search"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.morphsearch-input:focus, .morphsearch-submit:focus {
    outline: none;
}
.morphsearch-submit {
    position: absolute;
    width: 80px;
    height: 80px;
    text-indent: 100px;
    overflow: hidden;
    right: 0;
    top: 50%;
    background: transparent url(../img/magnifier.svg) no-repeat center center;
    background-size: 100%;
    border: none;
    pointer-events: none;
    transform-origin: 50% 50%;
    opacity: 0;
    -webkit-transform: translate3d(-30px, -50%, 0) scale3d(0, 0, 1);
    transform: translate3d(-30px, -50%, 0) scale3d(0, 0, 1);
}
.morphsearch.open .morphsearch-submit {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: translate3d(-30px, -50%, 0) scale3d(1, 1, 1);
    transform: translate3d(-30px, -50%, 0) scale3d(1, 1, 1);
    -webkit-transition: opacity .3s 0 .3s;
    transition: opacity .3s transform .3s;
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}
.morphsearch-close {
    width: 36px;
    height: 36px;
    position: absolute;
    right: 1em;
    top: 1em;
    overflow: hidden;
    text-indent: 100%;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
}
.morphsearch.open .morphsearch-close {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: opacity .3s 0 .3s;
    transition: opacity .3s transform .3s;
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}
.morphsearch-close::before, .morphsearch-close::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 50%;
    border-radius: 3px;
    opacity: 0.2;
    background: #000;
}
.morphsearch-close::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.morphsearch-close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.morphsearch-content {
    color: #333;
    margin-top: 4.5em;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: #f1f1f1;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    padding: 0 10.5%;
}
.morphsearch.open .morphsearch-content {
    opacity: 1;
    height: 100vh;
    overflow: visible;
    pointer-events: auto;
    -webkit-transition: opacity .3s .5s;
    transition: opacity .3s .5s;
}
.dummy-column {
    width: 30%;
    float: left;
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translateY(100px);
    -webkit-transition: 0 .5s opacity .5s;
    transition: transform .5s opacity .5s;
    padding: 0 0 6em;
}
.morphsearch.open .dummy-column:first-child {
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}
.morphsearch.open .dummy-column:nth-child(2) {
    -webkit-transition-delay: .45s;
    transition-delay: .45s;
}
.morphsearch.open .dummy-column:nth-child(3) {
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}
.morphsearch.open .dummy-column {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.dummy-column:nth-child(2) {
    margin: 0 5%;
}
.dummy-column h2 {
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 800;
    color: #c2c2c2;
    padding: .5em 0;
}
.round {
    border-radius: 50%;
}
.dummy-media-object {
    font-size: 1.25em;
    display: block;
    cursor: pointer;
    border-radius: 5px;
    background: rgba(118, 117, 128, 0.05);
    margin: .3em 0;
    padding: .75em;
}
.dummy-media-object:hover, .dummy-media-object:focus {
    background: rgba(118, 117, 128, 0.1);
}
.dummy-media-object img {
    display: inline-block;
    width: 50px;
    vertical-align: middle;
    margin: 0 10px 0 0;
}
.dummy-media-object h3 {
    vertical-align: middle;
    font-size: .85em;
    display: inline-block;
    font-weight: 600;
    width: calc(100%-70px);
    color: #777;
    margin: 0;
}
.dummy-media-object:hover h3 {
    color: rgba(236, 90, 98, 1);
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.library-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
.node-form-loading {
    position: absolute;
    z-index: 100;
    top: 38px;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.9;
    font-size: 25px;
    background: #526373;
    margin: 0;
    padding: 50px;
}
.mainnav-patch {
    background: #2d3c4b;
}
.arches-mainnav-container {
    background: #3a3f44;
}
.arches-form {
    background-color: #ebeef0;
    padding: 20px 0 40px;
}
.aside-title {
    font-size: 17px;
    float: left;
    margin-left: 5px;
    text-align: left;
    padding-top: 15px;
}
#aside-container #aside .nav-tabs li:not(active) a {
    padding: 20px 0;
}
a.aside-title.arches-aside-title {
    font-size: 15px;
    font-weight: 400;
    margin-top: 0;
    padding: 15px 0 0 5px;
}
li.aside-li {
    height: 58px;
}
li.aside-li:hover {
    background: #123;
}
li.aside-li.active:hover {
    background: #37495b;
}
ul.nav.nav-tabs.nav-justified {
    height: 59px;
}
.v-menu {
    height: 100vh;
    width: 300px;
    background: #fff;
    border-right: 1px solid #ddd;
    padding: 0 0 0 12px;
}
.v-menu-title {
    height: 60px;
    border-bottom: 1px solid #eee;
}
.v-menu-items {
    width: 286px;
}
.arches-form-container {
    position: absolute;
    top: 40px;
    left: 335px;
    right: -15px;
    padding-bottom: 50px;
    padding-left: 0;
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;
}
.form-page {
    background-color: #e7ebee;
    width: 100%;
    padding: 20px 20px 100px 5px;
}
.arches-help-container {
    position: absolute;
    left: 100%;
    width: 300px;
    right: 0;
    padding-bottom: 50px;
    padding-left: 0;
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;
}
.widget-design {
    border: 2px dashed #ddd;
    background: #fcfcfc;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 2px;
    padding: 20px;
}
.widget-design-edit {
    border: 3px dashed #ccc;
    background: #f1f1f1;
    border-radius: 2px;
}
.widget-results {
    opacity: 1.0;
    padding: 0;
}
.widget-results-edit {
    border: 1px solid #139F78;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.59);
    opacity: 1.0;
}
.section-division-dark {
    margin-left: -15px;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.node-panel {
    position: absolute;
    left: 270px;
    width: 290px;
    background: #49596A;
    color: #fff;
    border-right: 1px solid #ddd;
    overflow-y: scroll;
    height: 100vh;
    padding: 0 5px 45px 1px;
}
.node-title {
    font-size: 15px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
    color: #fff;
    padding: 15px 0 0 5px;
}
.node-subtitle {
    font-size: 12px;
    font-weight: 200;
    margin-top: -5px;
    margin-bottom: 5px;
    padding: 0 0 0 5px;
}
.node-section {
    padding: 0 20px 5px 10px;
}
.node-section-division {
    margin-left: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}
.node-section-title {
    font-size: 15px;
    font-weight: 400;
    padding: 0;
}
.node-panel-body {
    margin-left: -10px;
    margin-right: -25px;
    padding: 0;
}
.node-widget-label {
    padding: 0 0 15px;
}
.node-attribute-label {
    margin-bottom: 5px;
    margin-top: 2px;
}
.node-attribute-widget {
    width: 100%;
    background: #3c4d5e;
    height: 25px;
    padding-left: 5px;
    color: #bbb;
    border-width: 0;
}
.node-input-widget {
    padding: 0 0 10px;
}
.arches-user-icon-col {
    width: 40px;
}
.widget-display-container {
    position: relative;
    left: 305px;
    z-index: 100;
    top: 125px;
    width: 600px;
}
.widget-display-panel {
    margin-bottom: 0;
    background: #49596A;
    color: #fff;
    padding: 0 0 20px;
}
.widget-display-panel-body {
    height: 350px;
    background-color: #3c4d5e;
    margin-left: 8px;
    margin-right: 8px;
    overflow-y: scroll;
}
.widget-panel-body {
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 10px 10px 5px;
}
.arches-widget-label-vertical {
    margin-bottom: 5px;
    font-size: 15px;
    text-align: left;
    padding: 0 0 0 20px;
}
.arches-widget-label-horizontal {
    margin-bottom: 5px;
    font-size: 15px;
    text-align: right;
    padding: 0 0 0 20px;
}
.widget-display-footer {
    background: #49596A;
    height: 40px;
    color: #fff;
    border-color: rgba(0, 0, 0, .1);
}
.gf-designer-container {
    position: absolute;
    top: 40px;
    left: 560px;
    padding-bottom: 50px;
    padding-left: 0;
    overflow-y: scroll;
    height: 100vh;
}
.tree-container {
    overflow-x: scroll;
    padding: 0 0 10px 10px;
}
div.jqtree-element.jqtree_common:hover {
    background-color: #49596A;
}
ul.jqtree-tree ul.jqtree_common {
    list-style: none outside;
    margin-left: 12px;
    margin-right: 0;
    margin-bottom: 2px;
    display: block;
}
ul.jqtree-tree .jqtree-title {
    color: #93a6b9;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 13px;
}
ul.jqtree-tree li.jqtree-selected > .jqtree-element, ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
    background: none;
    background-color: #49596A;
    text-shadow: none;
}
div.jqtree-element.jqtree_common {
    text-overflow: ellipsis;
    padding: 2px 0;
}
ul.jqtree-tree .jqtree-element {
    color: #93a6b9;
}
ul.jqtree_common li.jqtree-folder {
    margin-bottom: 4px;
}
#container .table-hover > tbody > tr:hover {
    background-color: #4682B4;
    color: #fff;
}
.bg-primary:hover {
    background-color: #3b8dd5;
}
div.dropdown-menu.open {
    min-height: 250px;
}
.rotated-text {
    display: inline-block;
    overflow: hidden;
    width: 1.5em;
}
.rotated-text__inner {
    display: inline-block;
    white-space: nowrap;
    -webkit-transform: translate(1.1em, 0) rotate(-90deg);
    -moz-transform: translate(1.1em, 0) rotate(-90deg);
    -o-transform: translate(1.1em, 0) rotate(-90deg);
    transform: translate(1.1em, 0) rotate(-90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -ms-transform: none;
    -ms-transform-origin: none;
    -ms-writing-mode: tb-rl;
    writing-mode: tb-rl;
}
.rotated-text__inner:before {
    content: "";
    float: left;
    margin-top: 100%;
}
.underline {
    border-bottom: 1px solid #ddd;
}
.box-vtop {
    display: inline-block;
    max-width: 500px;
    vertical-align: top;
    margin-bottom: 15px;
}
.bg-green {
    background: #139F78;
}
.rp-card-bg {
    background-color: #42cca5;
    color: #fff;
}
.rp-tile-menu {
    width: 60px;
    height: 32px;
    border-radius: 2px;
    margin: -15px 0 15px -10px;
}
.rp-results-icon-bg {
    background-color: rgba(255, 255, 255, 0.1);
}
.og-grid {
    list-style: none;
    text-align: left;
    width: 100%;
    margin: 0 auto;
    padding: 2px 0;
}
.og-grid li {
    display: inline-block;
    vertical-align: top;
    height: 200px;
    min-width: 180px;
    margin: 10px 5px 5px;
}
.og-grid li > a, .og-grid li > a img {
    border: none;
    outline: none;
    display: block;
    position: relative;
}
.og-grid li.og-expanded > a::after {
    top: auto;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #ddd;
    left: 50%;
    border-width: 15px;
    margin: -20px 0 0 -15px;
}
.og-expander {
    position: absolute;
    background: #ddd;
    top: auto;
    left: 0;
    width: 100%;
    margin-top: 10px;
    text-align: left;
    height: 0;
    overflow: hidden;
}
.og-expander-inner {
    height: 100%;
    padding: 50px 30px;
}
.og-close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.og-close::before, .og-close::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    height: 1px;
    background: #888;
    transform: rotate(45deg);
}
.og-close::after {
    transform: rotate(-45deg);
}
.og-close:hover::before, .og-close:hover::after {
    background: #333;
}
.og-fullimg, .og-details {
    width: 50%;
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.og-details {
    padding: 0 40px 0 20px;
}
.og-fullimg {
    text-align: center;
}
.og-fullimg img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
}
.og-details h3 {
    font-weight: 300;
    font-size: 52px;
    margin-bottom: 10px;
    padding: 40px 0 10px;
}
.og-details p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999;
}
.og-details a {
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 3px solid #333;
    display: inline-block;
    outline: none;
    margin: 30px 0 0;
    padding: 10px 20px;
}
.og-details a::before {
    content: '\2192';
    display: inline-block;
    margin-right: 10px;
}
.og-details a:hover {
    color: #999;
    border-color: #999;
}
.og-loading {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ddd;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: loader .5s infinite ease-in-out both;
    margin: -25px 0 0 -25px;
}
33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;
}
66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;
}
.card-container-header {
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-width: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: 1px solid #fff;
}
.select2-search {
    margin-top: 10px;
}
.grid-card {
    float: left;
    width: 250px;
    height: 170px;
    margin: 3px;
}
.chosen-container .chosen-single {
    padding-top: 3px;
    color: #bbb;
    font-size: 11px;
}
.chosen-container .chosen-single b {
    margin-top: 3px;
}
.list-group-item.active:hover, .list-group-item.active:active, .list-group-item.active:focus {
    background-color: #f9f9f9;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    color: #5f5f5f;
}
.switchery>small, .switch>small {
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    height: 30px;
    position: absolute;
    top: 0;
    width: 30px;
}
.switchery-small, .switch-small {
    border-radius: 20px;
    height: 20px;
    width: 33px;
}
.switchery-small>small, .switch-small>small {
    height: 20px;
    width: 20px;
}
.switchery-large, .switch-large {
    border-radius: 40px;
    height: 40px;
    width: 66px;
}
.switchery-large>small, .switch-large>small {
    height: 40px;
    width: 40px;
}
.relative, .slide {
    position: relative;
}
.help-close:hover, .library-close-btn:hover, .clear-selection-link:hover, #aside .nav-tabs a i:hover, .node-note, .jqtree-title.jqtree_common:hover {
    color: #fff;
}
.tile-record:hover, .note-editable {
    color: #123;
}
#branch-panel, #permissions-panel {
    position: absolute;
    top: 0;
    right: 220px;
    padding-left: 7px;
    padding-right: 5px;
    overflow-y: scroll;
}
.ltr, .wizard-buttons * {
    direction: ltr;
}
.node .node-collected, .link.link-collected {
    stroke-width: 3px;
}
#nodeCrud.hidden, .morphsearch-input::-ms-clear {
    display: none;
}
.morphsearch-input::-webkit-input-placeholder, .morphsearch-input:-moz-placeholder, .morphsearch-input::-moz-placeholder, .morphsearch-input:-ms-input-placeholder {
    color: #777;
}
.morphsearch-close:hover.morphsearch-close::before, .morphsearch-close:hover.morphsearch-close::after, .morphsearch.open ~ .overlay {
    opacity: 1;
}
.arches-tab, div.tab-content.arches-tab, #aside-container #aside .tab-content {
    padding-top: 0;
}
.text-green, .rp-results-icon-color {
    color: #139F78;
}
.project-grid-item {
	float: left;
  	margin: 2px;
  	max-width: 250px;
  	border: 1px solid #ddd;
  	opacity: .79;
}
.project-grid-item:hover {
	cursor: pointer;
	opacity: 1.0;
}
@media min-width 992px {
    #page-content {
        padding: 15px 15px 25px;
    }
}
@media min-width 400px {
    .card-wz-grid {
        padding-top: 0;
        margin-top: -10px;
    }
}
@media screen and max-width 767px {
    .morphsearch {
        width: 30%;
        top: 50px;
        right: 10%;
    }
    .morphsearch-input {
        padding: 0 25% 0 10px;
    }
    .morphsearch.open .morphsearch-input {
        font-size: 2em;
    }
    .dummy-column {
        float: none;
        width: auto;
        padding: 0 0 2em;
    }
    .dummy-column:nth-child(2) {
        margin: 0;
    }
    .morphsearch.open .morphsearch-submit {
        -webkit-transform: translate3d(0, -50%, 0) scale3d(0.5, 0.5, 1);
        transform: translate3d(0, -50%, 0) scale3d(0.5, 0.5, 1);
    }
}
@media screen and max-width 969px {
    .morphsearch {
        width: 30%;
        top: 10px;
        right: 25px;
    }
}
@media screen and min-width 970px {
    .morphsearch {
        width: 30%;
        top: 15px;
        right: 25px;
    }
}
@media screen and max-width 830px {
    .og-expander h3 {
        font-size: 32px;
    }
    .og-expander p {
        font-size: 13px;
    }
    .og-expander a {
        font-size: 12px;
    }
}
@media screen and max-width 650px {
    .og-fullimg {
        display: none;
    }
    .og-details {
        float: none;
        width: 100%;
    }
}
