.header {
  grid-area: header;
}
.content-panel {
  grid-area: content-body;
}
.sidenav {
  grid-area: sidenav;
  background-color: #2d3c4b;
  z-index: 15;
}

.base-manager-grid {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 50px auto;
    grid-template-areas: 
        "sidenav header"
        "sidenav content-body";
    height: 100vh;
    width: 100vw;
}

@media print {
    .base-manager-grid {
        display: block;
        height: 100vh;
        width: 100vw;
    }

    .header, 
    .header *, 
    .sidenav,
    .sidenav *{
        display: none !important;
    }

}

/*  LEFT NAV */
/* #navbar {
    position: relative;
} */

/* #mainsidenav {
    position: relative;
    left: 0px;
}

#container.mainnav-sm #mainnav-menu a i {
    display: inline-block;
}

#content-container {
    padding: 0px !important; */
}

/* #container.mainnav-sm #footer,#container.mainnav-sm #content-container {
        padding-left: 0px;
}

#container.mainnav-lg #footer,#container.mainnav-lg #content-container {
        padding-left: 0px;
} */
