/*put package specific styles here...*/

/*Map to full screen
------------------------------------*/
.map:-moz-full-screen {
height: 100%;
}
.map:-webkit-full-screen {
height: 100%;
}
.map:-ms-fullscreen {
height: 100%;
}
.map:fullscreen {
height: 100%;
}

.ol-full-screen {
z-index:900;   
}