// This file is only imported if the direction of the page is Right-To-Left (RTL)
// Use this only to override styles that are rtl specific

.sidenav-menu{
    > ul {
        > li {
            > a:hover {
                box-shadow: inset -4px 0 0 0 #2986b8;
            }
        }
    }
}

.side-column-crud-container {
    border-left: 1px solid #ddd;
    border-right: none;
    .clear-node-search {
        left: 10px;
        right: auto;
    }
    .grid { 
        .library-card {
            &.selected.selected-card {
                border-right: 5px solid steelblue;
                border-left: none;
            }
            &:hover {
                border-right: 5px solid steelblue;
                border-left: none;
            }
        }
    }
}