{% load static %}
{% load template_tags %}
{% load i18n %}
      
      <div class="container container-fluid">

        <!-- Logo -->
        <a href="/" class="navbar-brand d-flex">
          <img class="navbar-logo" src="{% static 'img/ispc.png' %}">
          <p class='nav-link'>ISPC DATASPACE</p>
        </a>
        <!-- End Logo -->

        <!-- Responsive Toggle Button -->
        <button class="navbar-toggler navbar-toggle navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-minus-3 g-right-0"
          type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse"
          data-target="#navBar">
          <span class="hamburger hamburger--slider">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Navigation -->
        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
          <ul class="nav navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">

            <!-- Intro -->
            <li class="nav-item  g-mx-10--lg g-mx-15--xl">
              <a href="/" class="nav-link g-py-7 g-px-0">Home</a>
            </li>

            <li class="hs-has-sub-menu nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
              <a id="nav-link-pages" class="nav-link g-py-7 g-px-0" href="#!" aria-haspopup="true" aria-expanded="false"
                aria-controls="nav-submenu-pages">{% trans "About Us" %}</a>
              <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling"
                id="nav-submenu-pages" aria-labelledby="nav-link-pages">
                <li class="dropdown-item ">
                  <a class="nav-link" href="/#about">Mission</a>
                </li>
                <li class="dropdown-item ">
                  <a class="nav-link" href="/#numbers">GDH in Numbers</a>
                </li>
                
                
                
              </ul>
            </li>

            <li class="hs-has-sub-menu nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
              <a id="nav-link-pages" class="nav-link g-py-7 g-px-0" href="#!" aria-haspopup="true" aria-expanded="false"
                aria-controls="nav-submenu-pages">Data</a>
              <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling"
                id="nav-submenu-pages" aria-labelledby="nav-link-pages">
                <li class="dropdown-item ">
                  <a class="nav-link" href="/#data">Data Overview</a>
                </li>
                               
              </ul>
            </li>


            <li class="nav-item g-mx-10--lg g-mx-15--xl page-scroll">
              <a href="{% url 'search_home' %}" class="nav-link g-py-7 g-px-0">{% trans "Search" %}</a>
            </li>
            {% if user|can_create_resource_instance %}
            <li class="nav-item g-mx-10--lg g-mx-15--xl page-scroll">
              <a href="{% url 'resource' %}" class="nav-link g-py-7 g-px-0">{% trans "Manage Data" %}</a>
            </li>
            {% endif %}
            {% if user|has_group:"Graph Editor" %}
            <li class="nav-item g-mx-10--lg g-mx-15--xl page-scroll">
              <a href="{% url 'graph' '' %}" class="nav-link g-py-7 g-px-0">{% trans "Design" %}</a>
            </li>
            {% endif %}

            {% if user.username != 'anonymous' %}
            <li class="nav-item g-mx-10--lg g-mx-15--xl page-scroll">
              <a href="{% url 'auth' %}?next={% url 'home' %}&logout=true" class="nav-link g-py-7 g-px-0">{% trans 'Logout' %}</a>
            </li>
            <li class="nav-item g-mx-10--lg g-mx-15--xl page-scroll">
              <a href="{% url 'user_profile_manager' %}" class="nav-link g-py-7 g-px-0">{% trans 'User Profile' %}</a>
            </li>
            {% endif %}



          </ul>
        </div>
        <!-- End Navigation -->


      </div>