{% load i18n %}
<!-- ko foreach: { data: card.get('tiles'), as: 'tile' } -->
<div class="row rp-report-tile">
    <dl class="dl-horizontal">
        <!-- ko foreach: { data: card.get('widgets'), as: 'widget' } -->
        <!-- ko component: {
            name: widget.widgetLookup[widget.get("widget_id")()].name,
            params: {
                config: configJSON,
                label: widget.get("label")(),
                value: tile.data[widget.node.nodeid],
                state: "report"
            }
        } --><!-- /ko -->
        <!-- /ko -->
    </dl>
</div>
<!-- /ko -->

<!-- ko if: card.get('tiles')().length === 0 -->
<div class="row rp-report-tile" style="color: #808080">
    {% trans "No data added yet for" %} "<span data-bind="text: card.get('name')"></span>"
</div>
<!-- /ko -->
