{% extends "arches_urls.htm" %}

{% load static %}
{% load l10n %}
{% load i18n %}

{% block arches_urls %}
{{ block.super }}
<div class="arches-urls"
    controlled_lists="{% url 'controlled_lists' %}"
    controlled_list='(listid) => {return "{% url "controlled_list" "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa" %}".replace("aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa", listid)}'
    controlled_list_add="{% url 'controlled_list_add' %}"
    controlled_list_export="{% url 'controlled_list_export' %}"
    controlled_list_item='(itemid) => {return "{% url "controlled_list_item" "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa" %}".replace("aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa", itemid)}'
    controlled_list_item_copy='(itemid) => {return "{% url "controlled_list_item_copy" "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa" %}".replace("aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa", itemid)}'
    controlled_list_item_add="{% url 'controlled_list_item_add' %}"
    controlled_list_item_value='(valueid) => {return "{% url "controlled_list_item_value" "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa" %}".replace("aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa", valueid)}'
    controlled_list_item_value_add="{% url 'controlled_list_item_value_add' %}"
    controlled_list_item_image='(imageid) => { return "{% url "controlled_list_item_image" "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa" %}".replace("aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa", imageid)}'
    controlled_list_item_image_add="{% url 'controlled_list_item_image_add' %}"
    controlled_list_item_image_metadata='(metadataid) => { return "{% url "controlled_list_item_image_metadata" "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa" %}".replace("aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa", metadataid)}'
    controlled_list_item_image_metadata_add="{% url 'controlled_list_item_image_metadata_add' %}"
    controlled_list_options="{% url 'controlled_list_options' %}"
></div>
{% endblock arches_urls %}