{% extends "javascript.htm" %}

{% load static %}
{% load l10n %}
{% load i18n %}

{% block arches_translations %}
{{ block.super }}
<div class='arches-translations'
    required='{% trans "required" as required %} "{{ required|escapejs }}"'
    controlled-list='{% trans "Controlled List" as controlledList %} "{{ controlledList|escapejs }}"'
    unlabeled-item='{% trans "Unlabeled Item" as unlabeledItem %} "{{ unlabeledItem|escapejs }}"'
    select-a-controlled-list='{% trans "Select a controlled list" as selectAControlledList %} "{{ selectAControlledList|escapejs }}"'
    multiple-values='{% trans "Multiple Values" as multipleValues %} "{{ multipleValues|escapejs }}"'
    allow-selection-of-multiple-items='{% trans "Allow selection of multiple items" as allowSelectionOfMultipleItems %} "{{ allowSelectionOfMultipleItems|escapejs }}"'
></div>
{% endblock arches_translations %}
