{% load static %}
{% load template_tags %}
{% load i18n %}
<!-- Team Blocks v11 -->
<section class="g-py-30">
  <div class="container">


    <div id="shortcode11">
      <div class="shortcode-html">
        <!-- Figure -->
        <figure class="row">
          <!-- Figure Image -->
          <div class="col-md-8 col-lg-4 g-mb-30">
<img class="w-100" src="{% static 'img/team/jeff.jpg' %}" alt="Jeffrey P. Du Vernay">
          </div>
          <!-- End Figure Image -->

          <!-- Figure Body -->
          <div class="col-lg-8">
            <div class="d-flex justify-content-between g-mb-10">
              <div class="g-mb-20">
<h4 class="h5 g-mb-5">Jeffrey P. Du Vernay, PhD</h4>
                <em class="d-block g-font-style-normal g-font-size-default text-uppercase g-color-primary">Senior Scientist</em>
              </div>

            </div>

            <!-- Figure Info -->
            <div class="g-mb-50">
<p>Jeffrey Du Vernay holds a Ph.D. in Applied Anthropology from the University of South Florida, and has nearly a
  decade of work experience in the world of 3D technologies and cultural heritage. He has contributed to 3D cultural
  heritage research projects at diverse locations around the world including in the United States, U.S. Virgin Islands,
  Guatemala, Mexico, Armenia, France, Spain, and Italy. Jeff specializes in a variety of 3D data collection techniques
  including Terrestrial Laser Scanning, close-range 3D scanning, and photogrammetry, and he has applied these 3D
  documentation methods in both museum and archaeological site landscape settings. He also specializes in 360˚ imaging
  and virtual tour creation. Jeff is skilled in a number of software applications including FARO SCENE, Geomagic Wrap,
  Meshlab, CloudCompare, Bentley Pointools and Context Capture, Reality Capture, Arena4D, Agisoft Photoscan, Pix4D,
  Autodesk Recap Pro, Kolor Panotour Pro and others.</p>
            </div>
            <!-- End Info -->

            <div class="row">
              <div class="col-sm-6">
                <ul class="list-group list-group-flush">
<li class="list-group-item"><a href="mailto:duvernay@globaldigitalheritage.org">duvernay@globaldigitalheritage.org</a></li>
                </ul>
                  
              </div>
            </div>
          </div>
          <!-- End Figure Body -->
        </figure>
        <!-- End Figure -->
      </div>

    </div>


  </div>
</section>
<!-- End Team Blocks v11 -->