{% load static %}
{% load template_tags %}
{% load i18n %}
<!-- Team Blocks v11 -->
<section class="g-py-30">
  <div class="container">


    <div id="shortcode11">
      <div class="shortcode-html">
        <!-- Figure -->
        <figure class="row">
          <!-- Figure Image -->
          <div class="col-md-8 col-lg-4 g-mb-30">
<img class="w-100" src="{% static 'img/team/ma.jpg' %}" alt="Miguel Ángel Hervás Herrera walking in a Roman theater">
          </div>
          <!-- End Figure Image -->

          <!-- Figure Body -->
          <div class="col-lg-8">
            <div class="d-flex justify-content-between g-mb-10">
              <div class="g-mb-20">
<h4 class="h5 g-mb-5">Miguel Ángel Hervás Herrera, PhD</h4>
                <em class="d-block g-font-style-normal g-font-size-default text-uppercase g-color-primary">Research Scientist</em>
              </div>

            </div>

            <!-- Figure Info -->
            <div class="g-mb-50">
<p>Miguel Ángel is a professional archaeologist and holds degrees in Geography and History from the Complutense
  University of Madrid, and PhD from the University of Castilla-La Mancha (Spain) with a Doctoral Thesis on restoration
  of built heritage. He is secretary of the Spanish Association of Medieval Archeology, member of the Editorial
  Committee of the magazine "Boletín de Arqueología Medieval Española," and is part of the research teams of Global
  Digital Heritage (USA), of the Archaeological Research Center of the Isthmus-El Caño Foundation (Panama), and of the
  Archeology Laboratory, Heritage and Emerging Technologies of the University of Castilla-La Mancha (Spain). Miguel
  Ángel specializes in the development and application of techniques of prospecting, excavation and archaeological
  documentation, in the study of traditional and historical construction materials and techniques, and in conservation
  and restoration of the built heritage. He has directed or participated in research projects related to cultural
  heritage in Spain, Italy, Morocco, Saudi Arabia, Turkmenistan, United Arab Emirates and Panama.</p>
            </div>
            <!-- End Info -->

        </figure>
        <!-- End Figure -->
      </div>

    </div>


  </div>
</section>
<!-- End Team Blocks v11 -->