{% load static %}
{% load template_tags %}
{% load i18n %}
<!-- Team Blocks v11 -->
<section class="g-py-30">
  <div class="container">


    <div id="shortcode11">
      <div class="shortcode-html">
        <!-- Figure -->
        <figure class="row">
          <!-- Figure Image -->
          <div class="col-md-8 col-lg-4 g-mb-30">
<img class="w-100" src="{% static 'img/team/michele.jpg' %}" alt="Michele True with dog">
          </div>
          <!-- End Figure Image -->

          <!-- Figure Body -->
          <div class="col-lg-8">
            <div class="d-flex justify-content-between g-mb-10">
              <div class="g-mb-20">
<h4 class="h5 g-mb-5">Michele True</h4>
<em class="d-block g-font-style-normal g-font-size-default text-uppercase g-color-primary">Financial Administrator</em>
              </div>

            </div>

            <!-- Figure Info -->
            <div class="g-mb-50">
<p>Michele True has over 20 years’ experience in marketing and management, first for the Nielsen Company and then in
  radio and newspapers. Today she is an author, breeder of rare canines, and the Financial Administrator for GDH.</p>
            </div>
            <!-- End Info -->

            <div class="row">
              <div class="col-sm-6">
                <ul class="list-group list-group-flush">
<li class="list-group-item"><a href="mailto:true@globaldigitalheritage.org">true@globaldigitalheritage.org</a></li>
                  </ul>
              </div>
            </div>
          </div>
          <!-- End Figure Body -->
        </figure>
        <!-- End Figure -->
      </div>

    </div>


  </div>
</section>
<!-- End Team Blocks v11 -->