{% load static %}
{% load template_tags %}
{% load i18n %}
<!-- Team Blocks v11 -->
<section class="g-py-30">
  <div class="container">


    <div id="shortcode11">
      <div class="shortcode-html">
        <!-- Figure -->
        <figure class="row">
          <!-- Figure Image -->
          <div class="col-md-8 col-lg-4 g-mb-30">
            <img class="w-100" src="{% static 'img/team/myriam.jpg' %}" alt="Myriam van Walsum">
          </div>
          <!-- End Figure Image -->

          <!-- Figure Body -->
          <div class="col-lg-8">
            <div class="d-flex justify-content-between g-mb-10">
              <div class="g-mb-20">
                <h4 class="h5 g-mb-5">Myriam van Walsum, MA</h4>
                <em class="d-block g-font-style-normal g-font-size-default text-uppercase g-color-primary">Research
                  Scientist</em>
              </div>

            </div>

            <!-- Figure Info -->
            <div class="g-mb-50">
              <p>Myriam van Walsum earned her BA degree in Archaeology at Leiden University (The Netherlands) and a MSc degree in Palaeoanthropology at University College London (UK). Her work at GDH consists of close range laser scanning of cultural heritage and natural history objects and sites, and subsequent post-processing, segmentation, texturing and rendering. Her specialties include human evolution, osteology and microCT scan processing.</p>
            </div>
            <!-- End Info -->

            
          </div>
          <!-- End Figure Body -->
        </figure>
        <!-- End Figure -->
      </div>

    </div>


  </div>
</section>
<!-- End Team Blocks v11 -->