<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/scientific-board.css" />

<div class="container g-pt-50">
  <div class="g-max-width-600 text-center mx-auto g-mb-30">
    <h2 class="g-color-black g-font-weight-600 g-font-size-40 mb-1">Scientific Advisory Board</h2>

    <div class="scientific-board-paragraph">
      <h3>Spain</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Tomás Torres González, Baraka S.L., Spain</li>
        <li class="list-group-item">Miguel Torres Mas, Council town of Daimiel, Spain</li>
        <li class="list-group-item">Dr. Jorge Onrubia Pintado, University of Castilla-La Mancha, Spain</li>
        <li class="list-group-item">Ángel Marchante Ortega, Spain</li>
        <li class="list-group-item">Diego Lucendo Díaz, Baraka S.L., Spain</li>
      </ul>
    </div>

    <div class="scientific-board-paragraph">
      <h3>France</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Dr. Laurent Costa, CNRS, France</li>
        <li class="list-group-item">Dr. Pierre-Yves Gagnier, Muséum national d'histoire naturelle à Paris, France</li>
        <li class="list-group-item">Bertrand Triboulot, Direction régionale des affaires culturelles d'Ile-de-France</li>
      </ul>
    </div>

    <div class="scientific-board-paragraph">
      <h3>Sharjah, UAE</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Dr. Sabah Abboud Jasim, Director General, Sharjah Archaeology Authority</li>
        <li class="list-group-item">Eisa Yousi, Director of Excavation and Archaeological Sites, Sharjah Archaeology Authority</li>
        <li class="list-group-item">Dr. Bruno Overlaet, Curator, Royal Museums of Arts and History, Brussels</li>
      </ul>
    </div>

    <div class="scientific-board-paragraph">
      <h3>Italy</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Professor Stefano Campana, Università degli Studi di Siena</li>
        <li class="list-group-item">Professor Michele Nucciotti, Università degli Studi di Firenze</li>
        <li class="list-group-item">Dr. Andrea D'Andrea, Università degli Studi di Napoli "L'Orientale"</li>
      </ul>
    </div>

    <div class="scientific-board-paragraph">
      <h3>Portugal</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Rafael Alfenim, Archaeologist, Direção Regional de Cultura do Alentejo, Evora</li>
        <li class="list-group-item">Dr. António Carlos Silva, Évora</li>
      </ul>
    </div>

    <div class="scientific-board-paragraph">
      <h3>3D Modeling and Presentation</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Dr. Heinrich Mallison, Palaeo3D, Germany</li>
      </ul>
    </div>

  </div>
</div>