{% load i18n %}
<script>
    define('layer-info', [], function () {
        var layerInfo = {
            {% for type, type_data in resource_types.items %}
            {% if type_data.has_layer %}
            "{{type}}": {
                id: "{{type_data.resourcetypeid}}",
                icon: "{{type_data.icon_class}}",
                name: "{{type_data.name}}",
                description: "{{type_data.description}}",
                categories: [
                    {% for category in type_data.categories %}
                    "{{category}}"
                    {% endfor %}
                ],
                {% if type_data.on_map %}
                onMap: true,
                {% else %}
                onMap: false,
                {% endif %}
                vectorColor: "{{type_data.vector_color}}"   
            },
            {% endif %}
            {% endfor %}
        };

        return layerInfo;
    });
</script>