{% load template_tags %}
{% load i18n %}

<!-- ko if: $data.search -->
{% block search %}
<div class="col-sm-12">
    <select class="resources" data-bind="
        attr: {'data-label': node.label}, 
        select2Query: { 
            select2Config: {
                value: searchValue,
                data: [
                    {id: '', text: $root.translations.selectAnOption},
                    {id: 't', text: trueLabel},
                    {id: 'f', text: falseLabel},
                    {id: 'null', text: $root.translations.hasNoValue},
                    {id: 'not_null', text: $root.translations.hasAnyValue}
                ],
                allowClear: true,
                placeholder: $root.translations.selectAnOption
        }}">
    </select>
</div>
{% endblock search %}
<!-- /ko -->

<!-- ko if: $data.graph -->
<div class="control-label">
    <span data-bind="text: $root.translations.labelTrue"></span>
</div>
<div class="col-xs-12 pad-no crud-widget-container">
    <input class="form-control input-md widget-input" data-bind="textInput: trueLabel, attr: {'aria-label': $root.translations.labelTrue}">
</div>
<div class="control-label">
    <span data-bind="text: $root.translations.labelFalse"></span>
</div>
<div class="col-xs-12 pad-no crud-widget-container">
    <input class="form-control input-md widget-input" data-bind="textInput: falseLabel, attr: {'aria-label': $root.translations.labelFalse}">
</div>
<!-- /ko -->
