{% load i18n %}
<!-- ko if: $data.search -->
<div class="col-md-4 col-lg-3">
    <select class="resources" tabindex="-1" style="display: none;" data-bind="value: op, chosen: {width: '100%', disable_search_threshold: 15}">
        <option value="overlaps">
            <span data-bind="text: translations.overlaps"></span>
        </option>
        <option value="eq"> = </option>
        <option value="gt"> &gt; </option>
        <option value="lt"> &lt; </option>
        <option value="gte"> &ge; </option>
        <option value="lte"> &le; </option>
        <option value="null">
            <span data-bind="text: translations.hasNoValue"></span>
        </option>
        <option value="not_null">
            <span data-bind="text: translations.hasAnyValue"></span>
        </option>
    </select>
</div>
<div class="col-md-8 col-lg-9" data-bind="visible: op() !== 'null' && op() !== 'not_null'">
    <input 
        type="text" 
        class="form-control input-lg" 
        style="height: 36px;" 
        data-bind="
            attr: {placeholder: translations.name},
            textInput: searchValue
        "
    >
</div>
<!-- /ko -->

<!-- ko ifnot: $data.search -->
<div class="node-widget-label concept-label">

    <div class="control-label">
        <span data-bind="text: translations.fuzzyYearPadding"></span>
    </div>
    <div class="edtf-input">
        <input 
            type="number" 
            class="form-control input-md widget-input" 
            data-bind="
                attr: {placeholder: translations.fuzzyYearPadding},
                textInput: config.fuzzy_year_padding
            "
        >
    </div>
    <div class="control-label">
        <span data-bind="text: translations.fuzzyMonthPadding"></span>
    </div>
    <div  class="edtf-input">
        <input 
            type="number" 
            class="form-control input-md widget-input" 
            data-bind="
                attr: {placeholder: translations.fuzzyMonthPadding},
                textInput: config.fuzzy_month_padding
            "
        >
    </div>
    <div class="control-label">
        <span data-bind="text: translations.fuzzyDayPadding"></span>
    </div>
    <div class="edtf-input">
        <input 
            type="number" 
            class="form-control input-md widget-input" 
            data-bind="
                attr: {placeholder: translations.fuzzyDayPadding},
                textInput: config.fuzzy_day_padding
            "
        >
    </div>
    <div class="control-label">
        <span data-bind="text: translations.fuzzySeasonPadding"></span>
    </div>
    <div class="edtf-input">
        <input 
            type="number" 
            class="form-control input-md widget-input" 
            data-bind="
                attr: {placeholder: translations.fuzzySeasonPadding},
                textInput: config.fuzzy_season_padding
            "
        >
    </div>
    <div class="control-label">
        <span data-bind="text: translations.multiplierIfDateIsUncertain"></span>
    </div>
    <div class="edtf-input">
        <input 
            type="number" 
            class="form-control input-md widget-input" 
            data-bind="
                attr: {placeholder: translations.multiplierIfDateIsUncertain},
                textInput: config.multiplier_if_uncertain
            "
        >
    </div>
    <div class="control-label">
        <span data-bind="text: translations.multiplierIfDateIsApproximate"></span>
    </div>
    <div class="edtf-input">
        <input 
            type="number" 
            class="form-control input-md widget-input" 
            data-bind="
                attr: {placeholder: translations.multiplierIfDateIsApproximate},
                textInput: config.multiplier_if_approximate
            "
        >
    </div>
    <div class="control-label">
        <span data-bind="text: translations.multiplierIfBoth"></span>
    </div>
    <div class="edtf-input">
        <input 
            type="number" 
            class="form-control input-md widget-input" 
            data-bind="
                attr: {placeholder: translations.multiplierIfBoth},
                textInput: config.multiplier_if_both
            "
        >
    </div>
</div>
<!-- /ko -->