{% load i18n %}
<!-- ko if: $data.search -->
<div class="col-md-4 col-lg-3">
    <select class="resources" data-bind="
        attr: {'data-label': node.label},
        select2Query: {
            select2Config:{
                data: [
                    { text: '=', id: 'eq' },
                    { text: '&gt;', id: 'gt' },
                    { text: '&lt;', id: 'lt' },
                    { text: '&ge;', id: 'gte' },
                    { text: '&le;', id: 'lte' },
                    { text: $root.translations.hasNoValue, id: 'null' },
                    { text: $root.translations.hasAnyValue, id: 'not_null' },
                ],
                value: op
        }}">
    </select>
</div>

<div class="col-md-8 col-lg-9" data-bind="visible: op() !== 'null' && op() !== 'not_null'">
    <input type="number"
        class="form-control input-lg" 
        style="height: 36px;"
        data-bind="textInput: searchValue, attr: {'aria-label': node.label, 'placeholder': $root.translations.value}">
</div>
<!-- /ko -->
