{% load i18n %}
<!-- ko if: $data.search -->
<div class="col-md-3 col-lg-2">
    <select 
        class="resources" 
        data-bind="
            value: op, 
            chosen: {width: '100%', disable_search_threshold: 15},
            optionsText: 'text',
            optionsValue: 'value',
            options: [
                { text: $root.translations.like, value: '~' },
                { text: $root.translations.notLike, value: '!~' },
                { text: $root.translations.equals, value: '' },
                { text: $root.translations.not, value: '!=' },
                { text: $root.translations.hasNoValue, value: 'null' },
                { text: $root.translations.hasAnyValue, value: 'not_null' },
            ],
        "
    ></select>
</div>
<div class="col-md-3 col-lg-2" data-bind="css: {'chosen-hide': op() == 'null' || op() == 'not_null'}">
    <select data-bind="options: languages, optionsText: function(item){return item.name + ' (' + item.code + ')'}, value: language, chosen:{width:'100%'}"></select>
</div>
<div class="col-md-9 col-lg-8" data-bind="visible: op() !== 'null' && op() !== 'not_null'">
    <input 
        type="text" 
        class="form-control input-lg" 
        style="height: 36px;" 
        data-bind="
            attr: {placeholder: $root.translations.name},
            value: searchValue, 
            valueUpdate: 'keyup'
        "
    >
</div>
<!-- /ko -->
