{% load i18n %}
<!-- ko foreach: { data: [$data], as: 'self' } -->
<div style="display: none;" data-bind="visible: self">

    <!-- TOC Cards/Widgets -->
    <div class="card-tree-container">
        <li class="card-tree-list"data-bind="css: {
            'active': self.selection() === 'header'
        }">
            <a href="#" class="cc-link" aria-expanded="true" data-bind="css: {
                'active': self.selection() === 'header'
            },
            click: function() { self.selection('header') }">
                <span class="icon-wrap icon-wrap-sm icon-circle bg-card">
                    <i class="card-tree-list-icon ion-ios-folder"></i>
                </span>
                <span class="node-name node-name-report">
                    {% trans "Header" %}
                </span>
            </a>
        </li>
        <div data-bind="sortable: { data: self.report.forms, as: 'form' }">
            <li class="card-tree-list"data-bind="css: {
                    'active': self.selection() === form
                }">
                <a href="#" class="cc-link" aria-expanded="true" data-bind="css: {
                        'active': self.selection() === form
                    },
                    click: self.selection">
                    <span class="icon-wrap icon-wrap-sm icon-circle bg-card">
                        <i class="card-tree-list-icon ion-ios-folder"></i>
                    </span>
                    <span class="node-name node-name-report" data-bind="text: form.label()"></span>
                </a>

                <ul class="card-tree-list-item report-tree-list" aria-expanded="true">
                    <div data-bind="template: {
                        name: 'card-tree',
                        foreach: form.cards,
                        as: 'card'
                    }"></div>
                </ul>
            </li>
        </div>
    </div>
</div>
<!-- /ko -->

<template id="card-tree">
    <li class="card-tree-list"data-bind="css: {
        'active': self.selection() === card
    }">
        <a href="#" class="cc-link" aria-expanded="true" data-bind="css: {
            'active': self.selection() === card
        },
        click: self.selection">
            <span class="icon-wrap icon-wrap-sm branch-icon icon-circle bg-report-card">
                <i class="card-tree-list-icon" data-bind="css: {
                    'ion-ios-folder': card.isContainer(),
                    'ion-ios-list': !card.isContainer()
                }"></i>
            </span>
            <span class="node-name node-name-report" data-bind="text: card.get('name')"></span>
        </a>

        <ul class="card-tree-list-item node-indent" aria-expanded="true" data-bind="if: card.isContainer()">
            <div data-bind="template: {
                name: 'card-tree',
                foreach: get('cards'),
                as: 'card'
            }"></div>
        </ul>
    </li>
</template>
