{% load static %}
{% load template_tags %}
{% load i18n %}
<!-- Team Blocks v11 -->
<section class="g-py-30">
  <div class="container">


    <div id="shortcode11">
      <div class="shortcode-html">
        <!-- Figure -->
        <figure class="row">
          <!-- Figure Image -->

          <!-- End Figure Image -->

          <!-- Figure Body -->
          <div class="col-lg-8">
            <div class="d-flex justify-content-between g-mb-10">
              <div class="g-mb-20">
                <h4 class="h5 g-mb-5">FARO Edge Arm</h4>
              </div>

            </div>

            <!-- Figure Info -->
            <div class="g-mb-50">
              <p>The FARO Edge Arm is a portable, laser line triangulation 3D scanner that permits for the rapid
                collection of point
                cloud data in high resolution and with an accuracy of up to 0.024mm. The handheld laser line probe is
                affixed to an
                articulating arm and tripod system allowing for the easy maneuvering around objects during data
                collection. This
                scanner is particularly useful for the scanning of museum-curated objects and artifacts in high
                resolution and
                detail. The data captured with the FARO Edge Arm is compatible with a variety of 3D software
                applications that can be
                used to generate 3D meshes and animations, 3D renders, and other project-related products</p>
            </div>
            <!-- End Info -->

            <div class="row">
              <div class="col-sm-6">
                <img class="w-100" src="{% static 'img/equipment/faro_arm_in_use.jpg' %}" alt="FARO Edge Arm in use">
              </div>
            </div>
          </div>
          <!-- End Figure Body -->
          <div class="col-md-8 col-lg-4 g-mb-30">
            <img class="w-100" src="{% static 'img/equipment/faro_arm.jpg' %}" alt="Faro Edge Arm Laser Scanner">
          </div>
        </figure>
        <!-- End Figure -->
      </div>

    </div>


  </div>
</section>
<!-- End Team Blocks v11 -->