{% load static %}
{% load template_tags %}
{% load i18n %}
<!-- Team Blocks v11 -->
<section class="g-py-30">
  <div class="container">


    <div id="shortcode11">
      <div class="shortcode-html">
        <!-- Figure -->
        <figure class="row">
          <!-- Figure Image -->

          <!-- End Figure Image -->

          <!-- Figure Body -->
          <div class="col-lg-8">
            <div class="d-flex justify-content-between g-mb-10">
              <div class="g-mb-20">
<h4 class="h5 g-mb-5">6m<sup>3</sup> Skyhook Helikite</h4>
              </div>

            </div>

            <!-- Figure Info -->
            <div class="g-mb-50">
<p>Designed to lift considerable payloads to higher altitudes than is possible with any other similar sized aerostats.
  Skyhook Helikites are able to lift full size DSLR cameras with ease. The gimble and video controller allow for
  accurate, but tethered, photogrammetric data acquisition. Since the blimp is tethered, there are fewer restrictions
  for aerial photography in more populated areas.</p>
            </div>
            <!-- End Info -->
          </div>
          <!-- End Figure Body -->
          <div class="col-md-8 col-lg-4 g-mb-30">
            <img class="w-100" src="{% static 'img/equipment/skyhook_over_la_vieja.jpg' %}" alt="The Skyhook flying over Calatrava la Vieja">
          </div>
        </figure>
        <!-- End Figure -->
      </div>

    </div>


  </div>
</section>
<!-- End Team Blocks v11 -->