{% load static %}
{% load template_tags %}
{% load i18n %}
<!-- Team Blocks v11 -->
<section class="g-py-30">
  <div class="container">
    

    <div id="shortcode11">
      <div class="shortcode-html">
        <!-- Figure -->
        <figure class="row">
          <!-- Figure Image -->
          <div class="col-md-8 col-lg-4 g-mb-30">
          <img class="w-100" src="{% static 'img/equipment/phantom_4_pro_2.jpg' %}" alt="Phantom 4 Pro Ver. 2">
          </div>
          <!-- End Figure Image -->

          <!-- Figure Body -->
          <div class="col-lg-8">
            <div class="d-flex justify-content-between g-mb-10">
              <div class="g-mb-20">
<h4 class="h5 g-mb-5">DJI Phantom 4 Pro Ver. 2</h4>
              </div>

            </div>

            <!-- Figure Info -->
            <div class="g-mb-50">
<p>Phantom 4 Pro Ver. 2 is equipped with a 1-inch 20-megapixel sensor capable of shooting 4K/60fps video and Burst Mode
  stills at 14 fps. The adoption of titanium alloy and magnesium alloy construction increases the rigidity of the
  airframe and reduces weight, making the Phantom 4 Pro similar in weight to the Phantom 4. The FlightAutonomy system
  adds dual rear vision sensors and infrared sensing systems for a total of 5-direction of obstacle sensing and
  4-direction of obstacle avoidance</p>
<p>Flight Autonomy is expanded with an additional set of high-resolution stereo vision sensors placed at the rear in
  addition to the pair placed at the front as well as infrared sensing systems placed on the left and right sides. This
  network creates a total of five-directions of obstacle sensing and four-directions of obstacle avoidance, protecting
  the Phantom 4 Pro from more obstacles and giving filmmakers the confidence to capture more complex images.</p>
<p>The Phantom 4 Pro features dual compass modules and dual IMU units, making it more reliable when compared to many
  hexacopters and octocopers. Compasses and IMUs are important sensors to ensure a stable flight and the Phantom 4 Pro
  constantly compares the data it receives through both pairs. This data is run through advanced algorithms to check
  accuracy and any inaccurate data is simply discarded without affecting flight, keeping flight steady and reliable.</p>
            </div>
            <!-- End Info -->

            <div class="row">
              <div class="col-sm-12">
                <img class="w-100" src="{% static 'img/equipment/drone_in_flight.jpg' %}" alt="DJI Phantom Pro v.2 in flight">
              </div>
            </div>
          </div>
          <!-- End Figure Body -->
        </figure>
        <!-- End Figure -->
      </div>

    </div>


  </div>
</section>
<!-- End Team Blocks v11 -->