{% load static %}
{% load template_tags %}
{% load i18n %}
<!-- Team Blocks v11 -->
<section class="g-py-30">
  <div class="container">


    <div id="shortcode11">
      <div class="shortcode-html">
        <!-- Figure -->
        <figure class="row">
          <!-- Figure Image -->

          <!-- End Figure Image -->

          <!-- Figure Body -->
          <div class="col-lg-12">
            <!-- Figure Info -->
            <div class="g-mb-50">
<p>We have a wide range of Canon, Sony, and Zeiss lenses, filters and accessories. We also have professional lighting
  set ups and can document sites in near total darkness when necessary. An extensive array of tripods and extension
  poles allow photogrammetric documentation to 6m or more</p>
            </div>
            <!-- End Info -->
          </div>
          <!-- End Figure Body -->
<div class="row">
  <div class="col-sm-12 col-lg-6">
    <img class="w-100" src="{% static 'img/equipment/victor_cave.png' %}" alt="DJI Phantom Pro v.2 in flight">
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-lg-6">
    <img class="w-100" src="{% static 'img/equipment/herbert_pole.png' %}" alt="DJI Phantom Pro v.2 in flight">
  </div>
</div>
        </figure>
        <!-- End Figure -->
      </div>

    </div>


  </div>
</section>
<!-- End Team Blocks v11 -->