{% load static %}
{% load template_tags %}
{% load i18n %}
<!-- Team Blocks v11 -->
<section class="g-py-30">
  <div class="container">
    

    <div id="shortcode11">
      <div class="shortcode-html">
        <!-- Figure -->
        <figure class="row">
          <!-- Figure Image -->
          <div class="col-md-8 col-lg-4 g-mb-30">
<img class="w-100" src="{% static 'img/equipment/pano.jpg' %}" alt="Insta360 Pro VR">
          </div>
          <!-- End Figure Image -->

          <!-- Figure Body -->
          <div class="col-lg-8">
            <div class="d-flex justify-content-between g-mb-10">
              <div class="g-mb-20">
<h4 class="h5 g-mb-5">Insta360 Pro VR<sup>s</sup> 70</h4>
              </div>

            </div>

            <!-- Figure Info -->
            <div class="g-mb-50">
<p>The Insta360 Pro VR camera uses six 200° fisheye lenses to produce professional quality 360-degree immersive
  spherical images and video. This camera can capture immersive video at a resolution of 8k at 30fps, or 4k at a rate
  of 100fps, and 3D video at a resolution of 6k at a rate of 30fps. Still images are captured at a resolution of 8k in
  RAW and JPEG format with the added ability to use the HDR mode for maximum image detail and quality. The Insta360 Pro
  also features four integrated microphones to capture 360-degree spherical sound, and real-time image stabilization
  allowing the ability to live-stream smooth steady 2D and 3D video. The images and video produced by this camera are
  used to create online tours and VR content for our projects. GDH owns two of these cameras and they are employed in a
  wide variety of settings.</p>
            </div>
            <!-- End Info -->
<div class="row">
  <div class="col-sm-12">
    <img class="w-100" src="{% static 'img/equipment/photography_banner.jpg' %}" alt="Jeff du Verney using the Insta360 Pro VR panoramic camera">
  </div>
</div>
          </div>
          <!-- End Figure Body -->
        </figure>
        <!-- End Figure -->
      </div>

    </div>


  </div>
</section>
<!-- End Team Blocks v11 -->