{% load static %}
{% load template_tags %}
{% load i18n %}
<!-- Team Blocks v11 -->
<section class="g-py-30">
  <div class="container">
    

    <div id="shortcode11">
      <div class="shortcode-html">
        <!-- Figure -->
        <figure class="row">
          <!-- Figure Image -->
          <div class="col-md-8 col-lg-4 g-mb-30">
          <img class="w-100" src="{% static 'img/equipment/focusm.jpg' %}" alt="FARO Focus s 70 Laser Scanner">
          </div>
          <!-- End Figure Image -->

          <!-- Figure Body -->
          <div class="col-lg-8">
            <div class="d-flex justify-content-between g-mb-10">
              <div class="g-mb-20">
                <h4 class="h5 g-mb-5">FARO Focus<sup>s</sup> 70</h4>
              </div>

            </div>

            <!-- Figure Info -->
            <div class="g-mb-50">
              <p>The FARO Focus<sup>s</sup> 70 is a portable and high-speed phase-shift 3D terrestrial laser scanner designed to capture detailed and highly accurate point cloud datasets of complex objects, environments, and buildings. The Focus<sup>s</sup> 70 scanner is capable of capturing measurement data at a range of 70 meters and can collect up to 976,000 points per second with an accuracy of up to 1mm. The scanner is equipped with an 8-megapixel HDR camera to capture color imagery that can be merged with the scan data. The point cloud data captured with this scanner can be used in conjunction with multiple 3D software applications to generate a variety of products including, 3D animations and meshes, scaled imagery, CAD-based 2D and 3D digital drawings, and others. GDH uses two Faro Focus<sup>s</sup> 70 scanners</p>
            </div>
            <!-- End Info -->

            <div class="row">
              <div class="col-sm-6">
                <img class="w-100" src="{% static 'img/equipment/focus_in_action.jpg' %}" alt="FARO Focus s 70 Laser Scanner">
              </div>
            </div>
          </div>
          <!-- End Figure Body -->
        </figure>
        <!-- End Figure -->
      </div>

    </div>


  </div>
</section>
<!-- End Team Blocks v11 -->