{% load static %}
{% load template_tags %}
{% load i18n %}
<!-- Team Blocks v11 -->
<section class="g-py-30">
  <div class="container">


    <div id="shortcode11">
      <div class="shortcode-html">
        <!-- Figure -->
        <figure class="row">
          <!-- Figure Image -->

          <!-- End Figure Image -->

          <!-- Figure Body -->
          <div class="col-lg-12">
            <div class="d-flex justify-content-between g-mb-10">
              <div class="g-mb-20">
                <h4 class="h5 g-mb-5">Software</h4>
              </div>

            </div>

            <!-- Figure Info -->
            <div class="g-mb-50">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="https://3dcoat.com/home/" target="_blank">3D Coat</a></li>
                <li class="list-group-item"><a href="http://www.adobe.com/products/catalog.html" target="_blank">Adobe
                    Creative Suite</a></li>
                <li class="list-group-item"><a href="http://www.agisoft.com/" target="_blank">Agisoft Photoscan</a></li>
                <li class="list-group-item"><a href="https://www.arcgis.com/features/index.html" target="_blank">ArcGIS</a></li>
                <li class="list-group-item"><a href="http://www.veesus.com/" target="_blank">Arena4D</a></li>
                <li class="list-group-item"><a href="https://www.autodesk.com/products/autocad/overview" target="_blank">Autocad</a></li>
                <li class="list-group-item"><a href="https://www.bentley.com/en/products/product-line/reality-modeling-software/bentley-pointools"
                    target="_blank">BentleyPointools</a></li>
                <li class="list-group-item"><a href="https://www.blender.org/" target="_blank">Blender</a></li>
                <li class="list-group-item"><a href="http://www.danielgm.net/cc/" target="_blank">CloudCompare</a></li>
                <li class="list-group-item"><a href="https://www.blackmagicdesign.com/products/davinciresolve/" target="_blank">DaVinci
                    Resolve 14</a></li>
                <li class="list-group-item"><a href="https://www.dxo.com/" target="_blank">DXO Photolab</a></li>
                <li class="list-group-item"><a href="http://www.faro.com/products/product-design/faro-scene/" target="_blank">FARO
                    Scene</a></li>
                <li class="list-group-item"><a href="ttp://www.kolor.com/gopro-vr-player/download/" target="_blank">GoPro
                    VR Viewer</a></li>
                <li class="list-group-item"><a href="http://www.geomagic.com/en/" target="_blank">Geomagic</a></li>
                <li class="list-group-item"><a href="https://www.gimp.org/" target="_blank">GIMP</a></li>
                <li class="list-group-item"><a href="https://www.kolor.com/panotour/" target="_blank">Kolor Panotour
                    Pro</a></li>
                <li class="list-group-item"><a href="http://www.meshlab.net/" target="_blank">Meshlab</a></li>
                <li class="list-group-item"><a href="https://www.meshmixer.com/" target="_blank">Meshmixer</a></li>
                <li class="list-group-item"><a href="https://www.oculus.com/" target="_blank">Oculus</a></li>
                <li class="list-group-item"><a href="https://pix4d.com/" target="_blank">Pix4D</a></li>
                <li class="list-group-item"><a href="http://www.qgis.org/en/site/" target="_blank">QGIS</a></li>
                <li class="list-group-item"><a href="https://www.capturingreality.com/" target="_blank">Reality Capture</a></li>
                <li class="list-group-item"><a href="http://www.xnormal.net/" target="_blank">xNomal</a></li>
                <li class="list-group-item"><a href="http://pixologic.com/" target="_blank">Zbrush</a></li>
              </ul>
            </div>
            <!-- End Info -->
          </div>
          <!-- End Figure Body -->
        </figure>
        <!-- End Figure -->
      </div>

    </div>


  </div>
</section>
<!-- End Team Blocks v11 -->