{% load static %}
{% load template_tags %}
{% load i18n %}
<!-- Team Blocks v11 -->
<section class="g-py-30">
  <div class="container">
    

    <div id="shortcode11">
      <div class="shortcode-html">
        <!-- Figure -->
        <figure class="row">
          <!-- Figure Image -->
          <div class="col-md-8 col-lg-4 g-mb-30">
          <img class="w-100" src="{% static 'img/equipment/sony.jpg' %}" alt="Sony Alpha 7iii Mirorless Camera">
          </div>
          <!-- End Figure Image -->

          <!-- Figure Body -->
          <div class="col-lg-8">
            <div class="d-flex justify-content-between g-mb-10">
              <div class="g-mb-20">
                <h4 class="h5 g-mb-5">Sony Alpha 7iii and 7r iii<sup>s</sup> 70</h4>
              </div>

            </div>

            <!-- Figure Info -->
            <div class="g-mb-50">
<p>GDH also uses both the Sony a7r iii and the Sony a7 iii. At 45 mpx and 24 mpx, these state-of-the-art mirrorless
  full-frames cameras provide considerable versatility in a range of environmental conditions.</p>
            </div>
            <!-- End Info -->

          </div>
          <!-- End Figure Body -->
        </figure>
        <!-- End Figure -->
      </div>

    </div>


  </div>
</section>
<!-- End Team Blocks v11 -->