{% load staticfiles %}
{% load i18n %}
<div class="ltr" data-bind="with: $data.selectedItem">
    <!-- Title -->
    <h4 class="node-title" data-bind="text: $data.name"></h4>
    <div class="relative">
        <a id="branch-close" href="javascript:void(0)" class="library-close-btn fa fa-times fa-lg" data-bind="click: $parent.closeForm.bind($parent)"></a>
    </div>
    <div id="" class="" style="padding-top: 20px; position: relative;">
        <p class="library-instructions" data-bind="text: $data.description"></p>
    </div>

    <!-- Alert -->
    <div id="branch-alert" class="panel install-card-alert" style="margin-bottom: 10px;"></div>

    <!-- Add Button -->
    <button id="branch-append" class="btn btn-primary btn btn-block btn-labeled fa fa-check" style="margin-bottom: 5px; width: 280px;" data-bind="click: $parent.appendBranch.bind($parent)">{% trans "Append to current node" %}</button>

    <!-- Preview -->
    <div id="branch-preview" class="branch-preview">
    </div>

    <!-- Branch Metadata -->
    <div class="">
        <dl>
            <dt class="branch-metadata">{% trans "Top Node Class" %}</dt>
            <dd data-bind="text: $data.rootnode.ontologyclass"></dd>
            <dt class="branch-metadata">{% trans "Connects to" %}</dt>
            <dd data-bind="text: '???'"></dd>
            <dt class="branch-metadata">{% trans "Author" %}</dt>
            <dd data-bind="text: $data.author"></dd>
            <dt class="branch-metadata">{% trans "Version" %}</dt>
            <dd data-bind="text: $data.version"></dd>
        </dl>

    </div>

    <!-- Close Panel -->
    <button id="branch-close" class="btn btn-mint btn pull-right btn-labeled fa fa-times" style="margin-bottom: 45px;" data-bind="click: $parent.closeForm.bind($parent)">{% trans "Close" %}</button>
</div>