{% load staticfiles %}
{% load i18n %}
<h4 class="title-block-title">
    <span class="node-title" data-bind="text: title"></span>
    <span data-bind="if: !title()">{% trans "Unnamed node" %}</span>
</h4>

<div class="relative">
    <a id="node-crud-close" href="javascript:void(0)" class="library-close-btn" data-bind="click: close" style="margin-top:-5px;"><i class="ion-ios-close"></i></a>
</div>

<!-- nav bar -->
<ul class="nav nav-tabs library-tools">
    <li class="active">
        <a href="#node-form" class="nav-library-tab-link" data-toggle="tab">
            <i class="ion-ios-cog add-tooltip library-tools-icon" data-placement="bottom" data-toggle="tooltip" data-original-title="{% trans "Settings" %}"></i>
        </a>
    </li>
    <li>
        <a href="#branch-library" class="nav-library-tab-link" data-toggle="tab">
            <i class="ion-ios-plus add-tooltip library-tools-icon" data-placement="bottom" data-toggle="tooltip" data-original-title="{% trans "Add Child Nodes" %}"></i>
        </a>
    </li>
     <li>
        <a href="#" class="nav-library-tab-link" data-toggle="tab">
            <i class="ion-ios-glasses add-tooltip library-tools-icon" data-placement="bottom" data-toggle="tooltip" data-original-title="{% trans "Preview Card" %}"></i>
        </a>
    </li>
    <li data-bind="visible: node() && !node().istopnode">
       <a href="#" class="nav-library-tab-link" data-bind="click:deleteNode">
           <i class="ion-ios-trash add-tooltip library-tools-icon" data-placement="bottom" data-toggle="tooltip" data-original-title="{% trans "Delete Node" %}"></i>
       </a>
   </li>
</ul>

<!-- ko if: node() -->
<!-- Tabs Content -->
<div class="tab-content" style="margin-top:10px;">

    <!--Node Listing tab -->

    <div id="node-form" class="tab-pane fade in active">

        <div class="alert node-form-loading install-card-alert" data-bind="visible: loading()">
            <i class="fa fa-spinner fa-spin"> </i> <span> {% trans "Loading..." %}</span>
        </div>

        <div class="alert alert-info install-card-alert" style="margin-bottom: 10px;" data-bind="visible: closeClicked() && node().dirty()">
            <span>{% trans "You have pending edits. Please save or cancel your edits before closing." %}</span>
        </div>

        <div class="alert alert-danger install-card-alert" style="margin-bottom: 10px;" data-bind="visible: failed()">
            <span>{% trans "We're sorry! The request failed. Please try again.  Contact your system administrator if the problem persists." %}</span>
        </div>

        <div class="node-section">

            <div style="padding-bottom: 25px;">

                <div class="node-widget-label">
                    <div class="control-label">
                        {% trans "Node Name" %}
                    </div>
                    <div class="col-sm-12 pad-no node-attribute-label node-input-widget">
                        <input type="text" placeholder="{% trans "Enter node name here..." %}"class="form-control library-search" style="" placeholder="{% trans "node name" %}" data-bind="value:node().name, valueUpdate: 'keyup'">
                    </div>
                </div>

                <div class="node-widget-label">
                    <div class="control-label">
                        {% trans "CRM Class" %}
                    </div>
                    <div class="col-sm-12 pad-no node-attribute-label">
                        <select class="design" data-bind="value: node().ontologyclass_id, options: node().validclasses, optionsText: 'value', optionsValue: 'id', valueAllowUnset: true, optionsCaption: '{% trans "Choose a class" %}', chosen: {disable_search_threshold: 10, width: '100%'}"></select>
                    </div>
                </div>

                <!-- ko if: !node().istopnode -->
                <div class="node-widget-label">
                    <div class="control-label">
                        {% trans "Relation to parent" %}
                    </div>
                    <div class="col-sm-12 pad-no node-attribute-label">
                        <select class="design" data-bind="value: node().parentproperty_id, options: node().validproperties, optionsText: 'value', optionsValue: 'id',valueAllowUnset: true, optionsCaption: '{% trans "Choose a property" %}', chosen: {disable_search_threshold: 10, width: '100%'}"></select>
                    </div>
                </div>
                <!-- /ko -->

                <div class="node-widget-label">
                    <div class="control-label">
                        {% trans "Data type" %}
                    </div>
                    <div class="col-sm-12 pad-no node-attribute-label">
                        <select class="design" data-bind="value: node().datatype, options: datatypes, optionsCaption: '{% trans "Choose a data type" %}', chosen: {disable_search_threshold: 10, width: '100%'}"></select>
                    </div>
                </div>

                <div class="node-widget-label">
                    <div class="control-label">
                        {% trans "Validations" %}
                    </div>
                    <div class="col-sm-12 pad-no node-attribute-label">
                        <select data-placeholder="{% trans "Select validations..." %}" class="design" multiple data-bind="selectedOptions: node().validations, options: validations, optionsText: 'validation', optionsValue: 'validationid', chosen: {disable_search_threshold: 10, width: '100%'}"></select>
                    </div>
                </div>

            </div>

        </div>

        <hr class="section-division-dark node-section-division">

        <div class="node-section">

            <div style="padding-bottom: 15px;" data-bind="if: !node().istopnode">

                <span class="switch switch-small arches-switch" data-bind="css: {'on': node().isCollector()}, click: toggleIsCollector"><small></small></span>

                <p style="margin-left: 40px; margin-top: -17px; margin-bottom: 0px;font-size: 12px;">
                    {% trans "Collector" %}
                </p>
                <span style="margin-left: 40px; display: inline-block; color: #8ba2b9; font-size: 10px;">
                    {% trans "Data from this node and downstream nodes will be collected in a single form section" %}
                </span>

            </div>

            <div style="padding-bottom: 15px;" data-bind="if: node().isCollector">

                <span class="switch switch-small arches-switch" data-bind="css: {'on': node().cardinality()=='n'}, click: toggleCardinality"><small></small></span>

                <p style="margin-left: 40px; margin-top: -17px; margin-bottom: 0px;font-size: 12px;">
                    {% trans "Repeatable" %}
                </p>
                <span style="margin-left: 40px; display: inline-block; color: #8ba2b9; font-size: 10px;">
                    {% trans "Users may enter multiple values for this node" %}
                </span>

            </div>

        </div>

    </div>

    <!--Branch Library tab -->
    <div id="branch-library" class="tab-pane fade" data-bind="with: branchListView">
        {% include 'views/graph-manager/branch-list.htm' %}
    </div>

</div>

<!-- /ko -->
