{% load staticfiles %}
{% load i18n %}
<!-- ko if: node -->
<p><span id="nodeName" data-bind="text: node().name"></span></p>
<div class="relative">
    <a id="node-crud-close" href="" class="library-close-btn fa fa-times fa-lg" style="margin-top: -5px;" data-bind="click: close"></a>
</div>

<div class="">

    <hr class="section-division-dark node-section-division" style="">
    <div class="node-section" style="">

        <div class="" style="padding-bottom: 25px;">

            <div class="node-widget-label" style="">
                <div class="control-label">
                    Node Name
                </div>
                <div class="col-sm-12 pad-no node-attribute-label node-input-widget" style="">
                    <input type="text" placeholder="Enter node name here..." id="" class="node-attribute-widget" style="background: #314151; height: 32px;" data-bind="value:node().name, valueUpdate: 'keyup'">
                </div>
            </div>

            <div class="node-widget-label" style="">
                <div class="control-label">
                    CRM Class
                </div>
                <div class="col-sm-12 pad-no node-attribute-label" style="">
                    <select class="design" data-placeholder="" id="crm" tabindex="0">
                        <option>E1 CRM Entity</option>
                        <option>E2 Temporal Entity</option>
                        <option>E3 Condition State</option>
                        <option>E4 Period</option>
                        <option>E5 Event</option>
                        <option>E6 Destruction</option>
                        <option>E7 Activity</option>
                        <option>E8 Acquisition</option>
                    </select>
                </div>
            </div>

            <div class="node-widget-label" style="">
                <div class="control-label">
                    Relation to parent
                </div>
                <div class="col-sm-12 pad-no node-attribute-label" style="">
                    <select class="design" data-placeholder="" id="property" tabindex="0">
                        <option>P1 Is identified by</option>
                        <option>P2 Has type</option>
                        <option>P3 Has note</option>
                        <option>P4 Has time span</option>
                        <option>P5 Consists of</option>
                        <option>P6 A really long propety name just to see what will happen</option>
                    </select>
                </div>
            </div>

            <div class="node-widget-label" style="">
                <div class="control-label">
                    Data type
                </div>
                <div class="col-sm-12 pad-no node-attribute-label" style="">
                    <select class="design" data-placeholder="" id="data-type" tabindex="0">
                        <option>Semantic</option>
                        <option>String</option>
                        <option>Number</option>
                        <option>Date</option>
                        <option>Domain</option>
                        <option>Boolean</option>
                        <option>Geometry</option>
                        <option>File</option>
                        <option>Image</option>
                    </select>
                </div>
            </div>

            <div class="node-widget-label" style="">
                <div class="control-label">
                    Group
                </div>
                <div class="col-sm-12 pad-no node-attribute-label" style="">
                    <select class="design" data-placeholder="" id="node-group" tabindex="0">
                        <option>Geospatial coordinates</option>
                        <option>Geometry type</option>
                        <option>Address</option>
                        <option>Address type</option>
                    </select>
                </div>
            </div>

        </div>

    </div>

    <hr class="section-division-dark node-section-division" style="">
    <div class="node-section" style="">

        <div class="" style="">

            <div class="" style="padding-bottom: 15px;">

                <input id="node-required" class="arches-switch" type="checkbox" checked="" data-switchery="true" style="display: none;">
                <p class="" style="margin-left: 40px; margin-top: -17px; margin-bottom: 0px;font-size: 12px;">
                    Required
                </p>
                <span class="" style="margin-left: 40px; display: inline-block; color: #8ba2b9; font-size: 10px;">
                    Users are required to provide a value for this node
                </span>

            </div>

            <div class="" style="padding-bottom: 15px;">

                <input id="node-cardinality" class="arches-switch" type="checkbox" checked="" data-switchery="true" style="display: none;">
                <p class="" style="margin-left: 40px; margin-top: -17px; margin-bottom: 0px;font-size: 12px;">
                    Repeatable
                </p>
                <span class="" style="margin-left: 40px; display: inline-block; color: #8ba2b9; font-size: 10px;">
                    Users may enter multiple values for this node
                </span>

            </div>
        </div>

    </div>

    <div class="pull-right">
        <button class="btn btn-primary btn-sm btn-labeled fa fa-check"> Save</button>
        <button class="btn btn-danger btn-sm btn-labeled fa fa-times"> Delete</button>
    </div>
</div>
<!-- /ko -->
