{% load i18n %}
{% load template_tags %}


<div
    style="height: 300px; overflow: scroll;"
>
    <table>
        <tbody>
            <!-- ko foreach: { data: Object.keys(CSV_COLUMN_NAMES_TO_NODE_IDS), as: 'key' } -->
            <tr
                data-bind="style: {backgroundColor: (function() {
                    var nodeId = CSV_COLUMN_NAMES_TO_NODE_IDS[key]['node_id'];

                    if ($parent.errors && ko.unwrap($parent.errors)[nodeId]) {
                        return 'lightcoral';
                    }

                    return 'white';
                })()}"
            >   
                <td>
                    <span data-bind="text: key"></span>
                </td>
                <td>
                    <span data-bind="
                        text: (function() {
                            var nodeId = CSV_COLUMN_NAMES_TO_NODE_IDS[key]['node_id'];
                            var data = $parent['row_data'][nodeId];
                            
                            /* hack to format location */
                            if (data instanceof Object) {
                                if (CSV_COLUMN_NAMES_TO_NODE_IDS[key]['args'].includes('x')) {
                                    return data['features'][0]['geometry']['coordinates'][1];
                                }
                                if (CSV_COLUMN_NAMES_TO_NODE_IDS[key]['args'].includes('y')) {
                                    return data['features'][0]['geometry']['coordinates'][0];
                                }
                            }

                            return data;
                        })()
                    "></span>
                    <!-- ko if: $parent.errors && ko.unwrap($parent.errors)[CSV_COLUMN_NAMES_TO_NODE_IDS[key]['node_id']] -->
                    <span>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#errorsCollapse" aria-expanded="false" aria-controls="errorsCollapse">
                            <i class="fa fa-question-circle"></i>
                        </button>
                        <div class="collapse" id="errorsCollapse">
                            <div class="card card-body">
                                <ul>
                                    <!-- ko foreach: ko.unwrap($parent.errors)[CSV_COLUMN_NAMES_TO_NODE_IDS[key]['node_id']]['errors'] -->
                                        <li data-bind="text: $data.message"></li>
                                    <!-- /ko -->
                                </ul>
                            </div>
                        </div>
                    </span>
                    <!-- /ko -->
                </td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
</div>