{% extends "views/components/cards/default.htm" %}
{% load i18n %}

{% block form %}
{% include 'views/components/iiif-annotation.htm' %}
{% endblock form %}

{% block config %}
<div class="control-label">
    <span data-bind="text: $root.translations.defaultImageServiceUrl"></span>
</div>
<div class="col-xs-12 crud-widget-container">
    <input type="" id="" class="form-control input-md widget-input" data-bind="attr:{placeholder: $root.translations.enterManifestUrl }, textInput: defaultManifest">
</div>
{% endblock config %}
