{% extends "views/components/map-popup.htm" %}
{% load i18n %}

{% block footer %}
<!-- ko if: mapCard.isSelectable(feature) -->
<a data-bind="event: { keyup: mapCard.mapEventHandler.bind($data,'select features',feature), click:  mapCard.mapEventHandler.bind($data,'select features',feature)}" href="javascript:void(0)" aria-label="Select feature">
    <i class="ion-ios-refresh-empty"></i>
    <span data-bind="text: mapCard.selectText"></span>
</a>
<!--/ko-->
{{ block.super }}
{% endblock footer %}
