{% extends "views/components/cards/default.htm" %}
{% load i18n %}

{% block form %}
<div class="map-card-wrapper">
    <div class="map-card-sidebar">
        <div class="map-card-sidebar-tab" data-bind="click: function() {
            toggleTab('legend');
        }, css: {
            'active': activeTab() === 'legend'
        }">
            <i class="fa fa-list-alt"></i>
            {% trans "Legend" %}
        </div>
        <div class="map-card-sidebar-tab" data-bind="click: function() {
            toggleTab('basemap');
        }, css: {
            'active': activeTab() === 'basemap'
        }">
            <i class="fa fa-globe"></i>
            {% trans "Basemap" %}
        </div>
        <div class="map-card-sidebar-tab" data-bind="click: function() {
            toggleTab('overlays');
        }, css: {
            'active': activeTab() === 'overlays'
        }">
            <i class="fa fa-list"></i>
            {% trans "Overlays" %}
        </div>
    </div>
    <!--ko if: activeTab() -->
        <div class="map-card-sidepanel">
            <!--ko if: activeTab() === 'basemap' -->
                <h4 class="map-card-sidepanel-header" data-bind="click: hideSidePanel">
                    {% trans "Basemaps" %}
                </h4>
                <!--ko foreach: basemaps -->
                <div class="basemap-listing" data-bind="
                    text: name,
                    click: $parent.activeBasemap,
                    css: {'active-basemap': $data === $parent.activeBasemap()}
                    "></div>
                <!--/ko -->
            <!--/ko -->

            <!--ko if: activeTab() === 'overlays' -->
                <h4 class="map-card-sidepanel-header" data-bind="click: hideSidePanel">
                    {% trans "Overlays" %}
                </h4>
                <div data-bind="sortable: {
                    data: overlays
                }">
                    <div class="basemap-listing" data-bind="
                        text: name,
                        click: function() {
                            onMap(!onMap());
                        },
                        css: {'active-basemap': onMap}
                        "></div>
                </div>
            <!--/ko -->
        </div>
    <!--/ko -->
    <div class="map-card-container" data-bind="mapboxgl: {
            mapOptions: { style: mapStyle },
            afterRender: setupMap
        }">
    </div>
</div>
{% endblock form %}
