{% extends "views/components/cards/default.htm" %}
{% load i18n %}

{% block form %}
{% include 'views/components/related-resources-map-editor.htm' %}
{% endblock form %}

{% block config %}
<div>
    <div class="node-config-item">
        <label class="control-label" for="">{% trans "Select drawings map source (optional)" %}</label>
        <input type="text" data-bind="textInput: selectRelatedSource" class="form-control input-md widget-input">
    </div>
    <div class="node-config-item">
        <label class="control-label" for="">{% trans "Select drawings map source layer (optional)" %}</label>
        <input type="text" data-bind="textInput: selectRelatedSourceLayer" class="form-control input-md widget-input">
    </div>
</div>
{% endblock config %}
