{% load staticfiles %}
{% load i18n %}

<!-- Menu Title -->
<div class="panel-heading">
    <div class="ep-menu-list-title">
        <h3 id="" class="panel-title card-main-title">{% trans "Card Library" %}</h3>
        <span class="dismiss-card-library" data-bind="click: $root.toggleCardLibrary"><i class="ion-backspace-outline"></i></span>
    </div>
</div>

<!-- Menu List -->
<div class="panel-body">
   <ul class="list-group ep-menu-list data-widget-library menu-title-shim">
        <!-- Menu Item -->
        <li id="" class="resource-selector">
            <div class="list-filter" style="">
                <input type="text" class="form-control" style="" placeholder="{% trans "Find a Card" %}" data-bind="value: $data.filter, valueUpdate: 'afterkeydown'">

                <!-- Remove Search -->
                <span class="clear-node-search" data-bind="click: $data.clearSearch"><i class="fa fa-times-circle"></i></span>
            </div>
        </li>

        <!-- Data Widget Library -->
        <li class="data-widget-container">
            <!-- Isotope Layout -->
            <div id="report-image-grid" class="report-image-grid" data-bind="foreach: items">

                <!-- card -->
                <div class="data-widget-grid-item relative" data-bind="drag: {value: $data, preventDrag: isactive === false}, visible: $data.filtered() == false, css:{'card-locked': isactive === false}">
                    <div class="panel mar-no">

                        <!-- card Name -->
                        <div class="panel-heading">
                            <h3 class="panel-title library-card-panel-title" data-bind="text:card.name"></h3>
                        </div>

                        <!-- Abstract -->
                        <div class="panel-body library-card-body">
                            <p class="library-item-subtitle" data-bind="text:card.description"></p>
                        </div>

                        <!-- Selectable -->
                        <div class="selectable" style="display: none;">
                            <i class="ion-ios-checkmark"></i>
                        </div>

                        <!-- card Tools -->
                        <div class="panel-footer" style="height: 40px;">
                            <!--ko if: isactive === true -->
                            <a href="#" class="pull-right" data-bind="click: $root.addCard.bind($root)"><i class="ion-plus-circled"></i>{% trans "Add Card" %}</a>
                            <!--/ko-->
                            <!--ko if: isactive === false -->
                            <a href="#" class="pull-right disabled"></i>{% trans "Inactive" %}</a>
                            <!--/ko-->
                        </div>
                    </div>
                </div>

            </div>

        </li>
    </ul>
</div>
