name: CI

on: 
  # push: -- just run on PRs for now
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgis/postgis:13-3.0
        env:
          POSTGRES_PASSWORD: postgis
          POSTGRES_DB: arches
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: Install Java, GDAL, and other system dependencies
        run: |
          sudo apt update
          sudo apt-get install libxml2-dev libpq-dev openjdk-8-jdk libgdal-dev libxslt-dev
          echo Postgres and ES dependencies installed

      - name: Install python packages
        run: |
          python -m pip install --upgrade pip
          pip install .
          pip install -r arches/install/requirements.txt
          pip install -r arches/install/requirements_dev.txt
          echo Python packages installed


      - uses: ankane/setup-elasticsearch@v1
        with:
          elasticsearch-version: 8

      - name: Webpack frontend files
        run: |
          yarn && yarn build_test

      - name: Check for missing migrations
        run: |
          python manage.py makemigrations --check

      - name: Run Arches unit tests
        run: |
          coverage run manage.py test tests --pattern="*.py" --settings="tests.test_settings"

      - name: Report coverage
        run: |
          coverage report
