[run]
source =
    {{ project_name }}/

omit =
    */python?.?/*
    */models/migrations/*
    */settings*.py
    */urls.py
    */wsgi.py
    */celery.py
    */__init__.py

[report]
show_missing = true